@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

.t1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.t2 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}

.t3 {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

.empty-string {
    text-align: center;
}