.grid[data-v-5550a0a9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5550a0a9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5550a0a9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5550a0a9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5550a0a9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5550a0a9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5550a0a9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5550a0a9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5550a0a9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5550a0a9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5550a0a9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5550a0a9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5550a0a9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5550a0a9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5550a0a9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5550a0a9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5550a0a9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5550a0a9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5550a0a9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5550a0a9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5550a0a9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5550a0a9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5550a0a9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5550a0a9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5550a0a9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5550a0a9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5550a0a9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5550a0a9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5550a0a9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5550a0a9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5550a0a9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5550a0a9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5550a0a9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5550a0a9] {
    grid-column: span 15;
  }
}
ul[data-v-5550a0a9] {
  margin: 0;
}
.term-item[data-v-5550a0a9] {
  display: flex;
  height: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.term-item + .term-item[data-v-5550a0a9] {
  margin-top: 1.25rem;
}
.term-item .custom-checkbox[data-v-5550a0a9] {
  height: 100%;
  min-height: unset;
  cursor: pointer;
  flex: auto;
  padding: 0;
}
.term-item .custom-checkbox[data-v-5550a0a9] .custom-control-label {
  cursor: pointer;
  width: 100%;
}
.term-item .custom-checkbox[data-v-5550a0a9] .custom-control-label:after,
.term-item .custom-checkbox[data-v-5550a0a9] .custom-control-label:before {
  width: 1.5rem;
  height: 1.5rem;
  left: -1.875rem;
  right: 0;
  left: unset;
}
.term-item .custom-checkbox[data-v-5550a0a9] .custom-control-label:before {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMCAzLjVINGEuNS41IDAgMDAtLjUuNXYxNmEuNS41IDAgMDAuNS41aDE2YS41LjUgMCAwMC41LS41VjRhLjUuNSAwIDAwLS41LS41ek00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6IiBmaWxsPSIjRTFFMUUxIi8+PC9zdmc+);
}
.term-item
  .custom-checkbox[data-v-5550a0a9]
  .custom-control-input:checked
  ~ .custom-control-label:before {
  border: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6bTEzLjU0MyA3LjQ3MmEuNzUuNzUgMCAxMC0xLjA4Ni0xLjAzNGwtNi4xMjQgNi40My0yLjc5LTIuOTNhLjc1Ljc1IDAgMTAtMS4wODYgMS4wMzRsMy4zMzMgMy41YS43NS43NSAwIDAwMS4wODYgMGw2LjY2Ny03eiIgZmlsbD0iIzAwQzdBRSIvPjwvc3ZnPg==);
}
.term-item
  .custom-checkbox[data-v-5550a0a9]
  .custom-control-input:checked
  ~ .custom-control-label:after {
  background-image: none;
}
.term-item .term-label[data-v-5550a0a9],
.term-item button[data-v-5550a0a9] {
  font-size: 0.875rem;
  color: #737373;
}
.term-item .term-label[data-v-5550a0a9] {
  margin: 0;
  height: 1.25rem;
}
.term-item .term-label .term-required[data-v-5550a0a9] {
  color: #b5b5b5;
  padding-left: 0.25rem;
}
.term-item button[data-v-5550a0a9] {
  border: 0;
  padding: 0;
  font-weight: 400;
}
.term-item .term-link[data-v-5550a0a9] {
  text-decoration: underline;
}
.grid[data-v-3998184b] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3998184b] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3998184b] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3998184b] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3998184b] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3998184b] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3998184b] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3998184b] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3998184b] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3998184b] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3998184b] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3998184b] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3998184b] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3998184b] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3998184b] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3998184b] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3998184b] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3998184b] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3998184b] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3998184b] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3998184b] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3998184b] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3998184b] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3998184b] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3998184b] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3998184b] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3998184b] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3998184b] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3998184b] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3998184b] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3998184b] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3998184b] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3998184b] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3998184b] {
    grid-column: span 15;
  }
}
button[data-v-3998184b] {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.btn[data-v-3998184b] {
  color: #323232;
  background-color: #fee500;
  border-color: #fee500;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
}
button.btn[data-v-3998184b]:hover {
  color: #323232;
  background-color: #d8c300;
  border-color: #cbb700;
}
button.btn.focus[data-v-3998184b],
button.btn[data-v-3998184b]:focus {
  color: #323232;
  background-color: #d8c300;
  border-color: #cbb700;
  box-shadow: 0 0 0 0.2rem rgba(223, 202, 8, 0.5);
}
button.btn.disabled[data-v-3998184b],
button.btn[data-v-3998184b]:disabled {
  color: #323232;
  background-color: #fee500;
  border-color: #fee500;
}
.show > button.btn.dropdown-toggle[data-v-3998184b],
button.btn:not(:disabled):not(.disabled).active[data-v-3998184b],
button.btn[data-v-3998184b]:not(:disabled):not(.disabled):active {
  color: #323232;
  background-color: #cbb700;
  border-color: #beac00;
}
.show > button.btn.dropdown-toggle[data-v-3998184b]:focus,
button.btn:not(:disabled):not(.disabled).active[data-v-3998184b]:focus,
button.btn[data-v-3998184b]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 202, 8, 0.5);
}
button.btn span[data-v-3998184b] {
  margin-left: 0.5rem;
}
.grid[data-v-96c92e94] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-96c92e94] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-96c92e94] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-96c92e94] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-96c92e94] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-96c92e94] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-96c92e94] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-96c92e94] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-96c92e94] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-96c92e94] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-96c92e94] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-96c92e94] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-96c92e94] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-96c92e94] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-96c92e94] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-96c92e94] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-96c92e94] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-96c92e94] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-96c92e94] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-96c92e94] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-96c92e94] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-96c92e94] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-96c92e94] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-96c92e94] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-96c92e94] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-96c92e94] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-96c92e94] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-96c92e94] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-96c92e94] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-96c92e94] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-96c92e94] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-96c92e94] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-96c92e94] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-96c92e94] {
    grid-column: span 15;
  }
}
.signup-terms-container[data-v-96c92e94] {
  padding-top: 1rem;
  padding-right: 0.5rem;
}
.all-check[data-v-96c92e94] {
  height: 1.5rem;
}
.all-check span.all-check-label[data-v-96c92e94] {
  display: block;
  margin-top: -0.0625rem;
  font-weight: 500;
  font-size: 1rem;
  color: #323232;
}
.all-check span.all-check-label.mobile-border[data-v-96c92e94] {
  font-weight: 700;
}
@media (min-width: 768px) {
  .all-check span.all-check-label.mobile-border[data-v-96c92e94] {
    font-weight: 500;
  }
}
[data-v-96c92e94] .detail-button {
  color: #b5b5b5 !important;
}
.terms-container[data-v-96c92e94] {
  height: 100%;
  min-height: 9rem;
  margin-top: 0.9375rem;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  padding-right: 0.5rem;
  border-top: 0.0625rem solid #f2f2f2;
}
.error-message[data-v-96c92e94] {
  color: #fa5963;
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.custom-checkbox[data-v-96c92e94] {
  flex: auto;
  padding: 0;
}
.custom-checkbox[data-v-96c92e94] .custom-control-label {
  cursor: pointer;
  width: 100%;
}
.custom-checkbox[data-v-96c92e94] .custom-control-label:after,
.custom-checkbox[data-v-96c92e94] .custom-control-label:before {
  width: 1.5rem;
  height: 1.5rem;
  left: -1.875rem;
  right: 0;
  left: unset;
}
.custom-checkbox[data-v-96c92e94] .custom-control-label:before {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMCAzLjVINGEuNS41IDAgMDAtLjUuNXYxNmEuNS41IDAgMDAuNS41aDE2YS41LjUgMCAwMC41LS41VjRhLjUuNSAwIDAwLS41LS41ek00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6IiBmaWxsPSIjRTFFMUUxIi8+PC9zdmc+);
}
.custom-checkbox[data-v-96c92e94]
  .custom-control-input:checked
  ~ .custom-control-label:before {
  border: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6bTEzLjU0MyA3LjQ3MmEuNzUuNzUgMCAxMC0xLjA4Ni0xLjAzNGwtNi4xMjQgNi40My0yLjc5LTIuOTNhLjc1Ljc1IDAgMTAtMS4wODYgMS4wMzRsMy4zMzMgMy41YS43NS43NSAwIDAwMS4wODYgMGw2LjY2Ny03eiIgZmlsbD0iIzAwQzdBRSIvPjwvc3ZnPg==);
}
.custom-checkbox[data-v-96c92e94]
  .custom-control-input:checked
  ~ .custom-control-label:after {
  background-image: none;
}
.border-padding-box[data-v-96c92e94] {
  padding: 1rem 1.25rem;
  border-radius: 12px;
  border: 0.0625rem solid #e1e1e1;
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.04);
}
.border-padding-box.active[data-v-96c92e94] {
  border: 0.0625rem solid #00c7ae;
}
.bottom-modal-terms-container[data-v-96c92e94] {
  height: 100%;
  min-height: 9rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 0 1.25rem 3rem;
}
