.grid[data-v-39e4edce] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-39e4edce] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-39e4edce] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-39e4edce] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-39e4edce] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-39e4edce] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-39e4edce] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-39e4edce] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-39e4edce] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-39e4edce] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-39e4edce] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-39e4edce] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-39e4edce] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-39e4edce] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-39e4edce] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-39e4edce] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-39e4edce] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-39e4edce] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-39e4edce] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-39e4edce] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-39e4edce] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-39e4edce] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-39e4edce] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-39e4edce] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-39e4edce] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-39e4edce] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-39e4edce] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-39e4edce] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-39e4edce] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-39e4edce] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-39e4edce] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-39e4edce] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-39e4edce] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-39e4edce] {
    grid-column: span 15;
  }
}
.profile-more-button[data-v-39e4edce] {
  margin-top: 1.5rem;
  border: 0;
}
.profile-more-button .more[data-v-39e4edce] {
  color: #00c7ae;
  font-size: 0.875rem;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-more-button .more .sg-icon-v1[data-v-39e4edce] {
  margin-left: 0.25rem;
}
.search-pro-filter-modal .modal-body {
  padding: 0;
}
.search-pro-filter-modal .tabs .nav-tabs {
  border: none;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 3.75rem;
  padding: 0.625rem 1rem;
  background-color: #fff;
}
@media (min-width: 768px) {
  .search-pro-filter-modal .tabs .nav-tabs {
    width: 26.25rem;
  }
}
.search-pro-filter-modal .tabs .nav-item:first-child {
  margin-right: 0.875rem;
}
.search-pro-filter-modal .tabs .nav-link {
  border: none;
  outline-style: none;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: -0.01688rem;
  padding: 0.375rem;
  position: relative;
}
.search-pro-filter-modal .tabs .nav-link.active {
  color: #00c7ae;
}
.search-pro-filter-modal .tabs .nav-link.active:before {
  content: "";
  position: absolute;
  height: 0.125rem;
  background-color: #00c7ae;
  left: 0.375rem;
  right: 0.375rem;
  bottom: 0.125rem;
  width: calc(100% - 0.75rem);
}
.search-pro-filter-modal .tabs .tab-content {
  padding-top: 3.75rem;
}
@media (min-width: 768px) {
  .search-pro-filter-modal .tabs .tab-content {
    height: 42.5rem;
    overflow-y: scroll;
  }
}
.search-pro-filter-modal .tabs .close-button {
  position: absolute;
  display: flex;
  padding: 0.375rem;
  top: 1rem;
  right: 0.875rem;
}
.search-pro-filter-modal .tabs .close-button img {
  width: 0.875rem;
  height: 0.875rem;
}
.search-pro-filter-modal .search-service-autocomplete {
  margin-top: 0.625rem;
}
.search-pro-filter-modal .banner-container {
  position: relative;
  width: 100%;
  height: 7rem;
}
.search-pro-filter-modal .banner-container .fixed-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: inherit;
}
.search-pro-filter-modal .banner-container .fixed-wrapper .banner-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
  padding: 1rem;
  background-color: #fff;
}
@media (min-width: 768px) {
  .search-pro-filter-modal .banner-container .fixed-wrapper .banner-box {
    max-width: 26.25rem;
    bottom: unset;
  }
}
.grid[data-v-0103a2b2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0103a2b2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0103a2b2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0103a2b2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0103a2b2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0103a2b2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0103a2b2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0103a2b2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0103a2b2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0103a2b2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0103a2b2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0103a2b2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0103a2b2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0103a2b2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0103a2b2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0103a2b2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0103a2b2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0103a2b2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0103a2b2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0103a2b2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0103a2b2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0103a2b2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0103a2b2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0103a2b2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0103a2b2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0103a2b2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0103a2b2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0103a2b2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0103a2b2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0103a2b2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0103a2b2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0103a2b2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0103a2b2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0103a2b2] {
    grid-column: span 15;
  }
}
.service-area-filter .filter-btn[data-v-0103a2b2] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 5x 0.625rem 0.4375rem 0.75rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 28px;
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .service-area-filter .filter-btn[data-v-0103a2b2] {
    height: 2.5rem;
    padding: 0.4375rem 1rem 0.5625rem;
    font-size: 1rem;
  }
}
.service-area-filter .filter-btn .button-content[data-v-0103a2b2] {
  display: flex;
  align-items: center;
}
.service-area-filter .filter-btn .button-content .chevron[data-v-0103a2b2] {
  margin-left: 0.25rem;
}
.service-area-filter
  .filter-btn
  .button-content
  .chevron.desktop[data-v-0103a2b2] {
  display: none;
}
@media (min-width: 768px) {
  .service-area-filter
    .filter-btn
    .button-content
    .chevron.mobile[data-v-0103a2b2] {
    display: none;
  }
  .service-area-filter
    .filter-btn
    .button-content
    .chevron.desktop[data-v-0103a2b2] {
    display: inline-flex;
  }
}
.service-area-filter .filter-btn.selected[data-v-0103a2b2] {
  color: #fff;
  background-color: #323232;
  border: 0.0625rem solid #323232;
}
.service-area-filter .filter-btn[data-v-0103a2b2]:first-child {
  margin-right: 0.375rem;
}
.service-area-filter .loading[data-v-0103a2b2] {
  min-width: 1.5rem;
}
@media (min-width: 768px) {
  .service-area-filter .loading[data-v-0103a2b2] {
    min-width: 2.25rem;
  }
}
.grid[data-v-c2bc297a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-c2bc297a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-c2bc297a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-c2bc297a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-c2bc297a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-c2bc297a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-c2bc297a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-c2bc297a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-c2bc297a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-c2bc297a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-c2bc297a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-c2bc297a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-c2bc297a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-c2bc297a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-c2bc297a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-c2bc297a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-c2bc297a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-c2bc297a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-c2bc297a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-c2bc297a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-c2bc297a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-c2bc297a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-c2bc297a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-c2bc297a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-c2bc297a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-c2bc297a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-c2bc297a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-c2bc297a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-c2bc297a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-c2bc297a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-c2bc297a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-c2bc297a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-c2bc297a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-c2bc297a] {
    grid-column: span 15;
  }
}
.btn-keyword[data-v-c2bc297a] {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  color: #323232;
  border-color: #e1e1e1;
  border-radius: 18px;
}
.grid[data-v-5c3987e8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5c3987e8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5c3987e8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5c3987e8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5c3987e8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5c3987e8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5c3987e8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5c3987e8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5c3987e8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5c3987e8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5c3987e8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5c3987e8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5c3987e8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5c3987e8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5c3987e8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5c3987e8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5c3987e8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5c3987e8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5c3987e8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5c3987e8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5c3987e8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5c3987e8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5c3987e8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5c3987e8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5c3987e8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5c3987e8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5c3987e8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5c3987e8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5c3987e8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5c3987e8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5c3987e8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5c3987e8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5c3987e8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5c3987e8] {
    grid-column: span 15;
  }
}
.list-keyword > .keyword-wrap[data-v-5c3987e8] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #737373;
  border-bottom: 0.0625rem solid #f2f2f2;
  cursor: pointer;
}
.keyword-wrap[data-v-5c3987e8] {
  display: flex;
}
.keyword-wrap > .keyword[data-v-5c3987e8] {
  flex: 1;
}
.keyword-wrap > .keyword-remove[data-v-5c3987e8] {
  align-self: center;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0;
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxOGgxOFYwSDB6Ii8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMiAyKSI+PGNpcmNsZSBjeD0iNyIgY3k9IjciIHI9IjciIGZpbGw9IiNCNUI1QjUiLz48cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIuODM1IiBkPSJNNC41IDQuNWw1IDVtMC01bC01IDUiLz48L2c+PC9nPjwvc3ZnPg==);
  background-position: 50%;
  background-repeat: no-repeat;
}
.grid[data-v-466a1875] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-466a1875] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-466a1875] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-466a1875] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-466a1875] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-466a1875] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-466a1875] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-466a1875] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-466a1875] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-466a1875] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-466a1875] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-466a1875] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-466a1875] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-466a1875] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-466a1875] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-466a1875] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-466a1875] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-466a1875] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-466a1875] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-466a1875] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-466a1875] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-466a1875] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-466a1875] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-466a1875] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-466a1875] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-466a1875] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-466a1875] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-466a1875] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-466a1875] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-466a1875] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-466a1875] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-466a1875] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-466a1875] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-466a1875] {
    grid-column: span 15;
  }
}
.popular-keyword-list[data-v-466a1875] {
  margin: -0.5rem -0.25rem 2.5625rem;
}
.popular-keyword-list > li[data-v-466a1875] {
  margin: 0.5rem 0.25rem;
  display: inline-block;
}
.grid[data-v-1fd04587] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-1fd04587] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-1fd04587] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-1fd04587] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-1fd04587] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-1fd04587] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-1fd04587] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-1fd04587] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-1fd04587] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-1fd04587] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-1fd04587] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-1fd04587] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-1fd04587] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-1fd04587] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-1fd04587] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-1fd04587] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-1fd04587] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-1fd04587] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-1fd04587] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-1fd04587] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-1fd04587] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-1fd04587] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-1fd04587] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-1fd04587] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-1fd04587] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-1fd04587] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-1fd04587] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-1fd04587] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-1fd04587] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-1fd04587] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-1fd04587] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-1fd04587] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-1fd04587] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-1fd04587] {
    grid-column: span 15;
  }
}
.autocomplete-keyword-list[data-v-1fd04587] {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  .autocomplete-keyword-list[data-v-1fd04587] {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.autocomplete-keyword-list[data-v-1fd04587]:focus,
.autocomplete-keyword-list[data-v-1fd04587]:hover {
  background-color: #f2f2f2;
}
.autocomplete-keyword-list > span[data-v-1fd04587] {
  color: #737373;
  font-size: 0.875rem;
}
.autocomplete-keyword-list > span[data-v-1fd04587]:before {
  content: "‎";
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1.125rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxOGgxOFYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMC44NDQgNC42NTdhNC4zNzYgNC4zNzYgMCAxMS02LjE5IDYuMTg3IDQuMzc2IDQuMzc2IDAgMDE2LjE5LTYuMTg3em0uMzkyIDYuNThsMy4zODkgMy4zODgiLz48L2c+PC9zdmc+)
    50% no-repeat;
}
.autocomplete-keyword-list > span[data-v-1fd04587] > strong {
  font-weight: 700;
  color: #00c7ae;
}
.grid[data-v-7e080055] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7e080055] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7e080055] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7e080055] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7e080055] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7e080055] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7e080055] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7e080055] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7e080055] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7e080055] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7e080055] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7e080055] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7e080055] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7e080055] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7e080055] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7e080055] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7e080055] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7e080055] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7e080055] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7e080055] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7e080055] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7e080055] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7e080055] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7e080055] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7e080055] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7e080055] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7e080055] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7e080055] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7e080055] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7e080055] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7e080055] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7e080055] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7e080055] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7e080055] {
    grid-column: span 15;
  }
}
.input-keyword[data-v-7e080055]:focus {
  box-shadow: none;
}
.SearchProKeywordSearch[data-v-7e080055] {
  position: relative;
  background: #fff;
}
.SearchProKeywordSearch > .section-keywords[data-v-7e080055] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: none;
}
@media (min-width: 992px) {
  .SearchProKeywordSearch > .section-keywords[data-v-7e080055] {
    padding: 1.5rem 1rem 4.0625rem;
  }
}
@media (min-width: 992px) {
  .SearchProKeywordSearch > .section-autocomplete[data-v-7e080055],
  .SearchProKeywordSearch > .section-keywords[data-v-7e080055] {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
    top: 2.5625rem;
    height: 29.3125rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 1.125rem 2.5rem -0.75rem rgba(50, 50, 50, 0.3);
    background: #fff;
    border: 0.0625rem solid #f2f2f2;
  }
  .SearchProKeywordSearch > .section-autocomplete[data-v-7e080055] {
    padding: 0.75rem 0 3.3125rem;
  }
}
@media (max-width: 991.98px) {
  .SearchProKeywordSearch.is-active[data-v-7e080055] {
    z-index: 1030;
    position: fixed;
    top: 3.625rem;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 992px) {
  .SearchProKeywordSearch.is-active[data-v-7e080055] {
    position: relative;
  }
}
@media (max-width: 991.98px) {
  .SearchProKeywordSearch.is-active > .section-cancel[data-v-7e080055] {
    position: sticky;
    top: 0;
    background: #fff;
    float: right;
    display: inline-block;
    padding-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .SearchProKeywordSearch.is-active > .section-cancel[data-v-7e080055] {
    position: absolute;
    z-index: 2;
    top: 29.3125rem;
    left: 0;
    right: 0;
    height: 2.5625rem;
    border-top: 0.0625rem solid #f2f2f2;
  }
}
.SearchProKeywordSearch.is-active
  > .section-cancel
  > .btn-cancel[data-v-7e080055] {
  padding: 0;
  font-size: 0.875rem;
  text-align: right;
  width: 2.625rem;
  height: 2.5625rem;
}
@media (min-width: 992px) {
  .SearchProKeywordSearch.is-active
    > .section-cancel
    > .btn-cancel[data-v-7e080055] {
    padding-right: 1rem;
    width: 100%;
    height: 2.5625rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background: #fff;
  }
}
.SearchProKeywordSearch.is-active > .section-input[data-v-7e080055] {
  width: calc(100% - 2.625rem);
}
@media (max-width: 991.98px) {
  .SearchProKeywordSearch.is-active > .section-input[data-v-7e080055] {
    position: sticky;
    top: 0;
    background: #fff;
  }
}
@media (min-width: 992px) {
  .SearchProKeywordSearch.is-active > .section-input[data-v-7e080055] {
    width: 100%;
  }
  .SearchProKeywordSearch.is-active
    > .section-input
    > .input-keyword[data-v-7e080055] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.SearchProKeywordSearch.is-active > .section-keywords[data-v-7e080055] {
  display: block;
}
.keyword-heading[data-v-7e080055] {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.keyword-heading.recent[data-v-7e080055] {
  display: flex;
  margin-bottom: 0.75rem;
}
.keyword-heading.recent > strong[data-v-7e080055] {
  flex: 1;
  font-weight: 700;
}
.keyword-heading.recent > .btn-remove-all[data-v-7e080055] {
  font-size: 0.875rem;
  font-weight: 400;
  color: #737373;
}
.keywords-recent[data-v-7e080055] {
  margin-bottom: 2rem;
}
.section-autocomplete[data-v-7e080055] {
  margin-top: -0.25rem;
  width: 100%;
}
.section-autocomplete > .keywords-autocomplete[data-v-7e080055] {
  margin-bottom: 3rem;
}
@media (min-width: 992px) {
  .section-autocomplete > .keywords-autocomplete[data-v-7e080055] {
    padding-left: 0;
    padding-right: 0;
  }
}
.section-autocomplete > .keywords-autocomplete-submit[data-v-7e080055] {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  z-index: 1030;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 0;
}
@media (min-width: 992px) {
  .section-autocomplete > .keywords-autocomplete-submit[data-v-7e080055] {
    display: none;
  }
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
@media (max-width: 991.98px) {
  body.SearchProAutocomplete--is-active {
    overflow: hidden !important;
  }
}
.grid[data-v-1b5f8eba] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-1b5f8eba] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-1b5f8eba] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-1b5f8eba] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-1b5f8eba] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-1b5f8eba] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-1b5f8eba] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-1b5f8eba] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-1b5f8eba] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-1b5f8eba] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-1b5f8eba] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-1b5f8eba] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-1b5f8eba] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-1b5f8eba] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-1b5f8eba] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-1b5f8eba] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-1b5f8eba] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-1b5f8eba] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-1b5f8eba] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-1b5f8eba] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-1b5f8eba] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-1b5f8eba] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-1b5f8eba] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-1b5f8eba] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-1b5f8eba] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-1b5f8eba] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-1b5f8eba] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-1b5f8eba] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-1b5f8eba] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-1b5f8eba] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-1b5f8eba] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-1b5f8eba] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-1b5f8eba] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-1b5f8eba] {
    grid-column: span 15;
  }
}
.search-pro-count-sort .sort-wrapper[data-v-1b5f8eba] {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.search-pro-count-sort[data-v-1b5f8eba] .sort-dropdown > button {
  padding: 0;
  border: none;
}
.search-pro-count-sort .current-sort[data-v-1b5f8eba] {
  color: #525252;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  padding-right: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxOGgxOFYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjMzIzMjMyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNMTQgN2wtNSA1LTUtNSIvPjwvZz48L3N2Zz4=)
    100% no-repeat;
}
@media (min-width: 768px) {
  .search-pro-count-sort .current-sort[data-v-1b5f8eba] {
    color: #323232;
  }
}
.grid[data-v-d13ca2e8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d13ca2e8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d13ca2e8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d13ca2e8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d13ca2e8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d13ca2e8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d13ca2e8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d13ca2e8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d13ca2e8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d13ca2e8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d13ca2e8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d13ca2e8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d13ca2e8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d13ca2e8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d13ca2e8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d13ca2e8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d13ca2e8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d13ca2e8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d13ca2e8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d13ca2e8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d13ca2e8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d13ca2e8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d13ca2e8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d13ca2e8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d13ca2e8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d13ca2e8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d13ca2e8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d13ca2e8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d13ca2e8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d13ca2e8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d13ca2e8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d13ca2e8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d13ca2e8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d13ca2e8] {
    grid-column: span 15;
  }
}
.pro-statistics[data-v-d13ca2e8] {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
}
.pro-statistics > [data-v-d13ca2e8]:not(:last-child):after {
  content: "·";
  margin: 0 0.25rem;
}
.pro-statistics .review-rate[data-v-d13ca2e8] {
  display: flex;
  align-items: center;
}
.pro-statistics .review-rate .icon[data-v-d13ca2e8] {
  margin: 0.125rem 0.125rem 0.125rem 0;
}
.pro-statistics .review-rate .rate[data-v-d13ca2e8] {
  font-weight: 700;
  margin-right: 0.125rem;
}
.grid[data-v-666c524c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-666c524c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-666c524c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-666c524c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-666c524c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-666c524c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-666c524c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-666c524c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-666c524c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-666c524c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-666c524c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-666c524c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-666c524c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-666c524c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-666c524c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-666c524c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-666c524c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-666c524c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-666c524c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-666c524c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-666c524c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-666c524c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-666c524c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-666c524c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-666c524c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-666c524c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-666c524c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-666c524c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-666c524c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-666c524c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-666c524c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-666c524c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-666c524c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-666c524c] {
    grid-column: span 15;
  }
}
.pro-info[data-v-666c524c] {
  flex: 1;
  padding-right: 0.75rem;
}
.pro-info-name-wrapper[data-v-666c524c] {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  margin-bottom: 0.25rem;
}
.pro-name[data-v-666c524c] {
  margin-bottom: 0;
  font-weight: 700;
}
[data-v-666c524c] .pro-statistics {
  margin-bottom: 0.5rem;
}
.pro-introduction[data-v-666c524c] {
  margin: 0;
  font-size: 0.75rem;
  color: #737373;
}
.badges[data-v-666c524c] {
  display: flex;
  gap: 0.25rem;
  align-content: center;
  margin-top: 0.5rem;
}
.badges .reservation-chip[data-v-666c524c] {
  padding: 0.1875rem 0.3125rem;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: normal;
  color: #2dc261;
  background: #ecfaf1;
  border-radius: 4px;
}
.pro-profile-picture[data-v-666c524c] {
  width: 4rem;
  height: 4rem;
  border-radius: 12px;
}
.grid[data-v-1cc7d29e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-1cc7d29e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-1cc7d29e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-1cc7d29e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-1cc7d29e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-1cc7d29e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-1cc7d29e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-1cc7d29e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-1cc7d29e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-1cc7d29e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-1cc7d29e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-1cc7d29e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-1cc7d29e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-1cc7d29e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-1cc7d29e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-1cc7d29e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-1cc7d29e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-1cc7d29e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-1cc7d29e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-1cc7d29e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-1cc7d29e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-1cc7d29e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-1cc7d29e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-1cc7d29e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-1cc7d29e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-1cc7d29e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-1cc7d29e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-1cc7d29e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-1cc7d29e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-1cc7d29e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-1cc7d29e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-1cc7d29e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-1cc7d29e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-1cc7d29e] {
    grid-column: span 15;
  }
}
.request-banner[data-v-1cc7d29e] {
  padding: 1rem 0.5rem 1.5rem;
  border-top: 0.0625rem solid #f2f2f2;
}
.banner-content[data-v-1cc7d29e] {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 0.75rem;
}
.lottie-wrapper[data-v-1cc7d29e] {
  width: 5rem;
  height: 5rem;
}
.text-wrapper[data-v-1cc7d29e] {
  flex: 1;
}
.text-wrapper p[data-v-1cc7d29e] {
  margin-bottom: 0;
  font-weight: 700;
}
.text-wrapper .service-name[data-v-1cc7d29e] {
  margin-bottom: 0.25rem;
}
.banner-button[data-v-1cc7d29e] {
  width: 100%;
  background-color: #f2f2f2;
}
.grid[data-v-2a441598] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2a441598] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2a441598] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2a441598] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2a441598] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2a441598] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2a441598] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2a441598] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2a441598] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2a441598] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2a441598] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2a441598] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2a441598] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2a441598] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2a441598] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2a441598] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2a441598] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2a441598] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2a441598] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2a441598] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2a441598] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2a441598] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2a441598] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2a441598] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2a441598] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2a441598] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2a441598] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2a441598] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2a441598] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2a441598] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2a441598] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2a441598] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2a441598] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2a441598] {
    grid-column: span 15;
  }
}
.list-item[data-v-2a441598] {
  border-bottom: 0.0625rem solid #f2f2f2;
}
.list-item.last-item[data-v-2a441598] {
  border-bottom: 0;
}
@media (min-width: 768px) {
  .list-item.last-item[data-v-2a441598] {
    border-bottom: 0.0625rem solid #f2f2f2;
  }
}
.list-header[data-v-2a441598] {
  align-items: center;
  padding: 1rem 0 0 1rem;
}
@media (min-width: 768px) {
  .list-header[data-v-2a441598] {
    padding-bottom: 0.5rem;
  }
}
.list-header span[data-v-2a441598] {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #888;
}
@media (min-width: 768px) {
  .list-header span[data-v-2a441598] {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) {
  .list-header.first-section[data-v-2a441598] {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  .list-header.not-first-section[data-v-2a441598] {
    padding-top: 2.5rem;
  }
  .list-header.not-first-section.no-auto-quote-pro[data-v-2a441598] {
    padding-top: 1.5rem;
  }
}
.divider[data-v-2a441598] {
  height: 0.5rem;
  margin-right: -1rem;
  margin-left: -1rem;
  background-color: #f4f4f4;
}
.no-auto-quote-pro-guide[data-v-2a441598] {
  padding-top: 2rem;
  color: #888;
}
@media (min-width: 768px) {
  .no-auto-quote-pro-guide[data-v-2a441598] {
    padding: 2rem 0;
    border-bottom: 0.0625rem solid #f4f4f4;
  }
}
.no-auto-quote-pro-guide .title[data-v-2a441598] {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.57;
  text-align: center;
  letter-spacing: -0.01875rem;
}
@media (min-width: 768px) {
  .no-auto-quote-pro-guide .title[data-v-2a441598] {
    margin-bottom: 0.5rem;
  }
}
.no-auto-quote-pro-guide .desc[data-v-2a441598] {
  margin-bottom: 2rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.0125rem;
}
@media (min-width: 768px) {
  .no-auto-quote-pro-guide .desc[data-v-2a441598] {
    margin-bottom: 0;
  }
}
.pro-list--guide-request[data-v-2a441598] {
  padding: 1.875rem;
  text-align: center;
  cursor: auto;
}
@media (max-width: 991.98px) {
  .pro-list--guide-request[data-v-2a441598] {
    padding: 1.25rem;
  }
}
.pro-list--guide-request[data-v-2a441598]:hover {
  background: #fafafa;
}
.pro-list--guide-request h3[data-v-2a441598] {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.44;
  text-align: center;
  letter-spacing: -0.01875rem;
}
.pro-list--guide-request p[data-v-2a441598] {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #b5b5b5;
  text-align: center;
  letter-spacing: -0.0125rem;
}
.pro-list--guide-request a[data-v-2a441598] {
  height: auto;
  padding: 0.75rem 3.4375rem;
  margin: auto;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: -0.01875rem;
}
.search-pro-card[data-v-2a441598] {
  padding: 1rem 0;
}
.grid[data-v-dbf2720a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-dbf2720a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-dbf2720a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-dbf2720a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-dbf2720a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-dbf2720a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-dbf2720a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-dbf2720a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-dbf2720a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-dbf2720a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-dbf2720a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-dbf2720a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-dbf2720a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-dbf2720a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-dbf2720a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-dbf2720a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-dbf2720a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-dbf2720a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-dbf2720a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-dbf2720a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-dbf2720a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-dbf2720a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-dbf2720a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-dbf2720a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-dbf2720a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-dbf2720a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-dbf2720a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-dbf2720a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-dbf2720a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-dbf2720a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-dbf2720a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-dbf2720a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-dbf2720a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-dbf2720a] {
    grid-column: span 15;
  }
}
.empty-list[data-v-dbf2720a] {
  margin: 6.625rem auto;
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .empty-list[data-v-dbf2720a] {
    margin: 10.3125rem auto;
  }
}
.empty-list > img[data-v-dbf2720a] {
  width: 5rem;
  height: 5rem;
  margin: 0 auto 0.75rem;
}
.empty-list > .help-title[data-v-dbf2720a] {
  margin-bottom: 0.4375rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.empty-list > .help-text[data-v-dbf2720a] {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  color: #b5b5b5;
}
.empty-list > .help-btn-hire[data-v-dbf2720a] {
  margin: 1.25rem auto 0;
  width: 13.4375rem;
  border-radius: 8px;
}
