.grid[data-v-3a9fef20] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3a9fef20] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3a9fef20] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3a9fef20] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3a9fef20] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3a9fef20] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3a9fef20] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3a9fef20] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3a9fef20] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3a9fef20] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3a9fef20] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3a9fef20] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3a9fef20] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3a9fef20] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3a9fef20] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3a9fef20] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3a9fef20] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3a9fef20] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3a9fef20] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3a9fef20] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3a9fef20] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3a9fef20] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3a9fef20] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3a9fef20] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3a9fef20] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3a9fef20] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3a9fef20] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3a9fef20] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3a9fef20] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3a9fef20] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3a9fef20] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3a9fef20] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3a9fef20] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3a9fef20] {
    grid-column: span 15;
  }
}
.radio-input input[type="radio"][data-v-3a9fef20] {
  display: none;
}
.radio-input input[type="radio"] + label[data-v-3a9fef20] {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 0;
  flex-grow: 1;
}
.radio-input input[type="radio"] + label.disabled[data-v-3a9fef20] {
  cursor: auto;
}
.radio-input label[data-v-3a9fef20] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.radio-input .radio[data-v-3a9fef20] {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iOSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRTFFMUUxIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=);
}
.radio-input .radio.checked[data-v-3a9fef20] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSI5IiBzdHJva2U9IiMwMEM3QUUiIHN0cm9rZS13aWR0aD0iMiIvPjxjaXJjbGUgY3g9IjEwIiBjeT0iMTAiIHI9IjUiIGZpbGw9IiMwMEM3QUUiLz48L2c+PC9zdmc+);
}
.radio-input .radio-label[data-v-3a9fef20] {
  font-size: 1rem;
  line-height: 1.5rem;
}
.grid[data-v-a5692ec4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a5692ec4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a5692ec4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a5692ec4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a5692ec4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a5692ec4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a5692ec4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a5692ec4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a5692ec4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a5692ec4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a5692ec4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a5692ec4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a5692ec4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a5692ec4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a5692ec4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a5692ec4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a5692ec4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a5692ec4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a5692ec4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a5692ec4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a5692ec4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a5692ec4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a5692ec4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a5692ec4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a5692ec4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a5692ec4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a5692ec4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a5692ec4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a5692ec4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a5692ec4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a5692ec4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a5692ec4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a5692ec4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a5692ec4] {
    grid-column: span 15;
  }
}
.recent-login[data-v-a5692ec4] {
  color: #737373;
  text-align: center;
}
.grid[data-v-3da91626] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3da91626] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3da91626] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3da91626] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3da91626] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3da91626] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3da91626] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3da91626] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3da91626] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3da91626] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3da91626] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3da91626] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3da91626] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3da91626] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3da91626] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3da91626] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3da91626] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3da91626] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3da91626] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3da91626] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3da91626] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3da91626] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3da91626] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3da91626] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3da91626] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3da91626] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3da91626] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3da91626] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3da91626] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3da91626] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3da91626] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3da91626] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3da91626] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3da91626] {
    grid-column: span 15;
  }
}
.new-review-average[data-v-3da91626] {
  display: inline-block;
}
.new-review-average.no-star img[data-v-3da91626] {
  -o-object-fit: cover;
  object-fit: cover;
}
.new-review-average.no-star span.star[data-v-3da91626] {
  font-weight: 500;
  color: #999;
}
img[data-v-3da91626] {
  width: 1rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  display: initial;
}
@media (max-width: 767.98px) {
  img[data-v-3da91626] {
    margin-right: 0.4rem;
    margin-bottom: 0;
  }
}
.content[data-v-3da91626] {
  margin: 0;
  display: inline-block;
}
@media (max-width: 767.98px) {
  .content[data-v-3da91626] {
    vertical-align: middle;
  }
}
.content.star[data-v-3da91626] {
  color: #323232;
  font-weight: 500;
}
.content.review[data-v-3da91626] {
  margin-left: 0.14rem;
  color: #999;
}
.grid[data-v-d4ae6a3e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d4ae6a3e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d4ae6a3e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d4ae6a3e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d4ae6a3e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d4ae6a3e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d4ae6a3e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d4ae6a3e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d4ae6a3e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d4ae6a3e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d4ae6a3e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d4ae6a3e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d4ae6a3e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d4ae6a3e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d4ae6a3e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d4ae6a3e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d4ae6a3e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d4ae6a3e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d4ae6a3e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d4ae6a3e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d4ae6a3e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d4ae6a3e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d4ae6a3e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d4ae6a3e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d4ae6a3e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d4ae6a3e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d4ae6a3e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d4ae6a3e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d4ae6a3e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d4ae6a3e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d4ae6a3e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d4ae6a3e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d4ae6a3e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d4ae6a3e] {
    grid-column: span 15;
  }
}
span[data-v-d4ae6a3e] {
  font-size: 1rem;
  vertical-align: middle;
  color: #737373;
}
span.bulkhead[data-v-d4ae6a3e] {
  display: inline-block;
  width: 0.0625rem;
  height: 0.625rem;
  margin: 0 0.5rem;
  background-color: #737373;
}
.star-icon[data-v-d4ae6a3e] {
  width: 0.875rem;
  margin-top: -0.1875rem;
}
.grid[data-v-3874d51e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3874d51e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3874d51e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3874d51e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3874d51e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3874d51e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3874d51e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3874d51e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3874d51e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3874d51e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3874d51e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3874d51e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3874d51e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3874d51e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3874d51e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3874d51e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3874d51e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3874d51e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3874d51e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3874d51e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3874d51e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3874d51e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3874d51e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3874d51e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3874d51e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3874d51e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3874d51e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3874d51e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3874d51e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3874d51e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3874d51e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3874d51e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3874d51e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3874d51e] {
    grid-column: span 15;
  }
}
.rolling-wrapper[data-v-3874d51e] {
  overflow: hidden;
}
.rolling-wrapper > div[data-v-3874d51e] {
  white-space: nowrap;
}
.rolling-wrapper > div > span[data-v-3874d51e] {
  display: inline-block;
}
.rolling-item[data-v-3874d51e] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  transform: translateZ(0);
}
.rolling-item.animated[data-v-3874d51e] {
  transition: all var(--duration);
}
.grid[data-v-701ef948] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-701ef948] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-701ef948] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-701ef948] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-701ef948] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-701ef948] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-701ef948] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-701ef948] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-701ef948] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-701ef948] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-701ef948] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-701ef948] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-701ef948] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-701ef948] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-701ef948] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-701ef948] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-701ef948] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-701ef948] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-701ef948] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-701ef948] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-701ef948] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-701ef948] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-701ef948] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-701ef948] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-701ef948] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-701ef948] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-701ef948] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-701ef948] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-701ef948] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-701ef948] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-701ef948] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-701ef948] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-701ef948] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-701ef948] {
    grid-column: span 15;
  }
}
.scroll-down-button[data-v-701ef948] {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
  background: #fff;
  filter: drop-shadow(0 0.25rem 0.9375rem rgba(28, 36, 47, 0.3));
  border: none;
  border-radius: 50%;
}
