.grid[data-v-109b1291] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-109b1291] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-109b1291] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-109b1291] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-109b1291] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-109b1291] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-109b1291] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-109b1291] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-109b1291] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-109b1291] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-109b1291] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-109b1291] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-109b1291] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-109b1291] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-109b1291] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-109b1291] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-109b1291] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-109b1291] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-109b1291] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-109b1291] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-109b1291] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-109b1291] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-109b1291] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-109b1291] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-109b1291] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-109b1291] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-109b1291] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-109b1291] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-109b1291] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-109b1291] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-109b1291] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-109b1291] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-109b1291] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-109b1291] {
    grid-column: span 15;
  }
}
.my-page-quest-card[data-v-109b1291] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15.9375rem;
  height: 5.75rem;
  padding: 1rem 0.75rem;
  background-color: #fafafa;
  border-radius: 8px;
}
.my-page-quest-card .icon-wrapper[data-v-109b1291] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.1875rem 0 0.25rem;
  border-radius: 50%;
  background-color: #fff;
}
.my-page-quest-card .icon-wrapper img[data-v-109b1291] {
  width: auto;
}
.my-page-quest-card .icon-wrapper .new-quest-badge[data-v-109b1291] {
  position: absolute;
  top: -0.5625rem;
  right: -0.0625rem;
}
.my-page-quest-card .icon-wrapper.completed[data-v-109b1291] {
  border: 0.0625rem solid #00c7ae;
}
.my-page-quest-card .icon-wrapper.completed .icon-done[data-v-109b1291] {
  position: absolute;
  top: -0.5625rem;
  right: -0.0625rem;
}
.my-page-quest-card .contents-container .header[data-v-109b1291] {
  display: flex;
  align-items: center;
  align-content: center;
}
.my-page-quest-card .contents-container .header .title[data-v-109b1291] {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.57;
  letter-spacing: -0.01875rem;
  color: #2d2d2d;
}
.my-page-quest-card .contents-container .header h2[data-v-109b1291] {
  margin: 0;
}
.my-page-quest-card .contents-container .header img[data-v-109b1291] {
  width: 1rem;
  height: 1rem;
}
.my-page-quest-card .contents-container .header svg path[data-v-109b1291] {
  stroke: #737373;
}
.my-page-quest-card .contents-container .description[data-v-109b1291] {
  padding-top: 0.25rem;
  width: 10.3125rem;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.0125rem;
  color: #323232;
  margin-bottom: 0;
  white-space: pre-wrap;
}
.grid[data-v-a90020b8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a90020b8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a90020b8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a90020b8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a90020b8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a90020b8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a90020b8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a90020b8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a90020b8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a90020b8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a90020b8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a90020b8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a90020b8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a90020b8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a90020b8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a90020b8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a90020b8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a90020b8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a90020b8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a90020b8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a90020b8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a90020b8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a90020b8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a90020b8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a90020b8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a90020b8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a90020b8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a90020b8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a90020b8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a90020b8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a90020b8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a90020b8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a90020b8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a90020b8] {
    grid-column: span 15;
  }
}
.loading[data-v-a90020b8] {
  height: 13.0625rem;
  border-radius: 8px;
}
.my-page-request-container.close-quest[data-v-a90020b8] {
  height: 0;
  animation: fadeOutUp-data-v-a90020b8 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  transition: height 0.5s ease-in-out;
  padding: 0 1.25rem;
  margin-top: -0.75rem;
}
.my-page-request-container .header[data-v-a90020b8] {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.my-page-request-container .header .title[data-v-a90020b8] {
  display: inline-flex;
  align-items: center;
  font-size: 1.125rem;
  color: #2d2d2d;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01875rem;
}
.my-page-request-container .header .title img[data-v-a90020b8] {
  margin-right: 0.25rem;
}
.my-page-request-container .header .step[data-v-a90020b8] {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.01438rem;
  color: #787878;
}
.my-page-request-container .header strong[data-v-a90020b8] {
  color: #00bba5;
}
.my-page-request-container .description[data-v-a90020b8] {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: -0.01875rem;
  color: #323232;
  margin-bottom: 1.5rem;
}
.my-page-request-container .description.done[data-v-a90020b8] {
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 0;
}
h2[data-v-a90020b8],
p[data-v-a90020b8],
ul[data-v-a90020b8] {
  margin: 0;
}
@keyframes fadeOutUp-data-v-a90020b8 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-9.375rem);
  }
}
