.grid[data-v-221f7006] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-221f7006] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-221f7006] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-221f7006] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-221f7006] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-221f7006] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-221f7006] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-221f7006] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-221f7006] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-221f7006] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-221f7006] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-221f7006] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-221f7006] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-221f7006] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-221f7006] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-221f7006] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-221f7006] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-221f7006] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-221f7006] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-221f7006] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-221f7006] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-221f7006] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-221f7006] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-221f7006] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-221f7006] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-221f7006] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-221f7006] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-221f7006] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-221f7006] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-221f7006] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-221f7006] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-221f7006] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-221f7006] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-221f7006] {
    grid-column: span 15;
  }
}
.checkbox-container[data-v-221f7006] {
  margin-top: 0.75rem;
}
.checkbox-container > input[type="checkbox"][data-v-221f7006] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.checkbox-container > input[type="checkbox"] + label[data-v-221f7006] {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0;
  padding-left: 2em;
  background-size: 1.25em;
  background-position: 0;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
  cursor: pointer;
}
.checkbox-container > input[type="checkbox"]:checked + label[data-v-221f7006] {
  color: #323232;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.input-group.append-block > .input-group-append[data-v-221f7006] {
  display: block;
}
input.form-control[type="tel"][data-v-221f7006]:focus {
  box-shadow: none;
  outline: 0;
}
input.form-control[type="tel"][data-v-221f7006]:focus:not(.is-invalid) {
  border-color: #00c7ae;
}
.input-amount[data-v-221f7006] {
  padding: 0.6875rem 2rem 0.6875rem 0.75rem;
}
.input-amount.is-valid[data-v-221f7006] {
  border-color: #e1e1e1;
}
.input-amount.form-control[data-v-221f7006] {
  border-radius: 0.25rem;
  text-align: right;
}
.input-amount.form-control[data-v-221f7006]:disabled {
  color: #737373;
}
.input-amount.form-control[data-v-221f7006]::-moz-placeholder {
  text-align: left;
}
.input-amount.form-control[data-v-221f7006]::placeholder {
  text-align: left;
}
.input-amount.form-control[data-v-221f7006]:focus::-moz-placeholder {
  color: transparent;
}
.input-amount.form-control[data-v-221f7006]:focus::placeholder {
  color: transparent;
}
.input-amount.form-control:focus ~ .input-group-append[data-v-221f7006] {
  display: block;
}
.input-group-append[data-v-221f7006] {
  display: none;
  z-index: 3;
  height: 100%;
  position: absolute;
  right: 0;
}
.input-group-append .input-group-text[data-v-221f7006] {
  color: #737373;
  background: none;
  border: none;
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.warning-alert[data-v-221f7006] {
  margin-top: 1.25rem;
}
.grid[data-v-6293aba4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6293aba4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6293aba4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6293aba4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6293aba4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6293aba4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6293aba4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6293aba4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6293aba4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6293aba4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6293aba4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6293aba4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6293aba4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6293aba4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6293aba4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6293aba4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6293aba4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6293aba4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6293aba4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6293aba4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6293aba4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6293aba4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6293aba4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6293aba4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6293aba4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6293aba4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6293aba4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6293aba4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6293aba4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6293aba4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6293aba4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6293aba4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6293aba4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6293aba4] {
    grid-column: span 15;
  }
}
.coupon-select[data-v-6293aba4] {
  text-align: left;
}
.coupon-select .list-title-area[data-v-6293aba4] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
@media (max-width: 991.98px) {
  .coupon-select .list-title-area[data-v-6293aba4] {
    margin-bottom: 1rem;
  }
}
.coupon-select .list-title-area .list-title[data-v-6293aba4] {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  color: #323232;
}
.coupon-select .list-title-area .own-coupon-number[data-v-6293aba4] {
  font-size: 0.875rem;
  font-weight: 400;
  color: #323232;
}
.coupon-select .coupon-select-area[data-v-6293aba4] {
  position: relative;
}
.coupon-select .coupon-select-area .coupon-select-box[data-v-6293aba4] {
  background: #fff;
  margin-bottom: 0 !important;
  font-size: 1rem;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 991.98px) {
  .coupon-select .coupon-select-area .coupon-select-box[data-v-6293aba4] {
    padding-right: 0.75rem;
  }
}
.coupon-select .coupon-select-area .coupon-down-arrow[data-v-6293aba4] {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media (max-width: 991.98px) {
  .coupon-select .coupon-select-area .coupon-down-arrow[data-v-6293aba4] {
    right: 0.75rem;
  }
}
.safe-payment-calendar-modal header {
  padding: 1.75rem 0 0;
}
@media (max-width: 991.98px) {
  .safe-payment-calendar-modal header {
    padding: 1rem 0 0;
  }
}
.safe-payment-calendar-modal header h3 {
  margin: 2.5rem 0 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}
.safe-payment-calendar-modal header .close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.75rem 1.75rem 0 0;
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNOSA3Ljg2OUwxNi40MzQuNDM0bDEuMTMyIDEuMTMyTDEwLjEzIDlsNy40MzUgNy40MzQtMS4xMzIgMS4xMzJMOSAxMC4xM2wtNy40MzQgNy40MzUtMS4xMzItMS4xMzJMNy44NyA5IC40MzQgMS41NjYgMS41NjYuNDM0IDkgNy44N3oiLz48L2RlZnM+PHVzZSBmaWxsPSIjMzIzMjMyIiB4bGluazpocmVmPSIjYSIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 50%;
}
@media (max-width: 991.98px) {
  .safe-payment-calendar-modal header .close {
    margin: 1rem 1rem 0 0;
  }
}
@media (max-width: 991.98px) {
  .safe-payment-calendar-modal .modal-content {
    min-height: 100% !important;
  }
}
.safe-payment-calendar-modal .modal-content .modal-body {
  padding: 0 1.75rem 2.5rem;
}
.safe-payment-calendar-modal .modal-content .modal-body p {
  font-size: 0.875rem;
  color: #737373;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 991.98px) {
  .safe-payment-calendar-modal .modal-content .modal-body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.safe-payment-calendar-modal .modal-content .modal-footer {
  height: 3.5rem;
}
@media (max-width: 991.98px) {
  .safe-payment-calendar-modal .modal-content .modal-footer {
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.safe-payment-calendar-modal .modal-content .modal-footer .btn.btn-primary {
  height: 100%;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.safe-payment-done-modal .modal-body {
  padding: 0;
}
.safe-payment-done-modal .modal-content {
  padding: 1.75rem;
}
@media (max-width: 991.98px) {
  .safe-payment-done-modal .detail {
    border-radius: 6px;
    background-color: #f2f2f2;
    border: 0.0625rem solid #f2f2f2;
  }
}
.safe-payment-done-modal .confirm {
  margin-bottom: 0;
  border-radius: 6px;
}
.grid[data-v-5cf59b4c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5cf59b4c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5cf59b4c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5cf59b4c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5cf59b4c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5cf59b4c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5cf59b4c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5cf59b4c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5cf59b4c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5cf59b4c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5cf59b4c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5cf59b4c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5cf59b4c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5cf59b4c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5cf59b4c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5cf59b4c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5cf59b4c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5cf59b4c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5cf59b4c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5cf59b4c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5cf59b4c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5cf59b4c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5cf59b4c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5cf59b4c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5cf59b4c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5cf59b4c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5cf59b4c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5cf59b4c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5cf59b4c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5cf59b4c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5cf59b4c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5cf59b4c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5cf59b4c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5cf59b4c] {
    grid-column: span 15;
  }
}
header[data-v-5cf59b4c] {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #323232;
  margin: 2rem 0 0;
}
header .icon[data-v-5cf59b4c] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: #00c7ae;
  margin: 0 auto 1rem;
}
header .icon img[data-v-5cf59b4c] {
  width: 1.5rem;
  height: 1.5rem;
}
header h2[data-v-5cf59b4c],
header h3[data-v-5cf59b4c] {
  line-height: normal;
  margin-bottom: 0;
}
header h2.amount-diff[data-v-5cf59b4c] {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
header h3.action-type[data-v-5cf59b4c] {
  font-size: 1.125rem;
}
section[data-v-5cf59b4c] {
  margin: 3.75rem 0 2.5rem;
}
footer button[data-v-5cf59b4c] {
  width: 100%;
  display: block;
  margin-bottom: 0.75rem;
}
footer button[data-v-5cf59b4c]:last-child {
  margin-bottom: 0;
}
.grid[data-v-227ac66a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-227ac66a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-227ac66a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-227ac66a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-227ac66a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-227ac66a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-227ac66a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-227ac66a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-227ac66a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-227ac66a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-227ac66a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-227ac66a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-227ac66a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-227ac66a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-227ac66a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-227ac66a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-227ac66a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-227ac66a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-227ac66a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-227ac66a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-227ac66a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-227ac66a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-227ac66a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-227ac66a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-227ac66a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-227ac66a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-227ac66a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-227ac66a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-227ac66a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-227ac66a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-227ac66a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-227ac66a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-227ac66a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-227ac66a] {
    grid-column: span 15;
  }
}
p[data-v-227ac66a] {
  margin: 2.5rem 0 0;
  font-size: 0.875rem;
  color: #b5b5b5;
  text-align: center;
}
