.grid[data-v-64d58465] {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-64d58465] {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-64d58465] {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.grid > .span-md-2[data-v-64d58465] {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.grid > .span-md-3[data-v-64d58465] {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.grid > .span-md-4[data-v-64d58465] {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-64d58465] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-64d58465] {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-64d58465] {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-64d58465] {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-64d58465] {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-64d58465] {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-64d58465] {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-64d58465] {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-64d58465] {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-64d58465] {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-64d58465] {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-64d58465] {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
      1fr;
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-64d58465] {
    -ms-grid-column-span: 15;
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-64d58465] {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-64d58465] {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-64d58465] {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-64d58465] {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-64d58465] {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-64d58465] {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-64d58465] {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-64d58465] {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-64d58465] {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-64d58465] {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-64d58465] {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-64d58465] {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-64d58465] {
    -ms-grid-column-span: 13;
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-64d58465] {
    -ms-grid-column-span: 14;
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-64d58465] {
    -ms-grid-column-span: 15;
    grid-column: span 15;
  }
}
.bordering[data-v-64d58465] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #fff;
  border: 0.0625rem solid #eff1f5;
  border-radius: 8px;
  padding: 0.75rem;
}
label[data-v-64d58465] {
  position: relative;
  display: flex;
  margin: 0;
}
@media (min-width: 768px) {
  label:hover
    .radio-hidden:not([disabled])
    ~ .radio-check-icon
    > svg[data-v-64d58465]:first-of-type {
    color: #aab4bf;
  }
  label:hover
    .radio-hidden:not([disabled])
    ~ .radio-check-icon
    > svg[data-v-64d58465]:nth-of-type(2) {
    color: #0b978e;
  }
}
.radio-hidden[data-v-64d58465] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.radio-check-icon[data-v-64d58465] {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.radio-check-icon svg[data-v-64d58465] {
  display: none;
}
.radio-hidden:not([disabled]) ~ .radio-check-icon[data-v-64d58465] {
  cursor: pointer;
}
.radio-hidden:checked + .radio-check-icon svg[data-v-64d58465]:nth-of-type(2),
.radio-hidden:not(:checked)
  + .radio-check-icon
  svg[data-v-64d58465]:first-of-type {
  display: block;
}
.text[data-v-64d58465] {
  display: flex;
  flex-direction: column;
}
.radio-hidden:not([disabled]) ~ .text[data-v-64d58465] {
  cursor: pointer;
}
.clamp[data-v-64d58465] {
  white-space: pre-line;
  overflow: hidden;
  line-height: normal;
}
.clamp.label[data-v-64d58465] {
  max-height: 3rem;
}
.clamp.desc[data-v-64d58465] {
  max-height: 2.5rem;
}
.grid[data-v-a05befa6] {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a05befa6] {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a05befa6] {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a05befa6] {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a05befa6] {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a05befa6] {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a05befa6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a05befa6] {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a05befa6] {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a05befa6] {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a05befa6] {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a05befa6] {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a05befa6] {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a05befa6] {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a05befa6] {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a05befa6] {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a05befa6] {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a05befa6] {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
      1fr;
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a05befa6] {
    -ms-grid-column-span: 15;
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a05befa6] {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a05befa6] {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a05befa6] {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a05befa6] {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a05befa6] {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a05befa6] {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a05befa6] {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a05befa6] {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a05befa6] {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a05befa6] {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a05befa6] {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a05befa6] {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a05befa6] {
    -ms-grid-column-span: 13;
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a05befa6] {
    -ms-grid-column-span: 14;
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a05befa6] {
    -ms-grid-column-span: 15;
    grid-column: span 15;
  }
}
.prisma-radio[data-v-a05befa6] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border: 0;
}
