.system-001[data-v-168c7368],
.system-003[data-v-168c7368] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-168c7368] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-168c7368] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-168c7368] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-168c7368] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-168c7368] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-168c7368] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-168c7368] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-168c7368] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-168c7368] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-168c7368] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-168c7368] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-168c7368] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-168c7368] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-168c7368] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-168c7368] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-168c7368] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-168c7368] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-168c7368] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-168c7368] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-168c7368] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-168c7368] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-168c7368] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-168c7368] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-168c7368] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-168c7368] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-168c7368] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-168c7368] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-168c7368] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-168c7368] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-168c7368] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-168c7368] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-168c7368] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-168c7368] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-168c7368] {
    grid-column: span 15;
  }
}
.system-003[data-v-168c7368] {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: none;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0;
}
.system-003 .divider[data-v-168c7368] {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: 0.0625rem;
  background-color: #e0e5eb;
}
.system-003 .contents[data-v-168c7368] {
  position: absolute;
  top: 50%;
  left: 50%;
  display: table;
  width: -moz-max-content;
  width: max-content;
  padding: 0 0.625rem;
  color: #6a7685;
  background-color: #eff1f5;
  transform: translate(-50%, -50%);
}
.system-001[data-v-168c7368] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: none;
  padding: 0 0.75rem;
  color: #1c242f;
  text-align: center;
  background: #e0e5eb;
  border-radius: 0;
}
.system-001 .contents[data-v-168c7368] {
  padding: 0.40625rem 0.75rem;
}
.grid[data-v-ca9728f6] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-ca9728f6] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-ca9728f6] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-ca9728f6] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-ca9728f6] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-ca9728f6] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-ca9728f6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-ca9728f6] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-ca9728f6] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-ca9728f6] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-ca9728f6] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-ca9728f6] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-ca9728f6] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-ca9728f6] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-ca9728f6] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-ca9728f6] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-ca9728f6] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-ca9728f6] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-ca9728f6] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-ca9728f6] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-ca9728f6] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-ca9728f6] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-ca9728f6] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-ca9728f6] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-ca9728f6] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-ca9728f6] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-ca9728f6] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-ca9728f6] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-ca9728f6] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-ca9728f6] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-ca9728f6] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-ca9728f6] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-ca9728f6] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-ca9728f6] {
    grid-column: span 15;
  }
}
.quote-forms[data-v-ca9728f6] {
  padding: 0.75rem;
  margin: 0.75rem 0 1rem;
  background-color: #fafafa;
  border-radius: 10px;
}
.quote-forms .info[data-v-ca9728f6] {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}
.quote-forms .info[data-v-ca9728f6]:first-child {
  padding-top: 0;
}
.quote-forms .info[data-v-ca9728f6]:last-child {
  padding-bottom: 0;
}
.quote-forms .value[data-v-ca9728f6] {
  width: 5.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: right;
}
.quote-forms label[data-v-ca9728f6] {
  width: 6.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #737373;
}
@media (min-width: 768px) {
  .quote-forms label[data-v-ca9728f6] {
    width: 8.375rem;
  }
}
.quote-message-box[data-v-ca9728f6] {
  width: 16rem !important;
  padding: 1rem;
  line-height: normal;
  text-align: initial;
  background-color: #fff;
}
@media (min-width: 768px) {
  .quote-message-box[data-v-ca9728f6] {
    width: 17.625rem !important;
  }
}
.quote-message-box .system-title[data-v-ca9728f6] {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.quote-message-box .system-title img[data-v-ca9728f6] {
  margin-right: 0.375rem;
}
.quote-message-box .system-title span[data-v-ca9728f6] {
  font-size: 1rem;
  font-weight: 700;
  color: #323232;
}
.quote-message-box .sub-title[data-v-ca9728f6] {
  font-size: 0.875rem;
  color: #737373;
}
.quote-message-box hr[data-v-ca9728f6] {
  height: 0.0625rem;
  margin: 0.75rem 0;
  background-color: #f2f2f2;
  border: 0;
}
.quote-message-box .price-info[data-v-ca9728f6],
.quote-message-box .service-info[data-v-ca9728f6] {
  display: flex;
  align-items: flex-start;
  word-break: break-all;
}
.quote-message-box .price-info .label[data-v-ca9728f6],
.quote-message-box .service-info .label[data-v-ca9728f6] {
  font-size: 0.875rem;
  color: #737373;
}
.quote-message-box .price-info .value[data-v-ca9728f6],
.quote-message-box .service-info .value[data-v-ca9728f6] {
  width: 10rem;
  margin-left: auto;
  text-align: right;
}
@media (min-width: 768px) {
  .quote-message-box .price-info .value[data-v-ca9728f6],
  .quote-message-box .service-info .value[data-v-ca9728f6] {
    width: 11.625rem;
  }
}
.quote-message-box .price-info.service-info[data-v-ca9728f6],
.quote-message-box .service-info.service-info[data-v-ca9728f6] {
  margin-bottom: 0.375rem;
}
.quote-message-box .price-info.service-info .value[data-v-ca9728f6],
.quote-message-box .service-info.service-info .value[data-v-ca9728f6] {
  font-size: 0.875rem;
  color: #323232;
}
.quote-message-box .price-info.price-info .label[data-v-ca9728f6],
.quote-message-box .service-info.price-info .label[data-v-ca9728f6] {
  margin-top: 0.125rem;
}
.quote-message-box .price-info.price-info .value[data-v-ca9728f6],
.quote-message-box .service-info.price-info .value[data-v-ca9728f6] {
  font-size: 1rem;
  font-weight: 700;
}
.quote-message-box .guide[data-v-ca9728f6] {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.25rem;
}
.quote-message-box .guide .guide-icon[data-v-ca9728f6] {
  margin-right: 0.5rem;
  font-size: 0.875rem;
}
.quote-message-box .guide .guide-text[data-v-ca9728f6] {
  font-size: 0.875rem;
  color: #737373;
}
.quote-message-box a.cta[data-v-ca9728f6] {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: normal;
  color: #fff;
  text-align: left;
  background-color: #00c7ae;
  border-radius: 4px;
}
.quote-message-box a.cta img[data-v-ca9728f6] {
  position: relative;
  top: 0.0625rem;
  float: right;
}
.grid[data-v-05bcb409] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-05bcb409] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-05bcb409] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-05bcb409] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-05bcb409] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-05bcb409] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-05bcb409] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-05bcb409] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-05bcb409] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-05bcb409] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-05bcb409] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-05bcb409] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-05bcb409] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-05bcb409] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-05bcb409] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-05bcb409] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-05bcb409] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-05bcb409] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-05bcb409] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-05bcb409] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-05bcb409] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-05bcb409] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-05bcb409] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-05bcb409] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-05bcb409] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-05bcb409] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-05bcb409] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-05bcb409] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-05bcb409] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-05bcb409] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-05bcb409] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-05bcb409] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-05bcb409] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-05bcb409] {
    grid-column: span 15;
  }
}
div.message-box
  div[data-type="system-button-reminder"].system-button-reminder[data-v-05bcb409] {
  text-align: left;
}
div.message-box
  div[data-type="system-button-reminder"].system-button-reminder
  > div[data-name="system-title"][data-v-05bcb409] {
  display: flex;
}
div.message-box
  div[data-type="system-button-reminder"].system-button-reminder
  > div[data-name="system-title"]
  span[data-v-05bcb409] {
  display: block;
  padding: 0.125rem 0.375rem 0.1875rem;
  font-size: 0.625rem;
  color: #737373;
  background-color: #f2f2f2;
  border-radius: 4px;
}
div.message-box
  div[data-type="system-button-reminder"].system-button-reminder
  > div[data-name="title-body"][data-v-05bcb409] {
  padding: 0.25rem 1rem 1.25rem;
  font-weight: 700;
}
div.message-box
  div[data-type="system-button-reminder"].system-button-reminder
  > div[data-name="title-body"].app-download[data-v-05bcb409] {
  font-size: 1rem;
}
div.message-box
  div[data-type="system-button-reminder"].system-button-reminder
  > div[data-name="content-body"].scheduler-system-message[data-v-05bcb409] {
  padding-top: 0.25rem;
}
.grid[data-v-8317c826] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-8317c826] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-8317c826] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-8317c826] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-8317c826] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-8317c826] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-8317c826] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-8317c826] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-8317c826] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-8317c826] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-8317c826] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-8317c826] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-8317c826] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-8317c826] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-8317c826] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-8317c826] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-8317c826] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-8317c826] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-8317c826] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-8317c826] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-8317c826] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-8317c826] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-8317c826] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-8317c826] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-8317c826] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-8317c826] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-8317c826] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-8317c826] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-8317c826] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-8317c826] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-8317c826] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-8317c826] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-8317c826] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-8317c826] {
    grid-column: span 15;
  }
}
.safe-payment-badge-question-btn[data-v-8317c826] {
  cursor: pointer;
}
.safe-payment-title[data-v-8317c826] {
  white-space: pre-line;
}
p[data-v-fefe132a] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-fefe132a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-fefe132a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-fefe132a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-fefe132a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-fefe132a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-fefe132a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-fefe132a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-fefe132a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-fefe132a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-fefe132a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-fefe132a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-fefe132a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-fefe132a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-fefe132a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-fefe132a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-fefe132a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-fefe132a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-fefe132a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-fefe132a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-fefe132a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-fefe132a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-fefe132a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-fefe132a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-fefe132a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-fefe132a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-fefe132a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-fefe132a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-fefe132a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-fefe132a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-fefe132a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-fefe132a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-fefe132a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-fefe132a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-fefe132a] {
    grid-column: span 15;
  }
}
p[data-v-fefe132a] {
  margin-bottom: 0;
}
p[data-name="message-status"][data-v-fefe132a] {
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
}
p[data-name="message-status"] span[data-v-fefe132a] {
  font-size: 0.625rem;
  color: #aab4bf;
}
.grid[data-v-06eaa680] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-06eaa680] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-06eaa680] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-06eaa680] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-06eaa680] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-06eaa680] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-06eaa680] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-06eaa680] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-06eaa680] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-06eaa680] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-06eaa680] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-06eaa680] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-06eaa680] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-06eaa680] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-06eaa680] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-06eaa680] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-06eaa680] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-06eaa680] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-06eaa680] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-06eaa680] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-06eaa680] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-06eaa680] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-06eaa680] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-06eaa680] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-06eaa680] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-06eaa680] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-06eaa680] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-06eaa680] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-06eaa680] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-06eaa680] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-06eaa680] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-06eaa680] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-06eaa680] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-06eaa680] {
    grid-column: span 15;
  }
}
div[data-type="system-button-reminder"].system-button-reminder[data-v-06eaa680] {
  text-align: left;
}
div[data-type="system-button-reminder"].system-button-reminder
  .soomgo-pay-image[data-v-06eaa680] {
  background-image: url(https://assets.cdn.soomgo.com/images/safe-payment/chat/chat_reminder_title.png?webp=1);
  background-size: cover;
  background-position: 50%;
  height: 8.75rem;
}
div[data-type="system-button-reminder"].system-button-reminder
  > div[data-name="title-body"][data-v-06eaa680] {
  padding: 0.25rem 1rem 1.25rem;
  font-weight: 700;
}
.grid[data-v-97a821aa] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-97a821aa] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-97a821aa] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-97a821aa] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-97a821aa] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-97a821aa] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-97a821aa] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-97a821aa] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-97a821aa] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-97a821aa] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-97a821aa] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-97a821aa] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-97a821aa] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-97a821aa] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-97a821aa] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-97a821aa] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-97a821aa] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-97a821aa] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-97a821aa] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-97a821aa] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-97a821aa] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-97a821aa] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-97a821aa] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-97a821aa] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-97a821aa] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-97a821aa] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-97a821aa] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-97a821aa] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-97a821aa] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-97a821aa] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-97a821aa] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-97a821aa] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-97a821aa] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-97a821aa] {
    grid-column: span 15;
  }
}
.chip-container[data-v-97a821aa] {
  max-width: 3.8125rem;
  height: 1.25rem;
  padding: 0.1875rem 0.375rem;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.chip-container p[data-v-97a821aa] {
  color: #737373;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: normal;
}
.grid[data-v-4aea6ba9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4aea6ba9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4aea6ba9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4aea6ba9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4aea6ba9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4aea6ba9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4aea6ba9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4aea6ba9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4aea6ba9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4aea6ba9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4aea6ba9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4aea6ba9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4aea6ba9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4aea6ba9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4aea6ba9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4aea6ba9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4aea6ba9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4aea6ba9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4aea6ba9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4aea6ba9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4aea6ba9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4aea6ba9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4aea6ba9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4aea6ba9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4aea6ba9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4aea6ba9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4aea6ba9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4aea6ba9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4aea6ba9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4aea6ba9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4aea6ba9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4aea6ba9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4aea6ba9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4aea6ba9] {
    grid-column: span 15;
  }
}
.guide-bubble[data-v-4aea6ba9] {
  max-width: 17.625rem;
  height: 6.375rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 18px;
}
.guide-content[data-v-4aea6ba9] {
  margin-top: 0.25rem;
}
.guide-content span[data-v-4aea6ba9] {
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  white-space: pre-line;
}
div.message-box .msg-content[data-v-775a7833] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-775a7833] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-775a7833] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-775a7833] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-775a7833] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-775a7833] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-775a7833] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-775a7833] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-775a7833] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-775a7833] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-775a7833] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-775a7833] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-775a7833] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-775a7833] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-775a7833] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-775a7833] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-775a7833] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-775a7833] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-775a7833] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-775a7833] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-775a7833] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-775a7833] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-775a7833] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-775a7833] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-775a7833] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-775a7833] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-775a7833] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-775a7833] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-775a7833] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-775a7833] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-775a7833] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-775a7833] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-775a7833] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-775a7833] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-775a7833] {
    grid-column: span 15;
  }
}
div.message-box .msg-content[data-v-775a7833] {
  padding: 1rem;
  position: relative;
  border-radius: 18px;
  max-width: 17.625rem;
  background: #fff;
}
div.message-box .msg-content p[data-v-775a7833] {
  margin: 0;
  font-size: 0.875rem;
}
div.message-box .msg-content .guide-text[data-v-775a7833] {
  margin-top: 0.75rem;
}
div.message-box .msg-content .only-app[data-v-775a7833] {
  color: #6a7685;
  white-space: pre;
  margin-top: 0.5rem;
}
div.message-box .msg-content .guide-image[data-v-775a7833] {
  width: 100%;
  height: 5.625rem;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="title-body"] {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.01875rem;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="content-body"],
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="system-title"],
div[data-name="message-body"] div[data-name="content-body"] p[data-v-6704bab2],
div[data-name="user-profile"][data-v-6704bab2] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-6704bab2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6704bab2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6704bab2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6704bab2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6704bab2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6704bab2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6704bab2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6704bab2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6704bab2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6704bab2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6704bab2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6704bab2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6704bab2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6704bab2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6704bab2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6704bab2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6704bab2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6704bab2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6704bab2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6704bab2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6704bab2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6704bab2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6704bab2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6704bab2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6704bab2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6704bab2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6704bab2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6704bab2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6704bab2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6704bab2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6704bab2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6704bab2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6704bab2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6704bab2] {
    grid-column: span 15;
  }
}
div[class*="col"][data-v-6704bab2] {
  padding: 0;
}
.message-box[data-v-6704bab2] {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 768px) {
  .message-box[data-v-6704bab2] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
.message-box .user-profile-picture div[data-name="image"][data-v-6704bab2] {
  background-color: #b5b5b5;
}
div[data-name="user-profile"][data-v-6704bab2] {
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: top;
  cursor: pointer;
}
div[data-name="user-profile"] .user-profile-picture[data-v-6704bab2] {
  width: 2rem;
  height: 2rem;
}
div[data-name="message-body"][data-v-6704bab2] {
  line-height: 0;
}
@media (max-width: 991.98px) {
  div[data-name="message-body"][data-v-6704bab2] {
    max-width: 85%;
  }
}
div[data-name="message-body"].banner[data-v-6704bab2] {
  width: 100%;
  max-width: none;
}
div[data-name="message-body"] div[data-name="content-body"][data-v-6704bab2] {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
}
@media (max-width: 991.98px) {
  div[data-name="message-body"] div[data-name="content-body"][data-v-6704bab2] {
    max-width: 75%;
  }
  div[data-name="message-body"]
    div[data-name="content-body"].quote-message[data-v-6704bab2] {
    max-width: 100%;
  }
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div {
  max-width: 17.625rem;
  overflow: hidden;
  border-radius: 18px;
}
@media (max-width: 991.98px) {
  [data-v-6704bab2]
    div[data-name="message-body"]
    div[data-name="content-body"]
    > div {
    width: auto;
    max-width: 100%;
  }
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div.system-safe-payment {
  width: 17.625rem;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div.system-safe-payment
  .safe-payment-badge {
  display: inline-flex;
  align-items: center;
  padding: 0.125rem 0.375rem 0.1875rem;
  background-color: #eff4ff;
  border-radius: 4px;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div.system-safe-payment
  .safe-payment-badge
  span {
  margin-right: 0.125rem;
  font-size: 0.625rem;
  font-weight: 500;
  color: #2c3ed0;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div.system-safe-payment
  .safe-payment-title {
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div.system-safe-payment
  .safe-payment-cta {
  display: block;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #323232;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div.system-safe-payment
  .safe-payment-cta.disabled-cta {
  color: #fff;
  cursor: default;
  background-color: #b5b5b5;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="system-title"] {
  display: block;
  padding: 1rem 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  color: #00c7ae;
  text-align: left;
  background: #fff;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="title-body"] {
  padding: 1rem 1rem 0.75rem;
  margin: 0;
  font-size: 0.875rem;
  background: #fff;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="content-body"] {
  padding: 0 1rem 1rem;
  font-size: 0.875rem;
  color: #737373;
  white-space: pre-line;
  background: #fff;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="cta"] {
  display: block;
  height: 2.25rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2.25rem;
  color: #323232;
  text-align: center;
  cursor: pointer;
  background: #f2f2f2;
  border-radius: 4px;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="cta"].call-request-cta {
  color: #fff;
  background: #00c7ae;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="cta"].call-request-cta.approved {
  cursor: default;
  background: #b5b5b5;
}
[data-v-6704bab2]
  div[data-name="message-body"]
  div[data-name="content-body"]
  > div
  [data-name="cta"].disabled-cta {
  color: #fff;
  cursor: default;
  background-color: #b5b5b5;
}
div[data-name="message-body"] div[data-name="content-body"] p[data-v-6704bab2] {
  margin-bottom: 0;
}
div[data-name="message-body"]
  div[data-name="content-body"]
  p[data-name="message-status"][data-v-6704bab2] {
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  font-size: 0.625rem;
  line-height: normal;
  transform: translateX(100%);
}
.my-message:not(.is-ie) div[data-name="user-profile"][data-v-6704bab2] {
  margin-right: 0;
  margin-left: 0.5rem;
  cursor: pointer;
}
.my-message:not(.is-ie)
  div[data-name="message-body"]
  div[data-name="content-body"][data-v-6704bab2] {
  padding-right: 0;
}
.my-message:not(.is-ie)
  div[data-name="message-body"]
  div[data-name="content-body"]
  p[data-name="message-status"][data-v-6704bab2] {
  right: auto;
  left: auto;
  width: auto;
  padding-right: 0.25rem;
  line-height: normal;
  transform: translateX(-100%);
}
.my-message:not(.is-ie)
  div[data-name="message-body"]
  div[data-name="content-body"].guide-container[data-v-6704bab2] {
  padding-right: 0;
  background-color: red;
}
.my-message:not(.is-ie)
  div[data-name="message-body"]
  div[data-name="content-body"].guide-container
  p[data-name="message-status"][data-v-6704bab2],
.my-message:not(.is-ie)
  div[data-name="message-body"]
  div[data-name="content-body"].quote-message.unread
  p[data-name="message-status"][data-v-6704bab2] {
  right: auto;
  left: auto;
  width: auto;
  padding-right: 0.25rem;
  line-height: normal;
  transform: translateX(-100%);
}
.grid[data-v-2e8adac4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2e8adac4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2e8adac4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2e8adac4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2e8adac4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2e8adac4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2e8adac4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2e8adac4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2e8adac4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2e8adac4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2e8adac4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2e8adac4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2e8adac4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2e8adac4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2e8adac4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2e8adac4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2e8adac4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2e8adac4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2e8adac4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2e8adac4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2e8adac4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2e8adac4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2e8adac4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2e8adac4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2e8adac4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2e8adac4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2e8adac4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2e8adac4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2e8adac4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2e8adac4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2e8adac4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2e8adac4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2e8adac4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2e8adac4] {
    grid-column: span 15;
  }
}
.user-quick-message-box[data-v-2e8adac4] {
  max-width: 18.3125rem;
  padding: 1rem;
  margin-top: 0.75rem;
  margin-right: 0;
  background-color: #fff;
  border-radius: 1.125rem;
}
.user-quick-message-box > ul > li[data-v-2e8adac4] {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #323232;
  cursor: pointer;
  background-color: #eff1f5;
  border-radius: 0.5rem;
}
.user-quick-message-box > ul > li + li[data-v-2e8adac4] {
  margin-top: 0.5rem;
}
.user-quick-message-box > ul > li.more[data-v-2e8adac4] {
  justify-content: center;
  color: #00c7ae;
  text-align: center;
  background: none;
}
.user-quick-message-box > ul > li > span[data-v-2e8adac4] {
  padding-right: 0.5rem;
}
.user-quick-message-box > ul > li.non-clickable[data-v-2e8adac4] {
  pointer-events: none;
}
