.grid[data-v-61cb68ac] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-61cb68ac] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-61cb68ac] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-61cb68ac] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-61cb68ac] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-61cb68ac] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-61cb68ac] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-61cb68ac] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-61cb68ac] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-61cb68ac] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-61cb68ac] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-61cb68ac] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-61cb68ac] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-61cb68ac] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-61cb68ac] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-61cb68ac] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-61cb68ac] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-61cb68ac] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-61cb68ac] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-61cb68ac] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-61cb68ac] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-61cb68ac] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-61cb68ac] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-61cb68ac] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-61cb68ac] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-61cb68ac] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-61cb68ac] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-61cb68ac] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-61cb68ac] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-61cb68ac] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-61cb68ac] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-61cb68ac] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-61cb68ac] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-61cb68ac] {
    grid-column: span 15;
  }
}
.curation-list[data-v-61cb68ac] {
  margin: 0;
}
.curation-list .curation-list-item .curation-list-wrapper[data-v-61cb68ac] {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.125rem;
  margin-bottom: 0.125rem;
  cursor: pointer;
  border-bottom: 0.0625rem solid #f4f4f4;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents[data-v-61cb68ac] {
  width: 100%;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents.has-thumbnail[data-v-61cb68ac] {
  width: calc(100% - 4.875rem);
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .topic-name[data-v-61cb68ac] {
  margin: 0 0 0.3125rem;
  font-size: 0.75rem;
  color: #737373;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-title[data-v-61cb68ac] {
  margin: 0 0 0.1875rem;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 500;
  color: #323232;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-content[data-v-61cb68ac] {
  margin: 0;
  overflow: hidden;
  font-size: 0.875rem;
  color: #737373;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-reactions[data-v-61cb68ac] {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-reactions
  .comment-count[data-v-61cb68ac],
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-reactions
  .view-count[data-v-61cb68ac] {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #c5c5c5;
  letter-spacing: -0.0125rem;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-reactions
  .comment-count[data-v-61cb68ac]:before {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNMTE3MCAwdjUwNDZIMFYwaDExNzB6Ii8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImIiPjxwYXRoIGQ9Ik04LjM0OCAwYTQuOTg1IDQuOTg1IDAgMDE0Ljk4NSA0Ljk4NXYxLjM2M2E0Ljk4NiA0Ljk4NiAwIDAxLTIuNjUzIDQuNDA4djEuOTExYS42NjcuNjY3IDAgMDEtLjk4Mi41ODdsLS4wNzEtLjA0NC0yLjYzNi0xLjg3N0g0Ljk4NUE0Ljk4NSA0Ljk4NSAwIDAxMCA2LjM0OFY0Ljk4NUE0Ljk4NSA0Ljk4NSAwIDAxNC45ODUgMGgzLjM2M3pNMy41IDVhLjgzMy44MzMgMCAxMDAgMS42NjdBLjgzMy44MzMgMCAwMDMuNSA1em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjdBLjgzMy44MzMgMCAwMDYuNSA1em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjdBLjgzMy44MzMgMCAwMDkuNSA1eiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNhKSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0MyAtODQ4KSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2IpIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQuMzMzIDg0OS44NikiPjxwYXRoIGZpbGw9IiNDNUM1QzUiIGQ9Ik0wIDBoMTMuMzMzdjEzLjMzNEgwVjB6Ii8+PC9nPjwvZz48L3N2Zz4=)
    no-repeat;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-reactions
  .view-count[data-v-61cb68ac] {
  margin-right: 0.875rem;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-contents
  .curation-reactions
  .view-count[data-v-61cb68ac]:before {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTggMi41MjZjMi41MTkgMCA0LjgyMSAxLjY0NSA2LjkxIDQuOTMyYTIgMiAwIDAxMCAyLjEzN2MtMi4wODkgMy4yODctNC4zOTEgNC45MzEtNi45MSA0LjkzMXMtNC44MjEtMS42NDQtNi45MS00LjkzMWEyIDIgMCAwMTAtMi4xMzdDMy4xOCA0LjE3MSA1LjQ4MSAyLjUyNiA4IDIuNTI2em0wIDRhMiAyIDAgMTAwIDQgMiAyIDAgMDAwLTR6IiBmaWxsPSIjQzVDNUM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
    no-repeat;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-topic-image[data-v-61cb68ac] {
  margin-left: 0.75rem;
}
.curation-list
  .curation-list-item
  .curation-list-wrapper
  .curation-topic-image
  .topic-thumbnail-image[data-v-61cb68ac] {
  width: 4rem;
  height: 4rem;
  border: 0.0625rem solid #f4f4f4;
  border-radius: 8px;
}
.grid[data-v-436f5600] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-436f5600] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-436f5600] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-436f5600] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-436f5600] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-436f5600] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-436f5600] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-436f5600] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-436f5600] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-436f5600] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-436f5600] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-436f5600] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-436f5600] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-436f5600] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-436f5600] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-436f5600] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-436f5600] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-436f5600] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-436f5600] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-436f5600] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-436f5600] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-436f5600] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-436f5600] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-436f5600] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-436f5600] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-436f5600] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-436f5600] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-436f5600] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-436f5600] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-436f5600] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-436f5600] {
    grid-column: span 15;
  }
}
.base-checkbox.custom-checkbox[data-v-436f5600] {
  padding-left: 1.875rem;
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input.is-invalid
  ~ .custom-control-label,
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:invalid
  ~ .custom-control-label {
  color: #323232;
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input.is-invalid
  ~ .custom-control-label:before,
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:invalid
  ~ .custom-control-label:before {
  background-color: transparent;
  border-color: #ccc;
}
.base-checkbox.custom-checkbox.custom-control-inline[data-v-436f5600] {
  margin-right: 0;
}
.base-checkbox.custom-checkbox[data-v-436f5600] .custom-control-label:before {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2px;
  top: 0.1875rem;
  left: -1.875rem;
  background-color: #e1e1e1;
  border: none;
}
.base-checkbox.custom-checkbox[data-v-436f5600] .custom-control-label:after {
  width: 1.25rem;
  height: 1.25rem;
  top: 0.1875rem;
  left: -1.875rem;
  background-size: 75%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIgNi4yMTlMNS4zIDkuNWw1Ljg2Ny01LjgzMyIvPjwvc3ZnPg==);
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:checked
  ~ .custom-control-label:before {
  background-color: #00c7ae;
}
.base-checkbox.custom-checkbox.round[data-v-436f5600]
  .custom-control-label:before {
  border-radius: 50%;
}
.grid[data-v-73ffa1b0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-73ffa1b0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-73ffa1b0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-73ffa1b0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-73ffa1b0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-73ffa1b0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-73ffa1b0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-73ffa1b0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-73ffa1b0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-73ffa1b0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-73ffa1b0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-73ffa1b0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-73ffa1b0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-73ffa1b0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-73ffa1b0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-73ffa1b0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-73ffa1b0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-73ffa1b0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-73ffa1b0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-73ffa1b0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-73ffa1b0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-73ffa1b0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-73ffa1b0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-73ffa1b0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-73ffa1b0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-73ffa1b0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-73ffa1b0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-73ffa1b0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-73ffa1b0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-73ffa1b0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-73ffa1b0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-73ffa1b0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-73ffa1b0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-73ffa1b0] {
    grid-column: span 15;
  }
}
.collapsed-text-line[data-v-73ffa1b0] {
  position: relative;
  font-size: 0;
}
.collapsed-text-line div.wrapper[data-v-73ffa1b0] {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.collapsed-text-line div.collapse-button[data-v-73ffa1b0] {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 20%);
  margin: 0;
}
.collapsed-text-line div.collapse-button a[data-v-73ffa1b0] {
  padding: 0 0 0 1.2rem;
  color: #999;
  cursor: pointer;
  line-height: 1.5rem;
}
.collapsed-text-line div.collapse-button span[data-v-73ffa1b0] {
  color: #00c7ae;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.0125rem;
}
.collapsed-text-line[data-v-73ffa1b0] p {
  margin: 0;
  font-size: 1rem;
}
.grid[data-v-0ac9de7e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0ac9de7e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0ac9de7e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0ac9de7e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0ac9de7e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0ac9de7e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0ac9de7e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0ac9de7e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0ac9de7e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0ac9de7e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0ac9de7e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0ac9de7e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0ac9de7e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0ac9de7e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0ac9de7e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0ac9de7e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0ac9de7e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0ac9de7e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0ac9de7e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0ac9de7e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0ac9de7e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0ac9de7e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0ac9de7e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0ac9de7e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0ac9de7e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0ac9de7e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0ac9de7e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0ac9de7e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0ac9de7e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0ac9de7e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0ac9de7e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0ac9de7e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0ac9de7e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0ac9de7e] {
    grid-column: span 15;
  }
}
.education-list-item[data-v-0ac9de7e] {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.education-list-item[data-v-0ac9de7e]:not(.profile) {
  cursor: pointer;
}
.education-list-item[data-v-0ac9de7e]:first-of-type {
  margin-top: 0;
}
.education-list-item.removable[data-v-0ac9de7e] {
  justify-content: space-between;
  min-height: 4.25rem;
  gap: 1rem;
}
.education-list-item.removable.has-image[data-v-0ac9de7e] {
  gap: 1.5rem;
}
.education-list-item .contents[data-v-0ac9de7e] {
  flex: 1;
  min-width: 0;
}
.education-list-item .contents[data-v-0ac9de7e] > :not(.header) {
  margin-top: 0.25rem;
}
.education-list-item .contents .header[data-v-0ac9de7e] {
  line-height: normal;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}
.education-list-item .contents .date-info[data-v-0ac9de7e] {
  font-size: 0.75rem;
  color: #737373;
}
.education-list-item .contents .description[data-v-0ac9de7e] {
  color: #b5b5b5;
  font-size: 0.875rem;
  display: -webkit-box;
  max-height: 1.5em;
  line-height: 1.5;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.education-list-item .image[data-v-0ac9de7e] {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 4px;
  border: 0.0625rem solid #f2f2f2;
}
.education-list-item .image.expandable[data-v-0ac9de7e] {
  cursor: pointer;
}
.education-list-item .btn-wrapper .close[data-v-0ac9de7e] {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
}
.education-list-item .btn-wrapper .close > img[data-v-0ac9de7e] {
  width: 100%;
  height: 100%;
}
.education-list-item .btn-wrapper .close[data-v-0ac9de7e]:focus {
  outline: 0;
}
.education-list-item.mobile.removable[data-v-0ac9de7e] {
  min-height: 3.875rem;
}
.education-list-item.mobile .contents .header[data-v-0ac9de7e] {
  font-size: 0.875rem;
}
.education-list-item.mobile .contents .description[data-v-0ac9de7e] {
  font-size: 0.75rem;
}
@media (max-width: 991.98px) {
  .education-list-item.removable[data-v-0ac9de7e] {
    min-height: 3.875rem;
  }
  .education-list-item .contents .header[data-v-0ac9de7e] {
    font-size: 0.875rem;
  }
  .education-list-item .contents .description[data-v-0ac9de7e] {
    font-size: 0.75rem;
  }
}
