.grid[data-v-7d82e29b] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7d82e29b] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7d82e29b] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7d82e29b] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7d82e29b] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7d82e29b] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7d82e29b] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7d82e29b] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7d82e29b] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7d82e29b] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7d82e29b] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7d82e29b] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7d82e29b] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7d82e29b] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7d82e29b] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7d82e29b] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7d82e29b] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7d82e29b] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7d82e29b] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7d82e29b] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7d82e29b] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7d82e29b] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7d82e29b] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7d82e29b] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7d82e29b] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7d82e29b] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7d82e29b] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7d82e29b] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7d82e29b] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7d82e29b] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7d82e29b] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7d82e29b] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7d82e29b] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7d82e29b] {
    grid-column: span 15;
  }
}
.progress[data-v-7d82e29b] {
  position: relative;
  width: 18.75rem;
  background-color: initial;
  height: auto;
  display: block;
  border-radius: initial;
  overflow: initial;
  font-size: medium;
}
.progress-bar[data-v-7d82e29b] {
  width: 0;
  height: 0.0625rem;
  background: #00c7ae;
  transition: width 0.5s ease-in;
}
.progress-bar-wrap[data-v-7d82e29b] {
  position: absolute;
  background: #e1e1e1;
  height: 0.0625rem;
  width: 100%;
  top: 0.3125rem;
  left: 0;
}
.progress-bar.half[data-v-7d82e29b] {
  width: 50%;
}
.progress-bar.full[data-v-7d82e29b] {
  width: 100%;
}
.progress-desc[data-v-7d82e29b] {
  position: relative;
  z-index: 1;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 -1.3125rem;
}
.progress-desc li[data-v-7d82e29b] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-desc li i[data-v-7d82e29b] {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: 0.0625rem solid #e1e1e1;
  background: #fff;
  margin-bottom: 0.25rem;
}
.progress-desc li.active i[data-v-7d82e29b] {
  border: 0;
  background: #00c7ae;
}
.progress-desc li span[data-v-7d82e29b] {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.grid[data-v-76679858] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-76679858] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-76679858] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-76679858] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-76679858] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-76679858] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-76679858] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-76679858] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-76679858] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-76679858] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-76679858] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-76679858] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-76679858] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-76679858] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-76679858] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-76679858] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-76679858] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-76679858] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-76679858] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-76679858] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-76679858] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-76679858] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-76679858] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-76679858] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-76679858] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-76679858] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-76679858] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-76679858] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-76679858] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-76679858] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-76679858] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-76679858] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-76679858] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-76679858] {
    grid-column: span 15;
  }
}
.buttons-container[data-v-76679858] {
  display: flex;
  justify-content: center;
  width: calc(100% + 0.75rem);
  margin: 0 -0.375rem;
}
.buttons-container .button-wrapper[data-v-76679858] {
  position: relative;
  display: flex;
  flex: 1;
  max-width: calc(50% - 0.375rem);
  margin: 0 0.375rem;
}
.buttons-container .button-wrapper .btn[data-v-76679858] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.75rem;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 6px;
}
.buttons-container .button-wrapper .btn.btn-outline-secondary[data-v-76679858] {
  color: #737373;
  border: 0.0625rem solid #e1e1e1;
}
.buttons-container
  .button-wrapper
  .btn.btn-outline-secondary.disabled[data-v-76679858] {
  color: #b5b5b5;
  cursor: default;
  border-color: #f2f2f2;
}
.buttons-container .button-wrapper .btn.btn-secondary[data-v-76679858] {
  color: #323232;
  background-color: #f2f2f2;
  border: 0;
}
.buttons-container
  .button-wrapper
  .photo-review-coupon-tooltip[data-v-76679858] {
  width: 14.1875rem;
  padding: 0.5rem 0.75rem;
  white-space: normal;
  border-radius: 6px;
}
.buttons-container
  .button-wrapper
  .photo-review-coupon-tooltip.is-left[data-v-76679858] {
  left: 0;
  transform: translateY(100%);
}
.buttons-container
  .button-wrapper
  .photo-review-coupon-tooltip.is-left[data-v-76679858]:after {
  left: 1rem;
}
.buttons-container.is-chat .button-wrapper[data-v-76679858] {
  max-width: none;
}
@media (max-width: 991.98px) {
  .buttons-container .button-wrapper[data-v-76679858] {
    max-width: none;
  }
}
.grid[data-v-4e6ef794] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4e6ef794] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4e6ef794] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4e6ef794] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4e6ef794] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4e6ef794] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4e6ef794] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4e6ef794] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4e6ef794] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4e6ef794] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4e6ef794] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4e6ef794] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4e6ef794] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4e6ef794] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4e6ef794] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4e6ef794] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4e6ef794] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4e6ef794] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4e6ef794] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4e6ef794] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4e6ef794] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4e6ef794] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4e6ef794] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4e6ef794] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4e6ef794] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4e6ef794] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4e6ef794] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4e6ef794] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4e6ef794] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4e6ef794] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4e6ef794] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4e6ef794] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4e6ef794] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4e6ef794] {
    grid-column: span 15;
  }
}
.meta-info[data-v-4e6ef794] {
  font-size: 0.75rem;
  line-height: 1.0625rem;
  margin-bottom: 1.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meta-info .info[data-v-4e6ef794] {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.meta-info .status[data-v-4e6ef794] {
  font-weight: 500;
}
.meta-info .datetime[data-v-4e6ef794] {
  color: #737373;
}
.meta-info .cancel-reason[data-v-4e6ef794] {
  margin: 0.75rem 0 0;
  color: #fa5963;
  text-align: center;
}
.grid[data-v-49e2e6a2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-49e2e6a2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-49e2e6a2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-49e2e6a2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-49e2e6a2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-49e2e6a2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-49e2e6a2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-49e2e6a2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-49e2e6a2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-49e2e6a2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-49e2e6a2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-49e2e6a2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-49e2e6a2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-49e2e6a2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-49e2e6a2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-49e2e6a2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-49e2e6a2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-49e2e6a2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-49e2e6a2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-49e2e6a2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-49e2e6a2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-49e2e6a2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-49e2e6a2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-49e2e6a2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-49e2e6a2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-49e2e6a2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-49e2e6a2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-49e2e6a2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-49e2e6a2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-49e2e6a2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-49e2e6a2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-49e2e6a2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-49e2e6a2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-49e2e6a2] {
    grid-column: span 15;
  }
}
.customer-paid[data-v-49e2e6a2] {
  padding: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.customer-paid[data-v-49e2e6a2] .title {
  font-weight: 700;
  gap: 0.25rem;
}
.customer-paid[data-v-49e2e6a2] .title span {
  padding-left: 0;
}
.customer-paid[data-v-49e2e6a2] .desc {
  padding-left: 0.75rem;
}
.customer-paid[data-v-49e2e6a2] ul {
  color: #323232;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.0625rem;
  list-style-position: outside;
}
.customer-paid[data-v-49e2e6a2] ul li {
  list-style: "ãƒ»";
}
.customer-paid[data-v-49e2e6a2] ul li span {
  text-decoration: underline;
  font-weight: 700;
  color: #5080fa;
  cursor: pointer;
}
.customer-paid[data-v-49e2e6a2] ul li + li {
  margin-top: 0.25rem;
}
.grid[data-v-d4fa0436] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d4fa0436] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d4fa0436] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d4fa0436] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d4fa0436] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d4fa0436] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d4fa0436] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d4fa0436] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d4fa0436] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d4fa0436] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d4fa0436] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d4fa0436] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d4fa0436] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d4fa0436] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d4fa0436] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d4fa0436] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d4fa0436] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d4fa0436] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d4fa0436] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d4fa0436] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d4fa0436] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d4fa0436] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d4fa0436] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d4fa0436] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d4fa0436] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d4fa0436] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d4fa0436] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d4fa0436] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d4fa0436] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d4fa0436] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d4fa0436] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d4fa0436] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d4fa0436] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d4fa0436] {
    grid-column: span 15;
  }
}
.soomgo-pay-detail-body .soomgo-pay-detail-header[data-v-d4fa0436] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.soomgo-pay-detail-body .soomgo-pay-detail-header .title[data-v-d4fa0436] {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8125rem;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .detail-progress[data-v-d4fa0436] {
  margin-bottom: 1.5rem;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .review-editable-date-wrap[data-v-d4fa0436] {
  display: flex;
  justify-content: center;
  width: 100%;
}
.aside-sheet-section
  .soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .review-editable-date-wrap[data-v-d4fa0436] {
  justify-content: flex-start;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .review-editable-date-wrap
  .review-editable-date[data-v-d4fa0436] {
  min-width: calc(50% - 0.375rem);
  padding: 0.75rem 0;
}
@media (max-width: 991.98px) {
  .soomgo-pay-detail-body
    .soomgo-pay-detail-header
    .review-editable-date-wrap
    .review-editable-date[data-v-d4fa0436] {
    width: 100%;
  }
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .description[data-v-d4fa0436] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #737373;
  background-color: #fafafa;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .description
  p[data-v-d4fa0436] {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #323232;
}
.soomgo-pay-detail-body .soomgo-pay-detail-header .user-wrap[data-v-d4fa0436] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.25rem 0 0.75rem;
  margin-bottom: -0.5rem;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .user-wrap
  .user-info[data-v-d4fa0436] {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .user-wrap
  .user-profile-picture[data-v-d4fa0436] {
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .user-wrap
  .chat-button[data-v-d4fa0436] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  border: 0.0625rem solid #e2e2e2;
  border-radius: 20px;
}
.soomgo-pay-detail-body
  .soomgo-pay-detail-header
  .user-wrap
  .chat-button[data-v-d4fa0436]:after {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.125rem 0;
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExLjMzMyAxLjMzM2E0IDQgMCAwMTQgNHY0YzAgMS44Ni0xLjI3IDMuNDI0LTIuOTkgMy44NzJsLS4wMy4wNDVjLS4yNi40LS4zNTguODgzLS4yNzMgMS4zNTJhLjU3Ny41NzcgMCAwMS0uNjU4LjY3M2MtLjcwNC0uMTEtMS40MTEtLjYyNy0yLjEyLTEuNTQ5YS45ODguOTg4IDAgMDAtLjc4Ni0uMzkyaC0zLjgxYTQgNCAwIDAxLTQtNHYtNGE0IDQgMCAwMTQtNGg2LjY2N3ptLTYuNSA1LjMzNGEuODMzLjgzMyAwIDEwMCAxLjY2Ni44MzMuODMzIDAgMDAwLTEuNjY2em0zLjMzNCAwYS44MzMuODMzIDAgMTAwIDEuNjY2LjgzMy44MzMgMCAwMDAtMS42NjZ6bTMuMzMzIDBhLjgzMy44MzMgMCAxMDAgMS42NjYuODMzLjgzMyAwIDAwMC0xLjY2NnoiIGZpbGw9IiM3MzczNzMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==)
    no-repeat;
}
.soomgo-pay-detail-body .error[data-v-d4fa0436],
.soomgo-pay-detail-body .no-item[data-v-d4fa0436] {
  padding: 10rem 0;
  text-align: center;
}
.soomgo-pay-detail-body .error .action-button[data-v-d4fa0436],
.soomgo-pay-detail-body .no-item .action-button[data-v-d4fa0436] {
  width: 13.4375rem;
  margin-top: 2.5rem;
  border-radius: 8px;
}
.soomgo-pay-detail-body .floating-button-wrap[data-v-d4fa0436] {
  position: fixed;
  right: 0;
  bottom: 2.25rem;
  display: flex;
  justify-content: center;
  width: 26.25rem;
}
@media (max-width: 991.98px) {
  .soomgo-pay-detail-body .floating-button-wrap[data-v-d4fa0436] {
    display: none;
  }
}
.soomgo-pay-detail-body
  .floating-button-wrap
  .restore-safe-payment-detail-button[data-v-d4fa0436] {
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 25px;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.2);
}
.soomgo-pay-detail-body .status-change-wrap[data-v-d4fa0436] {
  padding: 0.75rem;
  margin-top: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 5px;
}
.soomgo-pay-detail-body .status-change-wrap .button-wrap[data-v-d4fa0436] {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.soomgo-pay-detail-body
  .status-change-wrap
  .button-wrap
  button[data-v-d4fa0436] {
  flex: 1;
}
.grid[data-v-aa9331b2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-aa9331b2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-aa9331b2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-aa9331b2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-aa9331b2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-aa9331b2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-aa9331b2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-aa9331b2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-aa9331b2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-aa9331b2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-aa9331b2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-aa9331b2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-aa9331b2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-aa9331b2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-aa9331b2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-aa9331b2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-aa9331b2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-aa9331b2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-aa9331b2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-aa9331b2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-aa9331b2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-aa9331b2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-aa9331b2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-aa9331b2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-aa9331b2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-aa9331b2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-aa9331b2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-aa9331b2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-aa9331b2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-aa9331b2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-aa9331b2] {
    grid-column: span 15;
  }
}
.container[data-v-aa9331b2] {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.intro-wrapper[data-v-aa9331b2] {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25rem;
  flex: 1 0 15rem;
}
@media (min-width: 768px) {
  .intro-wrapper[data-v-aa9331b2] {
    text-align: center;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: 1 0 20rem;
  }
}
.service-name[data-v-aa9331b2] {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.03125rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-name[data-v-aa9331b2] {
    font-size: 2.5rem;
    line-height: 1.45;
    letter-spacing: -0.05rem;
  }
}
.review-rate-wrapper[data-v-aa9331b2] {
  display: flex;
}
.review-rate[data-v-aa9331b2] {
  align-self: center;
}
.review-rate-desc[data-v-aa9331b2] {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01875rem;
  color: #ffce21;
  padding-left: 0.3125rem;
}
.service-detail-wrapper[data-v-aa9331b2] {
  margin-top: 1.25rem;
}
.service-detail[data-v-aa9331b2] {
  display: inline-block;
  padding-right: 1.25rem;
}
@media (min-width: 768px) {
  .service-detail[data-v-aa9331b2] {
    padding-right: 1.875rem;
  }
}
.service-detail + .service-detail[data-v-aa9331b2] {
  padding-left: 1.25rem;
  border-left: 0.0625rem solid #fff;
  border-left: 0.0625rem solid hsla(0, 0%, 100%, 0.4);
}
@media (min-width: 768px) {
  .service-detail + .service-detail[data-v-aa9331b2] {
    padding-left: 1.875rem;
  }
}
.service-detail > h5[data-v-aa9331b2] {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.025rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-detail > h5[data-v-aa9331b2] {
    font-size: 1.5rem;
    line-height: 1.42;
    letter-spacing: -0.03125rem;
  }
}
.service-detail > p[data-v-aa9331b2] {
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.00625rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-detail > p[data-v-aa9331b2] {
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: -0.0125rem;
  }
}
.intro-content[data-v-aa9331b2] {
  text-align: left;
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .intro-content[data-v-aa9331b2] {
    text-align: center;
    padding: 2.5rem;
  }
}
.intro-content .intro-content-text[data-v-aa9331b2] {
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
  margin-bottom: 1.25rem;
  line-height: normal;
}
@media (min-width: 768px) {
  .intro-content .intro-content-text[data-v-aa9331b2] {
    font-size: 1.5rem;
  }
}
.intro-content > p[data-v-aa9331b2] {
  font-size: 0.875rem;
  color: #737373;
  margin: 0;
}
.request-start-btn-wrapper[data-v-aa9331b2] {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  padding: 0 0 2.5rem;
}
@media (max-width: 991.98px) {
  .request-start-btn-wrapper[data-v-aa9331b2] {
    padding: 0.875rem 1rem;
    border-top: 0.0625rem solid #f2f2f2;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}
.request-start-btn-wrapper .request-start-btn[data-v-aa9331b2] {
  background-color: #00c7ae;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 0.25rem;
  width: 100%;
  border: none;
  padding: 0.75rem 3.75rem;
}
.request-start-btn-wrapper .request-start-btn[data-v-aa9331b2]:focus {
  outline: none;
}
@media (min-width: 768px) {
  .request-start-btn-wrapper .request-start-btn[data-v-aa9331b2] {
    width: 11.25rem;
  }
}
