.grid[data-v-1d77e508] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-1d77e508] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-1d77e508] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-1d77e508] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-1d77e508] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-1d77e508] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-1d77e508] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-1d77e508] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-1d77e508] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-1d77e508] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-1d77e508] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-1d77e508] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-1d77e508] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-1d77e508] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-1d77e508] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-1d77e508] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-1d77e508] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-1d77e508] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-1d77e508] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-1d77e508] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-1d77e508] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-1d77e508] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-1d77e508] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-1d77e508] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-1d77e508] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-1d77e508] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-1d77e508] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-1d77e508] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-1d77e508] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-1d77e508] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-1d77e508] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-1d77e508] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-1d77e508] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-1d77e508] {
    grid-column: span 15;
  }
}
.qna-content[data-v-1d77e508] {
  font-size: 0.875rem;
}
.qna-content[data-v-1d77e508] * {
  line-height: 2;
  margin: 0 !important;
}
.qna-content[data-v-1d77e508] a {
  color: #00c7ae;
}
.qna-content[data-v-1d77e508] table {
  width: 100%;
  min-width: 36rem;
  color: #323232;
  border: 0.0625rem solid #e1e1e1;
}
.qna-content[data-v-1d77e508] table td,
.qna-content[data-v-1d77e508] table th {
  padding: 0.5rem 1rem;
  vertical-align: top;
  border: 0.0625rem solid #e1e1e1;
}
.qna-content[data-v-1d77e508] table thead > tr > th {
  font-weight: 700;
  background: #fafafa;
}
.qna-content[data-v-1d77e508] img,
.qna-content[data-v-1d77e508] ol,
.qna-content[data-v-1d77e508] table,
.qna-content[data-v-1d77e508] ul {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.qna-content[data-v-1d77e508] ul {
  margin-left: 1.25em !important;
}
.qna-content[data-v-1d77e508] ul > li {
  list-style: disc;
}
.qna-content[data-v-1d77e508] ol {
  padding-left: 1.25rem !important;
}
