.grid[data-v-155ff05e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-155ff05e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-155ff05e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-155ff05e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-155ff05e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-155ff05e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-155ff05e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-155ff05e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-155ff05e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-155ff05e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-155ff05e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-155ff05e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-155ff05e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-155ff05e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-155ff05e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-155ff05e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-155ff05e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-155ff05e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-155ff05e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-155ff05e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-155ff05e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-155ff05e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-155ff05e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-155ff05e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-155ff05e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-155ff05e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-155ff05e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-155ff05e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-155ff05e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-155ff05e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-155ff05e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-155ff05e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-155ff05e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-155ff05e] {
    grid-column: span 15;
  }
}
.bottom-sheet-enter-active[data-v-155ff05e],
.bottom-sheet-leave-active[data-v-155ff05e] {
  transition: opacity 0.15s linear;
}
.bottom-sheet-enter[data-v-155ff05e],
.bottom-sheet-leave-to[data-v-155ff05e] {
  opacity: 0;
}
.bottom-sheet-contents[data-v-155ff05e] {
  padding: 0.5rem 1.5rem 2rem;
}
.main-review-container[data-v-155ff05e] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.main-review-container .provider-info-container[data-v-155ff05e] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}
.main-review-container
  .provider-info-container
  .profile-image[data-v-155ff05e] {
  width: 3.75rem;
  height: 3.75rem;
}
.main-review-container .provider-info-container .text-wrapper[data-v-155ff05e] {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
  text-align: center;
}
.main-review-container
  .provider-info-container
  .text-wrapper
  span[data-v-155ff05e] {
  font-size: 1.125rem;
}
.main-review-container
  .provider-info-container
  .text-wrapper
  .provider-name[data-v-155ff05e] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}
.main-review-container .review-score-wrapper[data-v-155ff05e] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}
.main-review-container .review-score-wrapper span[data-v-155ff05e] {
  font-size: 1rem;
  color: #b5b5b5;
}
.main-review-modal.modal .modal-dialog {
  max-width: 17.5rem;
}
.main-review-modal.modal .modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem 1.5rem 2.5rem;
}
.main-review-modal.modal .modal-dialog .modal-body .main-review-modal-header {
  display: flex;
  justify-content: flex-end;
}
.main-review-modal.modal
  .modal-dialog
  .modal-body
  .main-review-modal-header
  button {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}
#card-paymentform-modal .modal-header {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
#card-paymentform-modal .modal-header button.close {
  position: absolute;
  top: 1.5625rem;
  right: 1.25rem;
}
#card-paymentform-modal .modal-title {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
.grid[data-v-7e33bb88] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7e33bb88] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7e33bb88] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7e33bb88] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7e33bb88] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7e33bb88] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7e33bb88] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7e33bb88] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7e33bb88] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7e33bb88] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7e33bb88] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7e33bb88] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7e33bb88] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7e33bb88] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7e33bb88] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7e33bb88] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7e33bb88] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7e33bb88] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7e33bb88] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7e33bb88] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7e33bb88] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7e33bb88] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7e33bb88] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7e33bb88] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7e33bb88] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7e33bb88] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7e33bb88] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7e33bb88] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7e33bb88] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7e33bb88] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7e33bb88] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7e33bb88] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7e33bb88] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7e33bb88] {
    grid-column: span 15;
  }
}
.list-divider[data-v-7e33bb88] {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-color: #f2f2f2;
}
.list-title[data-v-7e33bb88] {
  font-size: 1.125rem;
  font-weight: 700;
}
.list-bank[data-v-7e33bb88] {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem;
}
.list-bank > li[data-v-7e33bb88] {
  flex: 0 0 50%;
  padding: 0.25rem;
}
.text-gray-900[data-v-7e33bb88] {
  color: #323232;
}
.securities-firms-list[data-v-7e33bb88] {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .securities-firms-list[data-v-7e33bb88] {
    margin-top: 1.75rem;
  }
}
.BankSelectModal-body {
  padding-top: 1.75rem !important;
}
.grid[data-v-5e799ce7] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5e799ce7] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5e799ce7] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5e799ce7] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5e799ce7] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5e799ce7] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5e799ce7] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5e799ce7] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5e799ce7] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5e799ce7] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5e799ce7] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5e799ce7] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5e799ce7] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5e799ce7] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5e799ce7] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5e799ce7] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5e799ce7] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5e799ce7] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5e799ce7] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5e799ce7] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5e799ce7] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5e799ce7] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5e799ce7] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5e799ce7] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5e799ce7] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5e799ce7] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5e799ce7] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5e799ce7] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5e799ce7] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5e799ce7] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5e799ce7] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5e799ce7] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5e799ce7] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5e799ce7] {
    grid-column: span 15;
  }
}
[data-v-5e799ce7] {
  text-align: center;
}
[data-v-5e799ce7] .call-with-phone-modal .modal-body {
  padding: 1rem;
}
[data-v-5e799ce7] .call-with-phone-modal .modal-footer.full-width-button {
  padding: 0 1rem;
}
div[data-name="profile"][data-v-5e799ce7] {
  display: inline-block;
  margin: 1rem 0;
}
div[data-name="profile"] .user-profile-picture[data-v-5e799ce7] {
  width: 3.75rem;
  height: 3.75rem;
}
p[data-v-5e799ce7] {
  font-size: 0.875rem;
  color: #525252;
}
p.expired-phone[data-v-5e799ce7] {
  font-size: 1rem;
}
p.title[data-v-5e799ce7] {
  font-size: 1.5rem;
  font-weight: 500;
}
.chat-onboarding-modal.modal .modal-dialog {
  width: 17.5rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal.modal .modal-dialog {
    width: 26.25rem;
  }
}
.chat-onboarding-modal.modal .modal-content {
  height: 31.4375rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal.modal .modal-content {
    height: 36.4375rem;
  }
}
.chat-onboarding-modal.modal .modal-body {
  padding: 1rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal.modal .modal-body {
    padding: 1.5rem;
  }
}
.chat-onboarding-modal .slide-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0.25rem;
  height: 24.9375rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .slide-wrapper {
    height: 28.4375rem;
    margin: 0;
  }
}
.chat-onboarding-modal .slick-slider {
  height: 100%;
}
.chat-onboarding-modal .slick-dots {
  bottom: -0.6875rem;
}
.chat-onboarding-modal .slick-dots li {
  margin: 0 0.25rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .slick-dots li {
    margin: 0 0.375rem;
  }
}
.chat-onboarding-modal .slick-dots li button:before {
  width: 0.375rem;
  height: 0.375rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .slick-dots li button:before {
    width: 0.5rem;
    height: 0.5rem;
  }
}
.chat-onboarding-modal .slick-dots li.slick-active button:before,
.chat-onboarding-modal .slick-dots li button:hover:before {
  color: #00c7ae;
}
.chat-onboarding-modal .onboarding-item .image-wrapper {
  background-color: #f2f2f2;
  height: 16rem;
  overflow: hidden;
  display: flex;
  border-radius: 12px;
  justify-content: center;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .onboarding-item .image-wrapper {
    height: 17.5rem;
  }
}
.chat-onboarding-modal .onboarding-item .onboarding-item-title {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .onboarding-item .onboarding-item-title {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
.chat-onboarding-modal .onboarding-item p {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  line-height: 1.71;
  margin-bottom: 0;
  text-align: center;
  color: #323232;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .onboarding-item p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.63;
  }
}
.chat-onboarding-modal .button-wrapper {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .button-wrapper {
    margin-top: 2rem;
  }
}
.chat-onboarding-modal .button-wrapper button {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: -0.0125rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .chat-onboarding-modal .button-wrapper button {
    height: 3rem;
    width: 100%;
  }
}
.grid[data-v-462fe8bb] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-462fe8bb] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-462fe8bb] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-462fe8bb] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-462fe8bb] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-462fe8bb] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-462fe8bb] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-462fe8bb] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-462fe8bb] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-462fe8bb] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-462fe8bb] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-462fe8bb] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-462fe8bb] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-462fe8bb] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-462fe8bb] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-462fe8bb] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-462fe8bb] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-462fe8bb] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-462fe8bb] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-462fe8bb] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-462fe8bb] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-462fe8bb] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-462fe8bb] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-462fe8bb] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-462fe8bb] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-462fe8bb] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-462fe8bb] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-462fe8bb] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-462fe8bb] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-462fe8bb] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-462fe8bb] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-462fe8bb] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-462fe8bb] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-462fe8bb] {
    grid-column: span 15;
  }
}
h4[data-v-462fe8bb],
p[data-v-462fe8bb] {
  text-align: center;
}
h4[data-v-462fe8bb] {
  margin-bottom: 1.25rem;
}
p[data-v-462fe8bb] {
  line-height: 1.57;
  margin: 0;
}
.chat-leave-confirm-modal .modal-body {
  padding: 2rem 1rem 1.25rem;
}
.chat-leave-confirm-modal .modal-footer.full-width-button {
  padding: 0 1rem 0.625rem;
}
.custom-swal.modal .modal-content {
  width: 17.5rem;
  padding: 2.25rem 1rem 1rem;
}
.custom-swal.modal .modal-content .modal-header {
  padding: 0;
  margin: 0;
  display: block;
}
.custom-swal.modal .modal-content .modal-header h5 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.custom-swal.modal .modal-content .modal-body {
  padding: 1rem 0 0;
  font-size: 0.875rem;
}
.custom-swal.modal .modal-content .modal-footer {
  padding-top: 1rem;
}
.custom-swal.modal .modal-content .modal-footer button {
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.875rem;
}
.grid[data-v-18d5f2d6] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-18d5f2d6] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-18d5f2d6] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-18d5f2d6] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-18d5f2d6] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-18d5f2d6] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-18d5f2d6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-18d5f2d6] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-18d5f2d6] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-18d5f2d6] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-18d5f2d6] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-18d5f2d6] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-18d5f2d6] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-18d5f2d6] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-18d5f2d6] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-18d5f2d6] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-18d5f2d6] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-18d5f2d6] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-18d5f2d6] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-18d5f2d6] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-18d5f2d6] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-18d5f2d6] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-18d5f2d6] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-18d5f2d6] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-18d5f2d6] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-18d5f2d6] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-18d5f2d6] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-18d5f2d6] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-18d5f2d6] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-18d5f2d6] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-18d5f2d6] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-18d5f2d6] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-18d5f2d6] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-18d5f2d6] {
    grid-column: span 15;
  }
}
[data-v-18d5f2d6] {
  text-align: center;
}
[data-v-18d5f2d6] .call-request-modal .modal-body {
  padding: 2.25rem 1rem 1rem;
}
[data-v-18d5f2d6] .call-request-modal .modal-footer.full-width-button {
  padding: 0 1rem;
}
p[data-v-18d5f2d6] {
  font-size: 0.875rem;
  color: #525252;
}
p.title[data-v-18d5f2d6] {
  font-size: 1.5rem;
  font-weight: 500;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.review-event-modal .modal-content {
  border-radius: 16px;
}
.review-event-modal .modal-body {
  padding: 0;
}
.grid[data-v-56c8a5bf] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-56c8a5bf] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-56c8a5bf] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-56c8a5bf] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-56c8a5bf] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-56c8a5bf] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-56c8a5bf] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-56c8a5bf] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-56c8a5bf] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-56c8a5bf] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-56c8a5bf] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-56c8a5bf] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-56c8a5bf] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-56c8a5bf] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-56c8a5bf] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-56c8a5bf] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-56c8a5bf] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-56c8a5bf] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-56c8a5bf] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-56c8a5bf] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-56c8a5bf] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-56c8a5bf] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-56c8a5bf] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-56c8a5bf] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-56c8a5bf] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-56c8a5bf] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-56c8a5bf] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-56c8a5bf] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-56c8a5bf] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-56c8a5bf] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-56c8a5bf] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-56c8a5bf] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-56c8a5bf] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-56c8a5bf] {
    grid-column: span 15;
  }
}
.review-event-container[data-v-56c8a5bf] {
  padding: 3rem 1rem 1.5rem;
}
.review-event-container .review-event-content[data-v-56c8a5bf] {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  text-align: center;
}
.review-event-container .review-event-content .graphic-image[data-v-56c8a5bf] {
  width: 7.5rem;
  height: 7.5rem;
}
.review-event-container .review-event-footer[data-v-56c8a5bf] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.75rem;
}
.review-event-container .review-event-footer button[data-v-56c8a5bf] {
  width: 100%;
  padding: 0;
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
}
.review-event-container .review-event-footer button.primary[data-v-56c8a5bf] {
  height: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  color: #323232;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 6px;
}
