.grid[data-v-0ddaacb9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0ddaacb9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0ddaacb9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0ddaacb9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0ddaacb9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0ddaacb9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0ddaacb9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0ddaacb9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0ddaacb9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0ddaacb9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0ddaacb9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0ddaacb9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0ddaacb9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0ddaacb9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0ddaacb9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0ddaacb9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0ddaacb9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0ddaacb9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0ddaacb9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0ddaacb9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0ddaacb9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0ddaacb9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0ddaacb9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0ddaacb9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0ddaacb9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0ddaacb9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0ddaacb9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0ddaacb9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0ddaacb9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0ddaacb9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0ddaacb9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0ddaacb9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0ddaacb9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0ddaacb9] {
    grid-column: span 15;
  }
}
.page-breadcrumbs[data-v-0ddaacb9] {
  flex-wrap: wrap;
  display: flex;
  font-size: 0.875rem;
}
.page-breadcrumbs > li[data-v-0ddaacb9] {
  display: inline-flex;
  align-items: center;
}
.page-breadcrumbs > li.is-sibling + li[data-v-0ddaacb9]:before {
  content: ", ‎";
}
.page-breadcrumbs > li:not(.is-sibling) + li[data-v-0ddaacb9]:before {
  content: "‎";
  width: 1.28571428em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTEwLjU1IDcuMWw2LjkgNi45LTYuOSA2LjkiLz48L3N2Zz4=)
    no-repeat 50%;
  background-size: 100% auto;
}
.page-breadcrumbs > li > a[data-v-0ddaacb9],
.page-breadcrumbs > li[data-v-0ddaacb9] {
  color: #737373;
}
.social-share-modal .modal-header {
  padding: 0.875rem 0.875rem 0;
  text-align: center;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.social-share-modal .modal-header .modal-title {
  width: 100%;
  margin-top: 0.625rem;
  font-weight: 500;
}
.social-share-modal .modal-body {
  padding: 1.5rem 0 3rem;
}
.social-share-modal .social-share-buttons {
  margin-bottom: 0;
}
.social-share-modal .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}
.social-share-modal .list-inline-item > button {
  border-radius: 50%;
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-share-modal .list-inline-item > button.url {
  background-color: #323232;
}
.social-share-modal .list-inline-item > button.facebook {
  background-color: #1778f2;
}
.social-share-modal .list-inline-item > button.twitter {
  background-color: #1da1f3;
}
.social-share-modal .list-inline-item > button.kakao {
  background-color: #fee500;
}
.review-report-modal .modal-header .modal-title {
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .review-report-modal .modal-header {
    padding: 1rem;
    border-bottom: 0.0625rem solid #f2f2f2;
  }
  .review-report-modal .modal-header:before {
    content: "";
  }
  .review-report-modal .modal-header .modal-title {
    margin: 0;
    font-size: 1.125rem;
  }
}
.review-report-modal .modal-body {
  max-width: 26.25rem;
  padding: 1.5rem;
}
@media (max-width: 991.98px) {
  .review-report-modal .modal-body {
    padding: 1.5rem;
  }
}
.review-report-modal .modal-footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 3.5rem;
}
.review-report-modal .modal-footer .btn {
  height: 100%;
  padding: 0;
}
@media (max-width: 991.98px) {
  .review-report-modal .modal-footer {
    position: fixed;
    height: 3rem;
  }
}
.grid[data-v-000dabca] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-000dabca] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-000dabca] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-000dabca] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-000dabca] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-000dabca] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-000dabca] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-000dabca] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-000dabca] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-000dabca] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-000dabca] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-000dabca] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-000dabca] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-000dabca] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-000dabca] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-000dabca] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-000dabca] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-000dabca] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-000dabca] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-000dabca] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-000dabca] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-000dabca] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-000dabca] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-000dabca] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-000dabca] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-000dabca] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-000dabca] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-000dabca] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-000dabca] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-000dabca] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-000dabca] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-000dabca] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-000dabca] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-000dabca] {
    grid-column: span 15;
  }
}
.review-report-modal
  .review-report-modal-body
  .information-box[data-v-000dabca] {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 1.25rem 1rem;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.review-report-modal
  .review-report-modal-body
  .information-box
  .information-text[data-v-000dabca] {
  margin: 0;
  color: #323232;
  white-space: pre-line;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents[data-v-000dabca] {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents
  .review-report-reason-radio-group[data-v-000dabca] {
  margin: 0;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents
  .review-report-reason-radio-group
  .review-report-reason[data-v-000dabca] {
  padding: 1rem 0 1rem 2rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents
  .review-report-reason-radio-group
  .review-report-reason
  .custom-control-label[data-v-000dabca] {
  width: 100%;
}
.soomgo-guarantee-modal .modal-dialog .modal-content .modal-body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.soomgo-guarantee-modal
  .modal-dialog
  .modal-content
  .modal-body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
  display: none;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.reserve-modal .modal-content {
  width: 26.25rem;
  max-height: 45rem;
}
@media (max-width: 991.98px) {
  .reserve-modal .modal-content {
    width: 100%;
    max-height: 100%;
  }
}
.reserve-modal .modal-header {
  position: relative;
  justify-content: center;
  height: 3.5rem;
  padding: 1rem 0;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.reserve-modal .modal-header .modal-title {
  margin: 0;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}
.reserve-modal .modal-header .close {
  display: none;
  pointer-events: none;
}
.reserve-modal .modal-header .reserve-modal-close {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(-50%);
}
.reserve-modal .modal-header .reserve-modal-close i {
  display: flex;
}
.reserve-modal .modal-header .reserve-modal-close i .icon {
  color: #000;
}
.reserve-modal .modal-body {
  padding: 0;
}
.reserve-modal .modal-body .modal-body-contents-wrapper {
  height: 36.875rem;
  overflow-y: scroll;
}
@media (max-width: 991.98px) {
  .reserve-modal .modal-body .modal-body-contents-wrapper {
    height: 100%;
  }
}
.reserve-modal .modal-footer {
  height: 4.75rem;
  padding: 0.875rem 1rem;
  border-top: 0.0625rem solid #f2f2f2;
}
.reserve-modal .modal-footer .btn-controllers {
  display: flex;
  width: 100%;
  margin: 0;
}
.reserve-modal .modal-footer .btn-controllers .btn-reserve {
  min-width: 15.625rem;
  width: 100%;
  font-weight: 500;
  border-radius: 6px;
  margin: 0;
}
.reserve-modal .modal-footer .btn-controllers .btn-reset {
  min-width: 5.25rem;
  width: 100%;
  max-width: 7.125rem;
  background-color: #fff;
  color: #323232;
  font-weight: 500;
  border-radius: 6px;
  border: 0.0625rem solid #e1e1e1;
  margin-right: 0.5rem;
  transition: background-color 0.1s ease-in-out;
}
.reserve-modal .modal-footer .btn-controllers .btn-reset:hover {
  background-color: #fafafa;
  transition: background-color 0.1s ease-in-out;
}
.reserve-modal .reserve-collapse {
  border-top: 0.0625rem solid #eff1f5;
  overflow: hidden;
}
.reserve-modal .reserve-collapse .reserve-collapse-header {
  height: 100%;
}
.reserve-modal
  .reserve-collapse
  .reserve-collapse-header
  .reserve-collapse-toggler {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.25rem 1rem;
  background-color: #fff;
  border: none;
}
.reserve-modal .reserve-collapse .reserve-collapse-header .item-name {
  align-self: start;
  flex: none;
  width: 4.5rem;
  text-align: start;
}
.reserve-modal .reserve-collapse .reserve-collapse-header .selected-value {
  flex: 1;
  margin-left: 1rem;
  text-align: start;
}
.reserve-modal .reserve-collapse .reserve-collapse-header .icon-chevron {
  display: flex;
  flex: none;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  color: #b5b5b5;
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}
.reserve-modal .reserve-collapse:first-child {
  border-top: 0;
}
.reserve-modal .reserve-collapse.reserve-collapse-open .reserve-collapse-body {
  height: 100%;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}
.reserve-modal .reserve-collapse.reserve-collapse-open .icon-chevron {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}
.reserve-modal .reserve-collapse .reserve-collapse-body {
  padding: 0 1rem;
  height: 0;
}
.reserve-modal .reserve-collapse .reserve-collapse-body.date-picker {
  display: flex;
  justify-content: center;
}
