.request-form-modal {
  -webkit-overflow-scrolling: touch;
}
.request-form-modal .modal-dialog {
  max-width: 35rem;
  height: 100%;
  padding: 0;
  margin: 0 auto !important;
}
.request-form-modal .modal-content {
  height: 100%;
}
@media (min-width: 768px) {
  .request-form-modal .modal-content {
    height: calc(100vh - 10rem);
    margin: auto 0;
    border-radius: 0.25rem;
  }
}
.request-form-modal .modal-body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}
.request-form-modal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 3.625rem;
  padding: 1rem;
  border: none;
}
@media (min-width: 768px) {
  .request-form-modal .modal-header {
    height: auto;
    padding: 2.5rem 2.5rem 0;
    border: none;
  }
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
@media (min-width: 768px) {
  .promotion-basic-modal {
    padding: 3rem 0;
  }
}
.promotion-basic-modal .close-button {
  z-index: 1;
  cursor: pointer;
  position: fixed;
  align-self: flex-end;
  top: 0.75rem;
  right: 0.75rem;
  width: 3rem;
  height: 3rem;
  background-image: url(https://assets.cdn.soomgo.com/images/banner/icon-received-request-cash-onboarding-close.svg);
  background-size: 100%;
}
@media (min-width: 768px) {
  .promotion-basic-modal .close-button {
    top: 3.75rem;
    right: calc((100vw - 26.25rem) / 2 + 0.75rem);
  }
}
.promotion-basic-modal .modal-body {
  padding: 0;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .promotion-basic-modal .modal-body {
    margin-bottom: 0;
  }
}
.promotion-basic-modal .contents-image img {
  width: 100%;
}
.promotion-basic-modal .modal-footer {
  height: 3rem;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .promotion-basic-modal .modal-footer {
    position: relative;
    height: 3.5rem;
  }
}
.promotion-basic-modal .modal-footer .btn {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  height: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border: none;
}
@media (min-width: 768px) {
  .promotion-basic-modal .modal-footer .btn {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
.promotion-basic-modal .footer-icon {
  z-index: 1;
  width: 7.625rem;
  height: 2.125rem;
  position: absolute;
  bottom: 2.125rem;
}
.promotion-basic-modal .footer-icon img {
  width: 100%;
}
@media (min-width: 768px) {
  .promotion-basic-modal .footer-icon {
    bottom: 2.375rem;
  }
}
.promotion-basic-modal img[lazy="loaded"] {
  animation-name: imgloaded;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes imgloaded {
  0% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
