.grid[data-v-4cf761d2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4cf761d2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4cf761d2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4cf761d2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4cf761d2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4cf761d2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4cf761d2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4cf761d2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4cf761d2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4cf761d2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4cf761d2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4cf761d2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4cf761d2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4cf761d2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4cf761d2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4cf761d2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4cf761d2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4cf761d2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4cf761d2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4cf761d2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4cf761d2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4cf761d2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4cf761d2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4cf761d2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4cf761d2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4cf761d2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4cf761d2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4cf761d2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4cf761d2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4cf761d2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4cf761d2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4cf761d2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4cf761d2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4cf761d2] {
    grid-column: span 15;
  }
}
section[data-v-4cf761d2] {
  padding: 1.5rem 1rem;
  background: #fff;
}
@media (min-width: 992px) {
  section[data-v-4cf761d2] {
    padding: 2rem 0;
  }
}
section.no-space[data-v-4cf761d2] {
  padding-top: 0;
  padding-bottom: 0;
}
section.bottom-gap[data-v-4cf761d2] {
  margin-bottom: 0.5rem;
}
section .section-title[data-v-4cf761d2] {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 992px) {
  section .section-title[data-v-4cf761d2] {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}
.instant-purchase-product-detail[data-v-4cf761d2] {
  position: relative;
  padding: 0;
  background: #f2f2f2;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail.no-recent-view .flex-aside[data-v-4cf761d2] {
    padding-bottom: 5rem;
  }
}
@media (min-width: 992px) {
  .instant-purchase-product-detail[data-v-4cf761d2] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;
    margin-top: 0;
    background: none;
  }
}
.instant-purchase-product-detail
  .flex-aside
  .bread-crumbs
  .page-breadcrumbs[data-v-4cf761d2] {
  margin-bottom: 0;
  font-size: 0.75rem;
}
.instant-purchase-product-detail .flex-aside .product-title[data-v-4cf761d2] {
  padding-top: 0.5rem;
  padding-bottom: 0;
}
.instant-purchase-product-detail
  .flex-aside
  .product-title
  h3[data-v-4cf761d2] {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.instant-purchase-product-detail .flex-aside .product-options[data-v-4cf761d2] {
  padding-top: 1rem;
}
.instant-purchase-product-detail .flex-aside .product-reserve[data-v-4cf761d2] {
  position: relative;
  z-index: 1;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside
    .product-reserve[data-v-4cf761d2] {
    z-index: 1040;
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
.instant-purchase-product-detail
  .flex-aside
  .product-reserve
  .product-reserve-options[data-v-4cf761d2] {
  position: relative;
  z-index: 10;
}
.instant-purchase-product-detail
  .flex-aside
  .product-reserve
  .product-reserve-date[data-v-4cf761d2],
.instant-purchase-product-detail
  .flex-aside
  .product-reserve
  .product-reserve-time[data-v-4cf761d2] {
  margin-top: 1rem;
}
.instant-purchase-product-detail
  .flex-aside
  .product-reserve
  .product-reserve-btn[data-v-4cf761d2] {
  width: 100%;
  padding: 0.75rem 0;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #00c7ae;
  text-align: center;
  background-color: #fff;
  border: none;
}
.instant-purchase-product-detail .flex-aside .product-banner[data-v-4cf761d2] {
  padding: 0;
  margin-bottom: 0.5rem;
}
.instant-purchase-product-detail .flex-aside .product-price[data-v-4cf761d2] {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .instant-purchase-product-detail .flex-aside .product-price[data-v-4cf761d2] {
    margin-bottom: 0;
  }
}
.instant-purchase-product-detail .flex-aside.left[data-v-4cf761d2] {
  flex: 1;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail .flex-aside.left[data-v-4cf761d2] {
    max-width: 37.5rem;
    padding-bottom: 3rem;
  }
  .instant-purchase-product-detail
    .flex-aside.left
    section[data-v-4cf761d2]:not(.banner) {
    padding: 2.5rem 0;
    margin: 0;
    border-bottom: 0.0625rem solid #f2f2f2;
  }
  .instant-purchase-product-detail
    .flex-aside.left
    section:not(.banner).product-profile[data-v-4cf761d2] {
    padding-top: 2rem;
  }
}
.instant-purchase-product-detail .flex-aside.left .banner[data-v-4cf761d2] {
  padding: 0 0 1.5rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail .flex-aside.left .banner[data-v-4cf761d2] {
    padding: 0 0 2rem;
  }
}
.instant-purchase-product-detail
  .flex-aside.left
  .sticky-nav-wrapper[data-v-4cf761d2] {
  height: inherit;
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-options[data-v-4cf761d2] {
  margin-bottom: 0.5rem;
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-options
  .option-tooltip[data-v-4cf761d2] {
  margin-bottom: 0;
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-profile[data-v-4cf761d2] {
  margin-bottom: 0.5rem;
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-profile
  .product-provider[data-v-4cf761d2] {
  padding-bottom: 0;
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-explanation[data-v-4cf761d2],
.instant-purchase-product-detail .flex-aside.left .product-qna[data-v-4cf761d2],
.instant-purchase-product-detail
  .flex-aside.left
  .product-questions[data-v-4cf761d2] {
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.left
    .product-explanation[data-v-4cf761d2],
  .instant-purchase-product-detail
    .flex-aside.left
    .product-qna[data-v-4cf761d2],
  .instant-purchase-product-detail
    .flex-aside.left
    .product-questions[data-v-4cf761d2] {
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.left
    .product-qna
    .section-title[data-v-4cf761d2] {
    margin-bottom: 1.5rem;
  }
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-provider[data-v-4cf761d2] {
  padding-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.left
    .product-provider[data-v-4cf761d2] {
    padding-bottom: 2rem;
  }
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-description[data-v-4cf761d2] {
  padding-bottom: 0.75rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.left
    .product-description[data-v-4cf761d2] {
    padding-bottom: 2rem;
  }
}
.instant-purchase-product-detail
  .flex-aside.left
  .product-refund-policy[data-v-4cf761d2] {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  white-space: pre-line;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.left
    .product-refund-policy[data-v-4cf761d2] {
    margin-bottom: 0;
    font-size: 1rem;
  }
}
.instant-purchase-product-detail .flex-aside.right[data-v-4cf761d2] {
  position: sticky;
  bottom: 0;
  z-index: 1019;
  padding-bottom: 5rem;
}
@media (max-width: 991.98px) {
  .instant-purchase-product-detail .flex-aside.right[data-v-4cf761d2] {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .instant-purchase-product-detail .flex-aside.right[data-v-4cf761d2] {
    z-index: 1;
    width: 21.125rem;
  }
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .product-controller[data-v-4cf761d2] {
    position: sticky;
    top: 6.5rem;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 6.5rem);
    padding-bottom: 1.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
.instant-purchase-product-detail
  .flex-aside.right
  .product-title[data-v-4cf761d2] {
  padding: 0.75rem 0 1.5rem;
}
.instant-purchase-product-detail
  .flex-aside.right
  .product-options[data-v-4cf761d2] {
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .product-options[data-v-4cf761d2] {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .bottom-sheet[data-v-4cf761d2] {
    position: static;
    display: block !important;
  }
}
.instant-purchase-product-detail
  .flex-aside.right
  .bottom-sheet[data-v-4cf761d2]
  .backdrop {
  height: calc(100vh - 3.5rem);
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .bottom-sheet[data-v-4cf761d2]
    .backdrop {
    display: none;
  }
}
.instant-purchase-product-detail
  .flex-aside.right
  .bottom-sheet[data-v-4cf761d2]
  .modal-wrapper {
  bottom: 4.5rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .bottom-sheet[data-v-4cf761d2]
    .modal-wrapper {
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
.instant-purchase-product-detail
  .flex-aside.right
  .bottom-sheet[data-v-4cf761d2]
  .modal-wrapper
  .header {
  padding-bottom: 1.25rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .bottom-sheet[data-v-4cf761d2]
    .modal-wrapper
    .header {
    display: none;
  }
}
.instant-purchase-product-detail
  .flex-aside.right
  .bottom-sheet[data-v-4cf761d2]
  .modal-wrapper
  .header
  .title {
  text-align: left;
  text-indent: 0;
}
.instant-purchase-product-detail
  .flex-aside.right
  .bottom-sheet
  .option-sheet[data-v-4cf761d2] {
  height: 27.875rem;
  padding: 0 1rem 0.25rem;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .bottom-sheet
    .option-sheet[data-v-4cf761d2] {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
  }
}
.instant-purchase-product-detail
  .flex-aside.right
  .bottom-sheet
  .option-tooltip[data-v-4cf761d2] {
  margin-bottom: 0.75rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .flex-aside.right
    .bottom-sheet
    .option-tooltip[data-v-4cf761d2] {
    margin-bottom: 0;
  }
}
.instant-purchase-product-detail .recent-view-item[data-v-4cf761d2] {
  flex: 1 0 100%;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0.5rem;
}
.instant-purchase-product-detail
  .recent-view-item[data-v-4cf761d2]
  .slick-list {
  max-width: 61.625rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail .recent-view-item[data-v-4cf761d2] {
    padding: 0 0 5rem;
    margin-bottom: 0;
  }
}
.instant-purchase-product-detail
  .recent-view-item
  .section-title[data-v-4cf761d2] {
  padding: 0 1rem;
}
@media (min-width: 992px) {
  .instant-purchase-product-detail
    .recent-view-item
    .section-title[data-v-4cf761d2] {
    padding: 0;
  }
}
.share-button[data-v-4cf761d2] {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iIzMyMzIzMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=)
    no-repeat 50% / contain;
}
.buy-button[data-v-4cf761d2] {
  position: relative;
  z-index: 1030;
  padding: 0;
  background: none;
}
@media (min-width: 992px) {
  .buy-button[data-v-4cf761d2] {
    padding-bottom: 1rem;
  }
}
.buy-button button[data-v-4cf761d2] {
  height: 3.5rem;
  font-size: 1rem;
  border-radius: 0;
}
@media (min-width: 992px) {
  .buy-button button[data-v-4cf761d2] {
    font-size: 1.125rem;
    border-radius: 8px;
  }
}
.gradation[data-v-4cf761d2] {
  position: absolute;
  top: -2rem;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}
.sticky-btn-group[data-v-4cf761d2] {
  display: flex;
  padding: 0 1rem 1rem;
  background: #fff;
}
@media (min-width: 992px) {
  .sticky-btn-group[data-v-4cf761d2] {
    padding: 0;
  }
}
.sticky-btn-group .btn[data-v-4cf761d2] {
  border-radius: 6px;
}
@media (min-width: 992px) {
  .sticky-btn-group .btn[data-v-4cf761d2] {
    border-radius: 8px;
  }
}
.sticky-btn-group .btn-qna[data-v-4cf761d2] {
  width: 4.25rem;
  margin-right: 0.5rem;
  color: #737373;
  border: 0.0625rem solid #e1e1e1;
}
@media (min-width: 992px) {
  .sticky-btn-group .btn-qna[data-v-4cf761d2] {
    width: 5.125rem;
  }
}
.sticky-btn-group .btn-buy[data-v-4cf761d2] {
  flex: 1;
}
.sticky-btn-group .btn-buy[data-v-4cf761d2],
.sticky-btn-group .btn-buy[data-v-4cf761d2]:active,
.sticky-btn-group .btn-buy[data-v-4cf761d2]:focus {
  background: #00c7ae;
  border-color: #00c7ae;
}
.soomgo-guarantee-banner[data-v-4cf761d2] {
  margin-top: 0;
  border-radius: 0;
}
@media (min-width: 992px) {
  .soomgo-guarantee-banner[data-v-4cf761d2] {
    margin-top: 1.5rem;
    border-radius: 8px;
  }
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
body.instant-purchase-product-detail #app #app-header {
  position: fixed;
  width: 100%;
  height: 7.5rem;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.49) 1%,
    rgba(0, 0, 0, 0.48) 3%,
    rgba(0, 0, 0, 0.46) 5%,
    rgba(0, 0, 0, 0.44) 7%,
    rgba(0, 0, 0, 0.42) 10%,
    rgba(0, 0, 0, 0.4) 14%,
    rgba(0, 0, 0, 0.37) 17%,
    rgba(0, 0, 0, 0.34) 21%,
    rgba(0, 0, 0, 0.31) 26%,
    rgba(0, 0, 0, 0.28) 30%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0.22) 41%,
    rgba(0, 0, 0, 0.19) 46%,
    rgba(0, 0, 0, 0.16) 51%,
    rgba(0, 0, 0, 0.13) 57%,
    rgba(0, 0, 0, 0.1) 62%,
    rgba(0, 0, 0, 0.08) 68%,
    rgba(0, 0, 0, 0.06) 74%,
    rgba(0, 0, 0, 0.04) 79%,
    rgba(0, 0, 0, 0.02) 85%,
    rgba(0, 0, 0, 0.01) 90%,
    transparent 95%,
    transparent
  );
  border: 0;
}
body.instant-purchase-product-detail #app #app-header.none-transparent {
  height: 3.625rem;
  background: #fff;
  border-bottom: 0.0625rem solid #f2f2f2;
}
body.instant-purchase-product-detail
  #app
  #app-header.none-transparent
  .mobile-header-col.left
  img {
  content: unset;
}
body.instant-purchase-product-detail
  #app
  #app-header.none-transparent
  .mobile-header-col.left
  .left-logo {
  display: block;
}
body.instant-purchase-product-detail
  #app
  #app-header.none-transparent
  .mobile-header-col.center {
  visibility: visible;
}
body.instant-purchase-product-detail
  #app
  #app-header.none-transparent
  .share-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iIzMyMzIzMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=)
    no-repeat 50% / contain;
}
body.instant-purchase-product-detail #app #app-header > * {
  align-self: flex-start;
}
@media (min-width: 992px) {
  body.instant-purchase-product-detail #app #app-header > * {
    align-self: unset;
  }
}
body.instant-purchase-product-detail
  #app
  #app-header
  .mobile-header-col.left
  img {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDE3djEuNkg0VjE3aDE2em0wLTZ2MS42SDRWMTFoMTZ6bTAtNnYxLjZINFY1aDE2eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);
}
body.instant-purchase-product-detail
  #app
  #app-header
  .mobile-header-col.left
  .left-logo {
  display: none;
}
body.instant-purchase-product-detail
  #app
  #app-header
  .mobile-header-col.center {
  visibility: hidden;
}
body.instant-purchase-product-detail #app #app-header .share-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=)
    no-repeat 50% / contain;
}
@media (min-width: 992px) {
  body.instant-purchase-product-detail #app #app-header {
    position: sticky;
    height: 4.5rem;
    background: #fff;
    border-bottom: 0.0625rem solid #f2f2f2;
  }
  body.instant-purchase-product-detail #app #app-header .header-global-logo {
    visibility: visible;
  }
}
body.instant-purchase-product-detail #app .global-navigation-bar {
  background-color: transparent;
  border-bottom: none;
}
