.grid[data-v-73ffa1b0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-73ffa1b0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-73ffa1b0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-73ffa1b0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-73ffa1b0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-73ffa1b0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-73ffa1b0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-73ffa1b0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-73ffa1b0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-73ffa1b0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-73ffa1b0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-73ffa1b0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-73ffa1b0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-73ffa1b0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-73ffa1b0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-73ffa1b0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-73ffa1b0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-73ffa1b0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-73ffa1b0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-73ffa1b0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-73ffa1b0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-73ffa1b0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-73ffa1b0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-73ffa1b0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-73ffa1b0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-73ffa1b0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-73ffa1b0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-73ffa1b0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-73ffa1b0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-73ffa1b0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-73ffa1b0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-73ffa1b0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-73ffa1b0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-73ffa1b0] {
    grid-column: span 15;
  }
}
.collapsed-text-line[data-v-73ffa1b0] {
  position: relative;
  font-size: 0;
}
.collapsed-text-line div.wrapper[data-v-73ffa1b0] {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.collapsed-text-line div.collapse-button[data-v-73ffa1b0] {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 20%);
  margin: 0;
}
.collapsed-text-line div.collapse-button a[data-v-73ffa1b0] {
  padding: 0 0 0 1.2rem;
  color: #999;
  cursor: pointer;
  line-height: 1.5rem;
}
.collapsed-text-line div.collapse-button span[data-v-73ffa1b0] {
  color: #00c7ae;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.0125rem;
}
.collapsed-text-line[data-v-73ffa1b0] p {
  margin: 0;
  font-size: 1rem;
}
.grid[data-v-33469302] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-33469302] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-33469302] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-33469302] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-33469302] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-33469302] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-33469302] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-33469302] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-33469302] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-33469302] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-33469302] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-33469302] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-33469302] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-33469302] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-33469302] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-33469302] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-33469302] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-33469302] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-33469302] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-33469302] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-33469302] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-33469302] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-33469302] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-33469302] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-33469302] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-33469302] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-33469302] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-33469302] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-33469302] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-33469302] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-33469302] {
    grid-column: span 15;
  }
}
.career-list-item[data-v-33469302] {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.career-list-item[data-v-33469302]:not(.profile) {
  cursor: pointer;
}
.career-list-item[data-v-33469302]:first-of-type {
  margin-top: 0;
}
.career-list-item.removable[data-v-33469302] {
  justify-content: space-between;
  height: 4.375rem;
}
.career-list-item .contents[data-v-33469302] {
  flex: 0 1 100%;
}
.career-list-item .contents div[data-v-33469302] {
  margin: 0.25rem 0 0;
}
.career-list-item .contents .header[data-v-33469302] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}
.career-list-item .contents .date-info[data-v-33469302] {
  font-size: 0.75rem;
  color: #737373;
}
.career-list-item .contents .description[data-v-33469302] {
  color: #b5b5b5;
  font-size: 0.875rem;
  display: -webkit-box;
  max-height: 3em;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.career-list-item .btn-wrapper .close[data-v-33469302] {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
}
.career-list-item .btn-wrapper .close > img[data-v-33469302] {
  width: 100%;
  height: 100%;
}
.career-list-item .btn-wrapper .close[data-v-33469302]:focus {
  outline: 0;
}
.career-list-item.mobile.removable[data-v-33469302] {
  height: 5rem;
}
.career-list-item.mobile .contents .header[data-v-33469302] {
  font-size: 0.875rem;
}
.career-list-item.mobile .contents .description[data-v-33469302] {
  font-size: 0.75rem;
}
@media (max-width: 991.98px) {
  .career-list-item.removable[data-v-33469302] {
    height: 5rem;
  }
  .career-list-item .contents .header[data-v-33469302] {
    font-size: 0.875rem;
  }
  .career-list-item .contents .description[data-v-33469302] {
    font-size: 0.75rem;
  }
}
.grid[data-v-9427df90] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-9427df90] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-9427df90] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-9427df90] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-9427df90] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-9427df90] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-9427df90] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-9427df90] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-9427df90] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-9427df90] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-9427df90] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-9427df90] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-9427df90] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-9427df90] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-9427df90] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-9427df90] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-9427df90] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-9427df90] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-9427df90] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-9427df90] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-9427df90] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-9427df90] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-9427df90] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-9427df90] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-9427df90] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-9427df90] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-9427df90] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-9427df90] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-9427df90] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-9427df90] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-9427df90] {
    grid-column: span 15;
  }
}
.header[data-v-9427df90] {
  display: flex;
  align-items: center;
}
.header .title[data-v-9427df90] {
  font-weight: 700;
  font-size: 1rem;
  color: #00c7ae;
  line-height: normal;
  margin: 0 0 0 0.5rem;
}
.grid[data-v-0ac9de7e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0ac9de7e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0ac9de7e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0ac9de7e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0ac9de7e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0ac9de7e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0ac9de7e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0ac9de7e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0ac9de7e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0ac9de7e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0ac9de7e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0ac9de7e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0ac9de7e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0ac9de7e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0ac9de7e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0ac9de7e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0ac9de7e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0ac9de7e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0ac9de7e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0ac9de7e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0ac9de7e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0ac9de7e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0ac9de7e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0ac9de7e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0ac9de7e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0ac9de7e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0ac9de7e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0ac9de7e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0ac9de7e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0ac9de7e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0ac9de7e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0ac9de7e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0ac9de7e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0ac9de7e] {
    grid-column: span 15;
  }
}
.education-list-item[data-v-0ac9de7e] {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.education-list-item[data-v-0ac9de7e]:not(.profile) {
  cursor: pointer;
}
.education-list-item[data-v-0ac9de7e]:first-of-type {
  margin-top: 0;
}
.education-list-item.removable[data-v-0ac9de7e] {
  justify-content: space-between;
  min-height: 4.25rem;
  gap: 1rem;
}
.education-list-item.removable.has-image[data-v-0ac9de7e] {
  gap: 1.5rem;
}
.education-list-item .contents[data-v-0ac9de7e] {
  flex: 1;
  min-width: 0;
}
.education-list-item .contents[data-v-0ac9de7e] > :not(.header) {
  margin-top: 0.25rem;
}
.education-list-item .contents .header[data-v-0ac9de7e] {
  line-height: normal;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}
.education-list-item .contents .date-info[data-v-0ac9de7e] {
  font-size: 0.75rem;
  color: #737373;
}
.education-list-item .contents .description[data-v-0ac9de7e] {
  color: #b5b5b5;
  font-size: 0.875rem;
  display: -webkit-box;
  max-height: 1.5em;
  line-height: 1.5;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.education-list-item .image[data-v-0ac9de7e] {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 4px;
  border: 0.0625rem solid #f2f2f2;
}
.education-list-item .image.expandable[data-v-0ac9de7e] {
  cursor: pointer;
}
.education-list-item .btn-wrapper .close[data-v-0ac9de7e] {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
}
.education-list-item .btn-wrapper .close > img[data-v-0ac9de7e] {
  width: 100%;
  height: 100%;
}
.education-list-item .btn-wrapper .close[data-v-0ac9de7e]:focus {
  outline: 0;
}
.education-list-item.mobile.removable[data-v-0ac9de7e] {
  min-height: 3.875rem;
}
.education-list-item.mobile .contents .header[data-v-0ac9de7e] {
  font-size: 0.875rem;
}
.education-list-item.mobile .contents .description[data-v-0ac9de7e] {
  font-size: 0.75rem;
}
@media (max-width: 991.98px) {
  .education-list-item.removable[data-v-0ac9de7e] {
    min-height: 3.875rem;
  }
  .education-list-item .contents .header[data-v-0ac9de7e] {
    font-size: 0.875rem;
  }
  .education-list-item .contents .description[data-v-0ac9de7e] {
    font-size: 0.75rem;
  }
}
