.grid[data-v-ea55afb2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-ea55afb2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-ea55afb2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-ea55afb2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-ea55afb2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-ea55afb2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-ea55afb2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-ea55afb2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-ea55afb2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-ea55afb2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-ea55afb2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-ea55afb2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-ea55afb2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-ea55afb2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-ea55afb2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-ea55afb2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-ea55afb2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-ea55afb2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-ea55afb2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-ea55afb2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-ea55afb2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-ea55afb2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-ea55afb2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-ea55afb2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-ea55afb2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-ea55afb2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-ea55afb2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-ea55afb2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-ea55afb2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-ea55afb2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-ea55afb2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-ea55afb2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-ea55afb2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-ea55afb2] {
    grid-column: span 15;
  }
}
.provider-additional-infos[data-v-ea55afb2] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
[data-v-ea55afb2]
  .profile-additional-info-modal
  .modal-dialog
  .modal-content
  .modal-header {
  padding: 0;
}
[data-v-ea55afb2]
  .profile-additional-info-modal
  .modal-dialog
  .modal-content
  .modal-header
  > div {
  padding: 1rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-v-ea55afb2]
  .profile-additional-info-modal
  .modal-dialog
  .modal-content
  .modal-header
  > div
  .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
}
[data-v-ea55afb2]
  .profile-additional-info-modal
  .modal-dialog
  .modal-content
  .modal-header
  > div
  .close:hover {
  opacity: 0.75;
}
[data-v-ea55afb2]
  .profile-additional-info-modal
  .modal-dialog
  .modal-content
  .modal-body {
  padding: 1.25rem 1.25rem 2rem;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
@media (min-width: 768px) {
  .profile-read-only-modal {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .profile-read-only-modal .profile-read-only-modal-dialog {
    max-width: 26.25rem;
  }
}
.profile-read-only-modal .profile-read-only-modal-dialog .modal-content {
  min-height: 100vh;
}
@media (min-width: 768px) {
  .profile-read-only-modal .profile-read-only-modal-dialog .modal-content {
    min-height: calc(100vh - 3rem);
  }
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .modal-body {
  display: flex;
  justify-content: center;
  padding-top: 0;
}
@media (min-width: 768px) {
  .profile-read-only-modal
    .profile-read-only-modal-dialog
    .modal-content
    .modal-body {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header {
  padding: 0;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  height: 7.5rem;
  padding: 1.0625rem 1rem 0;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.49) 1%,
    rgba(0, 0, 0, 0.48) 3%,
    rgba(0, 0, 0, 0.46) 5%,
    rgba(0, 0, 0, 0.44) 7%,
    rgba(0, 0, 0, 0.42) 10%,
    rgba(0, 0, 0, 0.4) 14%,
    rgba(0, 0, 0, 0.37) 17%,
    rgba(0, 0, 0, 0.34) 21%,
    rgba(0, 0, 0, 0.31) 26%,
    rgba(0, 0, 0, 0.28) 30%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0.22) 41%,
    rgba(0, 0, 0, 0.19) 46%,
    rgba(0, 0, 0, 0.16) 51%,
    rgba(0, 0, 0, 0.13) 57%,
    rgba(0, 0, 0, 0.1) 62%,
    rgba(0, 0, 0, 0.08) 68%,
    rgba(0, 0, 0, 0.06) 74%,
    rgba(0, 0, 0, 0.04) 79%,
    rgba(0, 0, 0, 0.02) 85%,
    rgba(0, 0, 0, 0.01) 90%,
    transparent 95%,
    transparent
  );
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header
  .right {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  padding-right: 0;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header
  .right
  .button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header
  .right
  .button:hover {
  opacity: 0.75;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header
  .right
  .share-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=)
    no-repeat 50% / contain;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header
  .right
  .close-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5LjQzIDMuNDNsMS4xMzEgMS4xMzEtNy40MzQgNy40MzUgNy40MzQgNy40MzQtMS4xMzEgMS4xMzEtNy40MzUtNy40MzQtNy40MzQgNy40MzRMMy40MyAxOS40M2w3LjQzNC03LjQzNEwzLjQzIDQuNTYxIDQuNTYxIDMuNDNsNy40MzQgNy40MzRMMTkuNDMgMy40M3oiIGZpbGw9IiNGRkYiLz48L3N2Zz4=);
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header.is-desktop {
  max-width: 26.25rem;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header.none-transparent {
  height: 3.625rem;
  background: #fff;
  border-bottom: 0.0625rem solid #e1e1e1;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header.none-transparent
  .modal-title {
  color: #323232;
  opacity: 1;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header.none-transparent
  .share-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iIzMyMzIzMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=)
    no-repeat 50% / contain;
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header.none-transparent
  .close-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5LjQzIDMuNDNsMS4xMzEgMS4xMzEtNy40MzQgNy40MzUgNy40MzQgNy40MzQtMS4xMzEgMS4xMzEtNy40MzUtNy40MzQtNy40MzQgNy40MzRMMy40MyAxOS40M2w3LjQzNC03LjQzNEwzLjQzIDQuNTYxIDQuNTYxIDMuNDNsNy40MzQgNy40MzRMMTkuNDMgMy40M3oiIGZpbGw9IiMzMjMyMzIiLz48L3N2Zz4=);
}
.profile-read-only-modal
  .profile-read-only-modal-dialog
  .modal-content
  .profile-new-modal-header
  .custom-modal-header
  .modal-title {
  margin-top: 0;
  overflow: hidden;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
}
