.grid[data-v-69b063c9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-69b063c9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-69b063c9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-69b063c9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-69b063c9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-69b063c9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-69b063c9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-69b063c9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-69b063c9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-69b063c9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-69b063c9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-69b063c9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-69b063c9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-69b063c9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-69b063c9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-69b063c9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-69b063c9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-69b063c9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-69b063c9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-69b063c9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-69b063c9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-69b063c9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-69b063c9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-69b063c9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-69b063c9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-69b063c9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-69b063c9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-69b063c9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-69b063c9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-69b063c9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-69b063c9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-69b063c9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-69b063c9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-69b063c9] {
    grid-column: span 15;
  }
}
.daum-postcode-modal .daum-postcode[data-v-69b063c9] #__daum__layer_1 {
  overflow: hidden !important;
}
[data-v-69b063c9] .daum-postcode-modal.has-title .modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem !important;
  border-bottom: 0.0625rem solid #f2f2f2 !important;
}
[data-v-69b063c9] .daum-postcode-modal.has-title .modal-header button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
}
[data-v-69b063c9] .daum-postcode-modal.has-title .modal-header .title {
  flex: 1;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.625rem;
  margin: 0;
}
[data-v-69b063c9] .daum-postcode-modal.has-title .modal-header .post-btn {
  padding: 0.25rem;
  color: #b5b5b5;
}
[data-v-69b063c9]
  .daum-postcode-modal.has-title
  .modal-header
  .post-btn.active {
  color: #00c7ae;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.custom-swal.modal .modal-content {
  width: 17.5rem;
  padding: 2.25rem 1rem 1rem;
}
.custom-swal.modal .modal-content .modal-header {
  padding: 0;
  margin: 0;
  display: block;
}
.custom-swal.modal .modal-content .modal-header h5 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.custom-swal.modal .modal-content .modal-body {
  padding: 1rem 0 0;
  font-size: 0.875rem;
}
.custom-swal.modal .modal-content .modal-footer {
  padding-top: 1rem;
}
.custom-swal.modal .modal-content .modal-footer button {
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.875rem;
}
.grid[data-v-78455b75] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-78455b75] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-78455b75] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-78455b75] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-78455b75] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-78455b75] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-78455b75] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-78455b75] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-78455b75] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-78455b75] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-78455b75] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-78455b75] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-78455b75] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-78455b75] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-78455b75] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-78455b75] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-78455b75] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-78455b75] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-78455b75] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-78455b75] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-78455b75] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-78455b75] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-78455b75] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-78455b75] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-78455b75] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-78455b75] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-78455b75] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-78455b75] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-78455b75] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-78455b75] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-78455b75] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-78455b75] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-78455b75] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-78455b75] {
    grid-column: span 15;
  }
}
.set-address-modal .daum-postcode[data-v-78455b75] #__daum__layer_1 {
  overflow: hidden !important;
}
.map-distance[data-v-78455b75] {
  padding-top: 0.5rem;
}
.map-distance h6[data-v-78455b75] {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #323232;
}
.map-distance .map-wrap[data-v-78455b75] {
  margin-bottom: 2rem;
}
.map-distance .range-input[data-v-78455b75] {
  margin: auto;
}
@media (min-width: 768px) {
  .map-distance .range-input[data-v-78455b75] {
    width: 19.4375rem;
  }
}
.bottom-fixed-btn-wrapper[data-v-78455b75] {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.bottom-fixed-btn-wrapper button[data-v-78455b75] {
  padding: 0.75rem 1rem;
}
[data-v-78455b75] .set-address-modal .modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem !important;
  border-bottom: 0.0625rem solid #f2f2f2 !important;
}
[data-v-78455b75] .set-address-modal .modal-header button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
}
[data-v-78455b75] .set-address-modal .modal-header .title {
  flex: 1;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: center;
}
[data-v-78455b75] .set-address-modal .modal-header .post-btn {
  padding: 0.25rem;
  color: #b5b5b5;
}
[data-v-78455b75] .set-address-modal .modal-header .post-btn.active {
  color: #00c7ae;
}
