.review-report-modal .modal-header .modal-title {
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .review-report-modal .modal-header {
    padding: 1rem;
    border-bottom: 0.0625rem solid #f2f2f2;
  }
  .review-report-modal .modal-header:before {
    content: "";
  }
  .review-report-modal .modal-header .modal-title {
    margin: 0;
    font-size: 1.125rem;
  }
}
.review-report-modal .modal-body {
  max-width: 26.25rem;
  padding: 1.5rem;
}
@media (max-width: 991.98px) {
  .review-report-modal .modal-body {
    padding: 1.5rem;
  }
}
.review-report-modal .modal-footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 3.5rem;
}
.review-report-modal .modal-footer .btn {
  height: 100%;
  padding: 0;
}
@media (max-width: 991.98px) {
  .review-report-modal .modal-footer {
    position: fixed;
    height: 3rem;
  }
}
.grid[data-v-000dabca] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-000dabca] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-000dabca] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-000dabca] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-000dabca] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-000dabca] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-000dabca] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-000dabca] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-000dabca] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-000dabca] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-000dabca] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-000dabca] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-000dabca] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-000dabca] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-000dabca] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-000dabca] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-000dabca] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-000dabca] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-000dabca] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-000dabca] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-000dabca] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-000dabca] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-000dabca] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-000dabca] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-000dabca] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-000dabca] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-000dabca] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-000dabca] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-000dabca] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-000dabca] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-000dabca] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-000dabca] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-000dabca] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-000dabca] {
    grid-column: span 15;
  }
}
.review-report-modal
  .review-report-modal-body
  .information-box[data-v-000dabca] {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 1.25rem 1rem;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.review-report-modal
  .review-report-modal-body
  .information-box
  .information-text[data-v-000dabca] {
  margin: 0;
  color: #323232;
  white-space: pre-line;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents[data-v-000dabca] {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents
  .review-report-reason-radio-group[data-v-000dabca] {
  margin: 0;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents
  .review-report-reason-radio-group
  .review-report-reason[data-v-000dabca] {
  padding: 1rem 0 1rem 2rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.review-report-modal
  .review-report-modal-body
  .review-report-reason-contents
  .review-report-reason-radio-group
  .review-report-reason
  .custom-control-label[data-v-000dabca] {
  width: 100%;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.request-form-modal {
  -webkit-overflow-scrolling: touch;
}
.request-form-modal .modal-dialog {
  max-width: 35rem;
  height: 100%;
  padding: 0;
  margin: 0 auto !important;
}
.request-form-modal .modal-content {
  height: 100%;
}
@media (min-width: 768px) {
  .request-form-modal .modal-content {
    height: calc(100vh - 10rem);
    margin: auto 0;
    border-radius: 0.25rem;
  }
}
.request-form-modal .modal-body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}
.request-form-modal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 3.625rem;
  padding: 1rem;
  border: none;
}
@media (min-width: 768px) {
  .request-form-modal .modal-header {
    height: auto;
    padding: 2.5rem 2.5rem 0;
    border: none;
  }
}
