.grid[data-v-2707aa6c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2707aa6c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2707aa6c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2707aa6c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2707aa6c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2707aa6c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2707aa6c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2707aa6c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2707aa6c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2707aa6c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2707aa6c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2707aa6c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2707aa6c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2707aa6c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2707aa6c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2707aa6c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2707aa6c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2707aa6c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2707aa6c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2707aa6c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2707aa6c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2707aa6c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2707aa6c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2707aa6c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2707aa6c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2707aa6c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2707aa6c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2707aa6c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2707aa6c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2707aa6c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2707aa6c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2707aa6c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2707aa6c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2707aa6c] {
    grid-column: span 15;
  }
}
.my-profile-auth .auth-confirm-modal[data-v-2707aa6c] .modal-dialog {
  max-width: 26.25rem;
}
.my-profile-auth .auth-confirm-modal h4[data-v-2707aa6c] {
  font-size: 1.5rem;
}
.my-profile-auth .auth-confirm-modal p[data-v-2707aa6c] {
  margin-bottom: 4.625rem;
}
.my-profile-active-time .time-range-form > span[data-v-049430ef] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-049430ef] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-049430ef] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-049430ef] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-049430ef] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-049430ef] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-049430ef] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-049430ef] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-049430ef] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-049430ef] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-049430ef] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-049430ef] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-049430ef] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-049430ef] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-049430ef] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-049430ef] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-049430ef] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-049430ef] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-049430ef] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-049430ef] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-049430ef] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-049430ef] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-049430ef] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-049430ef] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-049430ef] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-049430ef] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-049430ef] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-049430ef] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-049430ef] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-049430ef] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-049430ef] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-049430ef] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-049430ef] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-049430ef] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-049430ef] {
    grid-column: span 15;
  }
}
.my-profile-active-time .time-range-form > div[data-v-049430ef] {
  display: inline-block;
}
.my-profile-active-time .time-range-form > span[data-v-049430ef] {
  margin: 0 0.625rem;
  position: relative;
  top: 0.4375rem;
}
@media (max-width: 767.98px) {
  .my-profile-active-time .time-range-form > span[data-v-049430ef] {
    margin: 0 0.3125rem;
  }
}
.grid[data-v-48134d11] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-48134d11] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-48134d11] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-48134d11] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-48134d11] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-48134d11] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-48134d11] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-48134d11] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-48134d11] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-48134d11] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-48134d11] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-48134d11] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-48134d11] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-48134d11] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-48134d11] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-48134d11] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-48134d11] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-48134d11] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-48134d11] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-48134d11] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-48134d11] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-48134d11] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-48134d11] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-48134d11] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-48134d11] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-48134d11] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-48134d11] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-48134d11] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-48134d11] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-48134d11] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-48134d11] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-48134d11] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-48134d11] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-48134d11] {
    grid-column: span 15;
  }
}
.my-profile-career .contents .no-items[data-v-48134d11] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .my-profile-career .contents .no-items[data-v-48134d11] {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
  }
}
.my-profile-career .contents .no-items .description[data-v-48134d11] {
  font-size: 0.875rem;
  color: #737373;
}
@media (min-width: 768px) {
  .my-profile-career .contents .no-items .description[data-v-48134d11] {
    font-size: 1rem;
    white-space: pre-line;
  }
}
.my-profile-career .contents .no-items .register-button[data-v-48134d11] {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .my-profile-career .contents .no-items .register-button[data-v-48134d11] {
    width: 14.25rem;
    height: 3rem;
    padding: 0.75rem 0;
    font-size: 1rem;
  }
}
.my-profile-career .contents .list-wrapper .btn-wrapper[data-v-48134d11] {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}
.my-profile-career .contents .list-wrapper[data-v-48134d11],
.my-profile-career .contents .no-items[data-v-48134d11] {
  margin-top: 1rem;
}
.grid[data-v-b40a4fca] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-b40a4fca] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-b40a4fca] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-b40a4fca] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-b40a4fca] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-b40a4fca] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-b40a4fca] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-b40a4fca] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-b40a4fca] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-b40a4fca] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-b40a4fca] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-b40a4fca] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-b40a4fca] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-b40a4fca] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-b40a4fca] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-b40a4fca] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-b40a4fca] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-b40a4fca] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-b40a4fca] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-b40a4fca] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-b40a4fca] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-b40a4fca] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-b40a4fca] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-b40a4fca] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-b40a4fca] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-b40a4fca] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-b40a4fca] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-b40a4fca] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-b40a4fca] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-b40a4fca] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-b40a4fca] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-b40a4fca] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-b40a4fca] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-b40a4fca] {
    grid-column: span 15;
  }
}
.my-profile-business-cert .reject-container[data-v-b40a4fca] {
  margin-bottom: 0.75rem;
}
.my-profile-business-cert .reject-container[data-v-b40a4fca] .sign-container {
  padding: 1.25rem 1rem;
}
.my-profile-business-cert
  .reject-container[data-v-b40a4fca]
  .sign-container
  .header
  .title {
  font-weight: 500;
}
.my-profile-business-cert
  .reject-container[data-v-b40a4fca]
  .sign-container
  .header
  .desc {
  margin-top: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #fa5963;
}
.my-profile-business-cert .cert-container[data-v-b40a4fca] {
  padding: 1rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
.my-profile-business-cert .cert-header[data-v-b40a4fca] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.my-profile-business-cert .cert-header[data-v-b40a4fca] .dropdown-wrap {
  display: flex;
}
.my-profile-business-cert
  .cert-header[data-v-b40a4fca]
  .dropdown-wrap
  .dropdown-toggle {
  padding: 0;
  line-height: 1;
  background-color: transparent;
  border: 0;
}
.my-profile-business-cert
  .cert-header[data-v-b40a4fca]
  .dropdown-wrap
  .dropdown-toggle:after {
  display: none;
}
.my-profile-business-cert
  .cert-header[data-v-b40a4fca]
  .dropdown-wrap
  .dropdown-menu {
  padding: 1.125rem 0;
}
.my-profile-business-cert
  .cert-header[data-v-b40a4fca]
  .dropdown-wrap
  .dropdown-menu
  li:not(:first-child) {
  margin-top: 0.25rem;
}
.my-profile-business-cert
  .cert-header[data-v-b40a4fca]
  .dropdown-wrap
  .dropdown-menu
  .dropdown-item {
  padding: 0.3125rem 0;
  line-height: 1.25rem;
  color: #737373;
  text-align: center;
}
.my-profile-business-cert .cert-header .status[data-v-b40a4fca] {
  padding: 0.125rem 0.375rem;
  font-size: 0.625rem;
  line-height: 1rem;
  color: #888;
  background-color: #f4f4f4;
  border-radius: 4px;
}
.my-profile-business-cert .cert-header .status.completed[data-v-b40a4fca] {
  color: #00c7ae;
  background-color: #eafaf9;
}
.my-profile-business-cert .cert-header .status.reject[data-v-b40a4fca] {
  color: #ff5861;
  background-color: #fff0f1;
}
.my-profile-business-cert .cert-content[data-v-b40a4fca] {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem 0;
}
.my-profile-business-cert .cert-content dt[data-v-b40a4fca] {
  display: flex;
  flex: 1 0 7.1875rem;
  align-items: flex-start;
  max-width: 7.1875rem;
  margin: 0.25rem 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #737373;
}
.my-profile-business-cert .cert-content dd[data-v-b40a4fca] {
  flex: 1 0 100%;
  max-width: calc(100% - 7.1875rem);
  margin: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.my-profile-business-cert .cert-content dd button[data-v-b40a4fca] {
  padding: 0.3125rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #323232;
  background-color: transparent;
  border-color: #b5b5b5;
  border-radius: 4px;
}
