.grid[data-v-334d34a3] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-334d34a3] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-334d34a3] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-334d34a3] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-334d34a3] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-334d34a3] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-334d34a3] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-334d34a3] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-334d34a3] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-334d34a3] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-334d34a3] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-334d34a3] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-334d34a3] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-334d34a3] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-334d34a3] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-334d34a3] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-334d34a3] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-334d34a3] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-334d34a3] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-334d34a3] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-334d34a3] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-334d34a3] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-334d34a3] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-334d34a3] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-334d34a3] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-334d34a3] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-334d34a3] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-334d34a3] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-334d34a3] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-334d34a3] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-334d34a3] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-334d34a3] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-334d34a3] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-334d34a3] {
    grid-column: span 15;
  }
}
.sign-container[data-v-334d34a3] {
  background: transparent;
  border: 0;
  border-radius: 8px;
  padding: 1.25rem 1rem;
}
.sign-container.has-button[data-v-334d34a3] {
  padding: 0.75rem 1rem 1rem;
}
@media (min-width: 768px) {
  .sign-container.has-button[data-v-334d34a3] {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.75rem 0.75rem 0.75rem;
  }
}
.header[data-v-334d34a3] {
  flex: 1;
}
.title[data-v-334d34a3] {
  display: flex;
  align-items: flex-start;
  font-size: 0.875rem;
}
.title .content[data-v-334d34a3] {
  padding-left: 0.5rem;
  white-space: pre-line;
}
.title + .title[data-v-334d34a3] {
  margin-top: 0.5rem;
}
.desc[data-v-334d34a3] {
  font-size: 0.75rem;
  color: #323232;
  padding-left: 1.75rem;
  margin-bottom: 0;
}
.btn-action[data-v-334d34a3] {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
  .btn-action[data-v-334d34a3] {
    width: auto;
    padding: 0.5rem 1.25rem;
    margin-top: 0;
  }
}
.sign-container.secondary[data-v-334d34a3] {
  background-color: #f2f2f2;
}
.sign-container.secondary .title[data-v-334d34a3] {
  color: #323232;
}
.sign-container.secondary .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #323232;
  border-color: #323232;
}
.sign-container.secondary .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #191919;
}
.sign-container.secondary .btn-action.focus[data-v-334d34a3],
.sign-container.secondary .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #191919;
  box-shadow: 0 0 0 0.2rem rgba(81, 81, 81, 0.5);
}
.sign-container.secondary .btn-action.disabled[data-v-334d34a3],
.sign-container.secondary .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #323232;
  border-color: #323232;
}
.show > .sign-container.secondary .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.secondary
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.secondary
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #191919;
  border-color: #121212;
}
.show
  > .sign-container.secondary
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.secondary
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.secondary
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 81, 81, 0.5);
}
.sign-container.danger[data-v-334d34a3] {
  background-color: #fff2f3;
}
.sign-container.danger .title[data-v-334d34a3] {
  color: #fa5963;
}
.sign-container.danger .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #fa5963;
  border-color: #fa5963;
}
.sign-container.danger .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #f93440;
  border-color: #f92734;
}
.sign-container.danger .btn-action.focus[data-v-334d34a3],
.sign-container.danger .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #f93440;
  border-color: #f92734;
  box-shadow: 0 0 0 0.2rem rgba(251, 114, 122, 0.5);
}
.sign-container.danger .btn-action.disabled[data-v-334d34a3],
.sign-container.danger .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #fa5963;
  border-color: #fa5963;
}
.show > .sign-container.danger .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.danger
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.danger
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #f92734;
  border-color: #f81b29;
}
.show
  > .sign-container.danger
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.danger
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.danger
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(251, 114, 122, 0.5);
}
.sign-container.info[data-v-334d34a3] {
  background-color: #eaf9fd;
}
.sign-container.info .title[data-v-334d34a3] {
  color: #005ddb;
}
.sign-container.info .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #005ddb;
  border-color: #005ddb;
}
.sign-container.info .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #004db5;
  border-color: #0047a8;
}
.sign-container.info .btn-action.focus[data-v-334d34a3],
.sign-container.info .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #004db5;
  border-color: #0047a8;
  box-shadow: 0 0 0 0.2rem rgba(38, 117, 224, 0.5);
}
.sign-container.info .btn-action.disabled[data-v-334d34a3],
.sign-container.info .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #005ddb;
  border-color: #005ddb;
}
.show > .sign-container.info .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.info
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.info
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0047a8;
  border-color: #00429b;
}
.show > .sign-container.info .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.info
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.info
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 117, 224, 0.5);
}
.sign-container.blue[data-v-334d34a3] {
  background-color: #eff4ff;
}
.sign-container.blue .title[data-v-334d34a3] {
  color: #5080fa;
}
.sign-container.blue .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.sign-container.blue .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
}
.sign-container.blue .btn-action.focus[data-v-334d34a3],
.sign-container.blue .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.blue .btn-action.disabled[data-v-334d34a3],
.sign-container.blue .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.show > .sign-container.blue .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.blue
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.blue
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2331a6;
  border-color: #212e9b;
}
.show > .sign-container.blue .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.blue
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.blue
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma[data-v-334d34a3] {
  background-color: #eff4ff;
  padding: 1rem;
}
.sign-container.prisma .title[data-v-334d34a3] {
  color: #323232;
}
.sign-container.prisma .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.sign-container.prisma .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
}
.sign-container.prisma .btn-action.focus[data-v-334d34a3],
.sign-container.prisma .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma .btn-action.disabled[data-v-334d34a3],
.sign-container.prisma .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.show > .sign-container.prisma .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.prisma
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.prisma
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2331a6;
  border-color: #212e9b;
}
.show
  > .sign-container.prisma
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.prisma
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.prisma
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma .content[data-v-334d34a3] {
  display: inline-block;
  width: calc(100% - 1.25rem);
  white-space: inherit;
}
.sign-container.prisma.has-desc[data-v-334d34a3] {
  background-color: #eff4ff;
}
.sign-container.prisma.has-desc .title[data-v-334d34a3] {
  color: #5080fa;
}
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
}
.sign-container.prisma.has-desc .btn-action.focus[data-v-334d34a3],
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma.has-desc .btn-action.disabled[data-v-334d34a3],
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.show
  > .sign-container.prisma.has-desc
  .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.prisma.has-desc
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.prisma.has-desc
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2331a6;
  border-color: #212e9b;
}
.show
  > .sign-container.prisma.has-desc
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.prisma.has-desc
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.prisma.has-desc
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma.has-desc .content[data-v-334d34a3] {
  font-weight: 500;
}
.sign-container.prisma.has-desc .desc[data-v-334d34a3] {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
.sign-container.sm[data-v-334d34a3] {
  padding: 0.4375rem 0.75rem;
  border-radius: 4px;
}
.sign-container.lg[data-v-334d34a3] {
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
.sign-container.lg .title span[data-v-334d34a3] {
  padding-left: 0.5rem;
}
.grid[data-v-1aea27d0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-1aea27d0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-1aea27d0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-1aea27d0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-1aea27d0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-1aea27d0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-1aea27d0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-1aea27d0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-1aea27d0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-1aea27d0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-1aea27d0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-1aea27d0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-1aea27d0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-1aea27d0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-1aea27d0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-1aea27d0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-1aea27d0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-1aea27d0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-1aea27d0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-1aea27d0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-1aea27d0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-1aea27d0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-1aea27d0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-1aea27d0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-1aea27d0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-1aea27d0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-1aea27d0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-1aea27d0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-1aea27d0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-1aea27d0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-1aea27d0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-1aea27d0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-1aea27d0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-1aea27d0] {
    grid-column: span 15;
  }
}
.force-auth-alert[data-v-1aea27d0] {
  cursor: pointer;
}
.force-auth-alert[data-v-1aea27d0] .title {
  font-weight: 500;
  position: relative;
  align-items: center;
}
.force-auth-alert[data-v-1aea27d0] .title i.icon.info {
  display: block;
  background-color: #5080fa;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjQjVCNUI1IiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSI3LjI1Ii8+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTAuMDA0IDYuOTV2My42bS4wMDEgMi42aC0uMDEiLz48L2c+PC9zdmc+);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjQjVCNUI1IiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSI3LjI1Ii8+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTAuMDA0IDYuOTV2My42bS4wMDEgMi42aC0uMDEiLz48L2c+PC9zdmc+);
  width: 1.25rem;
  height: 1.25rem;
}
.force-auth-alert[data-v-1aea27d0] .title .arrow-button {
  position: absolute;
  top: 0.125rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxNmgxNlYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjNEU4MEY1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTUuNzc4IDRsNC40NDQgNC40NDQtNC40NDQgNC40NDUiLz48L2c+PC9zdmc+);
  background-repeat: no-repeat;
}
.grid[data-v-436f5600] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-436f5600] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-436f5600] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-436f5600] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-436f5600] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-436f5600] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-436f5600] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-436f5600] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-436f5600] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-436f5600] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-436f5600] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-436f5600] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-436f5600] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-436f5600] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-436f5600] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-436f5600] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-436f5600] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-436f5600] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-436f5600] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-436f5600] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-436f5600] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-436f5600] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-436f5600] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-436f5600] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-436f5600] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-436f5600] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-436f5600] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-436f5600] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-436f5600] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-436f5600] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-436f5600] {
    grid-column: span 15;
  }
}
.base-checkbox.custom-checkbox[data-v-436f5600] {
  padding-left: 1.875rem;
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input.is-invalid
  ~ .custom-control-label,
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:invalid
  ~ .custom-control-label {
  color: #323232;
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input.is-invalid
  ~ .custom-control-label:before,
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:invalid
  ~ .custom-control-label:before {
  background-color: transparent;
  border-color: #ccc;
}
.base-checkbox.custom-checkbox.custom-control-inline[data-v-436f5600] {
  margin-right: 0;
}
.base-checkbox.custom-checkbox[data-v-436f5600] .custom-control-label:before {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2px;
  top: 0.1875rem;
  left: -1.875rem;
  background-color: #e1e1e1;
  border: none;
}
.base-checkbox.custom-checkbox[data-v-436f5600] .custom-control-label:after {
  width: 1.25rem;
  height: 1.25rem;
  top: 0.1875rem;
  left: -1.875rem;
  background-size: 75%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIgNi4yMTlMNS4zIDkuNWw1Ljg2Ny01LjgzMyIvPjwvc3ZnPg==);
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:checked
  ~ .custom-control-label:before {
  background-color: #00c7ae;
}
.base-checkbox.custom-checkbox.round[data-v-436f5600]
  .custom-control-label:before {
  border-radius: 50%;
}
.grid[data-v-33469302] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-33469302] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-33469302] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-33469302] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-33469302] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-33469302] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-33469302] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-33469302] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-33469302] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-33469302] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-33469302] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-33469302] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-33469302] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-33469302] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-33469302] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-33469302] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-33469302] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-33469302] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-33469302] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-33469302] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-33469302] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-33469302] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-33469302] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-33469302] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-33469302] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-33469302] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-33469302] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-33469302] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-33469302] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-33469302] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-33469302] {
    grid-column: span 15;
  }
}
.career-list-item[data-v-33469302] {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.career-list-item[data-v-33469302]:not(.profile) {
  cursor: pointer;
}
.career-list-item[data-v-33469302]:first-of-type {
  margin-top: 0;
}
.career-list-item.removable[data-v-33469302] {
  justify-content: space-between;
  height: 4.375rem;
}
.career-list-item .contents[data-v-33469302] {
  flex: 0 1 100%;
}
.career-list-item .contents div[data-v-33469302] {
  margin: 0.25rem 0 0;
}
.career-list-item .contents .header[data-v-33469302] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}
.career-list-item .contents .date-info[data-v-33469302] {
  font-size: 0.75rem;
  color: #737373;
}
.career-list-item .contents .description[data-v-33469302] {
  color: #b5b5b5;
  font-size: 0.875rem;
  display: -webkit-box;
  max-height: 3em;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.career-list-item .btn-wrapper .close[data-v-33469302] {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
}
.career-list-item .btn-wrapper .close > img[data-v-33469302] {
  width: 100%;
  height: 100%;
}
.career-list-item .btn-wrapper .close[data-v-33469302]:focus {
  outline: 0;
}
.career-list-item.mobile.removable[data-v-33469302] {
  height: 5rem;
}
.career-list-item.mobile .contents .header[data-v-33469302] {
  font-size: 0.875rem;
}
.career-list-item.mobile .contents .description[data-v-33469302] {
  font-size: 0.75rem;
}
@media (max-width: 991.98px) {
  .career-list-item.removable[data-v-33469302] {
    height: 5rem;
  }
  .career-list-item .contents .header[data-v-33469302] {
    font-size: 0.875rem;
  }
  .career-list-item .contents .description[data-v-33469302] {
    font-size: 0.75rem;
  }
}
.grid[data-v-9427df90] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-9427df90] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-9427df90] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-9427df90] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-9427df90] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-9427df90] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-9427df90] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-9427df90] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-9427df90] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-9427df90] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-9427df90] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-9427df90] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-9427df90] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-9427df90] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-9427df90] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-9427df90] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-9427df90] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-9427df90] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-9427df90] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-9427df90] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-9427df90] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-9427df90] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-9427df90] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-9427df90] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-9427df90] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-9427df90] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-9427df90] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-9427df90] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-9427df90] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-9427df90] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-9427df90] {
    grid-column: span 15;
  }
}
.header[data-v-9427df90] {
  display: flex;
  align-items: center;
}
.header .title[data-v-9427df90] {
  font-weight: 700;
  font-size: 1rem;
  color: #00c7ae;
  line-height: normal;
  margin: 0 0 0 0.5rem;
}
.grid[data-v-3859a29b] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3859a29b] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3859a29b] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3859a29b] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3859a29b] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3859a29b] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3859a29b] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3859a29b] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3859a29b] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3859a29b] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3859a29b] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3859a29b] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3859a29b] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3859a29b] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3859a29b] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3859a29b] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3859a29b] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3859a29b] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3859a29b] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3859a29b] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3859a29b] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3859a29b] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3859a29b] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3859a29b] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3859a29b] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3859a29b] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3859a29b] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3859a29b] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3859a29b] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3859a29b] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3859a29b] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3859a29b] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3859a29b] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3859a29b] {
    grid-column: span 15;
  }
}
.badge[data-v-3859a29b] {
  padding: 0.25rem 0.375rem 0.25rem 0.4375rem;
  border-radius: 12px;
  background-color: #f2f2f2;
  font-size: 0.75rem;
  font-weight: 500;
  color: #b5b5b5;
}
.badge.completed[data-v-3859a29b] {
  background-color: #eafaf9;
  color: #00c7ae;
}
.badge.reject[data-v-3859a29b] {
  background-color: #fff2f3;
  color: #fa5963;
}
@media (max-width: 991.98px) {
  .badge[data-v-3859a29b] {
    padding: 0.125rem 0.375rem 0.1875rem 0.4375rem;
    border-radius: 8px;
    font-size: 0.625rem;
  }
}
.grid[data-v-3daa962a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3daa962a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3daa962a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3daa962a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3daa962a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3daa962a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3daa962a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3daa962a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3daa962a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3daa962a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3daa962a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3daa962a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3daa962a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3daa962a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3daa962a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3daa962a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3daa962a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3daa962a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3daa962a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3daa962a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3daa962a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3daa962a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3daa962a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3daa962a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3daa962a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3daa962a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3daa962a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3daa962a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3daa962a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3daa962a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3daa962a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3daa962a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3daa962a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3daa962a] {
    grid-column: span 15;
  }
}
.badge[data-v-3daa962a] {
  border-radius: 17px;
  background-color: #f2f2f2;
  font-size: 0.75rem;
  font-weight: 500;
  color: #b5b5b5;
  padding: 0.1875rem 0.375rem 0.25rem 0.4375rem;
  cursor: pointer;
}
.active[data-v-3daa962a] {
  background-color: #eafaf9;
  color: #00c7ae;
}
.grid[data-v-cbc4fb12] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-cbc4fb12] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-cbc4fb12] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-cbc4fb12] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-cbc4fb12] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-cbc4fb12] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-cbc4fb12] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-cbc4fb12] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-cbc4fb12] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-cbc4fb12] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-cbc4fb12] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-cbc4fb12] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-cbc4fb12] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-cbc4fb12] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-cbc4fb12] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-cbc4fb12] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-cbc4fb12] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-cbc4fb12] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-cbc4fb12] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-cbc4fb12] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-cbc4fb12] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-cbc4fb12] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-cbc4fb12] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-cbc4fb12] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-cbc4fb12] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-cbc4fb12] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-cbc4fb12] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-cbc4fb12] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-cbc4fb12] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-cbc4fb12] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-cbc4fb12] {
    grid-column: span 15;
  }
}
.sg-button[data-v-cbc4fb12] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.375;
  border-radius: 8px;
  font-weight: 500;
}
.sg-button.focus[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: transparent;
  border-color: transparent;
}
.sg-button.hover[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:hover {
  color: #00ab96;
  background-color: transparent;
  border-color: transparent;
}
.sg-button.disabled[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.sg-button:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .sg-button.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: transparent;
  border-color: transparent;
}
.sg-button:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.sg-button[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .sg-button.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.sg-button.rounded-pill[data-v-cbc4fb12] {
  border-radius: 24px !important;
}
.sg-button.is-loading[data-v-cbc4fb12] {
  cursor: wait;
  pointer-events: none;
}
.btn-xs[data-v-cbc4fb12] {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.286;
  border-radius: 6px;
  font-weight: 500;
}
.btn-xs.rounded-pill[data-v-cbc4fb12] {
  border-radius: 14px !important;
}
.btn-sm[data-v-cbc4fb12] {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.286;
  border-radius: 8px;
  font-weight: 500;
}
.btn-sm.rounded-pill[data-v-cbc4fb12] {
  border-radius: 18px !important;
}
.btn-lg[data-v-cbc4fb12] {
  padding: 0.9375rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  font-weight: 500;
}
.btn-lg.rounded-pill[data-v-cbc4fb12] {
  border-radius: 28px !important;
}
.btn-block[data-v-cbc4fb12] {
  display: flex;
}
.btn-primary.focus[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:focus {
  color: #fff;
  background-color: #00c7ae;
  border-color: #00c7ae;
}
.btn-primary.hover[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:hover {
  color: #fff;
  background-color: #00ab96;
  border-color: #00ab96;
}
.btn-primary.disabled[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle[data-v-cbc4fb12] {
  color: #fff;
  background-color: #007b74;
  border-color: #007b74;
}
.btn-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-gray.focus[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:focus {
  color: #626262;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.btn-gray.hover[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:hover {
  color: #626262;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-gray.disabled[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #626262;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
}
.btn-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-primary.focus[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: #fff;
  border-color: #00c7ae;
}
.btn-outline-primary.hover[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #00ab96;
  background-color: #fff;
  border-color: #00ab96;
  box-shadow: none;
}
.btn-outline-primary.disabled[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: #fff;
  border-color: #007b74;
}
.btn-outline-primary:not(:disabled):not(
    .disabled
  ).active[data-v-cbc4fb12]:focus,
.btn-outline-primary[data-v-cbc4fb12]:not(:disabled):not(
    .disabled
  ):active:focus,
.show > .btn-outline-primary.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-primary-gray.focus[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: #fff;
  border-color: #e2e2e2;
}
.btn-outline-primary-gray.hover[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #00ab96;
  background-color: #fff;
  border-color: #a9a9a9;
  box-shadow: none;
}
.btn-outline-primary-gray.disabled[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-primary-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: #fff;
  border-color: #787878;
}
.btn-outline-primary-gray:not(:disabled):not(
    .disabled
  ).active[data-v-cbc4fb12]:focus,
.btn-outline-primary-gray[data-v-cbc4fb12]:not(:disabled):not(
    .disabled
  ):active:focus,
.show > .btn-outline-primary-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-gray.focus[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:focus {
  color: #626262;
  background-color: #fff;
  border-color: #c5c5c5;
}
.btn-outline-gray.hover[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #626262;
  background-color: #fff;
  border-color: #888;
  box-shadow: none;
}
.btn-outline-gray.disabled[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #626262;
  background-color: #fff;
  border-color: #626262;
}
.btn-outline-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-outline-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.grid[data-v-15a7d040] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-15a7d040] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-15a7d040] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-15a7d040] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-15a7d040] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-15a7d040] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-15a7d040] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-15a7d040] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-15a7d040] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-15a7d040] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-15a7d040] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-15a7d040] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-15a7d040] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-15a7d040] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-15a7d040] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-15a7d040] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-15a7d040] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-15a7d040] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-15a7d040] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-15a7d040] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-15a7d040] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-15a7d040] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-15a7d040] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-15a7d040] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-15a7d040] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-15a7d040] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-15a7d040] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-15a7d040] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-15a7d040] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-15a7d040] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-15a7d040] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-15a7d040] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-15a7d040] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-15a7d040] {
    grid-column: span 15;
  }
}
.force-auth-fab[data-v-15a7d040] {
  position: sticky;
  width: 100%;
  bottom: 1rem;
  left: 0;
}
@media (max-width: 991.98px) {
  .force-auth-fab[data-v-15a7d040] {
    padding: 0 1.25rem;
  }
}
.force-auth-fab button[data-v-15a7d040] {
  width: 100%;
  border: 0;
  padding: 0.75rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5080fa;
  border-radius: 8px;
}
@media (max-width: 991.98px) {
  .force-auth-fab button[data-v-15a7d040] {
    width: 100%;
  }
}
.force-auth-fab button .content[data-v-15a7d040] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.force-auth-fab button .content span[data-v-15a7d040] {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.empty[data-v-15a7d040] {
  padding-bottom: 3.5rem;
}
.slide-fade-enter-to[data-v-15a7d040] {
  opacity: 1;
  transform: translateY(0);
}
.slide-fade-enter[data-v-15a7d040] {
  opacity: 0;
  transform: translateY(4rem);
}
.slide-fade-enter-active[data-v-15a7d040] {
  transition: all 0.5s ease-out;
  transition-delay: 1s;
}
