.grid[data-v-5a141e88] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5a141e88] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5a141e88] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5a141e88] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5a141e88] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5a141e88] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5a141e88] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5a141e88] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5a141e88] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5a141e88] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5a141e88] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5a141e88] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5a141e88] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5a141e88] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5a141e88] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5a141e88] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5a141e88] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5a141e88] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5a141e88] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5a141e88] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5a141e88] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5a141e88] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5a141e88] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5a141e88] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5a141e88] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5a141e88] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5a141e88] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5a141e88] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5a141e88] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5a141e88] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5a141e88] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5a141e88] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5a141e88] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5a141e88] {
    grid-column: span 15;
  }
}
.switch[data-v-5a141e88] {
  width: 2.5125rem;
  height: 1.525rem;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  background-color: #00c7ae;
  transition: background-color 0.1s ease-in-out;
}
@media (min-width: 768px) {
  .switch[data-v-5a141e88]:not(.small) {
    width: 3.1875rem;
    height: 1.9375rem;
  }
}
@media (min-width: 768px) {
  .switch[data-v-5a141e88]:not(.small):after {
    left: 1.25rem;
    width: 1.6875rem;
    height: 1.6875rem;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.05),
      0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
      0 0.1875rem 0.0625rem 0 rgba(0, 0, 0, 0.05);
    margin: 0.125rem;
  }
}
.switch[data-v-5a141e88]:after {
  content: "";
  position: absolute;
  left: 1rem;
  width: 1.38125rem;
  height: 1.38125rem;
  background-color: #fff;
  border-radius: 0.9688rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.05),
    0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1),
    0 0.125rem 0.0625rem 0 rgba(0, 0, 0, 0.05);
  margin: 0.0625rem;
  transition: left 0.1s ease-in-out;
}
.switch.off[data-v-5a141e88] {
  background-color: #e1e1e1;
}
.switch.off[data-v-5a141e88]:after {
  left: 0;
}
.grid[data-v-23aaa55a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-23aaa55a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-23aaa55a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-23aaa55a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-23aaa55a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-23aaa55a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-23aaa55a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-23aaa55a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-23aaa55a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-23aaa55a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-23aaa55a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-23aaa55a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-23aaa55a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-23aaa55a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-23aaa55a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-23aaa55a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-23aaa55a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-23aaa55a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-23aaa55a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-23aaa55a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-23aaa55a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-23aaa55a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-23aaa55a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-23aaa55a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-23aaa55a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-23aaa55a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-23aaa55a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-23aaa55a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-23aaa55a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-23aaa55a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-23aaa55a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-23aaa55a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-23aaa55a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-23aaa55a] {
    grid-column: span 15;
  }
}
.cash-store-event-banner[data-v-23aaa55a] {
  display: flex;
  height: 3rem;
  padding: 1rem 1rem 0.9375rem;
  border-radius: 8px;
  background-color: #eff4ff;
}
.cash-store-event-banner .title[data-v-23aaa55a] {
  flex: auto;
}
.cash-store-event-banner .timer[data-v-23aaa55a],
.cash-store-event-banner .title[data-v-23aaa55a] {
  display: flex;
  font-size: 0.75rem;
  color: #5080fa;
  font-weight: 700;
}
.cash-store-event-banner .icon-wrapper[data-v-23aaa55a] {
  width: 1rem;
  height: 1rem;
  display: flex;
  margin: 0 0.5rem 0.0625rem 0;
}
.cash-store-event-banner.has-event[data-v-23aaa55a] {
  cursor: pointer;
}
.cash-store-event-banner.cash-store[data-v-23aaa55a] {
  padding: 0.9375rem 1rem 0.8125rem;
}
.cash-store-event-banner.cash-store .timer[data-v-23aaa55a],
.cash-store-event-banner.cash-store .title[data-v-23aaa55a] {
  font-size: 0.875rem;
}
.cash-store-event-banner.cash-store .icon-wrapper[data-v-23aaa55a] {
  margin: 0.0625rem 0.5rem 0.1875rem 0;
}
.grid[data-v-7339e937] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7339e937] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7339e937] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7339e937] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7339e937] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7339e937] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7339e937] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7339e937] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7339e937] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7339e937] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7339e937] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7339e937] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7339e937] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7339e937] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7339e937] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7339e937] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7339e937] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7339e937] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7339e937] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7339e937] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7339e937] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7339e937] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7339e937] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7339e937] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7339e937] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7339e937] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7339e937] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7339e937] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7339e937] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7339e937] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7339e937] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7339e937] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7339e937] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7339e937] {
    grid-column: span 15;
  }
}
.auto-message-tooltip-wrapper > .tooltip-balloon[data-v-7339e937] {
  transform: none;
  left: 0;
  bottom: -2.75rem;
}
.pointer[data-v-7339e937] {
  cursor: pointer;
}
.underline[data-v-7339e937] {
  border-bottom: 0.0625rem solid;
  border-color: #f2f2f2;
}
.arrow[data-v-7339e937] {
  font-size: 0;
}
.right-arrow[data-v-7339e937] {
  font-size: 0.75rem;
}
a[data-v-7339e937] {
  display: flex;
  align-items: center;
}
.sub-menu-container[data-v-7339e937] {
  padding: 1rem 0;
}
.sub-menu-list[data-v-7339e937] {
  position: relative;
  display: flex;
  align-items: center;
}
.icon-container[data-v-7339e937] {
  align-self: baseline;
}
.sub-content[data-v-7339e937] {
  flex: auto;
  text-align: left;
}
.sub-menu[data-v-7339e937] {
  display: flex;
  align-items: center;
}
.sub-description[data-v-7339e937] {
  display: block;
  margin-top: 0.375rem;
  color: #b5b5b5;
  font-size: 0.875rem;
  white-space: pre-line;
}
@media (min-width: 768px) {
  .sub-description[data-v-7339e937] {
    font-size: 1rem;
  }
}
.sub-menu-title[data-v-7339e937] {
  font-size: 1rem;
  font-weight: 500;
  color: #323232;
  padding: 0;
}
.teal-badge[data-v-7339e937] {
  padding: 0.1875rem 0.625rem;
  font-size: 0.75rem;
  border-radius: 13px;
  background-color: #00c7ae;
  color: #fff;
  font-weight: 500;
  margin-right: 0.25rem;
}
@media (min-width: 768px) {
  .teal-badge[data-v-7339e937] {
    font-size: 0.875rem;
  }
}
.badge[data-v-7339e937] {
  position: relative;
}
.badge[data-v-7339e937]:after {
  content: "";
  position: absolute;
  top: 0.125rem;
  right: -0.75rem;
  background-color: #ff3131;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.tooltip-balloon[data-v-7339e937] {
  left: 0;
  transform: translateY(100%);
}
@media (max-width: 991.98px) {
  .tooltip-balloon[data-v-7339e937] {
    bottom: -0.25rem;
  }
}
.tooltip-balloon[data-v-7339e937]:after {
  left: 3.625rem;
}
@media (max-width: 991.98px) {
  .tooltip-balloon[data-v-7339e937]:after {
    left: 3.5rem;
  }
}
.update-badge[data-v-7339e937] {
  display: flex;
  align-items: center;
  height: 1.375rem;
  margin-left: 0.5rem;
  padding: 0 0.25rem;
  background-color: #eafaf9;
  color: #00c7ae;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 4px;
}
.cash-store-event-banner.sub-menu-container[data-v-7339e937] {
  padding: 0;
}
.my-ip-products .tooltip-balloon[data-v-7339e937]:after {
  left: 4.8125rem;
}
@media (min-width: 768px) {
  .my-ip-products .tooltip-balloon[data-v-7339e937]:after {
    left: 5.25rem;
  }
}
.grid[data-v-23177e17] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-23177e17] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-23177e17] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-23177e17] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-23177e17] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-23177e17] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-23177e17] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-23177e17] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-23177e17] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-23177e17] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-23177e17] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-23177e17] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-23177e17] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-23177e17] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-23177e17] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-23177e17] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-23177e17] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-23177e17] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-23177e17] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-23177e17] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-23177e17] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-23177e17] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-23177e17] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-23177e17] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-23177e17] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-23177e17] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-23177e17] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-23177e17] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-23177e17] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-23177e17] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-23177e17] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-23177e17] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-23177e17] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-23177e17] {
    grid-column: span 15;
  }
}
.my-page-menu > ul[data-v-23177e17] {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .my-page-menu > ul[data-v-23177e17] {
    margin-bottom: 1.25rem;
  }
}
.my-page-menu > ul[data-v-23177e17]:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 2.53125rem;
}
@media (min-width: 768px) {
  .my-page-menu > ul[data-v-23177e17]:last-child {
    margin-bottom: 8.75rem;
  }
}
.my-page-menu .main-menu[data-v-23177e17] {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: #323232;
}
.my-page-menu .main-menu-more-btn[data-v-23177e17] {
  margin-left: 0.125rem;
  cursor: pointer;
}
.my-page-menu .main-menu.alba-badge[data-v-23177e17]:after {
  content: "알바 서비스 전용";
  margin: 0.0625rem 0 0.0625rem 0.3125rem;
  background-color: #eafaf9;
  color: #00c7ae;
  font-weight: 500;
  font-size: 0.75rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  border-radius: 6px;
}
.underline[data-v-23177e17] {
  border-bottom: 0.0625rem solid;
  border-color: #f2f2f2;
}
.sub-header[data-v-23177e17] {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.btn-registration[data-v-23177e17] {
  font-weight: 500;
  color: #00c7ae;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0.875rem;
}
.product-reg-tooltip.top[data-v-23177e17] {
  left: unset;
  right: 0;
  transform: translateY(-100%);
}
.product-reg-tooltip.top[data-v-23177e17]:after {
  left: unset;
  right: 2.1875rem;
}
.grid[data-v-ff79f806] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-ff79f806] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-ff79f806] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-ff79f806] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-ff79f806] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-ff79f806] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-ff79f806] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-ff79f806] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-ff79f806] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-ff79f806] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-ff79f806] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-ff79f806] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-ff79f806] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-ff79f806] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-ff79f806] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-ff79f806] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-ff79f806] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-ff79f806] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-ff79f806] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-ff79f806] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-ff79f806] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-ff79f806] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-ff79f806] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-ff79f806] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-ff79f806] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-ff79f806] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-ff79f806] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-ff79f806] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-ff79f806] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-ff79f806] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-ff79f806] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-ff79f806] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-ff79f806] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-ff79f806] {
    grid-column: span 15;
  }
}
.container[data-v-ff79f806] {
  justify-content: space-between;
  padding: 1rem;
  background-color: #f6f7f9;
  border-radius: 8px;
  margin-top: 1.5rem;
}
.container .content[data-v-ff79f806],
.container[data-v-ff79f806] {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .content > p[data-v-ff79f806] {
  font-weight: 600;
}
.container .content > p .beta[data-v-ff79f806] {
  margin-left: 0.25rem;
  padding: 0.125rem 0.375rem;
  height: 1.375rem;
  border-radius: 4px;
  background-color: #eafaf9;
  color: #00c7ae;
  font-size: 0.75rem;
  font-weight: 500;
}
.container > button[data-v-ff79f806] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.grid[data-v-e20527e2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-e20527e2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-e20527e2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-e20527e2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-e20527e2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-e20527e2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-e20527e2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-e20527e2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-e20527e2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-e20527e2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-e20527e2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-e20527e2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-e20527e2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-e20527e2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-e20527e2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-e20527e2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-e20527e2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-e20527e2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-e20527e2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-e20527e2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-e20527e2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-e20527e2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-e20527e2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-e20527e2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-e20527e2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-e20527e2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-e20527e2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-e20527e2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-e20527e2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-e20527e2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-e20527e2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-e20527e2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-e20527e2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-e20527e2] {
    grid-column: span 15;
  }
}
.profile-container[data-v-e20527e2] {
  font-size: 0;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  position: relative;
  background-color: #fff;
  z-index: 3;
}
@media (min-width: 768px) {
  .profile-container[data-v-e20527e2] {
    padding: 1rem 0;
    margin-bottom: 1.25rem;
  }
}
.profile-container[data-v-e20527e2]:has(.bargain-quote-alert) {
  padding: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .profile-container[data-v-e20527e2]:has(.bargain-quote-alert) {
    margin-bottom: 2rem;
  }
}
.profile-container a[data-v-e20527e2] {
  display: flex;
  align-items: center;
}
.profile-container .account-setting .btn-account-setting[data-v-e20527e2] {
  border: none;
  border-radius: 12px;
  background-color: #f2f2f2;
  padding: 0.25rem 0.625rem;
  font-size: 0.75rem;
  color: #737373;
  font-weight: 500;
}
.underline[data-v-e20527e2] {
  border-bottom: 0.0625rem solid;
  border-color: #f2f2f2;
}
.mypage-title[data-v-e20527e2] {
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.0462rem;
  color: #323232;
  margin: 0;
  font-size: 1.5rem;
  padding: 1.875rem 0;
}
@media (min-width: 768px) {
  .mypage-title[data-v-e20527e2] {
    font-size: 2.125rem;
    padding: 3.125rem 0;
  }
}
.thumb[data-v-e20527e2] {
  width: 4.375rem;
  height: 4.375rem;
  min-width: 4.375rem;
  overflow: hidden;
}
.user-info[data-v-e20527e2] {
  flex: 1;
  overflow: hidden;
  text-align: left;
  padding-left: 0.75rem;
}
.arrow[data-v-e20527e2] {
  font-size: 0;
}
.right-arrow[data-v-e20527e2] {
  font-size: 0.75rem;
}
.user-id[data-v-e20527e2] {
  display: flex;
  font-size: 0.75rem;
  color: #b5b5b5;
}
.user-id img[data-v-e20527e2] {
  margin-right: 0.25rem;
}
.id-length[data-v-e20527e2] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 11.6875rem;
}
@media (min-width: 768px) {
  .id-length[data-v-e20527e2] {
    max-width: 30.1875rem;
  }
}
.user-name[data-v-e20527e2] {
  display: flex;
  flex: 1;
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
}
.user-name .user-type[data-v-e20527e2] {
  flex: 0 0 auto;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .user-name .user-type[data-v-e20527e2] {
    padding-right: 1.5rem;
  }
}
.name-length[data-v-e20527e2] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.3125rem;
}
.coupon-btn[data-v-e20527e2] {
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: left;
  line-height: normal;
  color: #323232;
  border-radius: 8px;
  border: 0.0625rem solid #f2f2f2;
  background-color: #fafafa;
  padding: 1rem 0 1rem 3rem;
  margin-top: 1.375rem;
}
@media (min-width: 768px) {
  .coupon-btn[data-v-e20527e2] {
    margin-bottom: 0.5rem;
  }
}
.coupon-btn[data-v-e20527e2]:after,
.coupon-btn[data-v-e20527e2]:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.coupon-btn[data-v-e20527e2]:before {
  width: 1.5rem;
  height: 1.5rem;
  left: 1rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDVhMSAxIDAgMDExIDF2My4xNWExIDEgMCAwMS0uMjIuNjI0bC0uNzguOTc2YTIuMDAxIDIuMDAxIDAgMDAwIDIuNWwuNzguOTc2YTEgMSAwIDAxLjIyLjYyNVYxOGExIDEgMCAwMS0xIDFIM2ExIDEgMCAwMS0xLTF2LTMuMTVhMSAxIDAgMDEuMjItLjYyNEwzIDEzLjI1YTIgMiAwIDAwMC0yLjVsLS43OC0uOTc2QTEgMSAwIDAxMiA5LjE0OVY2YTEgMSAwIDAxMS0xaDE4em0tNi43NSA4YTEuMjUgMS4yNSAwIDEwMCAyLjUgMS4yNSAxLjI1IDAgMDAwLTIuNXptMS4xMjYtMy44OTNhLjc1Ljc1IDAgMDAtMS4wNTYtLjA5MmwtNS43NDUgNC44MmEuNzUuNzUgMCAxMC45NjQgMS4xNWw1Ljc0NS00LjgyYS43NS43NSAwIDAwLjA5Mi0xLjA1OHpNOS41NSA4LjVhMS4yNSAxLjI1IDAgMTAwIDIuNSAxLjI1IDEuMjUgMCAwMDAtMi41eiIgZmlsbD0iIzMyMzIzMiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+)
    50% no-repeat;
}
.coupon-btn[data-v-e20527e2]:after {
  width: 1rem;
  height: 1rem;
  right: 1rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTcgMTRsNS01LTUtNSIgc3Ryb2tlPSIjZTFlMWUxIiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=)
    50% no-repeat;
}
.coupon-btn[data-v-e20527e2]:active {
  background-color: #f6f6f6 !important;
}
.bargain-quote-alert[data-v-e20527e2] {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff2f3;
  margin-top: 1.625rem;
}
@media (min-width: 768px) {
  .bargain-quote-alert[data-v-e20527e2] {
    margin-top: 2rem;
  }
}
.bargain-quote-alert .bargain-quote-guide[data-v-e20527e2] {
  display: flex;
  align-content: center;
  gap: 0.5rem;
}
.bargain-quote-alert .bargain-quote-guide .bargain-quote-text[data-v-e20527e2] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #323232;
}
.bargain-quote-alert .arrow-icon[data-v-e20527e2] {
  width: 1.25rem;
  height: 1.25rem;
}
.grid[data-v-64335656] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-64335656] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-64335656] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-64335656] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-64335656] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-64335656] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-64335656] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-64335656] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-64335656] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-64335656] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-64335656] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-64335656] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-64335656] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-64335656] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-64335656] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-64335656] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-64335656] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-64335656] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-64335656] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-64335656] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-64335656] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-64335656] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-64335656] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-64335656] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-64335656] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-64335656] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-64335656] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-64335656] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-64335656] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-64335656] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-64335656] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-64335656] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-64335656] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-64335656] {
    grid-column: span 15;
  }
}
.mypage-container .mypage-title[data-v-64335656] {
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.0462rem;
  color: #323232;
  margin: 0;
  font-size: 1.5rem;
  padding: 1.875rem 0;
}
@media (min-width: 768px) {
  .mypage-container .mypage-title[data-v-64335656] {
    font-size: 2.125rem;
    padding: 3.125rem 0;
  }
}
