.usermenu-dropdown .logout[data-v-35a09b99],
.usermenu-dropdown
  div[data-name="signup-pro-control"]
  button.btn[data-v-35a09b99],
.usermenu-dropdown
  div[data-name="user-type-control"]
  button.btn[data-v-35a09b99],
.usermenu-dropdown ul[data-name="usermenu-control"][data-v-35a09b99] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-35a09b99] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-35a09b99] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-35a09b99] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-35a09b99] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-35a09b99] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-35a09b99] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-35a09b99] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-35a09b99] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-35a09b99] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-35a09b99] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-35a09b99] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-35a09b99] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-35a09b99] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-35a09b99] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-35a09b99] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-35a09b99] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-35a09b99] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-35a09b99] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-35a09b99] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-35a09b99] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-35a09b99] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-35a09b99] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-35a09b99] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-35a09b99] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-35a09b99] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-35a09b99] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-35a09b99] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-35a09b99] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-35a09b99] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-35a09b99] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-35a09b99] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-35a09b99] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-35a09b99] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-35a09b99] {
    grid-column: span 15;
  }
}
.usermenu[data-v-35a09b99] {
  position: relative;
}
.usermenu[data-v-35a09b99] .usermenu-dropdown {
  z-index: 100;
}
.usermenu[data-v-35a09b99] .usermenu-dropdown .review-average span {
  font-size: 0.875rem;
}
.usermenu-button[data-v-35a09b99] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.usermenu-button .row[data-v-35a09b99] {
  flex-wrap: nowrap;
}
.usermenu-button .user-profile-picture[data-v-35a09b99] {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.usermenu-button .user-profile-picture[data-v-35a09b99]:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0.0625rem solid #e1e1e1;
}
.usermenu-button
  .user-profile-picture.user-menu-open-pro[data-v-35a09b99]:after {
  border: 0.125rem solid #323232;
}
.usermenu-button
  .user-profile-picture.user-menu-open-customer[data-v-35a09b99]:after {
  border: 0.125rem solid #00c7ae;
}
.usermenu-dropdown[data-v-35a09b99] {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(103%);
  background-color: #fff;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 4px;
  padding: 1.3125rem;
  width: 15rem;
  overflow: visible;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
  text-align: left;
}
.usermenu-dropdown
  div[data-name="user-info"]
  h4[data-name="name"][data-v-35a09b99] {
  font-size: 1rem;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.usermenu-dropdown
  div[data-name="user-info"]
  div[data-name="review"][data-v-35a09b99] {
  cursor: pointer;
}
.usermenu-dropdown button.btn[data-v-35a09b99] {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
}
.usermenu-dropdown ul[data-name="usermenu-control"][data-v-35a09b99] {
  border-bottom: 0.0625rem solid #e1e1e1;
  margin-top: 1rem;
  margin-bottom: 1.3125rem;
  padding-bottom: 1.3125rem;
}
.usermenu-dropdown ul[data-name="usermenu-control"] li[data-v-35a09b99] {
  padding: 0.65625rem 0;
  cursor: pointer;
}
.usermenu-dropdown
  ul[data-name="usermenu-control"]
  li[data-name="membership"]
  span[data-v-35a09b99] {
  display: inline-block;
  width: 50%;
}
.usermenu-dropdown
  ul[data-name="usermenu-control"]
  li
  div[class*="col"][data-v-35a09b99] {
  color: #323232;
}
.usermenu-dropdown
  ul[data-name="usermenu-control"]
  li
  .new-feature-badge[data-v-35a09b99] {
  display: inline-block;
  vertical-align: top;
}
.usermenu-dropdown div[data-name="user-type-control"][data-v-35a09b99] {
  margin: 1.3125rem 0;
}
.usermenu-dropdown div[data-name="user-type-control"] img[data-v-35a09b99] {
  margin-right: 0.65625rem;
}
.usermenu-dropdown
  div[data-name="user-type-control"]
  button.btn[data-v-35a09b99] {
  color: #323232;
}
.usermenu-dropdown
  div[data-name="signup-pro-control"]
  button.btn[data-v-35a09b99] {
  background-color: transparent;
  border: none;
}
.usermenu-dropdown .logout[data-v-35a09b99] {
  margin: 1.3125rem -1.3125rem -1.3125rem;
  background-color: #fafafa;
}
.usermenu-dropdown .logout button.btn[data-v-35a09b99] {
  text-align: center;
}
.empty-thumbnail[data-v-35a09b99] {
  background: #e6e8f0;
  color: #646873;
  border-radius: 50%;
  text-align: center;
}
.grid[data-v-4c0deb88] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4c0deb88] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4c0deb88] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4c0deb88] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4c0deb88] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4c0deb88] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4c0deb88] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4c0deb88] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4c0deb88] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4c0deb88] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4c0deb88] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4c0deb88] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4c0deb88] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4c0deb88] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4c0deb88] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4c0deb88] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4c0deb88] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4c0deb88] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4c0deb88] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4c0deb88] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4c0deb88] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4c0deb88] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4c0deb88] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4c0deb88] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4c0deb88] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4c0deb88] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4c0deb88] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4c0deb88] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4c0deb88] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4c0deb88] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4c0deb88] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4c0deb88] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4c0deb88] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4c0deb88] {
    grid-column: span 15;
  }
}
.fade-enter-active[data-v-4c0deb88],
.fade-leave-active[data-v-4c0deb88] {
  transition: opacity 0.3s;
}
.fade-enter[data-v-4c0deb88],
.fade-leave-to[data-v-4c0deb88] {
  opacity: 1;
}
.backdrop[data-v-4c0deb88] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.3);
}
.row[data-v-4c0deb88],
[class*="col"][data-v-4c0deb88] {
  margin: 0;
  padding: 0;
}
.mobile-usermenu[data-v-4c0deb88] {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  padding: 1.25rem;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
.mobile-usermenu a[data-v-4c0deb88] {
  color: #323232;
  font-size: 1rem;
  font-weight: 500;
}
.mobile-usermenu.opened[data-v-4c0deb88] {
  transform: translateX(0);
  box-shadow: 0 0 6.25rem 0 rgba(0, 0, 0, 0.1);
}
.mobile-usermenu .header[data-v-4c0deb88] {
  text-align: right;
  padding-bottom: 1.25rem;
}
.mobile-usermenu .header button[data-v-4c0deb88] {
  border: none;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}
.mobile-usermenu .body div[data-name="user"][data-v-4c0deb88] {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-info"][data-v-4c0deb88] {
  text-align: left;
  cursor: pointer;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-info"]
  h4[data-v-4c0deb88],
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-info"]
  p[data-v-4c0deb88] {
  margin: 0;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-info"]
  h4[data-v-4c0deb88] {
  margin-bottom: 0.125rem;
  line-height: 1.57;
  font-size: 1rem;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-info"]
  p[data-v-4c0deb88] {
  color: #737373;
  line-height: 1.67;
  font-size: 0.875rem;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-info"]
  .angle-icon[data-v-4c0deb88] {
  margin: -0.0625rem 0 0.0625rem 0.1875rem;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="user-profile"]
  .user-profile-picture[data-v-4c0deb88] {
  width: 2.75rem;
  height: 2.75rem;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="provider-review"][data-v-4c0deb88] {
  margin-top: 1rem;
  text-align: left;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="provider-review"]
  > div[data-v-4c0deb88] {
  display: inline-block;
  color: #737373;
  margin-left: 1rem;
  font-size: 0.875rem;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="provider-review"]
  > div[data-v-4c0deb88]:first-child {
  margin-left: 0;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  div[data-name="provider-review"]
  > div
  strong[data-v-4c0deb88] {
  margin-left: 0.25rem;
  color: #323232;
  font-size: 1rem;
  font-weight: 500;
}
.mobile-usermenu .body div[data-name="user"] .user-controll[data-v-4c0deb88] {
  margin-top: 1.5rem;
}
.mobile-usermenu
  .body
  div[data-name="user"]
  .user-controll
  .row[data-v-4c0deb88] {
  gap: 0 0.5rem;
}
.mobile-usermenu .body nav > ul[data-v-4c0deb88] {
  padding: 0.75rem 0;
}
.mobile-usermenu .body nav .user-menu[data-v-4c0deb88] {
  border-bottom: 0.0625rem solid #f2f2f2;
}
.mobile-usermenu .body ul[data-v-4c0deb88] {
  padding: 0;
  margin: 0;
}
.mobile-usermenu .body ul li[data-v-4c0deb88] {
  line-height: 1.57;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  padding: 0.75rem 0;
}
.mobile-usermenu .body ul li .menu-title.show-dot[data-v-4c0deb88] {
  position: relative;
}
.mobile-usermenu .body ul li .menu-title.show-dot[data-v-4c0deb88]:after {
  content: "";
  position: absolute;
  top: 0.125rem;
  right: -0.5rem;
  background-color: #fa5963;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.mobile-usermenu .body ul li.change-user-type[data-v-4c0deb88] {
  padding: 1rem 0;
}
.mobile-usermenu .body ul li.change-user-type img[data-v-4c0deb88] {
  width: 0.6875rem;
  margin-left: 0.25rem;
  margin-top: -0.125rem;
}
.mobile-usermenu .body ul li .badge[data-v-4c0deb88],
.mobile-usermenu .body ul li span[data-name="menu-title"][data-v-4c0deb88] {
  vertical-align: middle;
}
.mobile-usermenu .body ul li .badge.menu-badge[data-v-4c0deb88],
.mobile-usermenu
  .body
  ul
  li
  span[data-name="menu-title"].menu-badge[data-v-4c0deb88] {
  position: relative;
}
.mobile-usermenu .body ul li .badge.menu-badge[data-v-4c0deb88]:after,
.mobile-usermenu
  .body
  ul
  li
  span[data-name="menu-title"].menu-badge[data-v-4c0deb88]:after {
  content: "";
  position: absolute;
  top: 0.125rem;
  right: -0.75rem;
  background-color: #ff3131;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.mobile-usermenu .body ul li span[data-name="menu-title"][data-v-4c0deb88] {
  position: relative;
}
.mobile-usermenu .body ul li .badge[data-v-4c0deb88] {
  font-size: 0.625rem;
  padding: 0 0.375rem;
  line-height: 1.6;
}
.mobile-usermenu
  .body
  ul
  li
  div[class*="col"][data-name="menu-value"][data-v-4c0deb88] {
  text-align: right;
}
.mobile-usermenu .body ul .router-link-active > .hidden[data-v-4c0deb88] {
  display: none;
}
.badge-count[data-v-4c0deb88] {
  border-radius: 50px;
  padding: 0 0.375rem;
  margin-left: 0.25rem;
  background-color: #fa5963;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1rem;
}
.gnb-link.is-new[data-v-4c0deb88],
.lnb-link.is-new[data-v-4c0deb88] {
  position: relative;
  padding-right: 2.375rem;
}
.gnb-link.is-new[data-v-4c0deb88]:after,
.lnb-link.is-new[data-v-4c0deb88]:after {
  margin-top: -0.625rem;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 2.125rem;
  height: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0iI0ZGRjBGMSIgd2lkdGg9IjM0IiBoZWlnaHQ9IjIwIiByeD0iNCIvPjxwYXRoIGQ9Ik02Ljk3IDE0aDEuMXYtMy40N2MwLS44LS4wOS0xLjY1LS4xNS0yLjQxaC4wNWwuNzcgMS41NEwxMS4xOCAxNGgxLjE5VjYuNjNoLTEuMXYzLjQ0YzAgLjguMDkgMS42OS4xNSAyLjQ1aC0uMDVsLS43Ny0xLjU2LTIuNDQtNC4zM0g2Ljk3VjE0em03LjE0IDBoNC40NnYtLjk4aC0zLjN2LTIuMzhoMi43di0uOThoLTIuN1Y3LjYxaDMuMTl2LS45OGgtNC4zNXptNi41NiAwaDEuNGwuOTctNC4wOWMuMTItLjU4LjI0LTEuMTMuMzUtMS42OWguMDRjLjEuNTYuMjEgMS4xMS4zNCAxLjY5bC45OSA0LjA5aDEuNDNsMS40NS03LjM3aC0xLjExbC0uNyAzLjg0Yy0uMTIuNzctLjI1IDEuNTYtLjM3IDIuMzZoLS4wNWMtLjE3LS44LS4zMy0xLjU5LS41LTIuMzZsLS45NS0zLjg0aC0xLjAzbC0uOTUgMy44NGMtLjE3Ljc4LS4zNCAxLjU3LS41IDIuMzZoLS4wNGMtLjEzLS43OS0uMjYtMS41OC0uMzktMi4zNmwtLjY5LTMuODRoLTEuMTlsMS41IDcuMzd6IiBmaWxsPSIjRkY1ODYxIi8+PC9zdmc+)
    no-repeat 50%;
}
.logout button.btn[data-v-4c0deb88],
[data-name="change-user-type"] button.btn[data-v-4c0deb88] {
  width: 100%;
  height: auto;
  border-color: #f2f2f2;
  color: #737373;
  padding: 0.375rem 0;
  font-size: 0.875rem;
  line-height: 1.63;
}
