.grid[data-v-478a3fe6] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-478a3fe6] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-478a3fe6] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-478a3fe6] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-478a3fe6] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-478a3fe6] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-478a3fe6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-478a3fe6] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-478a3fe6] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-478a3fe6] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-478a3fe6] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-478a3fe6] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-478a3fe6] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-478a3fe6] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-478a3fe6] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-478a3fe6] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-478a3fe6] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-478a3fe6] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-478a3fe6] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-478a3fe6] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-478a3fe6] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-478a3fe6] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-478a3fe6] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-478a3fe6] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-478a3fe6] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-478a3fe6] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-478a3fe6] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-478a3fe6] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-478a3fe6] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-478a3fe6] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-478a3fe6] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-478a3fe6] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-478a3fe6] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-478a3fe6] {
    grid-column: span 15;
  }
}
.template-title-form[data-v-478a3fe6] {
  margin: 1.5rem 0 1rem;
}
@media (max-width: 991.98px) {
  .template-title-form[data-v-478a3fe6] {
    margin-bottom: 1.25rem;
  }
}
.grid[data-v-d42e9676] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d42e9676] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d42e9676] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d42e9676] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d42e9676] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d42e9676] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d42e9676] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d42e9676] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d42e9676] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d42e9676] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d42e9676] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d42e9676] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d42e9676] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d42e9676] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d42e9676] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d42e9676] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d42e9676] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d42e9676] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d42e9676] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d42e9676] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d42e9676] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d42e9676] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d42e9676] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d42e9676] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d42e9676] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d42e9676] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d42e9676] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d42e9676] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d42e9676] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d42e9676] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d42e9676] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d42e9676] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d42e9676] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d42e9676] {
    grid-column: span 15;
  }
}
.template-edit-wrap[data-v-d42e9676] {
  display: flex;
  margin-top: 1rem;
  border-radius: 4px;
  background: #fafafa;
  align-items: center;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}
@media (max-width: 991.98px) {
  .template-edit-wrap[data-v-d42e9676] {
    margin-top: 1.5rem;
  }
}
.template-edit-wrap .date[data-v-d42e9676] {
  flex: 1;
  font-size: 0.875rem;
  color: #737373;
  margin: 0;
}
.template-edit-wrap .delete-btn[data-v-d42e9676],
.template-edit-wrap .edit-btn[data-v-d42e9676] {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  margin-left: 1.875rem;
  padding: 0;
}
.grid[data-v-5be6175e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5be6175e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5be6175e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5be6175e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5be6175e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5be6175e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5be6175e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5be6175e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5be6175e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5be6175e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5be6175e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5be6175e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5be6175e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5be6175e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5be6175e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5be6175e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5be6175e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5be6175e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5be6175e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5be6175e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5be6175e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5be6175e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5be6175e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5be6175e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5be6175e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5be6175e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5be6175e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5be6175e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5be6175e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5be6175e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5be6175e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5be6175e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5be6175e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5be6175e] {
    grid-column: span 15;
  }
}
.template-swipe[data-v-5be6175e] {
  display: flex;
  margin-top: 1rem;
}
.template-swipe .template-title[data-v-5be6175e] {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding: 0 0.5rem;
}
.template-swipe .template-title .title-text[data-v-5be6175e] {
  line-height: 1.5rem;
}
.test-b .template-swipe .template-title .title-text[data-v-5be6175e] {
  font-size: 0.875rem;
  font-weight: 500;
}
.template-swipe .template-title .swipe-indicator[data-v-5be6175e] {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #737373;
}
.template-swipe .swipe-nav-arrow[data-v-5be6175e] {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  align-self: center;
}
.template-swipe .swipe-nav-arrow.disabled[data-v-5be6175e] {
  pointer-events: none;
}
.template-swipe .swipe-nav-arrow.prev[data-v-5be6175e] {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE1IDVsLTcgNyA3IDciIHN0cm9rZT0iIzAwQzdBRSIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+)
    no-repeat 50%;
}
.template-swipe .swipe-nav-arrow.prev.disabled[data-v-5be6175e] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE1IDVsLTcgNyA3IDciIHN0cm9rZT0iI0UxRTFFMSIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+);
}
.template-swipe .swipe-nav-arrow.next[data-v-5be6175e] {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTkgNWw3IDctNyA3IiBzdHJva2U9IiMwMEM3QUUiIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==)
    no-repeat 50%;
}
.template-swipe .swipe-nav-arrow.next.disabled[data-v-5be6175e] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTkgNWw3IDctNyA3IiBzdHJva2U9IiNFMUUxRTEiIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
}
.grid[data-v-aa9331b2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-aa9331b2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-aa9331b2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-aa9331b2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-aa9331b2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-aa9331b2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-aa9331b2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-aa9331b2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-aa9331b2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-aa9331b2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-aa9331b2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-aa9331b2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-aa9331b2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-aa9331b2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-aa9331b2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-aa9331b2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-aa9331b2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-aa9331b2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-aa9331b2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-aa9331b2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-aa9331b2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-aa9331b2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-aa9331b2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-aa9331b2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-aa9331b2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-aa9331b2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-aa9331b2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-aa9331b2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-aa9331b2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-aa9331b2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-aa9331b2] {
    grid-column: span 15;
  }
}
.container[data-v-aa9331b2] {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.intro-wrapper[data-v-aa9331b2] {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25rem;
  flex: 1 0 15rem;
}
@media (min-width: 768px) {
  .intro-wrapper[data-v-aa9331b2] {
    text-align: center;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: 1 0 20rem;
  }
}
.service-name[data-v-aa9331b2] {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.03125rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-name[data-v-aa9331b2] {
    font-size: 2.5rem;
    line-height: 1.45;
    letter-spacing: -0.05rem;
  }
}
.review-rate-wrapper[data-v-aa9331b2] {
  display: flex;
}
.review-rate[data-v-aa9331b2] {
  align-self: center;
}
.review-rate-desc[data-v-aa9331b2] {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01875rem;
  color: #ffce21;
  padding-left: 0.3125rem;
}
.service-detail-wrapper[data-v-aa9331b2] {
  margin-top: 1.25rem;
}
.service-detail[data-v-aa9331b2] {
  display: inline-block;
  padding-right: 1.25rem;
}
@media (min-width: 768px) {
  .service-detail[data-v-aa9331b2] {
    padding-right: 1.875rem;
  }
}
.service-detail + .service-detail[data-v-aa9331b2] {
  padding-left: 1.25rem;
  border-left: 0.0625rem solid #fff;
  border-left: 0.0625rem solid hsla(0, 0%, 100%, 0.4);
}
@media (min-width: 768px) {
  .service-detail + .service-detail[data-v-aa9331b2] {
    padding-left: 1.875rem;
  }
}
.service-detail > h5[data-v-aa9331b2] {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.025rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-detail > h5[data-v-aa9331b2] {
    font-size: 1.5rem;
    line-height: 1.42;
    letter-spacing: -0.03125rem;
  }
}
.service-detail > p[data-v-aa9331b2] {
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.00625rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-detail > p[data-v-aa9331b2] {
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: -0.0125rem;
  }
}
.intro-content[data-v-aa9331b2] {
  text-align: left;
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .intro-content[data-v-aa9331b2] {
    text-align: center;
    padding: 2.5rem;
  }
}
.intro-content .intro-content-text[data-v-aa9331b2] {
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
  margin-bottom: 1.25rem;
  line-height: normal;
}
@media (min-width: 768px) {
  .intro-content .intro-content-text[data-v-aa9331b2] {
    font-size: 1.5rem;
  }
}
.intro-content > p[data-v-aa9331b2] {
  font-size: 0.875rem;
  color: #737373;
  margin: 0;
}
.request-start-btn-wrapper[data-v-aa9331b2] {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  padding: 0 0 2.5rem;
}
@media (max-width: 991.98px) {
  .request-start-btn-wrapper[data-v-aa9331b2] {
    padding: 0.875rem 1rem;
    border-top: 0.0625rem solid #f2f2f2;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}
.request-start-btn-wrapper .request-start-btn[data-v-aa9331b2] {
  background-color: #00c7ae;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 0.25rem;
  width: 100%;
  border: none;
  padding: 0.75rem 3.75rem;
}
.request-start-btn-wrapper .request-start-btn[data-v-aa9331b2]:focus {
  outline: none;
}
@media (min-width: 768px) {
  .request-start-btn-wrapper .request-start-btn[data-v-aa9331b2] {
    width: 11.25rem;
  }
}
.grid[data-v-4c14c70c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4c14c70c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4c14c70c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4c14c70c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4c14c70c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4c14c70c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4c14c70c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4c14c70c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4c14c70c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4c14c70c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4c14c70c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4c14c70c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4c14c70c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4c14c70c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4c14c70c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4c14c70c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4c14c70c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4c14c70c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4c14c70c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4c14c70c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4c14c70c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4c14c70c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4c14c70c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4c14c70c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4c14c70c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4c14c70c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4c14c70c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4c14c70c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4c14c70c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4c14c70c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4c14c70c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4c14c70c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4c14c70c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4c14c70c] {
    grid-column: span 15;
  }
}
.quote-template-detail[data-v-4c14c70c] {
  display: flex;
  flex-direction: column;
}
header h3[data-v-4c14c70c] {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0;
  margin-bottom: 0;
}
header .btn-edit-cancel[data-v-4c14c70c] {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuODYyIDYuMDMyQS43NS43NSAwIDAxNS45MjMgNC45N2w2LjA3NiA2LjA3NiA2LjA3Ny02LjA3NmEuNzUuNzUgMCAwMTEuMDYgMS4wNmwtNi4wNzYgNi4wNzcgNS45NDQgNS45NDRhLjc1Ljc1IDAgMTEtMS4wNiAxLjA2MUwxMiAxMy4xN2wtNS45NDUgNS45NDRhLjc1Ljc1IDAgMDEtMS4wNi0xLjA2bDUuOTQ0LTUuOTQ1LTYuMDc3LTYuMDc2eiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuODYyIDYuMDMyQS43NS43NSAwIDAxNS45MjMgNC45N2w2LjA3NiA2LjA3NiA2LjA3Ny02LjA3NmEuNzUuNzUgMCAwMTEuMDYgMS4wNmwtNi4wNzYgNi4wNzcgNS45NDQgNS45NDRhLjc1Ljc1IDAgMTEtMS4wNiAxLjA2MUwxMiAxMy4xN2wtNS45NDUgNS45NDRhLjc1Ljc1IDAgMDEtMS4wNi0xLjA2bDUuOTQ0LTUuOTQ1LTYuMDc3LTYuMDc2eiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
  display: flex;
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #323232;
  top: 1.75rem;
  right: 1.75rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 991.98px) {
  header .btn-edit-cancel[data-v-4c14c70c] {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.action-btn-wrap[data-v-4c14c70c] {
  position: relative;
  flex: 1;
  margin: 0;
  height: 3.5rem;
  z-index: 4;
}
.action-btn-wrap button.btn[data-v-4c14c70c] {
  height: 3.5rem;
  border-radius: 0;
}
@media (max-width: 991.98px) {
  .action-btn-wrap button.btn[data-v-4c14c70c] {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.form[data-v-4c14c70c] .cost-wrap .input-price-group {
  margin: 0 auto;
}
.form[data-v-4c14c70c] .file-wrap {
  margin-bottom: 0;
}
.grid[data-v-2dac8814] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2dac8814] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2dac8814] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2dac8814] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2dac8814] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2dac8814] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2dac8814] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2dac8814] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2dac8814] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2dac8814] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2dac8814] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2dac8814] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2dac8814] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2dac8814] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2dac8814] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2dac8814] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2dac8814] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2dac8814] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2dac8814] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2dac8814] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2dac8814] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2dac8814] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2dac8814] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2dac8814] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2dac8814] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2dac8814] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2dac8814] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2dac8814] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2dac8814] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2dac8814] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2dac8814] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2dac8814] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2dac8814] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2dac8814] {
    grid-column: span 15;
  }
}
.action-btn-portal[data-v-2dac8814] {
  flex: 1;
  margin: 0;
}
.quote-template-modal.detail .modal-body {
  padding-bottom: 3rem;
}
.grid[data-v-9d23225e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-9d23225e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-9d23225e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-9d23225e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-9d23225e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-9d23225e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-9d23225e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-9d23225e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-9d23225e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-9d23225e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-9d23225e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-9d23225e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-9d23225e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-9d23225e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-9d23225e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-9d23225e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-9d23225e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-9d23225e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-9d23225e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-9d23225e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-9d23225e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-9d23225e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-9d23225e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-9d23225e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-9d23225e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-9d23225e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-9d23225e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-9d23225e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-9d23225e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-9d23225e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-9d23225e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-9d23225e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-9d23225e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-9d23225e] {
    grid-column: span 15;
  }
}
.quote-guide-box[data-v-9d23225e] {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background: #f2f2f2;
}
@media (max-width: 991.98px) {
  .quote-guide-box[data-v-9d23225e] {
    display: block;
    margin: 1.5rem 0 0;
  }
}
.quote-guide-box .quote-guide-description[data-v-9d23225e] {
  display: flex;
}
.quote-guide-box .quote-guide-description img[data-v-9d23225e] {
  align-self: flex-start;
}
.quote-guide-box .quote-guide-description p[data-v-9d23225e] {
  margin: 0 1rem 0 0.5rem;
  line-height: normal;
  font-size: 0.875rem;
  color: #323232;
}
@media (max-width: 991.98px) {
  .quote-guide-box .quote-guide-description p[data-v-9d23225e] {
    margin: 0 0 1rem 0.5rem;
  }
}
.quote-guide-box button[data-v-9d23225e] {
  width: 8.125rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  background: #323232;
  color: #fff;
  font-size: 0.75rem;
  border: none;
}
@media (max-width: 991.98px) {
  .quote-guide-box button[data-v-9d23225e] {
    width: 100%;
    margin-top: 0;
    font-size: 0.875rem;
  }
}
.grid[data-v-c5083732] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-c5083732] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-c5083732] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-c5083732] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-c5083732] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-c5083732] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-c5083732] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-c5083732] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-c5083732] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-c5083732] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-c5083732] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-c5083732] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-c5083732] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-c5083732] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-c5083732] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-c5083732] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-c5083732] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-c5083732] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-c5083732] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-c5083732] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-c5083732] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-c5083732] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-c5083732] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-c5083732] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-c5083732] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-c5083732] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-c5083732] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-c5083732] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-c5083732] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-c5083732] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-c5083732] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-c5083732] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-c5083732] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-c5083732] {
    grid-column: span 15;
  }
}
.quote-template-item[data-v-c5083732] {
  display: flex;
  padding: 0.875rem 0;
  border-bottom: 0.0625rem solid #f2f2f2;
  cursor: pointer;
}
.quote-template-item .item-short[data-v-c5083732] {
  flex: 1;
  overflow: hidden;
  padding-right: 1rem;
}
.quote-template-item .item-short h4[data-v-c5083732],
.quote-template-item .item-short p[data-v-c5083732] {
  margin: 0;
}
.quote-template-item .item-short .form-type[data-v-c5083732] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #737373;
  margin-bottom: 0.375rem;
}
.quote-template-item .item-short .cost[data-v-c5083732],
.quote-template-item .item-short .title[data-v-c5083732] {
  font-weight: 500;
  color: #323232;
}
.quote-template-item .item-short .title[data-v-c5083732] {
  font-size: 1rem;
  line-height: 1.625rem;
}
.quote-template-item .item-short .cost[data-v-c5083732],
.quote-template-item .item-short .description[data-v-c5083732],
.quote-template-item .item-short .file-name[data-v-c5083732] {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.quote-template-item .item-short .description[data-v-c5083732],
.quote-template-item .item-short .file-name[data-v-c5083732] {
  margin-top: 0.25rem;
  color: #b5b5b5;
}
.quote-template-item .item-arrow[data-v-c5083732] {
  display: flex;
  align-self: center;
}
.grid[data-v-69bf40a2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-69bf40a2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-69bf40a2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-69bf40a2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-69bf40a2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-69bf40a2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-69bf40a2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-69bf40a2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-69bf40a2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-69bf40a2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-69bf40a2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-69bf40a2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-69bf40a2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-69bf40a2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-69bf40a2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-69bf40a2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-69bf40a2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-69bf40a2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-69bf40a2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-69bf40a2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-69bf40a2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-69bf40a2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-69bf40a2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-69bf40a2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-69bf40a2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-69bf40a2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-69bf40a2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-69bf40a2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-69bf40a2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-69bf40a2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-69bf40a2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-69bf40a2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-69bf40a2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-69bf40a2] {
    grid-column: span 15;
  }
}
.quote-template[data-v-69bf40a2] {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 991.98px) {
  .quote-template[data-v-69bf40a2] {
    height: calc(100vh - 6.625rem);
  }
}
.quote-template.modifiable[data-v-69bf40a2] {
  height: inherit;
  min-height: calc(100vh - 6.625rem);
  margin-bottom: 0;
}
.quote-template.modifiable header[data-v-69bf40a2] {
  margin: 3.25rem 0 2.1875rem;
}
@media (max-width: 991.98px) {
  .quote-template.modifiable header[data-v-69bf40a2] {
    margin: 1.875rem 0;
  }
}
.quote-template.modifiable header h3[data-v-69bf40a2] {
  font-size: 2.125rem;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .quote-template.modifiable header h3[data-v-69bf40a2] {
    font-size: 1.5rem;
  }
}
.quote-template.modifiable .quote-template-empty[data-v-69bf40a2] {
  margin-bottom: 14.6875rem;
  flex: none;
}
@media (max-width: 991.98px) {
  .quote-template.modifiable .quote-template-empty[data-v-69bf40a2] {
    margin-bottom: 5rem;
  }
}
.quote-template.modifiable
  .quote-template-empty
  .flex-style-wrap.for-ie[data-v-69bf40a2] {
  position: static;
  transform: none;
}
.quote-template.modifiable
  .quote-template-empty
  .template-empty-icon[data-v-69bf40a2] {
  margin-top: 12.5rem;
}
@media (max-width: 991.98px) {
  .quote-template.modifiable
    .quote-template-empty
    .template-empty-icon[data-v-69bf40a2] {
    margin-top: 4.8125rem;
  }
}
.quote-template .loading[data-v-69bf40a2] {
  margin: 3rem 0 2rem;
}
.quote-template .add-btn-wrap[data-v-69bf40a2] {
  width: 13.75rem;
  height: 3rem;
}
.quote-template .add-btn-wrap.empty-list[data-v-69bf40a2] {
  width: 13.4375rem;
}
@media (max-width: 991.98px) {
  .quote-template .add-btn-wrap[data-v-69bf40a2]:not(.empty-list) {
    display: none;
  }
}
.quote-template header[data-v-69bf40a2] {
  display: flex;
  align-items: center;
}
.quote-template header h3[data-v-69bf40a2] {
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0;
  flex: 1;
}
@media (max-width: 991.98px) {
  .quote-template header h3[data-v-69bf40a2] {
    margin-bottom: 1rem;
  }
}
.quote-template .quote-template-list[data-v-69bf40a2] {
  flex: 1;
}
.quote-template .quote-template-list .guide-message[data-v-69bf40a2] {
  background: #fafafa;
  border-radius: 4px;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #737373;
  font-size: 0.875rem;
  text-align: center;
}
.quote-template
  .quote-template-list
  .auto-quote-guide-message[data-v-69bf40a2] {
  background-color: #fafafa;
  border-radius: 4px;
  height: 3.75rem;
  padding: 0.625rem 1rem;
  color: #737373;
  font-size: 0.875rem;
}
.quote-template .quote-template-empty[data-v-69bf40a2] {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 3.75rem 0;
}
.quote-template .quote-template-empty .flex-style-wrap[data-v-69bf40a2] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-template .quote-template-empty .flex-style-wrap.for-ie[data-v-69bf40a2] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.quote-template .quote-template-empty .template-empty-icon[data-v-69bf40a2] {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.75rem;
}
.quote-template .quote-template-empty .title[data-v-69bf40a2] {
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
  letter-spacing: -0.01875rem;
  line-height: 1.625rem;
  margin-bottom: 0.4375rem;
}
.quote-template .quote-template-empty .description[data-v-69bf40a2] {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: -0.0125rem;
  color: #b5b5b5;
  margin-bottom: 1.5rem;
  text-align: center;
}
.quote-template .quote-template-empty .tip-wrap[data-v-69bf40a2] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.5rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 4px;
  padding: 1rem;
}
.quote-template .quote-template-empty .tip-wrap .tip-desc[data-v-69bf40a2],
.quote-template .quote-template-empty .tip-wrap .tip-title[data-v-69bf40a2] {
  font-size: 0.875rem;
  letter-spacing: -0.0125rem;
  line-height: 1.43;
  text-align: center;
}
.quote-template .quote-template-empty .tip-wrap .tip-title[data-v-69bf40a2] {
  font-weight: 700;
  color: #00c7ae;
  margin: 0.5rem 0 0.375rem;
}
.quote-template .quote-template-empty .tip-wrap .tip-desc[data-v-69bf40a2] {
  width: 100%;
  word-break: keep-all;
  margin-bottom: 1.5rem;
}
.quote-template .quote-template-empty .tip-wrap .tip-image[data-v-69bf40a2] {
  width: 100%;
  height: 3.75rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip.png?webp=1);
  background-image: -webkit-image-set(
    url("https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip.png?webp=1")
      1x,
    url("https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip@2x.png?webp=1")
      2x,
    url("https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip@3x.png?webp=1")
      3x
  );
  background-image: image-set(
    "https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip.png?webp=1"
      1x,
    "https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip@2x.png?webp=1"
      2x,
    "https://assets.cdn.soomgo.com/assets/images/img-quote-template-tip@3x.png?webp=1"
      3x
  );
}
.quote-template .btn-add-float[data-v-69bf40a2] {
  position: sticky;
  bottom: 0;
  padding-top: 6rem;
  align-self: flex-end;
}
@media (max-width: 991.98px) {
  .quote-template .btn-add-float[data-v-69bf40a2] {
    padding-top: 0;
  }
}
.quote-template .btn-add-float button[data-v-69bf40a2] {
  display: none;
  position: relative;
  border: 0;
  padding: 0.25rem;
  right: -1rem;
}
@media (max-width: 991.98px) {
  .quote-template .btn-add-float button[data-v-69bf40a2] {
    display: block;
  }
}
.quote-template .btn-add-float button img[data-v-69bf40a2] {
  width: 5.375rem;
  height: 5.375rem;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.modal.quote-template-modal .modal-content {
  height: 51.625rem;
}
.modal.quote-template-modal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
}
.modal.quote-template-modal .modal-header button.close {
  opacity: 1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTE2LjQzLjQzbDEuMTMxIDEuMTMxLTcuNDM0IDcuNDM1IDcuNDM0IDcuNDM0LTEuMTMxIDEuMTMxLTcuNDM1LTcuNDM0LTcuNDM0IDcuNDM0TC40MyAxNi40M2w3LjQzNC03LjQzNEwuNDMgMS41NjEgMS41NjEuNDNsNy40MzQgNy40MzRMMTYuNDMuNDN6IiBmaWxsPSIjMzIzMjMyIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=);
}
.modal.quote-template-modal .modal-body {
  position: static;
  padding-top: 5rem;
  overflow: auto;
}
@media (max-width: 991.98px) {
  .modal.quote-template-modal .modal-body {
    padding-top: 5.375rem;
  }
}
.grid[data-v-76fa4fd0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-76fa4fd0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-76fa4fd0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-76fa4fd0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-76fa4fd0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-76fa4fd0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-76fa4fd0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-76fa4fd0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-76fa4fd0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-76fa4fd0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-76fa4fd0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-76fa4fd0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-76fa4fd0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-76fa4fd0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-76fa4fd0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-76fa4fd0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-76fa4fd0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-76fa4fd0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-76fa4fd0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-76fa4fd0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-76fa4fd0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-76fa4fd0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-76fa4fd0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-76fa4fd0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-76fa4fd0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-76fa4fd0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-76fa4fd0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-76fa4fd0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-76fa4fd0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-76fa4fd0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-76fa4fd0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-76fa4fd0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-76fa4fd0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-76fa4fd0] {
    grid-column: span 15;
  }
}
.quote-template-button-wrap[data-v-76fa4fd0] {
  border-radius: 24px;
  border: 0.0625rem solid #e1e1e1;
}
.quote-template-button-wrap .load-template[data-v-76fa4fd0] {
  padding: 0.25rem 0.625rem 0.3125rem;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #737373;
}
.grid[data-v-6beee4b0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6beee4b0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6beee4b0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6beee4b0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6beee4b0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6beee4b0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6beee4b0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6beee4b0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6beee4b0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6beee4b0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6beee4b0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6beee4b0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6beee4b0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6beee4b0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6beee4b0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6beee4b0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6beee4b0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6beee4b0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6beee4b0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6beee4b0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6beee4b0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6beee4b0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6beee4b0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6beee4b0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6beee4b0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6beee4b0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6beee4b0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6beee4b0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6beee4b0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6beee4b0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6beee4b0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6beee4b0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6beee4b0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6beee4b0] {
    grid-column: span 15;
  }
}
.quote-template-button-wrap span[data-v-6beee4b0] {
  flex: 1;
  text-align: left;
  font-size: 0.875rem;
}
.quote-template-button-wrap button.load-template[data-v-6beee4b0] {
  display: flex;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #eafaf9;
  border-radius: 4px;
  color: #00c7ae;
  padding: 0 0.75rem;
  align-items: center;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .quote-template-button-wrap button.load-template[data-v-6beee4b0] {
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1rem;
  }
}
.quote-template-button-wrap
  button.load-template[data-v-6beee4b0]:not(.auto-quote) {
  background: #fff;
  color: #737373;
  border-radius: 0;
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 0 1.25rem;
}
.quote-template-button-wrap
  button.load-template:not(
    .auto-quote
  ).got-quote-template-test[data-v-6beee4b0] {
  height: 3rem;
}
@media (min-width: 768px) {
  .quote-template-button-wrap
    button.load-template[data-v-6beee4b0]:not(.auto-quote) {
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 8px;
    border: 0.0625rem solid #f2f2f2;
    padding: 0 1rem;
  }
  .quote-template-button-wrap
    button.load-template:not(
      .auto-quote
    ).got-quote-template-test[data-v-6beee4b0] {
    height: 2.75rem;
  }
}
.quote-template-button-wrap
  button.load-template:not(.auto-quote)
  .quote-tmpl-icon.quote[data-v-6beee4b0] {
  width: 1.125rem;
  height: 1.125rem;
}
.quote-template-button-wrap
  button.load-template:not(.auto-quote)
  .quote-tmpl-icon.arrow[data-v-6beee4b0] {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0;
}
.quote-template-button-wrap
  button.load-template
  .quote-tmpl-icon.quote[data-v-6beee4b0] {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.quote-template-button-wrap
  button.load-template
  .quote-tmpl-icon.arrow[data-v-6beee4b0] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}
.quote-template-button-wrap .quote-template-count[data-v-6beee4b0] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #00c7ae;
}
