.grid[data-v-5d4f02ce] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5d4f02ce] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5d4f02ce] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5d4f02ce] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5d4f02ce] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5d4f02ce] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5d4f02ce] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5d4f02ce] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5d4f02ce] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5d4f02ce] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5d4f02ce] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5d4f02ce] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5d4f02ce] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5d4f02ce] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5d4f02ce] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5d4f02ce] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5d4f02ce] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5d4f02ce] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5d4f02ce] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5d4f02ce] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5d4f02ce] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5d4f02ce] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5d4f02ce] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5d4f02ce] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5d4f02ce] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5d4f02ce] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5d4f02ce] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5d4f02ce] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5d4f02ce] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5d4f02ce] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5d4f02ce] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5d4f02ce] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5d4f02ce] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5d4f02ce] {
    grid-column: span 15;
  }
}
.request-quote[data-v-5d4f02ce] {
  padding: 1.5rem 1.25rem;
}
.request-quote[data-v-5d4f02ce]:has(.bargain-quote) {
  padding: 1rem 1.25rem 1.5rem;
}
.fba-btn-wrapper[data-v-5d4f02ce] {
  position: fixed;
  right: 1.25rem;
  bottom: 5rem;
  z-index: 10;
}
.fba-btn-wrapper.on-discount-btn[data-v-5d4f02ce] {
  bottom: 6.5625rem;
}
.fba-btn-wrapper .fba-btn[data-v-5d4f02ce] {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: normal;
  color: #fff;
  background-color: #323232;
  border-radius: 24px;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.2);
}
.bargain-quote[data-v-5d4f02ce] {
  margin-bottom: 1.5rem;
}
.top-button[data-v-5d4f02ce] {
  bottom: 4.4375rem;
  z-index: 0;
}
.top-button.low-qr-target[data-v-5d4f02ce] {
  bottom: 6.375rem;
}
.grid[data-v-5caa1f46] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5caa1f46] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5caa1f46] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5caa1f46] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5caa1f46] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5caa1f46] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5caa1f46] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5caa1f46] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5caa1f46] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5caa1f46] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5caa1f46] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5caa1f46] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5caa1f46] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5caa1f46] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5caa1f46] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5caa1f46] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5caa1f46] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5caa1f46] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5caa1f46] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5caa1f46] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5caa1f46] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5caa1f46] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5caa1f46] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5caa1f46] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5caa1f46] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5caa1f46] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5caa1f46] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5caa1f46] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5caa1f46] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5caa1f46] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5caa1f46] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5caa1f46] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5caa1f46] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5caa1f46] {
    grid-column: span 15;
  }
}
@media (max-width: 991.98px) {
  .quote-send[data-v-5caa1f46] {
    width: 100%;
  }
}
.quote-send .row[data-v-5caa1f46] {
  position: relative;
  height: 100%;
}
.quote-send .row > .col[data-v-5caa1f46] {
  height: calc(100vh - 4.5rem);
  padding: 1.5rem;
  overflow-y: scroll;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .quote-send .row > .col[data-v-5caa1f46] {
    height: auto;
    padding: 1.25rem 1.25rem 5rem;
    overflow-y: initial;
  }
}
.quote-send .row > .col .loading[data-v-5caa1f46] {
  text-align: center;
}
.quote-send .row > .col .loading p[data-v-5caa1f46] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #b5b5b5;
}
.quote-send .row > .col.request[data-v-5caa1f46] {
  width: 25rem;
  border-right: 0.0625rem solid #f2f2f2;
}
@media (max-width: 991.98px) {
  .quote-send .row > .col.request[data-v-5caa1f46] {
    width: 100%;
    border: none;
  }
  .quote-send .row > .col.request.hidden[data-v-5caa1f46] {
    display: none;
  }
}
.quote-send .row > .col.quote-form[data-v-5caa1f46] {
  padding-top: 3.125rem;
  padding-bottom: 4.25rem;
}
@media (max-width: 991.98px) {
  .quote-send .row > .col.quote-form[data-v-5caa1f46] {
    display: none;
    padding-top: 1.25rem;
  }
  .quote-send .row > .col.quote-form.open[data-v-5caa1f46] {
    display: block;
  }
  .quote-send
    .row
    > .col.quote-form.open[data-v-5caa1f46]
    .quote-submit-button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 4.25rem;
    font-size: 1.125rem;
    border-radius: 0;
  }
}
.quote-send .open-quote-form[data-v-5caa1f46] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 0.71875rem 1rem;
  font-size: 1.125rem;
  border-radius: 0;
}
@media (min-width: 992px) {
  .quote-send .open-quote-form[data-v-5caa1f46] {
    display: none;
  }
}
.quote-send .gnb-mobile-right[data-v-5caa1f46] {
  font-weight: 500;
  color: #b5b5b5;
  cursor: pointer;
}
