.grid[data-v-cbc4fb12] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-cbc4fb12] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-cbc4fb12] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-cbc4fb12] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-cbc4fb12] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-cbc4fb12] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-cbc4fb12] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-cbc4fb12] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-cbc4fb12] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-cbc4fb12] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-cbc4fb12] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-cbc4fb12] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-cbc4fb12] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-cbc4fb12] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-cbc4fb12] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-cbc4fb12] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-cbc4fb12] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-cbc4fb12] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-cbc4fb12] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-cbc4fb12] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-cbc4fb12] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-cbc4fb12] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-cbc4fb12] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-cbc4fb12] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-cbc4fb12] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-cbc4fb12] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-cbc4fb12] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-cbc4fb12] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-cbc4fb12] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-cbc4fb12] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-cbc4fb12] {
    grid-column: span 15;
  }
}
.sg-button[data-v-cbc4fb12] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.375;
  border-radius: 8px;
  font-weight: 500;
}
.sg-button.focus[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: transparent;
  border-color: transparent;
}
.sg-button.hover[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:hover {
  color: #00ab96;
  background-color: transparent;
  border-color: transparent;
}
.sg-button.disabled[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.sg-button:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .sg-button.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: transparent;
  border-color: transparent;
}
.sg-button:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.sg-button[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .sg-button.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.sg-button.rounded-pill[data-v-cbc4fb12] {
  border-radius: 24px !important;
}
.sg-button.is-loading[data-v-cbc4fb12] {
  cursor: wait;
  pointer-events: none;
}
.btn-xs[data-v-cbc4fb12] {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.286;
  border-radius: 6px;
  font-weight: 500;
}
.btn-xs.rounded-pill[data-v-cbc4fb12] {
  border-radius: 14px !important;
}
.btn-sm[data-v-cbc4fb12] {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.286;
  border-radius: 8px;
  font-weight: 500;
}
.btn-sm.rounded-pill[data-v-cbc4fb12] {
  border-radius: 18px !important;
}
.btn-lg[data-v-cbc4fb12] {
  padding: 0.9375rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  font-weight: 500;
}
.btn-lg.rounded-pill[data-v-cbc4fb12] {
  border-radius: 28px !important;
}
.btn-block[data-v-cbc4fb12] {
  display: flex;
}
.btn-primary.focus[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:focus {
  color: #fff;
  background-color: #00c7ae;
  border-color: #00c7ae;
}
.btn-primary.hover[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:hover {
  color: #fff;
  background-color: #00ab96;
  border-color: #00ab96;
}
.btn-primary.disabled[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle[data-v-cbc4fb12] {
  color: #fff;
  background-color: #007b74;
  border-color: #007b74;
}
.btn-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-gray.focus[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:focus {
  color: #626262;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.btn-gray.hover[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:hover {
  color: #626262;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-gray.disabled[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #626262;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
}
.btn-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-primary.focus[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: #fff;
  border-color: #00c7ae;
}
.btn-outline-primary.hover[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #00ab96;
  background-color: #fff;
  border-color: #00ab96;
  box-shadow: none;
}
.btn-outline-primary.disabled[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: #fff;
  border-color: #007b74;
}
.btn-outline-primary:not(:disabled):not(
    .disabled
  ).active[data-v-cbc4fb12]:focus,
.btn-outline-primary[data-v-cbc4fb12]:not(:disabled):not(
    .disabled
  ):active:focus,
.show > .btn-outline-primary.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-primary-gray.focus[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: #fff;
  border-color: #e2e2e2;
}
.btn-outline-primary-gray.hover[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #00ab96;
  background-color: #fff;
  border-color: #a9a9a9;
  box-shadow: none;
}
.btn-outline-primary-gray.disabled[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-primary-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: #fff;
  border-color: #787878;
}
.btn-outline-primary-gray:not(:disabled):not(
    .disabled
  ).active[data-v-cbc4fb12]:focus,
.btn-outline-primary-gray[data-v-cbc4fb12]:not(:disabled):not(
    .disabled
  ):active:focus,
.show > .btn-outline-primary-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-gray.focus[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:focus {
  color: #626262;
  background-color: #fff;
  border-color: #c5c5c5;
}
.btn-outline-gray.hover[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #626262;
  background-color: #fff;
  border-color: #888;
  box-shadow: none;
}
.btn-outline-gray.disabled[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #626262;
  background-color: #fff;
  border-color: #626262;
}
.btn-outline-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-outline-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.grid[data-v-33469302] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-33469302] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-33469302] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-33469302] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-33469302] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-33469302] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-33469302] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-33469302] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-33469302] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-33469302] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-33469302] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-33469302] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-33469302] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-33469302] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-33469302] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-33469302] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-33469302] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-33469302] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-33469302] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-33469302] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-33469302] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-33469302] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-33469302] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-33469302] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-33469302] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-33469302] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-33469302] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-33469302] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-33469302] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-33469302] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-33469302] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-33469302] {
    grid-column: span 15;
  }
}
.career-list-item[data-v-33469302] {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.career-list-item[data-v-33469302]:not(.profile) {
  cursor: pointer;
}
.career-list-item[data-v-33469302]:first-of-type {
  margin-top: 0;
}
.career-list-item.removable[data-v-33469302] {
  justify-content: space-between;
  height: 4.375rem;
}
.career-list-item .contents[data-v-33469302] {
  flex: 0 1 100%;
}
.career-list-item .contents div[data-v-33469302] {
  margin: 0.25rem 0 0;
}
.career-list-item .contents .header[data-v-33469302] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}
.career-list-item .contents .date-info[data-v-33469302] {
  font-size: 0.75rem;
  color: #737373;
}
.career-list-item .contents .description[data-v-33469302] {
  color: #b5b5b5;
  font-size: 0.875rem;
  display: -webkit-box;
  max-height: 3em;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.career-list-item .btn-wrapper .close[data-v-33469302] {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
}
.career-list-item .btn-wrapper .close > img[data-v-33469302] {
  width: 100%;
  height: 100%;
}
.career-list-item .btn-wrapper .close[data-v-33469302]:focus {
  outline: 0;
}
.career-list-item.mobile.removable[data-v-33469302] {
  height: 5rem;
}
.career-list-item.mobile .contents .header[data-v-33469302] {
  font-size: 0.875rem;
}
.career-list-item.mobile .contents .description[data-v-33469302] {
  font-size: 0.75rem;
}
@media (max-width: 991.98px) {
  .career-list-item.removable[data-v-33469302] {
    height: 5rem;
  }
  .career-list-item .contents .header[data-v-33469302] {
    font-size: 0.875rem;
  }
  .career-list-item .contents .description[data-v-33469302] {
    font-size: 0.75rem;
  }
}
.grid[data-v-9427df90] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-9427df90] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-9427df90] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-9427df90] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-9427df90] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-9427df90] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-9427df90] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-9427df90] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-9427df90] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-9427df90] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-9427df90] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-9427df90] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-9427df90] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-9427df90] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-9427df90] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-9427df90] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-9427df90] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-9427df90] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-9427df90] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-9427df90] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-9427df90] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-9427df90] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-9427df90] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-9427df90] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-9427df90] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-9427df90] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-9427df90] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-9427df90] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-9427df90] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-9427df90] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-9427df90] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-9427df90] {
    grid-column: span 15;
  }
}
.header[data-v-9427df90] {
  display: flex;
  align-items: center;
}
.header .title[data-v-9427df90] {
  font-weight: 700;
  font-size: 1rem;
  color: #00c7ae;
  line-height: normal;
  margin: 0 0 0 0.5rem;
}
.grid[data-v-f27ae8f8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-f27ae8f8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-f27ae8f8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-f27ae8f8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-f27ae8f8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-f27ae8f8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-f27ae8f8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-f27ae8f8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-f27ae8f8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-f27ae8f8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-f27ae8f8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-f27ae8f8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-f27ae8f8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-f27ae8f8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-f27ae8f8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-f27ae8f8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-f27ae8f8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-f27ae8f8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-f27ae8f8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-f27ae8f8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-f27ae8f8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-f27ae8f8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-f27ae8f8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-f27ae8f8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-f27ae8f8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-f27ae8f8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-f27ae8f8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-f27ae8f8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-f27ae8f8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-f27ae8f8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-f27ae8f8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-f27ae8f8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-f27ae8f8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-f27ae8f8] {
    grid-column: span 15;
  }
}
.banner[data-v-f27ae8f8] {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 4.875rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f6f7f9;
}
.banner.home[data-v-f27ae8f8] {
  max-height: 6.5rem;
  aspect-ratio: 970/104;
}
.banner.sent-requests[data-v-f27ae8f8] {
  max-height: 5.625rem;
  aspect-ratio: 970/90;
}
.banner.customer-chat-list[data-v-f27ae8f8],
.banner.pro-chat-list[data-v-f27ae8f8] {
  max-height: 4.75rem;
  aspect-ratio: 970/76;
}
.banner.home .image-wrapper[data-v-f27ae8f8],
.banner.sent-requests .image-wrapper[data-v-f27ae8f8] {
  width: 100%;
  height: 100%;
  margin: 0;
}
.banner.chat-room .image-wrapper[data-v-f27ae8f8],
.banner.customer-chat-list .image-wrapper[data-v-f27ae8f8],
.banner.pro-chat-list .image-wrapper[data-v-f27ae8f8],
.banner.profile .image-wrapper[data-v-f27ae8f8],
.banner.received-quotes .image-wrapper[data-v-f27ae8f8] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 21.4375rem;
  margin: 0;
}
.banner.chat-room .image-wrapper .banner-image.mobile[data-v-f27ae8f8],
.banner.customer-chat-list .image-wrapper .banner-image.mobile[data-v-f27ae8f8],
.banner.pro-chat-list .image-wrapper .banner-image.mobile[data-v-f27ae8f8],
.banner.profile .image-wrapper .banner-image.mobile[data-v-f27ae8f8],
.banner.received-quotes .image-wrapper .banner-image.mobile[data-v-f27ae8f8] {
  display: block;
}
.banner .image-wrapper .banner-image[data-v-f27ae8f8] {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.banner .image-wrapper .banner-image.pc[data-v-f27ae8f8] {
  display: block;
}
@media (max-width: 991.98px) {
  .banner .image-wrapper .banner-image.pc[data-v-f27ae8f8] {
    display: none;
  }
}
.banner .image-wrapper .banner-image.mobile[data-v-f27ae8f8] {
  display: none;
}
@media (max-width: 991.98px) {
  .banner .image-wrapper .banner-image.mobile[data-v-f27ae8f8] {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .banner.customer-chat-list[data-v-f27ae8f8],
  .banner.home[data-v-f27ae8f8],
  .banner.pro-chat-list[data-v-f27ae8f8],
  .banner.sent-requests[data-v-f27ae8f8] {
    aspect-ratio: 343/76;
  }
}
@media (max-width: 767.98px) {
  .banner.home[data-v-f27ae8f8] {
    max-height: none;
  }
}
.grid[data-v-b1c5ff5c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-b1c5ff5c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-b1c5ff5c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-b1c5ff5c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-b1c5ff5c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-b1c5ff5c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-b1c5ff5c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-b1c5ff5c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-b1c5ff5c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-b1c5ff5c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-b1c5ff5c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-b1c5ff5c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-b1c5ff5c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-b1c5ff5c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-b1c5ff5c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-b1c5ff5c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-b1c5ff5c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-b1c5ff5c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-b1c5ff5c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-b1c5ff5c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-b1c5ff5c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-b1c5ff5c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-b1c5ff5c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-b1c5ff5c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-b1c5ff5c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-b1c5ff5c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-b1c5ff5c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-b1c5ff5c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-b1c5ff5c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-b1c5ff5c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-b1c5ff5c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-b1c5ff5c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-b1c5ff5c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-b1c5ff5c] {
    grid-column: span 15;
  }
}
p.desc[data-v-b1c5ff5c] {
  text-align: center;
}
.callout[data-v-b1c5ff5c] {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: #f2f2f2;
  gap: 0.25rem;
}
.callout b[data-v-b1c5ff5c],
.callout p[data-v-b1c5ff5c] {
  line-height: 1.25rem;
}
.callout b[data-v-b1c5ff5c] {
  font-weight: 500;
}
.callout p[data-v-b1c5ff5c] {
  margin: 0;
}
.grid[data-v-436f5600] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-436f5600] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-436f5600] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-436f5600] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-436f5600] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-436f5600] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-436f5600] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-436f5600] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-436f5600] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-436f5600] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-436f5600] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-436f5600] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-436f5600] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-436f5600] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-436f5600] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-436f5600] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-436f5600] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-436f5600] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-436f5600] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-436f5600] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-436f5600] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-436f5600] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-436f5600] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-436f5600] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-436f5600] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-436f5600] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-436f5600] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-436f5600] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-436f5600] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-436f5600] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-436f5600] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-436f5600] {
    grid-column: span 15;
  }
}
.base-checkbox.custom-checkbox[data-v-436f5600] {
  padding-left: 1.875rem;
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input.is-invalid
  ~ .custom-control-label,
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:invalid
  ~ .custom-control-label {
  color: #323232;
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input.is-invalid
  ~ .custom-control-label:before,
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:invalid
  ~ .custom-control-label:before {
  background-color: transparent;
  border-color: #ccc;
}
.base-checkbox.custom-checkbox.custom-control-inline[data-v-436f5600] {
  margin-right: 0;
}
.base-checkbox.custom-checkbox[data-v-436f5600] .custom-control-label:before {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2px;
  top: 0.1875rem;
  left: -1.875rem;
  background-color: #e1e1e1;
  border: none;
}
.base-checkbox.custom-checkbox[data-v-436f5600] .custom-control-label:after {
  width: 1.25rem;
  height: 1.25rem;
  top: 0.1875rem;
  left: -1.875rem;
  background-size: 75%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIgNi4yMTlMNS4zIDkuNWw1Ljg2Ny01LjgzMyIvPjwvc3ZnPg==);
}
.base-checkbox.custom-checkbox[data-v-436f5600]
  .custom-control-input:checked
  ~ .custom-control-label:before {
  background-color: #00c7ae;
}
.base-checkbox.custom-checkbox.round[data-v-436f5600]
  .custom-control-label:before {
  border-radius: 50%;
}
.grid[data-v-25bf9f54] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-25bf9f54] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-25bf9f54] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-25bf9f54] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-25bf9f54] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-25bf9f54] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-25bf9f54] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-25bf9f54] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-25bf9f54] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-25bf9f54] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-25bf9f54] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-25bf9f54] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-25bf9f54] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-25bf9f54] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-25bf9f54] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-25bf9f54] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-25bf9f54] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-25bf9f54] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-25bf9f54] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-25bf9f54] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-25bf9f54] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-25bf9f54] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-25bf9f54] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-25bf9f54] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-25bf9f54] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-25bf9f54] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-25bf9f54] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-25bf9f54] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-25bf9f54] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-25bf9f54] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-25bf9f54] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-25bf9f54] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-25bf9f54] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-25bf9f54] {
    grid-column: span 15;
  }
}
@media (max-width: 991.98px) {
  .payment-formset-header .title[data-v-25bf9f54] {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    padding: 0.75rem 0;
    margin: 0;
  }
}
@media (max-width: 991.98px) {
  .payment-formset-header .formset-close[data-v-25bf9f54] {
    float: right;
    position: relative;
    right: 1rem;
    bottom: 2.3rem;
  }
}
.payment-formset-wrapper[data-v-25bf9f54] {
  padding: 1.25rem 0 1.25rem 1.375rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (max-width: 991.98px) {
  .payment-formset-wrapper[data-v-25bf9f54] {
    padding: 0;
  }
}
.payment-formset[data-v-25bf9f54] {
  display: grid;
  grid-template-columns: auto auto;
}
@media (max-width: 991.98px) {
  .payment-formset[data-v-25bf9f54] {
    grid-template-columns: auto;
  }
}
form > .row > div[class*="col"][data-v-25bf9f54] {
  margin-bottom: 1rem;
}
.input-group-text[data-v-25bf9f54] {
  background-color: transparent;
}
.form-control[data-v-25bf9f54] {
  font-size: 0.875rem;
}
.form-control + .input-group-append .input-group-text[data-v-25bf9f54] {
  border-color: #fff;
}
.form-control + .input-group-append .input-group-text i[data-v-25bf9f54] {
  font-size: 1.2rem;
}
.info-label[data-v-25bf9f54] {
  font-size: 0.875rem;
  font-weight: 700;
  color: #737373;
  margin-bottom: 0.75rem;
}
@media (max-width: 991.98px) {
  .info-label[data-v-25bf9f54] {
    font-size: 1rem;
    color: #323232;
  }
}
.formset-submit[data-v-25bf9f54] {
  cursor: pointer;
  font-weight: 700;
  text-align: right;
  color: #00c7ae;
  padding-top: 1.25rem;
}
.formset-submit.disabled[data-v-25bf9f54] {
  cursor: default;
  color: #b5b5b5;
}
@media (max-width: 991.98px) {
  .formset-submit.disabled[data-v-25bf9f54] {
    color: #fff;
    background-color: #b5b5b5;
  }
}
@media (max-width: 991.98px) {
  .formset-submit[data-v-25bf9f54] {
    text-align: center;
    color: #fff;
    background-color: #00c7ae;
    border-radius: 6px;
    border: 0.0625rem solid #f2f2f2;
    padding: 0.75rem 0;
    margin-top: 1.875rem;
  }
}
.card-type[data-v-25bf9f54] {
  float: right;
}
.card-type-corp[data-v-25bf9f54] {
  font-weight: 400;
  margin-left: -0.3125rem;
}
@media (max-width: 991.98px) {
  .card-type-corp[data-v-25bf9f54] {
    font-size: 1rem;
    color: #737373;
  }
}
.card-number[data-v-25bf9f54] {
  margin-right: 1.125rem;
  margin-bottom: 1.25rem;
  grid-column: 1;
  grid-row: 1;
}
@media (max-width: 991.98px) {
  .card-number[data-v-25bf9f54] {
    position: relative;
    grid-column: unset;
    grid-row: unset;
    margin: 0 0 1.25rem;
  }
}
.expiry[data-v-25bf9f54] {
  margin-bottom: 1.25rem;
  grid-column: 2;
  grid-row: 1;
}
@media (max-width: 991.98px) {
  .expiry[data-v-25bf9f54] {
    grid-column: unset;
    grid-row: unset;
  }
}
.password[data-v-25bf9f54] {
  margin-right: 1.125rem;
  grid-column: 1;
  grid-row: 2;
}
@media (max-width: 991.98px) {
  .password[data-v-25bf9f54] {
    grid-column: unset;
    grid-row: unset;
    margin: 0 0 1.25rem;
  }
}
.birth[data-v-25bf9f54] {
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 991.98px) {
  .birth[data-v-25bf9f54] {
    grid-column: unset;
    grid-row: unset;
  }
}
.delete-all[data-v-25bf9f54] {
  display: none;
}
@media (max-width: 991.98px) {
  .delete-all[data-v-25bf9f54] {
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
  }
}
@media (max-width: 991.98px) {
  .delete-all.show[data-v-25bf9f54] {
    display: block;
  }
}
.card-info-input[data-v-25bf9f54] {
  height: 3rem;
  padding: 0.75rem;
  font-size: 1rem;
}
.grid[data-v-31ee2bf4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-31ee2bf4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-31ee2bf4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-31ee2bf4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-31ee2bf4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-31ee2bf4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-31ee2bf4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-31ee2bf4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-31ee2bf4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-31ee2bf4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-31ee2bf4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-31ee2bf4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-31ee2bf4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-31ee2bf4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-31ee2bf4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-31ee2bf4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-31ee2bf4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-31ee2bf4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-31ee2bf4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-31ee2bf4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-31ee2bf4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-31ee2bf4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-31ee2bf4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-31ee2bf4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-31ee2bf4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-31ee2bf4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-31ee2bf4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-31ee2bf4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-31ee2bf4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-31ee2bf4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-31ee2bf4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-31ee2bf4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-31ee2bf4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-31ee2bf4] {
    grid-column: span 15;
  }
}
.payment-formset-wrapper[data-v-31ee2bf4] {
  padding: 0;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.payment-formset[data-v-31ee2bf4] {
  display: grid;
  grid-template-columns: auto;
}
.info-label[data-v-31ee2bf4] {
  font-weight: 500;
  font-size: 1rem;
  color: #323232;
  margin-bottom: 0.375rem;
}
.formset-submit[data-v-31ee2bf4] {
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #00c7ae;
  border-radius: 6px;
  border: 0.0625rem solid #f2f2f2;
  padding: 0.75rem 0;
}
.formset-submit.disabled[data-v-31ee2bf4] {
  cursor: default;
  background-color: #b5b5b5;
}
.card-type[data-v-31ee2bf4] {
  float: right;
}
.card-type-corp[data-v-31ee2bf4] {
  font-size: 0.875rem;
  color: #737373;
  margin-left: -0.3125rem;
}
.formset-item[data-v-31ee2bf4] {
  margin-bottom: 1.5rem;
}
.formset-item[data-v-31ee2bf4]:last-child {
  margin-bottom: 2rem;
}
.relative[data-v-31ee2bf4] {
  position: relative;
}
.delete-all[data-v-31ee2bf4] {
  display: none;
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
}
.delete-all.show[data-v-31ee2bf4] {
  display: block;
}
.card-info-input[data-v-31ee2bf4] {
  height: 3rem;
  padding: 0.75rem;
  font-size: 1rem;
}
.grid[data-v-0cfed40e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0cfed40e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0cfed40e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0cfed40e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0cfed40e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0cfed40e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0cfed40e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0cfed40e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0cfed40e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0cfed40e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0cfed40e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0cfed40e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0cfed40e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0cfed40e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0cfed40e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0cfed40e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0cfed40e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0cfed40e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0cfed40e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0cfed40e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0cfed40e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0cfed40e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0cfed40e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0cfed40e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0cfed40e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0cfed40e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0cfed40e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0cfed40e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0cfed40e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0cfed40e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0cfed40e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0cfed40e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0cfed40e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0cfed40e] {
    grid-column: span 15;
  }
}
.alert-card[data-v-0cfed40e] {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #eff4ff;
}
.alert-card .info[data-v-0cfed40e] {
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1;
}
.alert-card .alert-contents[data-v-0cfed40e] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: #323232;
}
