.grid[data-v-71844fb9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-71844fb9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-71844fb9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-71844fb9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-71844fb9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-71844fb9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-71844fb9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-71844fb9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-71844fb9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-71844fb9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-71844fb9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-71844fb9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-71844fb9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-71844fb9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-71844fb9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-71844fb9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-71844fb9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-71844fb9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-71844fb9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-71844fb9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-71844fb9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-71844fb9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-71844fb9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-71844fb9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-71844fb9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-71844fb9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-71844fb9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-71844fb9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-71844fb9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-71844fb9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-71844fb9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-71844fb9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-71844fb9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-71844fb9] {
    grid-column: span 15;
  }
}
.indicator[data-v-71844fb9] {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00c7ae;
  opacity: 0.2;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.desktop-modal-wrapper.sm {
  max-width: 17.5rem;
}
.desktop-modal-wrapper.md {
  max-width: 26.25rem;
}
.desktop-modal-wrapper > .modal-body {
  padding: 0;
}
.desktop-modal-wrapper .desktop-modal {
  padding: 2rem 1rem;
}
.grid[data-v-d1c22eda] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d1c22eda] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d1c22eda] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d1c22eda] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d1c22eda] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d1c22eda] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d1c22eda] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d1c22eda] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d1c22eda] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d1c22eda] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d1c22eda] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d1c22eda] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d1c22eda] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d1c22eda] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d1c22eda] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d1c22eda] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d1c22eda] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d1c22eda] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d1c22eda] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d1c22eda] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d1c22eda] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d1c22eda] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d1c22eda] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d1c22eda] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d1c22eda] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d1c22eda] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d1c22eda] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d1c22eda] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d1c22eda] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d1c22eda] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d1c22eda] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d1c22eda] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d1c22eda] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d1c22eda] {
    grid-column: span 15;
  }
}
.mobile-modal[data-v-d1c22eda] {
  padding: 1rem 1rem 1.5rem;
}
.grid[data-v-3ceae871] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3ceae871] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3ceae871] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3ceae871] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3ceae871] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3ceae871] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3ceae871] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3ceae871] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3ceae871] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3ceae871] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3ceae871] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3ceae871] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3ceae871] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3ceae871] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3ceae871] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3ceae871] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3ceae871] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3ceae871] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3ceae871] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3ceae871] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3ceae871] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3ceae871] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3ceae871] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3ceae871] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3ceae871] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3ceae871] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3ceae871] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3ceae871] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3ceae871] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3ceae871] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3ceae871] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3ceae871] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3ceae871] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3ceae871] {
    grid-column: span 15;
  }
}
.no-items > i[data-v-3ceae871] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
.no-items > i > img[data-v-3ceae871] {
  width: 100%;
  height: 100%;
}
.no-items > h3[data-v-3ceae871] {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  white-space: pre-line;
}
.no-items > .help-block[data-v-3ceae871] {
  color: #b5b5b5;
  white-space: break-spaces;
}
.no-items > .footer-buttons[data-v-3ceae871] {
  max-width: 13.4375rem;
}
.grid[data-v-a67a814c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a67a814c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a67a814c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a67a814c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a67a814c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a67a814c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a67a814c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a67a814c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a67a814c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a67a814c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a67a814c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a67a814c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a67a814c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a67a814c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a67a814c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a67a814c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a67a814c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a67a814c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a67a814c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a67a814c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a67a814c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a67a814c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a67a814c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a67a814c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a67a814c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a67a814c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a67a814c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a67a814c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a67a814c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a67a814c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a67a814c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a67a814c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a67a814c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a67a814c] {
    grid-column: span 15;
  }
}
.not-enough-cash .current-cash[data-v-a67a814c] {
  display: flex;
  background: #f2f2f2;
  padding: 0.75rem 0;
}
.not-enough-cash .current-cash span[data-v-a67a814c] {
  flex: 1 1 50%;
  line-height: 1.25rem;
  text-align: right;
}
.not-enough-cash .current-cash span + span[data-v-a67a814c] {
  text-align: center;
  font-weight: 500;
}
.not-enough-cash p[data-v-a67a814c] {
  text-align: center;
  margin: 1rem 0 0;
}
.grid[data-v-8191f89c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-8191f89c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-8191f89c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-8191f89c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-8191f89c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-8191f89c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-8191f89c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-8191f89c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-8191f89c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-8191f89c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-8191f89c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-8191f89c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-8191f89c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-8191f89c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-8191f89c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-8191f89c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-8191f89c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-8191f89c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-8191f89c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-8191f89c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-8191f89c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-8191f89c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-8191f89c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-8191f89c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-8191f89c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-8191f89c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-8191f89c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-8191f89c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-8191f89c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-8191f89c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-8191f89c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-8191f89c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-8191f89c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-8191f89c] {
    grid-column: span 15;
  }
}
.current-cash[data-v-8191f89c] {
  text-align: center;
  background-color: #fff;
  padding: 0.75rem 0;
  margin-bottom: 0.9375rem;
  line-height: 1.25rem;
  color: #737373;
}
.current-cash strong[data-v-8191f89c] {
  margin-left: 2.5rem;
  text-align: center;
  font-weight: 500;
  color: #323232;
}
.notify-bubble[data-v-8191f89c] {
  display: flex;
  align-items: flex-end;
  padding: 0.375rem 0.625rem;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.16);
}
.notify-bubble[data-v-8191f89c]:after {
  content: "";
  position: absolute;
  right: 47%;
  top: 2.0625rem;
  border-left: 0.4375rem solid transparent;
  border-right: 0.4375rem solid transparent;
  border-top: 0.4375rem solid #fff;
}
.notify-bubble .message[data-v-8191f89c] {
  font-size: 0.75rem;
  color: #323232;
  font-weight: 500;
  margin-left: 1.375rem;
}
.notify-bubble .message strong[data-v-8191f89c] {
  color: #faa014;
  font-weight: 700;
}
.notify-bubble.test-b[data-v-8191f89c] {
  position: absolute;
  left: 0.875rem;
  bottom: -1.5rem;
}
.notify-bubble.test-b img[data-v-8191f89c] {
  position: absolute;
  width: 1.125rem;
}
.notify-bubble.test-c[data-v-8191f89c] {
  position: absolute;
  left: 2.625rem;
  bottom: -1.5rem;
}
.notify-bubble.test-c img[data-v-8191f89c] {
  position: absolute;
  width: 1.125rem;
  bottom: 0.4375rem;
  margin-right: 0.3125rem;
}
.grid[data-v-6c878c8a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6c878c8a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6c878c8a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6c878c8a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6c878c8a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6c878c8a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6c878c8a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6c878c8a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6c878c8a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6c878c8a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6c878c8a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6c878c8a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6c878c8a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6c878c8a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6c878c8a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6c878c8a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6c878c8a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6c878c8a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6c878c8a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6c878c8a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6c878c8a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6c878c8a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6c878c8a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6c878c8a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6c878c8a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6c878c8a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6c878c8a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6c878c8a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6c878c8a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6c878c8a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6c878c8a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6c878c8a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6c878c8a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6c878c8a] {
    grid-column: span 15;
  }
}
.notification-counter[data-v-6c878c8a] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.btn-clear[data-v-6c878c8a] {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}
.badge.badge-danger[data-v-6c878c8a] {
  position: absolute;
  top: 0.1875rem;
  right: 0;
  transform: translateX(70%);
  padding: 0 0.375rem;
  border-radius: 500px;
  font-size: 0.625rem;
  line-height: 1.6;
}
.notifications-overlay[data-v-6c878c8a] {
  position: absolute;
  top: 2.375rem;
  right: -5.5rem;
  width: 21.875rem;
  height: 43.875rem;
  background: #fff;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 1.125rem 2.5rem -0.75rem rgba(50, 50, 50, 0.3);
  margin-bottom: 1rem;
  overflow: visible;
}
.notifications-overlay[data-v-6c878c8a]:before {
  content: "";
  position: absolute;
  top: -0.5625rem;
  right: 5.625rem;
  width: 1.125rem;
  height: 0.625rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMCI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOS4wNSAxbDcuODUgOC42SDEuMnoiLz48cGF0aCBzdHJva2U9IiNGMkYyRjIiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xIDlsOC04IDggOCIvPjwvZz48L3N2Zz4=)
    no-repeat;
}
@media (max-width: 991.98px) {
  .notifications-overlay[data-v-6c878c8a] {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }
  .notifications-overlay[data-v-6c878c8a]:before {
    display: none;
  }
}
.notifications-overlay .overlay-content[data-v-6c878c8a] {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.notifications-overlay .overlay-content .overlay-header[data-v-6c878c8a] {
  padding: 1.5rem 1.5rem 0.5rem;
}
@media (max-width: 991.98px) {
  .notifications-overlay .overlay-content .overlay-header[data-v-6c878c8a] {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem 1.25rem;
  }
}
.notifications-overlay
  .overlay-content
  .overlay-header
  .btn-close[data-v-6c878c8a] {
  display: none;
  padding: 0;
  margin: 0;
  border: 0;
}
.notifications-overlay
  .overlay-content
  .overlay-header
  .btn-close
  img[data-v-6c878c8a] {
  vertical-align: top;
}
@media (max-width: 991.98px) {
  .notifications-overlay
    .overlay-content
    .overlay-header
    .btn-close[data-v-6c878c8a] {
    display: block;
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.notifications-overlay .overlay-content .overlay-header h3[data-v-6c878c8a] {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.125rem;
  margin: 0;
  color: #323232;
  text-align: left;
}
@media (max-width: 991.98px) {
  .notifications-overlay .overlay-content .overlay-header h3[data-v-6c878c8a] {
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 1.625rem;
    text-align: center;
  }
}
.notifications-overlay .overlay-content .overlay-body[data-v-6c878c8a] {
  height: 100%;
  overflow: auto;
}
.grid[data-v-4c66cf88] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4c66cf88] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4c66cf88] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4c66cf88] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4c66cf88] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4c66cf88] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4c66cf88] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4c66cf88] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4c66cf88] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4c66cf88] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4c66cf88] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4c66cf88] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4c66cf88] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4c66cf88] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4c66cf88] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4c66cf88] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4c66cf88] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4c66cf88] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4c66cf88] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4c66cf88] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4c66cf88] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4c66cf88] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4c66cf88] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4c66cf88] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4c66cf88] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4c66cf88] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4c66cf88] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4c66cf88] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4c66cf88] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4c66cf88] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4c66cf88] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4c66cf88] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4c66cf88] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4c66cf88] {
    grid-column: span 15;
  }
}
.notification-counter[data-v-4c66cf88] {
  position: relative;
  cursor: pointer;
}
.notification-counter.has-badge[data-v-4c66cf88]:after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.125rem;
  background-color: #ff3131;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.btn-clear[data-v-4c66cf88] {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.badge.badge-danger[data-v-4c66cf88] {
  position: absolute;
  top: 0.1875rem;
  right: 0;
  transform: translateX(70%);
  padding: 0 0.375rem;
  border-radius: 500px;
  font-size: 0.625rem;
  line-height: 1.6;
}
.grid[data-v-69520fb2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-69520fb2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-69520fb2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-69520fb2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-69520fb2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-69520fb2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-69520fb2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-69520fb2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-69520fb2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-69520fb2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-69520fb2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-69520fb2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-69520fb2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-69520fb2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-69520fb2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-69520fb2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-69520fb2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-69520fb2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-69520fb2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-69520fb2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-69520fb2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-69520fb2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-69520fb2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-69520fb2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-69520fb2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-69520fb2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-69520fb2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-69520fb2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-69520fb2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-69520fb2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-69520fb2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-69520fb2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-69520fb2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-69520fb2] {
    grid-column: span 15;
  }
}
.nudge[data-v-69520fb2] {
  background-color: rgba(50, 50, 50, 0.9);
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: -0.01875rem;
  height: 2.75rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 2;
}
@media (min-width: 768px) {
  .nudge[data-v-69520fb2] {
    top: 2.4375rem;
    left: 8.25rem;
    width: 18.75rem;
    justify-content: center;
  }
}
.nudge-slide-mobile-enter-active[data-v-69520fb2],
.nudge-slide-pc-enter-active[data-v-69520fb2] {
  transition: transform 0.5s ease-out;
}
.nudge-slide-mobile-leave-active[data-v-69520fb2],
.nudge-slide-pc-leave-active[data-v-69520fb2] {
  transition: transform 0.5s ease-in;
}
.nudge-slide-mobile-enter[data-v-69520fb2],
.nudge-slide-mobile-leave-to[data-v-69520fb2] {
  transform: translateY(-3.75rem);
}
.nudge-slide-pc-enter[data-v-69520fb2],
.nudge-slide-pc-leave-to[data-v-69520fb2] {
  transform: translateY(-5.25rem);
}
