.grid[data-v-c859578a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-c859578a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-c859578a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-c859578a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-c859578a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-c859578a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-c859578a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-c859578a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-c859578a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-c859578a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-c859578a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-c859578a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-c859578a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-c859578a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-c859578a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-c859578a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-c859578a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-c859578a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-c859578a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-c859578a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-c859578a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-c859578a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-c859578a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-c859578a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-c859578a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-c859578a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-c859578a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-c859578a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-c859578a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-c859578a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-c859578a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-c859578a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-c859578a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-c859578a] {
    grid-column: span 15;
  }
}
.auto-charge-required[data-v-c859578a] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (min-width: 768px) {
  .auto-charge-required[data-v-c859578a] {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
.auto-charge-required > .body[data-v-c859578a] {
  margin-bottom: 0.25rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .auto-charge-required > .body[data-v-c859578a] {
    font-size: 1.125rem;
  }
}
.auto-charge-required > .body > strong[data-v-c859578a] {
  color: #005ddb;
  font-weight: 700;
}
.auto-charge-required > .show-detail[data-v-c859578a] {
  display: flex;
  margin-bottom: 0;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .auto-charge-required > .show-detail[data-v-c859578a] {
    font-size: 1rem;
  }
}
.grid[data-v-2caa5e92] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2caa5e92] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2caa5e92] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2caa5e92] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2caa5e92] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2caa5e92] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2caa5e92] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2caa5e92] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2caa5e92] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2caa5e92] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2caa5e92] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2caa5e92] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2caa5e92] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2caa5e92] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2caa5e92] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2caa5e92] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2caa5e92] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2caa5e92] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2caa5e92] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2caa5e92] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2caa5e92] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2caa5e92] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2caa5e92] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2caa5e92] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2caa5e92] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2caa5e92] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2caa5e92] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2caa5e92] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2caa5e92] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2caa5e92] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2caa5e92] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2caa5e92] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2caa5e92] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2caa5e92] {
    grid-column: span 15;
  }
}
.filter-group[data-v-2caa5e92] {
  max-width: 60.625rem;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (max-width: 991.98px) {
  .filter-group[data-v-2caa5e92] {
    position: sticky;
    top: 3.625rem;
    z-index: 1019;
    background-color: #fff;
  }
}
.filter-list[data-v-2caa5e92] {
  display: flex;
  gap: 0.375rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 991.98px) {
  .filter-list[data-v-2caa5e92] {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 0;
    overflow-y: hidden;
    padding: 0;
    gap: 0;
    width: auto;
  }
  .filter-list > li[data-v-2caa5e92] {
    white-space: normal;
    display: inline-block;
    margin-right: 0.375rem;
  }
  .filter-list > li[data-v-2caa5e92]:last-child {
    margin-right: 0;
  }
  .filter-list[data-v-2caa5e92]::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
  }
  .filter-list li[data-v-2caa5e92] {
    white-space: nowrap;
  }
  .filter-list li[data-v-2caa5e92]:first-child {
    padding-left: 1.25rem;
  }
  .filter-list li[data-v-2caa5e92]:last-child {
    margin-right: 0;
    padding-right: 1.25rem;
  }
}
.btn-reset[data-v-2caa5e92] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  padding: 0;
  background-color: transparent;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 28px;
}
@media (min-width: 768px) {
  .btn-reset[data-v-2caa5e92] {
    width: 3.25rem;
    height: 2.5rem;
  }
}
.btn-reset .icon-reset[data-v-2caa5e92] {
  width: 1rem;
  height: 1rem;
}
@media (min-width: 768px) {
  .btn-reset .icon-reset[data-v-2caa5e92] {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.grid[data-v-23fc85ee] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-23fc85ee] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-23fc85ee] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-23fc85ee] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-23fc85ee] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-23fc85ee] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-23fc85ee] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-23fc85ee] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-23fc85ee] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-23fc85ee] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-23fc85ee] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-23fc85ee] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-23fc85ee] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-23fc85ee] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-23fc85ee] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-23fc85ee] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-23fc85ee] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-23fc85ee] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-23fc85ee] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-23fc85ee] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-23fc85ee] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-23fc85ee] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-23fc85ee] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-23fc85ee] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-23fc85ee] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-23fc85ee] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-23fc85ee] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-23fc85ee] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-23fc85ee] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-23fc85ee] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-23fc85ee] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-23fc85ee] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-23fc85ee] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-23fc85ee] {
    grid-column: span 15;
  }
}
.sorting-group[data-v-23fc85ee] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
@media (min-width: 768px) {
  .sorting-group[data-v-23fc85ee] {
    max-width: 60.625rem;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}
.sorting-group .total-count[data-v-23fc85ee] {
  font-size: 0.875rem;
  color: #323232;
}
.sorting-group .btn-sorting[data-v-23fc85ee] {
  border: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 1.375rem 0 0;
  font-weight: 400;
  color: #323232;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxOGgxOFYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjMzIzMjMyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNMTQgN2wtNSA1LTUtNSIvPjwvZz48L3N2Zz4=)
    100% no-repeat;
}
.grid[data-v-2956dd96] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2956dd96] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2956dd96] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2956dd96] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2956dd96] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2956dd96] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2956dd96] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2956dd96] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2956dd96] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2956dd96] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2956dd96] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2956dd96] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2956dd96] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2956dd96] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2956dd96] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2956dd96] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2956dd96] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2956dd96] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2956dd96] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2956dd96] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2956dd96] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2956dd96] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2956dd96] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2956dd96] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2956dd96] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2956dd96] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2956dd96] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2956dd96] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2956dd96] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2956dd96] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2956dd96] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2956dd96] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2956dd96] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2956dd96] {
    grid-column: span 15;
  }
}
fieldset[data-v-2956dd96] {
  margin: 2rem 0 0;
  padding: 0 0 2rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
fieldset[data-v-2956dd96]:first-of-type {
  margin-top: 0;
}
fieldset[data-v-2956dd96]:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.form-item[data-v-2956dd96] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.form-item label[data-v-2956dd96] {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
  color: #323232;
  line-height: 1.38;
  cursor: pointer;
}
.form-item .help-text[data-v-2956dd96] {
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #999;
  line-height: 1.125rem;
}
.form-item[data-v-2956dd96]:last-of-type {
  margin-bottom: 0;
}
.form-item > [data-v-2956dd96] {
  margin: 0;
  padding: 0;
}
.help-text[data-v-2956dd96] {
  white-space: pre-wrap;
}
.service-list[data-v-2956dd96] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 0.375rem;
  margin-bottom: 0;
}
.service-list li[data-v-2956dd96] {
  white-space: nowrap;
}
.received-request-filter-modal {
  background-color: #fff;
}
@media (min-width: 768px) {
  .received-request-filter-modal {
    background-color: transparent;
  }
}
.received-request-filter-modal .modal-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem;
  background-color: #fff;
}
.received-request-filter-modal .modal-header h5 {
  font-size: 1.125rem;
  font-weight: 500;
  padding-left: 1rem;
  text-align: center;
  margin: 0;
  flex: 1;
}
@media (min-width: 992px) {
  .received-request-filter-modal .modal-header h5 {
    padding-left: 1.5rem;
  }
}
.received-request-filter-modal .modal-header .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  border: 0;
}
.received-request-filter-modal .modal-body {
  padding: 1.5rem 1rem 2.25rem;
}
@media (min-width: 768px) {
  .received-request-filter-modal .modal-body {
    max-height: 31.0625rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.received-request-filter-modal .modal-body .form-group legend {
  margin-bottom: 1.5rem;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #323232;
  font-weight: 700;
}
.received-request-filter-modal .modal-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
  border-top: 0.0625rem solid #f2f2f2;
  background-color: #fff;
}
.received-request-filter-modal .modal-footer .btn {
  flex-basis: auto;
  flex-grow: 0;
  max-width: auto;
  padding: 0;
  margin: 0;
}
.received-request-filter-modal .modal-footer .btn-reset {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.received-request-filter-modal .modal-footer .btn-apply {
  width: 5.6875rem;
  height: 2.75rem;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 500;
}
.grid[data-v-68b137e2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-68b137e2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-68b137e2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-68b137e2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-68b137e2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-68b137e2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-68b137e2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-68b137e2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-68b137e2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-68b137e2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-68b137e2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-68b137e2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-68b137e2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-68b137e2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-68b137e2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-68b137e2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-68b137e2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-68b137e2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-68b137e2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-68b137e2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-68b137e2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-68b137e2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-68b137e2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-68b137e2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-68b137e2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-68b137e2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-68b137e2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-68b137e2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-68b137e2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-68b137e2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-68b137e2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-68b137e2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-68b137e2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-68b137e2] {
    grid-column: span 15;
  }
}
fieldset[data-v-68b137e2] {
  margin: 2rem 0 0;
  padding: 0 0 2rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
fieldset[data-v-68b137e2]:first-of-type {
  margin-top: 0;
}
fieldset[data-v-68b137e2]:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.form-item[data-v-68b137e2] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.125rem;
}
.form-item label[data-v-68b137e2] {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
  color: #323232;
  line-height: 1.38;
  cursor: pointer;
}
.form-item .help-text[data-v-68b137e2] {
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #999;
  line-height: 1.125rem;
}
.form-item[data-v-68b137e2]:last-of-type {
  margin-bottom: 0;
}
.form-item > [data-v-68b137e2] {
  margin: 0;
  padding: 0;
}
.help-text[data-v-68b137e2] {
  white-space: pre-wrap;
}
.service-list[data-v-68b137e2] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 0.375rem;
  margin-bottom: 0;
}
.service-list li[data-v-68b137e2] {
  white-space: nowrap;
}
.received-request-sorting-modal {
  background-color: #fff;
}
@media (min-width: 768px) {
  .received-request-sorting-modal {
    background-color: transparent;
  }
}
.received-request-sorting-modal .modal-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem;
  background-color: #fff;
}
.received-request-sorting-modal .modal-header h5 {
  font-size: 1.125rem;
  font-weight: 500;
  padding-left: 1rem;
  text-align: center;
  margin: 0;
  flex: 1;
}
@media (min-width: 992px) {
  .received-request-sorting-modal .modal-header h5 {
    padding-left: 1.5rem;
  }
}
.received-request-sorting-modal .modal-header .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  border: 0;
}
.received-request-sorting-modal .modal-body {
  padding: 1.5rem 1rem 2.25rem;
}
@media (min-width: 768px) {
  .received-request-sorting-modal .modal-body {
    min-height: 31.0625rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.received-request-sorting-modal .modal-body .form-group legend {
  margin-bottom: 1.5rem;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #323232;
  font-weight: 700;
}
.received-request-sorting-modal .modal-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
  border-top: 0.0625rem solid #f2f2f2;
  background-color: #fff;
}
.received-request-sorting-modal .modal-footer .btn {
  flex-basis: auto;
  flex-grow: 0;
  max-width: auto;
  padding: 0;
  margin: 0;
}
.received-request-sorting-modal .modal-footer .btn-reset {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.received-request-sorting-modal .modal-footer .btn-apply {
  width: 5.6875rem;
  height: 2.75rem;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 500;
}
.grid[data-v-63c3be5c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-63c3be5c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-63c3be5c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-63c3be5c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-63c3be5c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-63c3be5c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-63c3be5c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-63c3be5c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-63c3be5c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-63c3be5c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-63c3be5c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-63c3be5c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-63c3be5c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-63c3be5c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-63c3be5c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-63c3be5c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-63c3be5c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-63c3be5c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-63c3be5c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-63c3be5c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-63c3be5c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-63c3be5c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-63c3be5c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-63c3be5c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-63c3be5c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-63c3be5c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-63c3be5c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-63c3be5c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-63c3be5c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-63c3be5c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-63c3be5c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-63c3be5c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-63c3be5c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-63c3be5c] {
    grid-column: span 15;
  }
}
.received-request-list-banner[data-v-63c3be5c] {
  display: flex;
  align-items: center;
  margin: 0.75rem 0 0 8.4375rem;
  width: 100%;
}
@media (max-width: 991.98px) {
  .received-request-list-banner[data-v-63c3be5c] {
    margin-left: -0.25rem;
  }
}
.received-request-list-banner[data-v-63c3be5c] .icon {
  margin-right: 0.125rem;
}
.received-request-list-banner[data-v-63c3be5c] .icon.fire-icon {
  margin-right: 0;
}
.received-request-list-banner[data-v-63c3be5c] .icon.fire-icon svg {
  scale: 1;
}
.received-request-list-banner[data-v-63c3be5c] .icon svg {
  vertical-align: baseline;
  scale: 1.5;
}
.received-request-list-banner .message[data-v-63c3be5c] {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  color: #888;
}
.grid[data-v-e92375ec] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-e92375ec] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-e92375ec] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-e92375ec] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-e92375ec] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-e92375ec] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-e92375ec] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-e92375ec] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-e92375ec] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-e92375ec] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-e92375ec] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-e92375ec] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-e92375ec] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-e92375ec] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-e92375ec] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-e92375ec] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-e92375ec] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-e92375ec] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-e92375ec] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-e92375ec] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-e92375ec] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-e92375ec] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-e92375ec] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-e92375ec] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-e92375ec] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-e92375ec] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-e92375ec] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-e92375ec] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-e92375ec] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-e92375ec] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-e92375ec] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-e92375ec] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-e92375ec] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-e92375ec] {
    grid-column: span 15;
  }
}
.received-request-list-discount-banner[data-v-e92375ec] {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
  margin: 0.75rem 0 0;
}
@media (min-width: 768px) {
  .received-request-list-discount-banner[data-v-e92375ec] {
    margin-left: 8.75rem;
  }
}
.received-request-list-discount-banner > div[data-v-e92375ec]:first-of-type {
  display: flex !important;
}
.received-request-list-discount-banner .message[data-v-e92375ec] {
  font-size: 0.75rem;
  font-weight: 700;
  color: #888;
}
.grid[data-v-281f94b4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-281f94b4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-281f94b4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-281f94b4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-281f94b4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-281f94b4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-281f94b4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-281f94b4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-281f94b4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-281f94b4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-281f94b4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-281f94b4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-281f94b4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-281f94b4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-281f94b4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-281f94b4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-281f94b4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-281f94b4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-281f94b4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-281f94b4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-281f94b4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-281f94b4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-281f94b4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-281f94b4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-281f94b4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-281f94b4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-281f94b4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-281f94b4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-281f94b4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-281f94b4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-281f94b4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-281f94b4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-281f94b4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-281f94b4] {
    grid-column: span 15;
  }
}
.guide-container[data-v-281f94b4] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0 5rem;
}
@media (max-width: 991.98px) {
  .guide-container[data-v-281f94b4] {
    padding-bottom: 3.75rem;
  }
}
.guide-container .title[data-v-281f94b4] {
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
  text-align: center;
  margin: 0;
}
.guide-container .title span[data-v-281f94b4] {
  display: inline-block;
}
.guide-container .title[data-v-281f94b4] :first-child {
  margin-bottom: 0.125rem;
}
.guide-container .divider[data-v-281f94b4] {
  position: relative;
  margin: 0;
  border: 0;
  border-top: 0;
  width: 13.4375rem;
  height: 0.0625rem;
  background-color: #e1e1e1;
}
.guide-container .step-container[data-v-281f94b4] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guide-container .step-container .step-badge[data-v-281f94b4] {
  width: 2.9375rem;
  height: 1.1875rem;
  padding-top: 0.0625rem;
  border-radius: 11px;
  background-color: #323232;
  font-size: 0.625rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.guide-container .step-container .message[data-v-281f94b4] {
  font-size: 0.875rem;
  line-height: 1.57;
  color: #737373;
  text-align: center;
}
.guide-container .step-container .message .link-text[data-v-281f94b4] {
  font-weight: 400;
  color: #0791b6;
  text-decoration: underline;
}
.guide-container .step-container[data-v-281f94b4]:first-of-type {
  margin: 1.875rem 0 1.5rem;
  gap: 0.3125rem;
}
.guide-container .step-container[data-v-281f94b4]:last-of-type {
  margin: 1.375rem 0 0.75rem;
  gap: 0.4375rem;
}
.guide-container .description[data-v-281f94b4] {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #999;
  text-align: center;
  margin: 0.75rem 0 0;
}
.auto-message-guide-modal-container {
  border-radius: 10px 10px 0 0 !important;
}
.auto-message-guide-modal-container > .modal-body {
  padding: 0;
}
.grid[data-v-a19c56f8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a19c56f8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a19c56f8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a19c56f8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a19c56f8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a19c56f8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a19c56f8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a19c56f8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a19c56f8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a19c56f8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a19c56f8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a19c56f8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a19c56f8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a19c56f8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a19c56f8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a19c56f8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a19c56f8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a19c56f8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a19c56f8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a19c56f8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a19c56f8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a19c56f8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a19c56f8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a19c56f8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a19c56f8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a19c56f8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a19c56f8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a19c56f8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a19c56f8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a19c56f8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a19c56f8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a19c56f8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a19c56f8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a19c56f8] {
    grid-column: span 15;
  }
}
button[data-v-a19c56f8] {
  background-color: transparent;
  border: none;
  outline: none;
}
.guide-image[data-v-a19c56f8] {
  width: 100%;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
.modal-cta[data-v-a19c56f8] {
  display: flex;
}
.modal-cta button[data-v-a19c56f8] {
  flex: 1;
  margin: 0.625rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #737373;
  line-height: 1.4375rem;
}
.modal-cta .separate-line[data-v-a19c56f8] {
  width: 0.0625rem;
  height: 1rem;
  background-color: #737373;
  margin-top: 1.375rem;
}
.date[data-v-0262b684],
.quote-btn[data-v-0262b684],
.quote .message[data-v-0262b684] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.request-target-badge[data-v-0262b684] {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.00625rem;
}
.grid[data-v-0262b684] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0262b684] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0262b684] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0262b684] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0262b684] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0262b684] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0262b684] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0262b684] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0262b684] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0262b684] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0262b684] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0262b684] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0262b684] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0262b684] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0262b684] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0262b684] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0262b684] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0262b684] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0262b684] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0262b684] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0262b684] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0262b684] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0262b684] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0262b684] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0262b684] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0262b684] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0262b684] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0262b684] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0262b684] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0262b684] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0262b684] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0262b684] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0262b684] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0262b684] {
    grid-column: span 15;
  }
}
.received-request-list h1[data-v-0262b684],
.received-request-list h2[data-v-0262b684],
.received-request-list h3[data-v-0262b684],
.received-request-list h4[data-v-0262b684],
.received-request-list h5[data-v-0262b684],
.received-request-list h6[data-v-0262b684],
.received-request-list label[data-v-0262b684],
.received-request-list p[data-v-0262b684] {
  margin-bottom: 0;
}
.received-request-list .container[data-v-0262b684] {
  max-width: 60.625rem;
  padding: 0;
}
@media (max-width: 991.98px) {
  .received-request-list .container[data-v-0262b684] {
    padding: 0 1.25rem;
  }
}
.received-request-list .container.banner[data-v-0262b684] {
  padding: 0;
}
@media (max-width: 991.98px) {
  .received-request-list .container.banner[data-v-0262b684] {
    padding: 0 1rem;
  }
}
.received-request-list .container.bargain-quote[data-v-0262b684] {
  padding: 1.5rem 0 1rem;
}
@media (max-width: 991.98px) {
  .received-request-list .container.bargain-quote[data-v-0262b684] {
    padding: 1rem;
  }
}
.received-request-list .divider[data-v-0262b684] {
  height: 0.5rem;
  background-color: #f4f4f4;
}
.received-request-list .bargain-quote .alert-title[data-v-0262b684] {
  color: #2257df;
}
.banner-wrapper[data-v-0262b684] {
  padding: 3.125rem 0 3rem;
  line-height: 0;
}
@media (max-width: 991.98px) {
  .banner-wrapper[data-v-0262b684] {
    position: relative;
    padding: 1rem 0;
  }
}
.page-header.no-request[data-v-0262b684] {
  padding-bottom: 0;
}
.page-title[data-v-0262b684] {
  padding-bottom: 1rem;
  text-align: left;
}
@media (max-width: 991.98px) {
  .page-title[data-v-0262b684] {
    padding: 1rem 0 0;
  }
}
.page-title h1[data-v-0262b684] {
  display: inline-block;
  margin-bottom: 0;
  font-size: 2.125rem;
  font-weight: 500;
  line-height: normal;
  color: #323232;
}
@media (max-width: 991.98px) {
  .page-title h1[data-v-0262b684] {
    font-size: 1.5rem;
    line-height: normal;
  }
}
.force-auth[data-v-0262b684] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.profile-img[data-v-0262b684] {
  position: relative;
  float: left;
  margin-right: 1.25rem;
}
@media (max-width: 991.98px) {
  .profile-img[data-v-0262b684] {
    margin-right: 0.75rem;
  }
}
.profile-img .user-profile-picture[data-v-0262b684] {
  width: 7.5rem;
  height: 7.5rem;
}
@media (max-width: 991.98px) {
  .profile-img .user-profile-picture[data-v-0262b684] {
    width: 5rem;
    height: 5rem;
  }
}
.page-body[data-v-0262b684] {
  padding-bottom: 5rem;
}
@media (max-width: 991.98px) {
  .page-body[data-v-0262b684] {
    padding-bottom: 4rem;
  }
}
.page-body > .container[data-v-0262b684] {
  padding: 0;
}
.pre-line[data-v-0262b684] {
  white-space: pre-line;
}
.request-list[data-v-0262b684] {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
}
.request-list .request-item[data-v-0262b684] {
  width: 100%;
  padding: 1.25rem;
  background-color: #fff;
  border-bottom: 0.06rem solid #f2f2f2;
}
.request-list .request-item.target[data-v-0262b684] {
  background-color: #fff8ed;
}
@media (max-width: 991.98px) {
  .request-list .request-item .quote-btn.del[data-v-0262b684] {
    bottom: 1.75rem;
  }
}
@media (max-width: 991.98px) {
  .request-list .request-item[data-v-0262b684] {
    padding: 1rem 1.25rem;
    border: none;
  }
}
.request-info[data-v-0262b684] {
  position: relative;
  width: 100%;
  padding-top: 0.125rem;
  margin-left: auto;
}
.request-info .title[data-v-0262b684] {
  position: relative;
  display: inline-block;
  padding-bottom: 0.188rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #323232;
}
@media (max-width: 991.98px) {
  .request-info .title[data-v-0262b684] {
    padding-bottom: 0.25rem;
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .request-info .title .name[data-v-0262b684] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 4.6875rem;
  }
}
.request-info .title[data-v-0262b684]:after {
  position: absolute;
  top: 0.7rem;
  right: -1.125rem;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  background-color: #ff3131;
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .request-info .title[data-v-0262b684]:after {
    top: 0.55rem;
    right: -0.8rem;
    width: 0.375rem;
    height: 0.375rem;
  }
}
.request-info .title.read[data-v-0262b684]:after {
  display: none;
}
.request-target-badge[data-v-0262b684] {
  position: relative;
  top: -0.125rem;
  display: inline-block;
  width: 3.563rem;
  height: 1.375rem;
  padding: 0.125rem 0.375rem;
  margin-left: 0.25rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background-color: #faa014;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .request-target-badge[data-v-0262b684] {
    top: -0.375rem;
  }
}
.request-target-badge[data-v-0262b684]:after {
  position: absolute;
  top: 0.45rem;
  right: -1.125rem;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  background-color: #ff3131;
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .request-target-badge[data-v-0262b684]:after {
    top: 0.55rem;
    right: -0.8rem;
    width: 0.375rem;
    height: 0.375rem;
  }
}
.request-target-badge.read[data-v-0262b684]:after {
  display: none;
}
.desc[data-v-0262b684] {
  padding-bottom: 0.25rem;
  line-height: 1.75rem;
  color: #737373;
}
@media (max-width: 991.98px) {
  .desc[data-v-0262b684] {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.address[data-v-0262b684] {
  padding-bottom: 0.25rem;
  color: #737373;
}
@media (max-width: 991.98px) {
  .address[data-v-0262b684] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.date[data-v-0262b684] {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.438rem;
  color: #b5b5b5;
}
@media (max-width: 991.98px) {
  .date[data-v-0262b684] {
    top: 0.25rem;
    margin-top: 0;
    font-size: 0.75rem;
  }
}
@media (max-width: 991.98px) {
  .quote[data-v-0262b684]:after {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 0.06rem;
    content: "";
    background: #f2f2f2;
  }
}
.quote .message[data-v-0262b684] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 75%;
  color: #b5b5b5;
  vertical-align: middle;
}
@media (max-width: 991.98px) {
  .quote .message[data-v-0262b684] {
    display: block;
    max-width: 70%;
    margin-top: 1.1rem;
  }
}
.quote-btn[data-v-0262b684] {
  float: right;
  padding: 0.125rem 0.75rem;
  color: #b5b5b5;
  cursor: pointer;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;
}
@media (max-width: 991.98px) {
  .quote-btn[data-v-0262b684] {
    font-size: 0.75rem;
  }
}
.quote-btn.del[data-v-0262b684] {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .quote-btn.del[data-v-0262b684] {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.125rem;
    height: 1.75rem;
    padding: 0.2rem 0.7rem;
    font-size: 0.875rem;
  }
}
.pro-interview-banner[data-v-0262b684] {
  width: 100%;
  cursor: pointer;
}
.no-request-banner[data-v-0262b684] {
  display: block;
  max-width: 60.625rem;
  margin: 0 auto 1.875rem;
}
.no-request-banner-mobile[data-v-0262b684] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.auto-charge-banner[data-v-0262b684] {
  width: 100%;
  margin-top: 0.5rem;
}
.auto-charge-banner.-mobile[data-v-0262b684] {
  display: block;
}
@media (min-width: 768px) {
  .auto-charge-banner.-mobile[data-v-0262b684] {
    display: none;
  }
}
.auto-charge-banner.-desktop[data-v-0262b684] {
  display: none;
}
@media (min-width: 768px) {
  .auto-charge-banner.-desktop[data-v-0262b684] {
    display: block;
  }
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
body.no-request-banner-body > #app {
  padding-bottom: 6.625rem;
}
@media (min-width: 768px) {
  .set-address-toast {
    min-width: 19.6875rem;
  }
}
