.grid[data-v-00a854a2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-00a854a2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-00a854a2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-00a854a2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-00a854a2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-00a854a2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-00a854a2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-00a854a2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-00a854a2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-00a854a2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-00a854a2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-00a854a2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-00a854a2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-00a854a2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-00a854a2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-00a854a2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-00a854a2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-00a854a2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-00a854a2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-00a854a2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-00a854a2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-00a854a2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-00a854a2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-00a854a2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-00a854a2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-00a854a2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-00a854a2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-00a854a2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-00a854a2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-00a854a2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-00a854a2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-00a854a2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-00a854a2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-00a854a2] {
    grid-column: span 15;
  }
}
.no-items[data-v-00a854a2] {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.no-items > i[data-v-00a854a2] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
.no-items > i > img[data-v-00a854a2] {
  width: 100%;
  height: 100%;
}
.no-items > h3[data-v-00a854a2] {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 0.3125rem;
  margin-bottom: 0;
}
.no-items .help-block[data-v-00a854a2] {
  color: #b5b5b5;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .no-items .help-block[data-v-00a854a2] {
    margin-bottom: 1.25rem;
  }
}
.tip-buttons[data-v-00a854a2] {
  max-width: 13.4375rem;
}
.recommend-service-modal .service-container .service-item .title {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.recommend-service-modal h1,
.recommend-service-modal h2,
.recommend-service-modal h3,
.recommend-service-modal h4,
.recommend-service-modal h5,
.recommend-service-modal h6,
.recommend-service-modal label,
.recommend-service-modal p {
  margin-bottom: 0;
}
.recommend-service-modal /deep/ .modal-dialog {
  max-width: 26.25rem;
  text-align: center;
}
.recommend-service-modal h4.title {
  font-weight: 400;
  line-height: 1.45;
  color: #323232;
}
.recommend-service-modal p.desc {
  margin: 0.75rem 0;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.0187rem;
  color: #999;
}
.recommend-service-modal .service-container {
  height: 22.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1.25rem;
}
.recommend-service-modal .service-container .service-item {
  margin: 0.625rem 0;
  font-size: 0;
  text-align: left;
  position: relative;
  width: 100%;
}
.recommend-service-modal .service-container .service-item .service-img {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin-right: 0.9375rem;
}
.recommend-service-modal .service-container .service-item .title {
  line-height: 2.5rem;
}
.recommend-service-modal .service-container .service-item .custom-checkbox {
  position: absolute;
  top: 0.5625rem;
  right: 0;
}
.grid[data-v-532e64e4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-532e64e4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-532e64e4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-532e64e4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-532e64e4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-532e64e4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-532e64e4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-532e64e4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-532e64e4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-532e64e4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-532e64e4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-532e64e4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-532e64e4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-532e64e4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-532e64e4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-532e64e4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-532e64e4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-532e64e4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-532e64e4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-532e64e4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-532e64e4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-532e64e4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-532e64e4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-532e64e4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-532e64e4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-532e64e4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-532e64e4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-532e64e4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-532e64e4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-532e64e4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-532e64e4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-532e64e4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-532e64e4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-532e64e4] {
    grid-column: span 15;
  }
}
.button-chip-wrap[data-v-532e64e4] {
  display: flex;
  padding: 0.3125rem 0.75rem;
  border-radius: 16px;
  border: 0.0625rem solid #e1e1e1;
  cursor: pointer;
  white-space: nowrap;
}
.button-chip-wrap.active[data-v-532e64e4] {
  border: 0;
  padding: 0.375rem 0.75rem;
  background-color: #323232;
}
.button-chip-wrap.active .text[data-v-532e64e4] {
  color: #fff;
}
.button-chip-wrap .button-delete[data-v-532e64e4] {
  width: 0.875rem;
  height: 1.25rem;
  border: 0;
  display: none;
  padding: 0.3125rem 0 0.1875rem 0.125rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5LjQzIDMuNDNsMS4xMzEgMS4xMzEtNy40MzQgNy40MzUgNy40MzQgNy40MzQtMS4xMzEgMS4xMzEtNy40MzUtNy40MzQtNy40MzQgNy40MzRMMy40MyAxOS40M2w3LjQzNC03LjQzNEwzLjQzIDQuNTYxIDQuNTYxIDMuNDNsNy40MzQgNy40MzRMMTkuNDMgMy40M3oiIGZpbGw9IiNGRkYiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 0.1875rem 0.3125rem;
  background-size: 0.75rem;
}
.button-chip-wrap.with-close .button-delete[data-v-532e64e4] {
  display: block;
}
.button-chip-wrap .text[data-v-532e64e4] {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #737373;
  cursor: pointer;
}
.grid[data-v-0cfed40e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0cfed40e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0cfed40e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0cfed40e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0cfed40e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0cfed40e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0cfed40e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0cfed40e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0cfed40e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0cfed40e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0cfed40e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0cfed40e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0cfed40e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0cfed40e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0cfed40e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0cfed40e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0cfed40e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0cfed40e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0cfed40e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0cfed40e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0cfed40e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0cfed40e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0cfed40e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0cfed40e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0cfed40e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0cfed40e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0cfed40e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0cfed40e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0cfed40e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0cfed40e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0cfed40e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0cfed40e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0cfed40e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0cfed40e] {
    grid-column: span 15;
  }
}
.alert-card[data-v-0cfed40e] {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #eff4ff;
}
.alert-card .info[data-v-0cfed40e] {
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1;
}
.alert-card .alert-contents[data-v-0cfed40e] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: #323232;
}
