.social-share-modal .modal-header {
  padding: 0.875rem 0.875rem 0;
  text-align: center;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.social-share-modal .modal-header .modal-title {
  width: 100%;
  margin-top: 0.625rem;
  font-weight: 500;
}
.social-share-modal .modal-body {
  padding: 1.5rem 0 3rem;
}
.social-share-modal .social-share-buttons {
  margin-bottom: 0;
}
.social-share-modal .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}
.social-share-modal .list-inline-item > button {
  border-radius: 50%;
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-share-modal .list-inline-item > button.url {
  background-color: #323232;
}
.social-share-modal .list-inline-item > button.facebook {
  background-color: #1778f2;
}
.social-share-modal .list-inline-item > button.twitter {
  background-color: #1da1f3;
}
.social-share-modal .list-inline-item > button.kakao {
  background-color: #fee500;
}
.service-targeted-modal .modal-dialog {
  width: 100%;
  padding: 0;
}
@media (min-width: 768px) {
  .service-targeted-modal .modal-dialog {
    width: 26.25rem;
  }
}
@media (min-width: 768px) {
  .service-targeted-modal .modal-content {
    border-radius: 0.25rem;
  }
}
.service-targeted-modal .modal-header {
  padding: 1.0625rem 1rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (min-width: 768px) {
  .service-targeted-modal .modal-header {
    padding: 1.75rem 1.75rem 0;
    border: none;
  }
}
.service-targeted-modal .modal-header button.close {
  width: 1.5rem;
  height: 1.5rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE4Ljk0MyA0TDIwIDUuMDU3IDEzLjA1NiAxMiAyMCAxOC45NDMgMTguOTQzIDIwIDEyIDEzLjA1NiA1LjA1NyAyMCA0IDE4Ljk0MyAxMC45NDMgMTIgNCA1LjA1NyA1LjA1NyA0IDEyIDEwLjk0MyAxOC45NDMgNHoiIGZpbGw9IiMzMjMyMzIiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==)
    no-repeat 50%;
  opacity: 1;
}
.service-targeted-modal .modal-header .modal-title {
  padding-left: 1.5rem;
  margin: 0 auto;
}
.service-targeted-modal .modal-body {
  padding: 1.875rem 1rem 1rem;
}
@media (min-width: 768px) {
  .service-targeted-modal .modal-body {
    padding: 1rem 1.75rem 1.75rem;
  }
}
.service-targeted-modal .service-targeted-title-wrapper {
  margin-bottom: 3rem;
  text-align: left;
}
.service-targeted-modal .service-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  padding-bottom: 3rem;
  margin: 0;
}
.service-targeted-modal .service-list-wrapper > .chip {
  display: flex;
  flex: 0 0 auto;
  gap: 0.25rem;
  align-items: center;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0.0625rem #e0e5eb;
}
@media (min-width: 768px) {
  .service-targeted-modal .service-list-wrapper > .chip:hover:not([disabled]) {
    background-color: #eff1f5;
    box-shadow: none;
  }
  .service-targeted-modal
    .service-list-wrapper
    > .chip:hover:not([disabled])
    .typography {
    color: #aab4bf !important;
  }
}
.grid[data-v-aa9331b2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-aa9331b2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-aa9331b2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-aa9331b2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-aa9331b2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-aa9331b2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-aa9331b2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-aa9331b2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-aa9331b2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-aa9331b2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-aa9331b2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-aa9331b2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-aa9331b2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-aa9331b2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-aa9331b2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-aa9331b2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-aa9331b2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-aa9331b2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-aa9331b2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-aa9331b2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-aa9331b2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-aa9331b2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-aa9331b2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-aa9331b2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-aa9331b2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-aa9331b2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-aa9331b2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-aa9331b2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-aa9331b2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-aa9331b2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-aa9331b2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-aa9331b2] {
    grid-column: span 15;
  }
}
.container[data-v-aa9331b2] {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.intro-wrapper[data-v-aa9331b2] {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25rem;
  flex: 1 0 15rem;
}
@media (min-width: 768px) {
  .intro-wrapper[data-v-aa9331b2] {
    text-align: center;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: 1 0 20rem;
  }
}
.service-name[data-v-aa9331b2] {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.03125rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-name[data-v-aa9331b2] {
    font-size: 2.5rem;
    line-height: 1.45;
    letter-spacing: -0.05rem;
  }
}
.review-rate-wrapper[data-v-aa9331b2] {
  display: flex;
}
.review-rate[data-v-aa9331b2] {
  align-self: center;
}
.review-rate-desc[data-v-aa9331b2] {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01875rem;
  color: #ffce21;
  padding-left: 0.3125rem;
}
.service-detail-wrapper[data-v-aa9331b2] {
  margin-top: 1.25rem;
}
.service-detail[data-v-aa9331b2] {
  display: inline-block;
  padding-right: 1.25rem;
}
@media (min-width: 768px) {
  .service-detail[data-v-aa9331b2] {
    padding-right: 1.875rem;
  }
}
.service-detail + .service-detail[data-v-aa9331b2] {
  padding-left: 1.25rem;
  border-left: 0.0625rem solid #fff;
  border-left: 0.0625rem solid hsla(0, 0%, 100%, 0.4);
}
@media (min-width: 768px) {
  .service-detail + .service-detail[data-v-aa9331b2] {
    padding-left: 1.875rem;
  }
}
.service-detail > h5[data-v-aa9331b2] {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.025rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-detail > h5[data-v-aa9331b2] {
    font-size: 1.5rem;
    line-height: 1.42;
    letter-spacing: -0.03125rem;
  }
}
.service-detail > p[data-v-aa9331b2] {
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.00625rem;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .service-detail > p[data-v-aa9331b2] {
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: -0.0125rem;
  }
}
.intro-content[data-v-aa9331b2] {
  text-align: left;
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .intro-content[data-v-aa9331b2] {
    text-align: center;
    padding: 2.5rem;
  }
}
.intro-content .intro-content-text[data-v-aa9331b2] {
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
  margin-bottom: 1.25rem;
  line-height: normal;
}
@media (min-width: 768px) {
  .intro-content .intro-content-text[data-v-aa9331b2] {
    font-size: 1.5rem;
  }
}
.intro-content > p[data-v-aa9331b2] {
  font-size: 0.875rem;
  color: #737373;
  margin: 0;
}
.request-start-btn-wrapper[data-v-aa9331b2] {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  padding: 0 0 2.5rem;
}
@media (max-width: 991.98px) {
  .request-start-btn-wrapper[data-v-aa9331b2] {
    padding: 0.875rem 1rem;
    border-top: 0.0625rem solid #f2f2f2;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}
.request-start-btn-wrapper .request-start-btn[data-v-aa9331b2] {
  background-color: #00c7ae;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 0.25rem;
  width: 100%;
  border: none;
  padding: 0.75rem 3.75rem;
}
.request-start-btn-wrapper .request-start-btn[data-v-aa9331b2]:focus {
  outline: none;
}
@media (min-width: 768px) {
  .request-start-btn-wrapper .request-start-btn[data-v-aa9331b2] {
    width: 11.25rem;
  }
}
.request-form-modal {
  -webkit-overflow-scrolling: touch;
}
.request-form-modal .modal-dialog {
  max-width: 35rem;
  height: 100%;
  padding: 0;
  margin: 0 auto !important;
}
.request-form-modal .modal-content {
  height: 100%;
}
@media (min-width: 768px) {
  .request-form-modal .modal-content {
    height: calc(100vh - 10rem);
    margin: auto 0;
    border-radius: 0.25rem;
  }
}
.request-form-modal .modal-body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}
.request-form-modal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 3.625rem;
  padding: 1rem;
  border: none;
}
@media (min-width: 768px) {
  .request-form-modal .modal-header {
    height: auto;
    padding: 2.5rem 2.5rem 0;
    border: none;
  }
}
.community-report-modal .modal-header .modal-title {
  font-weight: 500;
}
.community-report-modal .modal-header > .close {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTE2LjQzLjQzbDEuMTMxIDEuMTMxLTcuNDM0IDcuNDM1IDcuNDM0IDcuNDM0LTEuMTMxIDEuMTMxLTcuNDM1LTcuNDM0LTcuNDM0IDcuNDM0TC40MyAxNi40M2w3LjQzNC03LjQzNEwuNDMgMS41NjEgMS41NjEuNDNsNy40MzQgNy40MzRMMTYuNDMuNDN6IiBmaWxsPSIjMzIzMjMyIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=) !important;
}
.community-report-modal .modal-body {
  padding: 1rem 1.75rem;
}
@media (max-width: 991.98px) {
  .community-report-modal .modal-body {
    padding: 1rem;
  }
}
.community-report-modal .modal-footer {
  height: 3.5rem;
  position: static;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.community-report-modal .modal-footer .btn {
  padding: 0;
  height: 100%;
}
@media (max-width: 991.98px) {
  .community-report-modal .modal-footer {
    position: fixed;
    height: 3rem;
  }
}
.grid[data-v-18294d7c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-18294d7c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-18294d7c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-18294d7c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-18294d7c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-18294d7c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-18294d7c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-18294d7c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-18294d7c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-18294d7c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-18294d7c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-18294d7c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-18294d7c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-18294d7c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-18294d7c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-18294d7c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-18294d7c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-18294d7c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-18294d7c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-18294d7c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-18294d7c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-18294d7c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-18294d7c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-18294d7c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-18294d7c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-18294d7c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-18294d7c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-18294d7c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-18294d7c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-18294d7c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-18294d7c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-18294d7c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-18294d7c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-18294d7c] {
    grid-column: span 15;
  }
}
.community-report-modal
  .community-report-modal-body
  .information-box[data-v-18294d7c] {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem 1rem;
  border-radius: 8px;
  background-color: #f2f2f2;
}
.community-report-modal
  .community-report-modal-body
  .information-box[data-v-18294d7c]:before {
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDIwdjIwSDB6Ii8+PHBhdGggZmlsbD0iIzMyMzIzMiIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMTAgMmMtNC40MTYgMC04IDMuNTg0LTggOHMzLjU4NCA4IDggOCA4LTMuNTg0IDgtOC0zLjU4NC04LTgtOHptLjggMTJIOS4yVjkuMmgxLjZWMTR6bTAtNi40SDkuMlY2aDEuNnYxLjZ6Ii8+PC9nPjwvc3ZnPg==)
    no-repeat 50%;
  min-width: 1.25rem;
  min-height: 1.25rem;
  margin-right: 0.5rem;
}
.community-report-modal
  .community-report-modal-body
  .information-box
  .information-text[data-v-18294d7c] {
  color: #323232;
  margin: 0;
  white-space: pre-line;
}
.community-report-modal
  .community-report-modal-body
  .community-report-reason-contents[data-v-18294d7c] {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
.community-report-modal
  .community-report-modal-body
  .community-report-reason-contents
  .community-report-reason-radio-group[data-v-18294d7c] {
  margin: 0;
}
.community-report-modal
  .community-report-modal-body
  .community-report-reason-contents
  .community-report-reason-radio-group
  .community-report-reason[data-v-18294d7c] {
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem 0 1rem 2rem;
}
.community-report-modal
  .community-report-modal-body
  .community-report-reason-contents
  .community-report-reason-radio-group
  .community-report-reason
  .custom-control-label[data-v-18294d7c] {
  width: 100%;
}
.grid[data-v-68c30ab0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-68c30ab0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-68c30ab0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-68c30ab0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-68c30ab0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-68c30ab0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-68c30ab0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-68c30ab0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-68c30ab0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-68c30ab0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-68c30ab0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-68c30ab0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-68c30ab0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-68c30ab0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-68c30ab0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-68c30ab0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-68c30ab0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-68c30ab0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-68c30ab0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-68c30ab0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-68c30ab0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-68c30ab0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-68c30ab0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-68c30ab0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-68c30ab0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-68c30ab0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-68c30ab0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-68c30ab0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-68c30ab0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-68c30ab0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-68c30ab0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-68c30ab0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-68c30ab0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-68c30ab0] {
    grid-column: span 15;
  }
}
.notification[data-v-68c30ab0] {
  border-radius: 8px;
  background: #fafafa;
  padding: 0.75rem;
}
@media (min-width: 768px) {
  .notification[data-v-68c30ab0] {
    padding: 1rem;
  }
}
.notification .title[data-v-68c30ab0] {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .notification .title[data-v-68c30ab0] {
    font-size: 1rem;
  }
}
.notification p[data-v-68c30ab0] {
  position: relative;
  font-size: 0.75rem;
  color: #737373;
  margin: 0;
  padding-left: 0.6875rem;
}
@media (min-width: 768px) {
  .notification p[data-v-68c30ab0] {
    font-size: 0.875rem;
  }
}
.notification p + p[data-v-68c30ab0] {
  margin-top: 0.5rem;
}
.notification p[data-v-68c30ab0]:before {
  position: absolute;
  top: 0.5rem;
  left: 0;
  display: block;
  content: "";
  width: 0.1875rem;
  height: 0.1875rem;
  background: #737373;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .notification p[data-v-68c30ab0]:before {
    top: 0.5625rem;
  }
}
.notification .highlight[data-v-68c30ab0] {
  color: #5080fa;
}
.notification .highlight.teal[data-v-68c30ab0] {
  color: #00c7ae;
}
.grid[data-v-7a1acc1e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7a1acc1e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7a1acc1e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7a1acc1e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7a1acc1e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7a1acc1e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7a1acc1e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7a1acc1e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7a1acc1e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7a1acc1e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7a1acc1e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7a1acc1e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7a1acc1e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7a1acc1e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7a1acc1e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7a1acc1e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7a1acc1e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7a1acc1e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7a1acc1e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7a1acc1e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7a1acc1e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7a1acc1e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7a1acc1e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7a1acc1e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7a1acc1e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7a1acc1e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7a1acc1e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7a1acc1e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7a1acc1e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7a1acc1e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7a1acc1e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7a1acc1e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7a1acc1e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7a1acc1e] {
    grid-column: span 15;
  }
}
.registration-guide[data-v-7a1acc1e] {
  margin-bottom: 0.75rem;
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 8px;
  font-size: 0.875rem;
}
.registration-guide .title[data-v-7a1acc1e] {
  margin-bottom: 0.75rem;
  font-weight: 700;
  color: #00c7ae;
}
.registration-guide .title span[data-v-7a1acc1e] {
  margin-right: 0.375rem;
  padding: 0.0625rem 0.25rem 0.125rem;
  border-radius: 4px;
  background: #00c7ae;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}
.registration-guide p[data-v-7a1acc1e] {
  margin: 0;
  line-height: normal;
}
.registration-guide p.sub[data-v-7a1acc1e] {
  color: #737373;
}
.registration-guide .main-images-guide[data-v-7a1acc1e] {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem 0;
}
.registration-guide .main-images-guide .sample[data-v-7a1acc1e] {
  width: 9.3125rem;
}
.registration-guide .main-images-guide .sample img[data-v-7a1acc1e] {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.375rem;
}
.registration-guide .main-images-guide .sample .sub[data-v-7a1acc1e] {
  text-align: center;
}
.registration-guide ul[data-v-7a1acc1e] {
  margin: 0;
}
.registration-guide li[data-v-7a1acc1e]:not(:last-of-type) {
  margin-bottom: 0.25rem;
}
.registration-guide li .main[data-v-7a1acc1e] {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.registration-guide li .main[data-v-7a1acc1e]:before {
  content: "";
  width: 0.1875rem;
  height: 0.1875rem;
  margin: 0 0.40625rem 0 0.28125rem;
  border-radius: 50%;
  background: #323232;
}
.registration-guide li .sub[data-v-7a1acc1e] {
  margin-left: 0.875rem;
}
.community-move-write-page-modal,
.community-move-write-page-modal .modal-dialog {
  width: 100%;
}
.community-move-write-page-modal .modal-content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: auto;
  border-radius: 12px 12px 0 0;
}
.community-move-write-page-modal .modal-content .modal-header {
  padding: 1.125rem 0 1rem;
  border-bottom: 0.0625rem solid #f4f4f4;
}
.community-move-write-page-modal .modal-content .modal-header .modal-title {
  width: 100%;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  color: #2d2d2d;
}
.community-move-write-page-modal .modal-content .modal-header .close {
  position: absolute;
  top: 1.1875rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggc3Ryb2tlPSIjMkQyRDJEIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNS45ODMgNkwxOC4xMiAxOC4wNzNNMTguMTE5IDZMNS45ODIgMTguMDczIi8+PC9nPjwvc3ZnPg==)
    no-repeat;
  background-size: cover;
}
.community-move-write-page-modal .modal-content .modal-body {
  padding: 0;
}
.grid[data-v-1a81e613] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-1a81e613] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-1a81e613] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-1a81e613] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-1a81e613] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-1a81e613] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-1a81e613] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-1a81e613] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-1a81e613] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-1a81e613] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-1a81e613] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-1a81e613] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-1a81e613] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-1a81e613] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-1a81e613] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-1a81e613] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-1a81e613] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-1a81e613] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-1a81e613] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-1a81e613] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-1a81e613] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-1a81e613] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-1a81e613] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-1a81e613] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-1a81e613] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-1a81e613] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-1a81e613] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-1a81e613] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-1a81e613] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-1a81e613] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-1a81e613] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-1a81e613] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-1a81e613] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-1a81e613] {
    grid-column: span 15;
  }
}
.community-link-list[data-v-1a81e613] {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.community-link-list .community-link-item[data-v-1a81e613] {
  width: 100%;
}
.community-link-list
  .community-link-item
  .link-item-button-area[data-v-1a81e613] {
  width: 100%;
  padding: 0 1rem;
}
.community-link-list
  .community-link-item
  .link-item-button-area
  .link-item[data-v-1a81e613] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #f4f4f4;
  padding: 1rem 0;
}
.community-link-list
  .community-link-item
  .link-item-button-area
  .link-item.has-description[data-v-1a81e613] {
  padding: 1.375rem 0;
}
.community-link-list
  .community-link-item
  .link-item-button-area
  .link-item
  .link-item-text[data-v-1a81e613] {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.25rem;
}
.community-link-list
  .community-link-item
  .link-item-button-area
  .link-item
  .link-item-icon[data-v-1a81e613] {
  width: 1.25rem;
  height: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguODM0IDMuNjY2YS43MDguNzA4IDAgMDAtMS4wNjUuOTI5bC4wNjMuMDczIDUuMzMzIDUuMzMxLTUuMzMzIDUuMzMzYS43MDguNzA4IDAgMDAtLjA2My45M2wuMDYzLjA3MmEuNzA4LjcwOCAwIDAwLjkzLjA2NGwuMDcyLS4wNjQgNS44MzQtNS44MzNhLjcwOC43MDggMCAwMC4wNjMtLjkzbC0uMDYzLS4wNzItNS44MzQtNS44MzN6IiBmaWxsPSIjRTJFMkUyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
    no-repeat;
  background-size: cover;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
@media (max-width: 991.98px) {
  .community-first-activity-notice-modal .modal-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: auto;
    border-radius: 12px 12px 0 0;
  }
  .community-first-activity-notice-modal .modal-content .modal-header {
    padding-top: 1.5625rem;
  }
  .community-first-activity-notice-modal
    .modal-content
    .modal-header
    .modal-title {
    margin: 0;
  }
}
.community-first-activity-notice-modal .modal-header {
  text-align: center;
  white-space: pre-wrap;
  position: relative;
}
.community-first-activity-notice-modal .modal-header .modal-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #323232;
}
@media (max-width: 991.98px) {
  .community-first-activity-notice-modal .modal-header .modal-title {
    font-size: 1.125rem;
  }
}
.community-first-activity-notice-modal .modal-header .close {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
}
.community-first-activity-notice-modal .modal-body {
  padding-top: 0;
}
.grid[data-v-af4658e8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-af4658e8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-af4658e8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-af4658e8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-af4658e8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-af4658e8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-af4658e8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-af4658e8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-af4658e8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-af4658e8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-af4658e8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-af4658e8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-af4658e8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-af4658e8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-af4658e8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-af4658e8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-af4658e8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-af4658e8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-af4658e8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-af4658e8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-af4658e8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-af4658e8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-af4658e8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-af4658e8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-af4658e8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-af4658e8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-af4658e8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-af4658e8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-af4658e8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-af4658e8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-af4658e8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-af4658e8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-af4658e8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-af4658e8] {
    grid-column: span 15;
  }
}
.information-use-box[data-v-af4658e8] {
  margin: 1.875rem 0;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f4f4f4;
}
.information-use-box .information-use-content[data-v-af4658e8] {
  font-size: 1rem;
  color: #323232;
  margin-bottom: 1.5rem;
}
.information-use-box .information-use-content[data-v-af4658e8]:last-child {
  margin-bottom: 0;
}
.information-use-box .information-use-content .text[data-v-af4658e8] {
  margin-left: 0.625rem;
}
.footer-button[data-v-af4658e8] {
  margin-top: 1.875rem;
}
