.grid[data-v-112efc81] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-112efc81] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-112efc81] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-112efc81] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-112efc81] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-112efc81] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-112efc81] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-112efc81] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-112efc81] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-112efc81] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-112efc81] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-112efc81] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-112efc81] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-112efc81] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-112efc81] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-112efc81] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-112efc81] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-112efc81] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-112efc81] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-112efc81] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-112efc81] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-112efc81] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-112efc81] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-112efc81] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-112efc81] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-112efc81] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-112efc81] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-112efc81] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-112efc81] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-112efc81] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-112efc81] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-112efc81] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-112efc81] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-112efc81] {
    grid-column: span 15;
  }
}
.content[data-v-112efc81] {
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: -0.0125rem;
  color: #4e4e4e;
  margin: 1.25rem 0 0;
}
.community-container .post-detail-container .content span a,
.soomgo-life-container .post-detail-container .content span a {
  text-decoration: underline;
}
.grid[data-v-20879e20] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-20879e20] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-20879e20] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-20879e20] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-20879e20] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-20879e20] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-20879e20] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-20879e20] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-20879e20] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-20879e20] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-20879e20] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-20879e20] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-20879e20] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-20879e20] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-20879e20] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-20879e20] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-20879e20] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-20879e20] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-20879e20] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-20879e20] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-20879e20] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-20879e20] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-20879e20] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-20879e20] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-20879e20] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-20879e20] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-20879e20] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-20879e20] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-20879e20] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-20879e20] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-20879e20] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-20879e20] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-20879e20] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-20879e20] {
    grid-column: span 15;
  }
}
.medium-list[data-v-20879e20] {
  display: flex;
  height: 100%;
  margin: 1.25rem -0.125rem 0;
}
.medium-list .medium-wrapper[data-v-20879e20] {
  position: relative;
  width: 18.5rem;
  height: 18.75rem;
  flex: 0 0 18.5rem;
  margin: 0 0.25rem 1rem;
  border-radius: 12px;
}
@media (max-width: 991.98px) {
  .medium-list .medium-wrapper[data-v-20879e20] {
    flex: 0 0 18.5rem;
  }
}
.medium-list .medium-wrapper[data-v-20879e20]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18.5rem;
  height: 18.75rem;
  z-index: -1;
  border-radius: 12px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMS41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0IDQpIj48cmVjdCB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHJ4PSIzLjUiLz48Y2lyY2xlIGN4PSI4LjU1NiIgY3k9IjguNTU2IiByPSIyLjMzMyIvPjxwYXRoIGQ9Ik0yOCAxOC42NjdsLTcuNzc3LTcuNzc4TDMuMTExIDI4Ii8+PC9nPjxwYXRoIGQ9Ik0wIDBoMzZ2MzZIMHoiLz48L2c+PC9zdmc+)
    no-repeat 50% #f2f2f2;
}
.medium-list .medium-wrapper[data-v-20879e20]:first-child:last-child {
  width: 100%;
  height: 30rem;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
}
@media (max-width: 991.98px) {
  .medium-list .medium-wrapper[data-v-20879e20]:first-child:last-child {
    height: 18.75rem;
  }
}
.medium-list .medium-wrapper[data-v-20879e20]:first-child:last-child:before {
  content: "";
  position: absolute;
  width: calc(100% - 0.25rem);
  height: 30rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMS41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0IDQpIj48cmVjdCB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHJ4PSIzLjUiLz48Y2lyY2xlIGN4PSI4LjU1NiIgY3k9IjguNTU2IiByPSIyLjMzMyIvPjxwYXRoIGQ9Ik0yOCAxOC42NjdsLTcuNzc3LTcuNzc4TDMuMTExIDI4Ii8+PC9nPjxwYXRoIGQ9Ik0wIDBoMzZ2MzZIMHoiLz48L2c+PC9zdmc+)
    no-repeat 50% #f2f2f2;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .medium-list .medium-wrapper[data-v-20879e20]:first-child:last-child:before {
    height: 18.75rem;
  }
}
.medium-list .medium-wrapper:first-child:last-child.youtube[data-v-20879e20],
.medium-list
  .medium-wrapper:first-child:last-child.youtube[data-v-20879e20]:before {
  height: 21rem;
}
@media (max-width: 991.98px) {
  .medium-list .medium-wrapper:first-child:last-child.youtube[data-v-20879e20],
  .medium-list
    .medium-wrapper:first-child:last-child.youtube[data-v-20879e20]:before {
    height: 13.125rem;
  }
}
.medium-list .medium-wrapper[data-v-20879e20]:first-child {
  margin-left: 0;
}
.medium-list .medium-wrapper[data-v-20879e20]:last-child {
  margin-right: 0;
}
.medium-list .medium-wrapper.youtube[data-v-20879e20]:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxNCIgY3k9IjE0IiByPSIxNCIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuNCIgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2Utd2lkdGg9IjEuNSIvPjxwYXRoIGZpbGw9IiMwMEM3QUUiIGQ9Ik0xMCA3LjV2MTNMMjEgMTR6Ii8+PC9nPjwvc3ZnPg==)
    no-repeat 50%;
  background-size: cover;
}
.medium-list.scroll[data-v-20879e20] {
  overflow-x: scroll;
}
.medium-list[data-v-20879e20]::-webkit-scrollbar {
  height: 0.25rem;
  border-radius: 2px;
}
.medium-list[data-v-20879e20]::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #00c7ae;
}
.medium-list[data-v-20879e20]::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #e1e1e1;
}
.medium[data-v-20879e20] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}
.grid[data-v-357e395f] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-357e395f] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-357e395f] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-357e395f] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-357e395f] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-357e395f] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-357e395f] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-357e395f] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-357e395f] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-357e395f] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-357e395f] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-357e395f] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-357e395f] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-357e395f] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-357e395f] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-357e395f] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-357e395f] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-357e395f] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-357e395f] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-357e395f] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-357e395f] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-357e395f] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-357e395f] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-357e395f] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-357e395f] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-357e395f] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-357e395f] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-357e395f] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-357e395f] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-357e395f] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-357e395f] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-357e395f] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-357e395f] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-357e395f] {
    grid-column: span 15;
  }
}
.markdown-body[data-v-357e395f] {
  margin-top: 1.25rem;
  line-height: 1.6;
}
.markdown-body[data-v-357e395f] li {
  list-style: inherit !important;
}
.grid[data-v-796eb1b2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-796eb1b2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-796eb1b2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-796eb1b2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-796eb1b2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-796eb1b2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-796eb1b2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-796eb1b2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-796eb1b2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-796eb1b2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-796eb1b2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-796eb1b2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-796eb1b2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-796eb1b2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-796eb1b2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-796eb1b2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-796eb1b2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-796eb1b2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-796eb1b2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-796eb1b2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-796eb1b2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-796eb1b2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-796eb1b2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-796eb1b2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-796eb1b2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-796eb1b2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-796eb1b2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-796eb1b2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-796eb1b2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-796eb1b2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-796eb1b2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-796eb1b2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-796eb1b2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-796eb1b2] {
    grid-column: span 15;
  }
}
.body-container[data-v-796eb1b2] {
  display: flex;
  flex-direction: column;
}
.body-container .body-contents[data-v-796eb1b2] {
  margin: 2.5rem 0 3.75rem;
}
@media (max-width: 991.98px) {
  .body-container .body-contents[data-v-796eb1b2] {
    margin-bottom: 3.5rem;
  }
}
.body-container .body-contents .text[data-v-796eb1b2] {
  color: #2d2d2d;
  white-space: pre-wrap;
  margin: 0;
}
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:first-child
  .content,
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:first-child
  .medium-list,
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:first-child
  .subheading,
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:first-child
  .youtube-embedded {
  margin-top: 0;
}
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:last-child
  .content,
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:last-child
  .medium-list,
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:last-child
  .subheading,
.body-container
  .body-contents
  .contents-block[data-v-796eb1b2]:last-child
  .youtube-embedded {
  margin-bottom: 0;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.best-comments-nudge-modal .modal-content {
  width: 26.25rem;
  border-radius: 16px;
}
.best-comments-nudge-modal .modal-content .modal-body {
  padding: 0;
}
.best-comments-nudge-modal .bottom-sheet {
  display: flex;
  flex-direction: column;
  max-height: 85%;
}
.best-comments-nudge-modal .bottom-sheet .header {
  padding: 1rem 1rem 0;
}
.best-comments-nudge-modal .bottom-sheet .header .handlebar {
  width: 3.25rem;
}
.best-comments-nudge-modal .bottom-sheet .body {
  overflow-y: scroll;
}
.grid[data-v-8c8d7b12] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-8c8d7b12] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-8c8d7b12] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-8c8d7b12] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-8c8d7b12] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-8c8d7b12] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-8c8d7b12] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-8c8d7b12] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-8c8d7b12] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-8c8d7b12] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-8c8d7b12] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-8c8d7b12] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-8c8d7b12] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-8c8d7b12] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-8c8d7b12] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-8c8d7b12] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-8c8d7b12] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-8c8d7b12] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-8c8d7b12] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-8c8d7b12] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-8c8d7b12] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-8c8d7b12] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-8c8d7b12] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-8c8d7b12] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-8c8d7b12] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-8c8d7b12] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-8c8d7b12] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-8c8d7b12] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-8c8d7b12] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-8c8d7b12] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-8c8d7b12] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-8c8d7b12] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-8c8d7b12] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-8c8d7b12] {
    grid-column: span 15;
  }
}
.best-comments-nudge-modal .contents-container[data-v-8c8d7b12] {
  padding: 2.5rem 1.25rem 1.25rem;
}
@media (max-width: 991.98px) {
  .best-comments-nudge-modal .contents-container[data-v-8c8d7b12] {
    padding: 2rem 1rem 1rem;
  }
}
.best-comments-nudge-modal
  .contents-container
  .best-comments-nudge[data-v-8c8d7b12] {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.best-comments-nudge-modal
  .contents-container
  .best-comments-nudge
  h5[data-v-8c8d7b12] {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.375rem;
  text-align: center;
}
.best-comments-nudge-modal
  .contents-container
  .guide-check-list[data-v-8c8d7b12] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem 0.75rem;
  margin-bottom: 0;
  background-color: #f6f7f9;
  border-radius: 12px;
}
.best-comments-nudge-modal
  .contents-container
  .guide-check-list
  li[data-v-8c8d7b12] {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.best-comments-nudge-modal
  .contents-container
  .guide-check-list
  li
  span[data-v-8c8d7b12] {
  font-size: 1rem;
  font-weight: 500;
  color: #1c242f;
}
.best-comments-nudge-modal .contents-footer[data-v-8c8d7b12] {
  padding: 0.75rem 1.25rem 1.25rem;
}
.best-comments-nudge-modal .contents-footer .btn-confirm[data-v-8c8d7b12] {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  color: #323232;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 6px;
}
