.grid[data-v-02c066ce] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-02c066ce] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-02c066ce] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-02c066ce] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-02c066ce] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-02c066ce] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-02c066ce] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-02c066ce] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-02c066ce] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-02c066ce] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-02c066ce] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-02c066ce] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-02c066ce] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-02c066ce] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-02c066ce] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-02c066ce] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-02c066ce] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-02c066ce] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-02c066ce] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-02c066ce] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-02c066ce] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-02c066ce] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-02c066ce] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-02c066ce] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-02c066ce] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-02c066ce] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-02c066ce] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-02c066ce] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-02c066ce] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-02c066ce] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-02c066ce] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-02c066ce] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-02c066ce] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-02c066ce] {
    grid-column: span 15;
  }
}
.cover-image-wrapper[data-v-02c066ce] {
  margin: 0;
}
@media (max-width: 991.98px) {
  .cover-image-wrapper[data-v-02c066ce] {
    position: relative;
    width: calc(100% + 2rem);
    margin: 0 -1rem;
  }
  .cover-image-wrapper[data-v-02c066ce]:after {
    content: "";
    display: block;
    padding-bottom: 66.66%;
  }
}
.cover-image-wrapper .cover-image[data-v-02c066ce] {
  width: 37.5rem;
  height: 25rem;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .cover-image-wrapper .cover-image[data-v-02c066ce] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
    border-radius: unset;
  }
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
@media (min-width: 768px) {
  .modal.community-phone-auth-modal .modal-dialog {
    max-width: 23.4375rem;
  }
}
@media (min-width: 768px) {
  .modal.community-phone-auth-modal .modal-dialog .modal-content {
    height: 37.5rem;
  }
}
.modal.community-phone-auth-modal .modal-dialog .modal-content .modal-header {
  position: relative;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.modal.community-phone-auth-modal
  .modal-dialog
  .modal-content
  .modal-header
  .modal-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  color: #323232;
}
.modal.community-phone-auth-modal
  .modal-dialog
  .modal-content
  .modal-header
  .close {
  position: absolute;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.modal.community-phone-auth-modal .modal-dialog .modal-content .modal-body {
  padding: 1rem 1rem 0;
}
.grid[data-v-392ae42a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-392ae42a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-392ae42a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-392ae42a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-392ae42a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-392ae42a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-392ae42a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-392ae42a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-392ae42a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-392ae42a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-392ae42a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-392ae42a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-392ae42a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-392ae42a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-392ae42a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-392ae42a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-392ae42a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-392ae42a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-392ae42a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-392ae42a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-392ae42a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-392ae42a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-392ae42a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-392ae42a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-392ae42a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-392ae42a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-392ae42a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-392ae42a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-392ae42a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-392ae42a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-392ae42a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-392ae42a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-392ae42a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-392ae42a] {
    grid-column: span 15;
  }
}
.community-phone-auth-modal .modal-form[data-v-392ae42a] {
  margin-bottom: 5rem;
}
.community-phone-auth-modal .modal-form .notification[data-v-392ae42a] {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #eff4ff;
  margin-bottom: 2rem;
}
.community-phone-auth-modal
  .modal-form
  .notification
  .notification-title[data-v-392ae42a] {
  flex: 1 1 0;
  font-size: 0.875rem;
  color: #323232;
}
.grid[data-v-32970c25] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-32970c25] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-32970c25] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-32970c25] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-32970c25] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-32970c25] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-32970c25] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-32970c25] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-32970c25] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-32970c25] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-32970c25] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-32970c25] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-32970c25] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-32970c25] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-32970c25] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-32970c25] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-32970c25] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-32970c25] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-32970c25] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-32970c25] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-32970c25] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-32970c25] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-32970c25] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-32970c25] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-32970c25] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-32970c25] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-32970c25] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-32970c25] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-32970c25] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-32970c25] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-32970c25] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-32970c25] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-32970c25] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-32970c25] {
    grid-column: span 15;
  }
}
.write[data-v-32970c25] {
  width: 1.125rem;
  height: 1.125rem;
  background-image: url(https://assets.cdn.soomgo.com/icons/icon-board-create.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.25rem;
}
@media (max-width: 991.98px) {
  .write[data-v-32970c25] {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0;
  }
}
.write-button[data-v-32970c25] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 2.75rem;
  border: none;
  border-radius: 6px;
}
@media (max-width: 991.98px) {
  .write-button[data-v-32970c25] {
    display: none;
  }
}
.write-button-desktop .b-dropdown[data-v-32970c25] button.btn.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 2.75rem;
  background-color: #00c7ae;
  border: none;
  border-radius: 6px;
}
@media (max-width: 991.98px) {
  .write-button-desktop
    .b-dropdown[data-v-32970c25]
    button.btn.dropdown-toggle {
    display: none;
  }
}
.write-button-desktop
  .b-dropdown[data-v-32970c25]
  button.btn.dropdown-toggle:after {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.25rem;
  border: 0;
  background-image: url(https://assets.cdn.soomgo.com/icons/icon-board-create.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .write-button-desktop
    .b-dropdown[data-v-32970c25]
    button.btn.dropdown-toggle:after {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0;
  }
}
.write-button-desktop .b-dropdown[data-v-32970c25] .dropdown-menu {
  width: 20rem;
  padding: 0.5rem 0;
  margin-top: 0.875rem;
  text-align: center;
  border: 0.0625rem solid #e1e1e1;
}
.write-button-desktop
  .b-dropdown[data-v-32970c25]
  .dropdown-menu
  .dropdown-item {
  padding: 0;
}
.write-button-desktop .dropdown-menu-item[data-v-32970c25] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 1.25rem;
}
.write-button-desktop .dropdown-menu-item[data-v-32970c25]:hover {
  color: #fff;
  background-color: #fafafa;
}
.write-button-desktop .dropdown-menu-item-text[data-v-32970c25] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}
.write-button-desktop .dropdown-menu-item-icon[data-v-32970c25] {
  width: 1.25rem;
  height: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguODM0IDMuNjY2YS43MDguNzA4IDAgMDAtMS4wNjUuOTI5bC4wNjMuMDczIDUuMzMzIDUuMzMxLTUuMzMzIDUuMzMzYS43MDguNzA4IDAgMDAtLjA2My45M2wuMDYzLjA3MmEuNzA4LjcwOCAwIDAwLjkzLjA2NGwuMDcyLS4wNjQgNS44MzQtNS44MzNhLjcwOC43MDggMCAwMC4wNjMtLjkzbC0uMDYzLS4wNzItNS44MzQtNS44MzN6IiBmaWxsPSIjRTJFMkUyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
    no-repeat;
  background-size: cover;
}
.grid[data-v-3ffd0fba] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3ffd0fba] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3ffd0fba] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3ffd0fba] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3ffd0fba] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3ffd0fba] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3ffd0fba] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3ffd0fba] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3ffd0fba] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3ffd0fba] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3ffd0fba] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3ffd0fba] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3ffd0fba] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3ffd0fba] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3ffd0fba] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3ffd0fba] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3ffd0fba] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3ffd0fba] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3ffd0fba] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3ffd0fba] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3ffd0fba] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3ffd0fba] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3ffd0fba] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3ffd0fba] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3ffd0fba] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3ffd0fba] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3ffd0fba] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3ffd0fba] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3ffd0fba] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3ffd0fba] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3ffd0fba] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3ffd0fba] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3ffd0fba] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3ffd0fba] {
    grid-column: span 15;
  }
}
.write[data-v-3ffd0fba] {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(https://assets.cdn.soomgo.com/icons/icon-board-create.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.25rem;
}
@media (max-width: 991.98px) {
  .write[data-v-3ffd0fba] {
    margin-left: 0;
  }
}
.write-cta[data-v-3ffd0fba] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 28px;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.write-cta.test-b[data-v-3ffd0fba] {
  bottom: 1.5rem;
  width: 3.25rem;
  height: 3.25rem;
  box-shadow: 0 0.3125rem 0.75rem 0 rgba(0, 0, 0, 0.2);
  background-color: #2d2d2d;
  border: 0;
}
@media (min-width: 768px) {
  .write-cta[data-v-3ffd0fba] {
    display: none;
  }
}
.grid[data-v-6e832d9f] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6e832d9f] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6e832d9f] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6e832d9f] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6e832d9f] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6e832d9f] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6e832d9f] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6e832d9f] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6e832d9f] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6e832d9f] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6e832d9f] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6e832d9f] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6e832d9f] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6e832d9f] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6e832d9f] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6e832d9f] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6e832d9f] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6e832d9f] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6e832d9f] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6e832d9f] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6e832d9f] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6e832d9f] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6e832d9f] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6e832d9f] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6e832d9f] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6e832d9f] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6e832d9f] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6e832d9f] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6e832d9f] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6e832d9f] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6e832d9f] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6e832d9f] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6e832d9f] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6e832d9f] {
    grid-column: span 15;
  }
}
li[data-v-6e832d9f] {
  display: flex;
}
@media (max-width: 991.98px) {
  li[data-v-6e832d9f] {
    width: 50%;
  }
  li .link-text[data-v-6e832d9f] {
    width: 100%;
    text-align: center;
  }
}
li.selected[data-v-6e832d9f] {
  font-weight: 500;
  border-bottom: 0.125rem solid #2d2d2d;
}
li.selected .link-text[data-v-6e832d9f] {
  padding: 0.75rem 0.25rem 0.625rem;
}
li .link-text[data-v-6e832d9f] {
  padding: 0.75rem 0.25rem;
  color: inherit;
}
.grid[data-v-34757494] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-34757494] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-34757494] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-34757494] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-34757494] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-34757494] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-34757494] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-34757494] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-34757494] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-34757494] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-34757494] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-34757494] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-34757494] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-34757494] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-34757494] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-34757494] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-34757494] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-34757494] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-34757494] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-34757494] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-34757494] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-34757494] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-34757494] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-34757494] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-34757494] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-34757494] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-34757494] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-34757494] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-34757494] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-34757494] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-34757494] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-34757494] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-34757494] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-34757494] {
    grid-column: span 15;
  }
}
ul[data-v-34757494] {
  display: flex;
  gap: 1rem;
  border-bottom: 0.0625rem solid #f4f4f4;
  margin-bottom: 1.875rem;
  min-height: 3.125rem;
}
@media (max-width: 991.98px) {
  ul[data-v-34757494] {
    gap: 0;
    margin: 0 -1rem;
    padding: 0 1rem;
  }
}
