@media (max-width: 991.98px) {
  .post-write #app-footer {
    display: none;
  }
}
@media (min-width: 768px) {
  .post-edit #app-header,
  .post-write #app-header {
    min-height: 4.5rem;
  }
  .post-edit #app-body,
  .post-write #app-body {
    height: auto !important;
  }
}
.grid[data-v-517e3499] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-517e3499] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-517e3499] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-517e3499] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-517e3499] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-517e3499] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-517e3499] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-517e3499] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-517e3499] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-517e3499] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-517e3499] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-517e3499] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-517e3499] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-517e3499] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-517e3499] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-517e3499] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-517e3499] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-517e3499] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-517e3499] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-517e3499] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-517e3499] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-517e3499] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-517e3499] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-517e3499] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-517e3499] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-517e3499] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-517e3499] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-517e3499] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-517e3499] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-517e3499] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-517e3499] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-517e3499] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-517e3499] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-517e3499] {
    grid-column: span 15;
  }
}
@media (max-width: 991.98px) {
  .write-post-container[data-v-517e3499] {
    width: 100%;
    height: 100%;
  }
}
.post-detail .soomgo-life-container .post-detail-container .no-items {
  position: relative;
}
.post-detail
  .soomgo-life-container
  .post-detail-container
  .no-items
  .help-block {
  margin-bottom: 2.5rem;
}
.post-detail
  .soomgo-life-container
  .post-detail-container
  .no-items
  .help-block:has(.pro-square-description) {
  margin-bottom: 1.25rem;
}
.post-detail
  .soomgo-life-container
  .post-detail-container
  .no-items
  .has-not-provider {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8125rem 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.57;
  color: #888;
  text-align: center;
  letter-spacing: -0.01875rem;
  white-space: nowrap;
  transform: translateY(1.5rem);
}
.post-detail
  .soomgo-life-container
  .post-detail-container
  .no-items
  .has-not-provider
  .provider-register-advice {
  margin-left: 0.25rem;
  font-weight: 500;
  color: #888;
  text-decoration: underline;
}
.post-detail
  .soomgo-life-container
  .post-detail-container
  .no-items
  .has-not-provider:before {
  padding: 0.625rem;
  margin-right: 0.25rem;
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDE4LjMzM2E4LjMzMyA4LjMzMyAwIDExMC0xNi42NjYgOC4zMzMgOC4zMzMgMCAwMTAgMTYuNjY2em0wLTEuMzAyQTcuMDMxIDcuMDMxIDAgMTAxMCAyLjk3YTcuMDMxIDcuMDMxIDAgMDAwIDE0LjA2MnpNOS45OTUgNy4zN2EuNjUxLjY1MSAwIDAxLS4wODgtMS4yOTZsLjA5OC0uMDA2YS42NTEuNjUxIDAgMDEuMDg4IDEuMjk2bC0uMDk4LjAwNnptMCA2LjQ1OGEuNjUxLjY1MSAwIDAxLS42NDUtLjU2M2wtLjAwNi0uMDg4di0zLjc1YS42NTEuNjUxIDAgMDExLjI5Ni0uMDg4bC4wMDYuMDg4djMuNzVhLjY1LjY1IDAgMDEtLjY1LjY1MXoiIGZpbGw9IiNCNUI1QjUiLz48L3N2Zz4=)
    50% no-repeat;
}
.post-detail .swal2-container .swal2-header .swal2-title {
  white-space: nowrap;
}
.grid[data-v-614fb5f0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-614fb5f0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-614fb5f0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-614fb5f0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-614fb5f0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-614fb5f0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-614fb5f0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-614fb5f0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-614fb5f0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-614fb5f0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-614fb5f0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-614fb5f0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-614fb5f0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-614fb5f0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-614fb5f0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-614fb5f0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-614fb5f0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-614fb5f0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-614fb5f0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-614fb5f0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-614fb5f0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-614fb5f0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-614fb5f0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-614fb5f0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-614fb5f0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-614fb5f0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-614fb5f0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-614fb5f0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-614fb5f0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-614fb5f0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-614fb5f0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-614fb5f0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-614fb5f0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-614fb5f0] {
    grid-column: span 15;
  }
}
.post-detail-container[data-v-614fb5f0] {
  width: 37.5rem;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .post-detail-container[data-v-614fb5f0] {
    width: 100%;
    height: 100%;
  }
}
.post-detail-container .no-items[data-v-614fb5f0] {
  margin-top: 3.75rem;
  margin-bottom: 5rem;
}
.post-detail-container .no-items[data-v-614fb5f0]:has(.has-not-provider) {
  margin-bottom: 9.5rem;
}
@media (max-width: 991.98px) {
  .post-detail-container .no-items[data-v-614fb5f0] {
    margin-top: 5rem;
  }
}
.grid[data-v-4b40be3a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4b40be3a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4b40be3a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4b40be3a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4b40be3a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4b40be3a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4b40be3a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4b40be3a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4b40be3a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4b40be3a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4b40be3a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4b40be3a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4b40be3a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4b40be3a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4b40be3a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4b40be3a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4b40be3a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4b40be3a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4b40be3a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4b40be3a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4b40be3a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4b40be3a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4b40be3a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4b40be3a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4b40be3a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4b40be3a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4b40be3a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4b40be3a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4b40be3a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4b40be3a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4b40be3a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4b40be3a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4b40be3a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4b40be3a] {
    grid-column: span 15;
  }
}
.community[data-v-4b40be3a] {
  width: 60.625rem;
  padding-bottom: 5rem;
  margin: auto;
}
@media (max-width: 991.98px) {
  .community[data-v-4b40be3a] {
    width: 100%;
  }
}
.community .top-btn[data-v-4b40be3a] {
  right: 1rem;
  bottom: 6rem;
  z-index: 9;
}
.community-layout[data-v-4b40be3a] {
  display: flex;
  flex-direction: row;
}
@media (max-width: 991.98px) {
  .community-layout[data-v-4b40be3a] {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .soomgo-life-search #app-header {
    min-height: 4.5rem;
  }
  .soomgo-life-search #app-body {
    height: auto !important;
  }
}
@media (max-width: 991.98px) {
  .soomgo-life-search #app-footer {
    display: none;
  }
}
.grid[data-v-4e379f21] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4e379f21] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4e379f21] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4e379f21] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4e379f21] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4e379f21] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4e379f21] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4e379f21] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4e379f21] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4e379f21] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4e379f21] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4e379f21] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4e379f21] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4e379f21] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4e379f21] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4e379f21] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4e379f21] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4e379f21] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4e379f21] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4e379f21] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4e379f21] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4e379f21] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4e379f21] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4e379f21] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4e379f21] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4e379f21] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4e379f21] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4e379f21] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4e379f21] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4e379f21] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4e379f21] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4e379f21] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4e379f21] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4e379f21] {
    grid-column: span 15;
  }
}
.soomgo-life-search[data-v-4e379f21] {
  width: 60.625rem;
  padding-top: 3.125rem;
  padding-bottom: 5rem;
  margin: auto;
}
@media (max-width: 991.98px) {
  .soomgo-life-search[data-v-4e379f21] {
    padding-top: 0.125rem;
    width: 100%;
  }
}
.soomgo-life-search[data-v-4e379f21]
  .community-content-layout
  .service-area-filter.fixed {
  top: 3.75rem;
}
.community-header[data-v-4e379f21] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .community-header[data-v-4e379f21] {
    display: none;
  }
}
.community-title[data-v-4e379f21] {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  color: #323232;
}
@media (max-width: 991.98px) {
  .community-title[data-v-4e379f21] {
    display: none;
  }
}
.write[data-v-4e379f21] {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(https://assets.cdn.soomgo.com/icons/icon-board-create.svg);
  background-repeat: no-repeat;
  margin-right: 0.25rem;
}
@media (max-width: 991.98px) {
  .write[data-v-4e379f21] {
    margin-right: 0;
  }
}
.write-button-desktop[data-v-4e379f21] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 2.75rem;
  padding: 0.625rem 1.625rem 0.625rem 1.5625rem;
  border-radius: 6px;
  border: none;
}
@media (max-width: 991.98px) {
  .write-button-desktop[data-v-4e379f21] {
    display: none;
  }
}
.soomgo-life-search .top-btn[data-v-4e379f21] {
  bottom: 6rem;
  right: 1rem;
}
.community-layout[data-v-4e379f21] {
  display: flex;
  flex-direction: row;
}
@media (max-width: 991.98px) {
  .community-layout[data-v-4e379f21] {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .soomgo-life-topic-layout[data-v-4e379f21] {
    display: none;
  }
}
.community-content-layout[data-v-4e379f21] {
  width: 37.5rem;
  margin-left: 5.3125rem;
}
@media (max-width: 991.98px) {
  .community-content-layout[data-v-4e379f21] {
    width: 100%;
    margin-left: 0;
  }
}
body.hide-mobile-global-header.soomgo-life-search #app {
  height: auto;
}
body.hide-mobile-global-header.soomgo-life-search #app-footer {
  display: none;
}
.grid[data-v-0352d1b6] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0352d1b6] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0352d1b6] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0352d1b6] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0352d1b6] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0352d1b6] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0352d1b6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0352d1b6] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0352d1b6] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0352d1b6] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0352d1b6] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0352d1b6] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0352d1b6] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0352d1b6] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0352d1b6] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0352d1b6] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0352d1b6] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0352d1b6] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0352d1b6] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0352d1b6] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0352d1b6] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0352d1b6] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0352d1b6] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0352d1b6] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0352d1b6] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0352d1b6] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0352d1b6] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0352d1b6] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0352d1b6] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0352d1b6] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0352d1b6] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0352d1b6] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0352d1b6] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0352d1b6] {
    grid-column: span 15;
  }
}
.soomgo-life-container[data-v-0352d1b6] {
  max-width: 100%;
  height: 100%;
}
.soomgo-life-container .search-community-icon[data-v-0352d1b6] {
  margin-right: 1.25rem;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.search-icon-transition-enter-active,
.search-icon-transition-leave-active {
  transition: opacity 0.1s ease;
}
.search-icon-transition-enter,
.search-icon-transition-leave-to {
  opacity: 1;
}
