.grid[data-v-0ec9cb3e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0ec9cb3e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0ec9cb3e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0ec9cb3e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0ec9cb3e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0ec9cb3e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0ec9cb3e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0ec9cb3e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0ec9cb3e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0ec9cb3e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0ec9cb3e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0ec9cb3e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0ec9cb3e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0ec9cb3e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0ec9cb3e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0ec9cb3e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0ec9cb3e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0ec9cb3e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0ec9cb3e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0ec9cb3e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0ec9cb3e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0ec9cb3e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0ec9cb3e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0ec9cb3e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0ec9cb3e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0ec9cb3e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0ec9cb3e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0ec9cb3e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0ec9cb3e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0ec9cb3e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0ec9cb3e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0ec9cb3e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0ec9cb3e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0ec9cb3e] {
    grid-column: span 15;
  }
}
.post-category-subject[data-v-0ec9cb3e] {
  margin: 2rem 0 1rem;
}
.post-category-subject .category-breadcrumb[data-v-0ec9cb3e] {
  display: flex;
  align-items: center;
  margin: 0;
}
.post-category-subject
  .category-breadcrumb
  .category-breadcrumb-item
  .breadcrumb-item[data-v-0ec9cb3e] {
  display: flex;
  height: 1.375rem;
  cursor: pointer;
}
.post-category-subject
  .category-breadcrumb
  .breadcrumb-divider[data-v-0ec9cb3e] {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 0.1875rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDE0djE0SDB6Ii8+PHBhdGggc3Ryb2tlPSIjQzVDNUM1IiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNC42NjcgMTEuNjY3TDkuMzMzIDcgNC42NjcgMi4zMzMiLz48L2c+PC9zdmc+)
    no-repeat;
}
.grid[data-v-07f68d92] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-07f68d92] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-07f68d92] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-07f68d92] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-07f68d92] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-07f68d92] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-07f68d92] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-07f68d92] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-07f68d92] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-07f68d92] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-07f68d92] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-07f68d92] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-07f68d92] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-07f68d92] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-07f68d92] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-07f68d92] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-07f68d92] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-07f68d92] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-07f68d92] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-07f68d92] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-07f68d92] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-07f68d92] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-07f68d92] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-07f68d92] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-07f68d92] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-07f68d92] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-07f68d92] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-07f68d92] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-07f68d92] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-07f68d92] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-07f68d92] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-07f68d92] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-07f68d92] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-07f68d92] {
    grid-column: span 15;
  }
}
.body-image-container[data-v-07f68d92] {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}
@media (max-width: 991.98px) {
  .body-image-container[data-v-07f68d92] {
    margin-top: 1rem;
  }
}
.body-image-container .hidden[data-v-07f68d92],
.body-image-container .more[data-v-07f68d92] {
  display: none;
}
.body-image-container .grid-image-wrapper[data-v-07f68d92] {
  width: 100%;
  display: grid;
  margin: 0;
}
.body-image-container .grid-image-list[data-v-07f68d92] {
  grid-column: auto;
  grid-row: auto;
  max-height: 21rem;
}
@media (max-width: 991.98px) {
  .body-image-container .grid-image-list[data-v-07f68d92] {
    max-height: 12rem;
  }
}
.body-image-container .grid-image-list > .image[data-v-07f68d92] {
  width: 100%;
  height: 100%;
  max-height: inherit;
  border-radius: 8px;
  border: 0.0625rem solid #f4f4f4;
  box-sizing: border-box;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(2n)
  ~ .grid-image-list[data-v-07f68d92],
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2n) {
  grid-column: span 2;
  grid-row: 1 / span 1;
  margin-right: 0.1875rem;
  margin-bottom: 0.1875rem;
  height: 15rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list:first-child:nth-last-child(2n)
    ~ .grid-image-list[data-v-07f68d92],
  .body-image-container
    .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2n) {
    height: 10rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(2n)
  ~ .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2),
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(
    2n
  ):first-child:nth-last-child(2) {
  margin-bottom: 0;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(2n)
  ~ .grid-image-list[data-v-07f68d92]:not(:last-child):nth-child(2),
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2n):not(
    :last-child
  ):nth-child(2) {
  margin-left: 0.1875rem;
  margin-right: 0;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(2n)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(3),
.body-image-container
  .grid-image-list:first-child:nth-last-child(2n)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(4),
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2n):nth-child(3),
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2n):nth-child(
    4
  ) {
  margin-top: 0.1875rem;
  margin-bottom: 0;
  grid-row: 2 / span 1;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(2n)
  ~ .grid-image-list[data-v-07f68d92]:last-child,
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(2n):last-child {
  margin-left: 0.1875rem;
  margin-right: 0;
  margin-bottom: 0;
}
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(3) {
  grid-row: 1 / span 2;
  grid-column: span 36;
  margin-right: 0.1875rem;
  max-width: 28.375rem;
  max-height: 17.875rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(3) {
    max-height: 14.125rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(3)
  ~ .grid-image-list[data-v-07f68d92] {
  grid-column: span 1;
  margin-left: 0.1875rem;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(3)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(2) {
  grid-row: 1 / span 1;
  margin-bottom: 0.1875rem;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(3)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(3) {
  grid-row: 2 / span 1;
  margin-top: 0.1875rem;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(3)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(2),
.body-image-container
  .grid-image-list:first-child:nth-last-child(3)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(3) {
  width: 8.75rem;
  height: 8.75rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list:first-child:nth-last-child(3)
    ~ .grid-image-list[data-v-07f68d92]:nth-child(2),
  .body-image-container
    .grid-image-list:first-child:nth-last-child(3)
    ~ .grid-image-list[data-v-07f68d92]:nth-child(3) {
    width: 6.875rem;
    height: 6.875rem;
  }
}
.body-image-container
  .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(n + 5) {
  grid-row: 1 / span 1;
  grid-column: span 3;
  margin-right: 0.1875rem;
  margin-bottom: 0.375rem;
  height: 15rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list[data-v-07f68d92]:first-child:nth-last-child(n + 5) {
    height: 10rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(n + 5)
  ~ .grid-image-list[data-v-07f68d92] {
  grid-row: 2;
  grid-column: span 2;
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(n + 5)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(2) {
  margin: 0 0 0.375rem 0.1875rem;
  grid-row: 1 / span 1;
  grid-column: span 3;
  height: 15rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list:first-child:nth-last-child(n + 5)
    ~ .grid-image-list[data-v-07f68d92]:nth-child(2) {
    height: 10rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(n + 5)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(3) {
  margin: 0 0.25rem 0 0;
  height: 8.75rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list:first-child:nth-last-child(n + 5)
    ~ .grid-image-list[data-v-07f68d92]:nth-child(3) {
    height: 6.875rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(n + 5)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(4) {
  margin: auto 0.125rem;
  height: 8.75rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list:first-child:nth-last-child(n + 5)
    ~ .grid-image-list[data-v-07f68d92]:nth-child(4) {
    height: 6.875rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(n + 5)
  ~ .grid-image-list[data-v-07f68d92]:nth-child(5) {
  position: relative;
  grid-column: span 2;
  margin: 0 0 0 0.25rem;
  height: 8.75rem;
}
@media (max-width: 991.98px) {
  .body-image-container
    .grid-image-list:first-child:nth-last-child(n + 5)
    ~ .grid-image-list[data-v-07f68d92]:nth-child(5) {
    height: 6.875rem;
  }
}
.body-image-container
  .grid-image-list:first-child:nth-last-child(n + 5)
  ~ .grid-image-list:nth-child(5)
  .more[data-v-07f68d92] {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
}
.grid[data-v-7e7eb5fe] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7e7eb5fe] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7e7eb5fe] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7e7eb5fe] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7e7eb5fe] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7e7eb5fe] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7e7eb5fe] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7e7eb5fe] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7e7eb5fe] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7e7eb5fe] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7e7eb5fe] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7e7eb5fe] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7e7eb5fe] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7e7eb5fe] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7e7eb5fe] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7e7eb5fe] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7e7eb5fe] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7e7eb5fe] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7e7eb5fe] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7e7eb5fe] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7e7eb5fe] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7e7eb5fe] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7e7eb5fe] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7e7eb5fe] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7e7eb5fe] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7e7eb5fe] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7e7eb5fe] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7e7eb5fe] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7e7eb5fe] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7e7eb5fe] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7e7eb5fe] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7e7eb5fe] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7e7eb5fe] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7e7eb5fe] {
    grid-column: span 15;
  }
}
.post-comment-actions[data-v-7e7eb5fe] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.post-comment-actions .comment-more-action[data-v-7e7eb5fe] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.9375rem;
}
.post-comment-actions .comment-more-action .comment-create-at[data-v-7e7eb5fe] {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #a9a9a9;
}
.post-comment-actions
  .comment-more-action
  .b-dropdown[data-v-7e7eb5fe]
  button.btn.dropdown-toggle {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOS4zNzEgMy4zMzMpIiBmaWxsPSIjQzVDNUM1IiBzdHJva2U9IiNDNUM1QzUiIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgY3g9Ii44MzMiIGN5PSI2LjY2NyIgcj0iMSIvPjxjaXJjbGUgY3g9Ii44MzMiIGN5PSIuODMzIiByPSIxIi8+PGNpcmNsZSBjeD0iLjgzMyIgY3k9IjEyLjUiIHI9IjEiLz48L2c+PC9zdmc+)
    no-repeat;
  border: none;
}
.post-comment-actions
  .comment-more-action
  .b-dropdown[data-v-7e7eb5fe]
  button.btn.dropdown-toggle:after {
  display: none;
}
.post-comment-actions
  .comment-more-action
  .b-dropdown[data-v-7e7eb5fe]
  .dropdown-menu {
  padding: 1.125rem 0;
  margin-top: 0.25rem;
  text-align: center;
  border: 0.0625rem solid #e1e1e1;
}
.post-comment-actions
  .comment-more-action
  .b-dropdown[data-v-7e7eb5fe]
  .dropdown-menu
  .dropdown-item {
  padding: 0.3125rem 0;
  font-size: 0.875rem;
}
.post-comment-actions
  .comment-more-action
  .b-dropdown[data-v-7e7eb5fe]
  .dropdown-menu
  .dropdown-item:hover {
  color: #fff;
  background-color: #00c7ae;
}
.post-comment-actions .comment-action-container[data-v-7e7eb5fe] {
  position: relative;
  display: flex;
  gap: 0.75rem;
}
.post-comment-actions
  .comment-action-container
  .comment-action[data-v-7e7eb5fe] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #6a7685;
  border: 0.0625rem solid #e0e5eb;
  border-radius: 4px;
}
.post-comment-actions
  .comment-action-container
  .comment-action.actioned[data-v-7e7eb5fe] {
  color: #1aa69d;
  border-color: #1aa69d;
}
.post-comment-actions
  .comment-action-container
  .best-comments-tooltip[data-v-7e7eb5fe] {
  position: absolute;
  top: 2.875rem;
  left: 1.375rem;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #fff;
  background-color: #116cf4;
  border-radius: 8px;
}
.post-comment-actions
  .comment-action-container
  .best-comments-tooltip[data-v-7e7eb5fe]:before {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  content: "";
  border-color: transparent transparent #116cf4;
  border-style: solid;
  border-width: 0.625rem 0.5rem;
  transform: translate3d(-50%, 0, 0);
}
.post-comment-actions
  .comment-action-container
  .best-comments-tooltip
  .tooltip-close[data-v-7e7eb5fe] {
  display: flex;
  padding: 0.125rem 0;
  border: none;
}
.grid[data-v-3de9631b] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3de9631b] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3de9631b] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3de9631b] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3de9631b] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3de9631b] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3de9631b] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3de9631b] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3de9631b] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3de9631b] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3de9631b] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3de9631b] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3de9631b] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3de9631b] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3de9631b] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3de9631b] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3de9631b] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3de9631b] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3de9631b] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3de9631b] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3de9631b] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3de9631b] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3de9631b] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3de9631b] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3de9631b] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3de9631b] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3de9631b] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3de9631b] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3de9631b] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3de9631b] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3de9631b] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3de9631b] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3de9631b] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3de9631b] {
    grid-column: span 15;
  }
}
.post-comment-contents[data-v-3de9631b] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: #323232;
}
.post-comment-contents .mentioned-user[data-v-3de9631b] {
  display: -webkit-box;
  max-height: 1.5em;
  line-height: 1.5;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #888;
}
.post-comment-contents .text[data-v-3de9631b] {
  margin: 0;
  white-space: pre-line;
}
.post-comment-contents .text.comment-text[data-v-3de9631b] {
  line-height: 1.5rem;
}
.grid[data-v-4c1fcafc] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4c1fcafc] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4c1fcafc] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4c1fcafc] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4c1fcafc] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4c1fcafc] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4c1fcafc] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4c1fcafc] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4c1fcafc] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4c1fcafc] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4c1fcafc] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4c1fcafc] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4c1fcafc] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4c1fcafc] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4c1fcafc] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4c1fcafc] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4c1fcafc] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4c1fcafc] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4c1fcafc] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4c1fcafc] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4c1fcafc] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4c1fcafc] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4c1fcafc] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4c1fcafc] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4c1fcafc] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4c1fcafc] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4c1fcafc] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4c1fcafc] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4c1fcafc] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4c1fcafc] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4c1fcafc] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4c1fcafc] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4c1fcafc] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4c1fcafc] {
    grid-column: span 15;
  }
}
.post-comment-wrapper[data-v-4c1fcafc] {
  display: flex;
  padding: 1.5rem;
}
@media (max-width: 991.98px) {
  .post-comment-wrapper[data-v-4c1fcafc] {
    padding: 1.5rem 0;
  }
}
.post-comment-wrapper.reply[data-v-4c1fcafc] {
  padding: 1.25rem 1.5rem;
}
@media (max-width: 991.98px) {
  .post-comment-wrapper.reply[data-v-4c1fcafc] {
    padding: 1.25rem 0;
  }
}
.post-comment-wrapper .profile-image.provider[data-v-4c1fcafc] {
  cursor: pointer;
}
.post-comment-wrapper .profile-image .image[data-v-4c1fcafc] {
  box-sizing: content-box;
  width: 1.875rem;
  height: 1.875rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
.post-comment-wrapper .comment-information[data-v-4c1fcafc] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0.75rem;
}
@media (max-width: 991.98px) {
  .post-comment-wrapper .comment-information[data-v-4c1fcafc] {
    max-width: calc(100% - 2.5rem);
  }
}
.post-comment-wrapper .comment-information .user-info[data-v-4c1fcafc] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper[data-v-4c1fcafc] {
  display: flex;
  flex-direction: column;
  margin-top: -0.1875rem;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper.pro-user[data-v-4c1fcafc] {
  max-width: calc(100% - 6rem);
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .user[data-v-4c1fcafc] {
  display: flex;
  align-items: center;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .user
  .user-name[data-v-4c1fcafc] {
  display: inline-block;
  height: 1.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .user
  .badge[data-v-4c1fcafc] {
  display: inline-block;
  align-items: center;
  padding: 0;
  margin-left: 0.25rem;
  border-radius: 4px;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .user
  .ambassador-badge[data-v-4c1fcafc] {
  flex: 0 0 auto;
  margin-left: 0.25rem;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .user
  .ambassador-badge
  + .badge[data-v-4c1fcafc] {
  margin-left: 0.375rem;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .pro-user-services[data-v-4c1fcafc] {
  display: flex;
  align-items: center;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .pro-user-services
  .service[data-v-4c1fcafc] {
  display: inline-block;
  margin-left: 0.25rem;
  white-space: nowrap;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .pro-user-services
  .service[data-v-4c1fcafc]:first-child {
  margin-left: 0;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .user-info-wrapper
  .pro-user-services
  .service.main-service[data-v-4c1fcafc] {
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-comment-wrapper
  .comment-information
  .user-info
  .send-request-button[data-v-4c1fcafc] {
  width: 3.75rem;
  padding: 0.3125rem 0.5rem;
  margin-left: 2.25rem;
  color: #00c7ae;
  background-color: #eafaf9;
  border: 0;
  border-radius: 6px;
}
.post-comment-wrapper
  .comment-information
  .user-info.provider[data-v-4c1fcafc] {
  cursor: pointer;
}
.post-comment-wrapper .comment-information .user-info.admin[data-v-4c1fcafc] {
  margin: 0.25rem 0 0.375rem;
}
.post-comment-wrapper
  .comment-information
  .user-info.admin
  .user-info-wrapper[data-v-4c1fcafc] {
  margin-top: 0;
}
.post-comment-wrapper
  .comment-information
  .attached-image-wrapper[data-v-4c1fcafc] {
  margin-top: 0.75rem;
  margin-bottom: 0;
}
.post-comment-wrapper
  .comment-information
  .attached-image-wrapper
  .attached-image-item[data-v-4c1fcafc] {
  display: inline-block;
}
.post-comment-wrapper
  .comment-information
  .attached-image-wrapper
  .attached-image-item
  .image[data-v-4c1fcafc] {
  width: 6.875rem;
  height: 6.875rem;
  cursor: pointer;
  border: 0.0625rem solid #f4f4f4;
  border-radius: 8px;
}
.hidden-comment-wrapper[data-v-4c1fcafc] {
  padding: 1rem;
  margin: 0.875rem 0;
  background-color: #fafafa;
  border-radius: 6px;
}
.hidden-comment-wrapper .reason-description[data-v-4c1fcafc] {
  display: flex;
  align-items: center;
  margin: 0;
  color: #888;
}
.hidden-comment-wrapper .reason-description[data-v-4c1fcafc]:before {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBvcGFjaXR5PSIuNSI+PHBhdGggb3BhY2l0eT0iLjEiIGQ9Ik0wIDBoMjB2MjBIMHoiLz48Y2lyY2xlIG9wYWNpdHk9Ii40IiBjeD0iMTAiIGN5PSIxMCIgcj0iOC41Ii8+PC9nPjxwYXRoIGQ9Ik0xMCAxLjVhOC41IDguNSAwIDExMCAxNyA4LjUgOC41IDAgMDEwLTE3em0wIDcuOTAxYS43NS43NSAwIDAwLS43NS43NXYzLjMxNmwuMDA3LjEwMWEuNzUuNzUgMCAwMDEuNDkzLS4xMDFWMTAuMTVsLS4wMDctLjEwMkEuNzUuNzUgMCAwMDEwIDkuNDAxem0wLTMuMTdhLjc1Ljc1IDAgMDAtLjc1Ljc1di4xMTZsLjAwNy4xMDJhLjc1Ljc1IDAgMDAxLjQ5My0uMTAydi0uMTE2bC0uMDA3LS4xMDJBLjc1Ljc1IDAgMDAxMCA2LjIzeiIgZmlsbD0iI0I1QjVCNSIvPjwvZz48L3N2Zz4=)
    no-repeat;
}
.soomgo-life-container .post-detail-container .text span a {
  text-decoration: underline;
}
.grid[data-v-c9a6beec] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-c9a6beec] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-c9a6beec] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-c9a6beec] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-c9a6beec] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-c9a6beec] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-c9a6beec] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-c9a6beec] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-c9a6beec] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-c9a6beec] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-c9a6beec] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-c9a6beec] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-c9a6beec] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-c9a6beec] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-c9a6beec] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-c9a6beec] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-c9a6beec] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-c9a6beec] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-c9a6beec] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-c9a6beec] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-c9a6beec] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-c9a6beec] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-c9a6beec] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-c9a6beec] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-c9a6beec] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-c9a6beec] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-c9a6beec] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-c9a6beec] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-c9a6beec] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-c9a6beec] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-c9a6beec] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-c9a6beec] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-c9a6beec] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-c9a6beec] {
    grid-column: span 15;
  }
}
.comment-input-box[data-v-c9a6beec] {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1.0625rem 0.875rem;
  margin: 1.25rem 0;
  background-color: #fff;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
@media (max-width: 991.98px) {
  .comment-input-box[data-v-c9a6beec] {
    margin: 1.25rem 0 0.875rem;
  }
}
.comment-input-box .attach-file-label[data-v-c9a6beec] {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.0625rem 0.875rem 0 0;
}
@media (max-width: 991.98px) {
  .comment-input-box .attach-file-label[data-v-c9a6beec] {
    margin-right: 1rem;
  }
}
.comment-input-box .attach-file-label .attach-image-icon[data-v-c9a6beec] {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: unset;
  cursor: pointer;
}
.comment-input-box
  .attach-file-label
  .attach-image-icon.disabled[data-v-c9a6beec] {
  cursor: unset;
}
.comment-input-box .attach-file-label .file-input[data-v-c9a6beec] {
  display: none;
}
.comment-input-box .comment-body[data-v-c9a6beec] {
  position: relative;
  width: 100%;
}
.comment-input-box .comment-body .reply-user-name[data-v-c9a6beec] {
  display: -webkit-box;
  max-height: 1.5em;
  line-height: 1.5;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #888;
}
.comment-input-box .comment-body .comment-input[data-v-c9a6beec] {
  width: 100%;
  min-height: 1.375rem;
  padding: 0;
  font-size: 0.875rem;
  color: #2d2d2d;
  resize: none;
  border: 0;
}
.comment-input-box .comment-body .comment-input[data-v-c9a6beec]:focus-visible {
  outline: unset;
}
.comment-input-box
  .comment-body
  .comment-input[data-v-c9a6beec]::-moz-placeholder {
  color: #c5c5c5;
}
.comment-input-box .comment-body .comment-input[data-v-c9a6beec]::placeholder {
  color: #c5c5c5;
}
.comment-input-box .comment-body .comment-input[data-v-c9a6beec]:disabled {
  background-color: #fff;
}
.comment-input-box .comment-body .image-preview[data-v-c9a6beec] {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-top: 0.875rem;
}
.comment-input-box .comment-body .image-preview .delete-badge[data-v-c9a6beec] {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.125rem;
  cursor: pointer;
  background-color: #ff5861;
  border-radius: 16px;
}
.comment-input-box .comment-body .image-preview .image[data-v-c9a6beec] {
  width: 5rem;
  height: 5rem;
  border: 0.0625rem solid #f4f4f4;
  border-radius: 8px;
  -o-object-fit: fill;
  object-fit: fill;
}
.comment-input-box .write-comment-submit[data-v-c9a6beec] {
  display: none;
  font-weight: 500;
  color: #00c7ae;
  white-space: nowrap;
}
.comment-input-box .write-comment-submit.active[data-v-c9a6beec] {
  display: block;
  margin-top: auto;
  margin-left: 0.875rem;
  cursor: pointer;
}
.comment-input-box .write-comment-submit.one-line[data-v-c9a6beec] {
  margin-bottom: auto;
}
.grid[data-v-54dc8622] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-54dc8622] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-54dc8622] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-54dc8622] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-54dc8622] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-54dc8622] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-54dc8622] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-54dc8622] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-54dc8622] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-54dc8622] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-54dc8622] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-54dc8622] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-54dc8622] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-54dc8622] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-54dc8622] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-54dc8622] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-54dc8622] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-54dc8622] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-54dc8622] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-54dc8622] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-54dc8622] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-54dc8622] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-54dc8622] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-54dc8622] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-54dc8622] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-54dc8622] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-54dc8622] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-54dc8622] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-54dc8622] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-54dc8622] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-54dc8622] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-54dc8622] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-54dc8622] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-54dc8622] {
    grid-column: span 15;
  }
}
.post-comments-list-item[data-v-54dc8622] {
  display: flex;
  flex-direction: column;
}
.post-comments-list-item .comment-reply-list-item[data-v-54dc8622] {
  padding-left: 2rem;
}
@media (max-width: 991.98px) {
  .post-comments-list-item .comment-reply-list-item[data-v-54dc8622] {
    padding-left: 1.75rem;
  }
}
.grid[data-v-5a25cf8d] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5a25cf8d] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5a25cf8d] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5a25cf8d] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5a25cf8d] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5a25cf8d] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5a25cf8d] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5a25cf8d] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5a25cf8d] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5a25cf8d] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5a25cf8d] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5a25cf8d] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5a25cf8d] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5a25cf8d] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5a25cf8d] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5a25cf8d] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5a25cf8d] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5a25cf8d] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5a25cf8d] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5a25cf8d] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5a25cf8d] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5a25cf8d] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5a25cf8d] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5a25cf8d] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5a25cf8d] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5a25cf8d] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5a25cf8d] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5a25cf8d] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5a25cf8d] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5a25cf8d] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5a25cf8d] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5a25cf8d] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5a25cf8d] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5a25cf8d] {
    grid-column: span 15;
  }
}
.post-comments-list[data-v-5a25cf8d] {
  width: 100%;
  margin-bottom: 0;
}
.grid[data-v-7bec7085] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7bec7085] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7bec7085] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7bec7085] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7bec7085] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7bec7085] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7bec7085] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7bec7085] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7bec7085] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7bec7085] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7bec7085] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7bec7085] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7bec7085] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7bec7085] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7bec7085] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7bec7085] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7bec7085] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7bec7085] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7bec7085] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7bec7085] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7bec7085] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7bec7085] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7bec7085] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7bec7085] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7bec7085] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7bec7085] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7bec7085] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7bec7085] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7bec7085] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7bec7085] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7bec7085] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7bec7085] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7bec7085] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7bec7085] {
    grid-column: span 15;
  }
}
.post-comments-container[data-v-7bec7085] {
  position: relative;
  width: 100%;
  margin-bottom: 12.5rem;
}
@media (max-width: 991.98px) {
  .post-comments-container[data-v-7bec7085] {
    margin-bottom: 5rem;
  }
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
.post-detail .toast-message {
  margin: 0;
  text-align: left;
  white-space: pre-wrap;
}
