.grid[data-v-d87b96c8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d87b96c8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d87b96c8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d87b96c8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d87b96c8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d87b96c8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d87b96c8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d87b96c8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d87b96c8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d87b96c8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d87b96c8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d87b96c8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d87b96c8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d87b96c8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d87b96c8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d87b96c8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d87b96c8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d87b96c8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d87b96c8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d87b96c8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d87b96c8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d87b96c8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d87b96c8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d87b96c8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d87b96c8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d87b96c8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d87b96c8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d87b96c8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d87b96c8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d87b96c8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d87b96c8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d87b96c8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d87b96c8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d87b96c8] {
    grid-column: span 15;
  }
}
.select-subject-header[data-v-d87b96c8] {
  height: 3.5rem;
  padding: 1rem 0;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .select-subject-header[data-v-d87b96c8] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.625rem;
    padding: 0.9375rem 0;
  }
}
.select-subject-header .subject-header-wrapper[data-v-d87b96c8] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60.625rem;
  height: 100%;
  margin: auto;
}
.select-subject-header .subject-header-wrapper .back-button[data-v-d87b96c8] {
  display: none;
}
@media (max-width: 991.98px) {
  .select-subject-header .subject-header-wrapper .back-button[data-v-d87b96c8] {
    display: block;
  }
}
.select-subject-header
  .subject-header-wrapper
  .post-subject-select-box[data-v-d87b96c8] {
  width: auto;
  font-weight: 500;
  color: #2d2d2d;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgNy41bDUuNDE3IDYuNjY3TDE1LjgzMyA3LjV6IiBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-position: right 0.875rem top 50%, 0 0;
  background-size: 1.25rem;
  border: 0;
}
@media (min-width: 768px) {
  .select-subject-header
    .subject-header-wrapper
    .post-subject-select-box[data-v-d87b96c8] {
    padding-left: 0;
  }
}
.select-subject-header
  .subject-header-wrapper
  .post-subject-select-box[data-v-d87b96c8]:focus {
  border: 0;
  box-shadow: unset;
}
.select-subject-header
  .subject-header-wrapper
  .post-subject-select-box[data-v-d87b96c8]:focus-visible {
  outline: unset;
}
.select-subject-header .subject-header-wrapper .topic-text[data-v-d87b96c8] {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #2d2d2d;
  letter-spacing: -0.01875rem;
}
.select-subject-header
  .subject-header-wrapper
  .write-post-submit[data-v-d87b96c8] {
  padding: 0 1rem 0 0;
  font-weight: 500;
  color: #c5c5c5;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #fff;
  border: 0;
}
@media (max-width: 991.98px) {
  .select-subject-header
    .subject-header-wrapper
    .write-post-submit[data-v-d87b96c8] {
    padding: 0;
  }
}
.select-subject-header
  .subject-header-wrapper
  .write-post-submit.active[data-v-d87b96c8] {
  font-weight: 500;
  color: #00c7ae;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
.grid[data-v-067f75d6] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-067f75d6] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-067f75d6] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-067f75d6] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-067f75d6] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-067f75d6] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-067f75d6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-067f75d6] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-067f75d6] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-067f75d6] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-067f75d6] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-067f75d6] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-067f75d6] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-067f75d6] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-067f75d6] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-067f75d6] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-067f75d6] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-067f75d6] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-067f75d6] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-067f75d6] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-067f75d6] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-067f75d6] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-067f75d6] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-067f75d6] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-067f75d6] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-067f75d6] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-067f75d6] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-067f75d6] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-067f75d6] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-067f75d6] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-067f75d6] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-067f75d6] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-067f75d6] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-067f75d6] {
    grid-column: span 15;
  }
}
.editor-title-wrapper .editor-title-container[data-v-067f75d6],
.editor-title-wrapper[data-v-067f75d6] {
  width: 100%;
}
@media (min-width: 768px) {
  .editor-title-wrapper .editor-title-container[data-v-067f75d6] {
    width: 60.625rem;
    margin: auto;
  }
}
.editor-title-wrapper
  .editor-title-container
  .editor-title-label[data-v-067f75d6] {
  width: 100%;
  padding: 1.25rem 0;
  margin: 0;
}
@media (max-width: 991.98px) {
  .editor-title-wrapper
    .editor-title-container
    .editor-title-label[data-v-067f75d6] {
    padding: 1.375rem 0;
  }
}
.editor-title-wrapper
  .editor-title-container
  .post-title-input[data-v-067f75d6] {
  width: 100%;
  border: 0;
  padding: 0;
}
.editor-title-wrapper
  .editor-title-container
  .post-title-input[data-v-067f75d6]::-moz-placeholder {
  color: #888;
}
.editor-title-wrapper
  .editor-title-container
  .post-title-input[data-v-067f75d6]::placeholder {
  color: #888;
}
.editor-title-wrapper
  .editor-title-container
  .post-title-input[data-v-067f75d6]:focus-visible {
  outline: unset;
}
.grid[data-v-7d0a628e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7d0a628e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7d0a628e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7d0a628e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7d0a628e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7d0a628e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7d0a628e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7d0a628e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7d0a628e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7d0a628e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7d0a628e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7d0a628e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7d0a628e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7d0a628e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7d0a628e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7d0a628e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7d0a628e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7d0a628e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7d0a628e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7d0a628e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7d0a628e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7d0a628e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7d0a628e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7d0a628e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7d0a628e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7d0a628e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7d0a628e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7d0a628e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7d0a628e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7d0a628e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7d0a628e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7d0a628e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7d0a628e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7d0a628e] {
    grid-column: span 15;
  }
}
.loading[data-v-7d0a628e] {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-bottom: 0.75rem;
}
.editor-image-list-wrapper[data-v-7d0a628e] {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.75rem;
}
@media (max-width: 991.98px) {
  .editor-image-list-wrapper[data-v-7d0a628e] {
    width: calc(100% + 2rem);
    margin: 0 -1rem;
  }
}
.editor-image-list-wrapper .editor-image-list[data-v-7d0a628e] {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .editor-image-list-wrapper .editor-image-list[data-v-7d0a628e] {
    display: inline-flex;
    flex-flow: row wrap;
    width: 60.625rem;
    padding-top: 0.75rem;
  }
}
@media (max-width: 991.98px) {
  .editor-image-list-wrapper .editor-image-list[data-v-7d0a628e] {
    width: 100%;
    overflow-x: scroll;
    padding: 1.5rem 0;
  }
  .editor-image-list-wrapper
    .editor-image-list[data-v-7d0a628e]::-webkit-scrollbar {
    display: none;
  }
}
.editor-image-list-wrapper .editor-image-list .image-preview[data-v-7d0a628e] {
  display: inline-block;
  position: relative;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
@media (max-width: 991.98px) {
  .editor-image-list-wrapper
    .editor-image-list
    .image-preview[data-v-7d0a628e] {
    margin-bottom: 0;
  }
  .editor-image-list-wrapper
    .editor-image-list
    .image-preview[data-v-7d0a628e]:first-child {
    margin-left: 1rem;
  }
  .editor-image-list-wrapper
    .editor-image-list
    .image-preview[data-v-7d0a628e]:last-child {
    margin-right: 0;
  }
  .editor-image-list-wrapper
    .editor-image-list
    .image-preview[data-v-7d0a628e]:last-child:after {
    content: "";
    position: absolute;
    right: -1rem;
    width: 1rem;
    height: 1rem;
  }
}
.editor-image-list-wrapper
  .editor-image-list
  .image-preview
  .delete-badge[data-v-7d0a628e] {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.125rem;
  border-radius: 16px;
  background-color: #ff5861;
  cursor: pointer;
}
.editor-image-list-wrapper
  .editor-image-list
  .image-preview
  .view[data-v-7d0a628e] {
  width: 5rem;
  height: 5rem;
  margin-right: 0.75rem;
  border-radius: 8px;
  border: 0.0625rem solid #f4f4f4;
  background-color: #f4f4f4;
  background-repeat: repeat;
}
.editor-image-list-wrapper
  .editor-image-list
  .image-preview
  .view[data-v-7d0a628e]:last-child {
  margin-right: 0;
}
.grid[data-v-c7163a48] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-c7163a48] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-c7163a48] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-c7163a48] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-c7163a48] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-c7163a48] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-c7163a48] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-c7163a48] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-c7163a48] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-c7163a48] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-c7163a48] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-c7163a48] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-c7163a48] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-c7163a48] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-c7163a48] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-c7163a48] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-c7163a48] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-c7163a48] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-c7163a48] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-c7163a48] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-c7163a48] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-c7163a48] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-c7163a48] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-c7163a48] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-c7163a48] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-c7163a48] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-c7163a48] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-c7163a48] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-c7163a48] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-c7163a48] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-c7163a48] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-c7163a48] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-c7163a48] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-c7163a48] {
    grid-column: span 15;
  }
}
.editor-contents[data-v-c7163a48] {
  width: 60.625rem;
  min-height: 22.5rem;
  height: 100%;
  position: relative;
  margin: auto;
}
@media (max-width: 991.98px) {
  .editor-contents[data-v-c7163a48] {
    width: 100%;
  }
}
.editor-contents .editor-contents-textarea[data-v-c7163a48] {
  width: 100%;
  height: 100%;
  min-height: 20rem;
  resize: none;
  padding: 1.25rem 0;
  border: 0;
  background-color: transparent;
  z-index: 10;
}
@media (max-width: 991.98px) {
  .editor-contents .editor-contents-textarea[data-v-c7163a48] {
    padding: 1.25rem 0;
  }
}
.editor-contents .editor-contents-textarea[data-v-c7163a48]::-moz-placeholder {
  color: #888;
}
.editor-contents .editor-contents-textarea[data-v-c7163a48]::placeholder {
  color: #888;
}
.editor-contents .editor-contents-textarea[data-v-c7163a48]:focus {
  outline: unset;
  box-shadow: unset;
}
.editor-contents .editor-contents-textarea[data-v-c7163a48]:focus-visible {
  outline: unset;
}
.editor-contents .editor-contents-textarea-placeholder[data-v-c7163a48] {
  position: absolute;
  top: 1.25rem;
  left: 0;
  white-space: pre-line;
  margin: 0;
  z-index: -1;
}
.grid[data-v-4e6a8560] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4e6a8560] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4e6a8560] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4e6a8560] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4e6a8560] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4e6a8560] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4e6a8560] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4e6a8560] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4e6a8560] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4e6a8560] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4e6a8560] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4e6a8560] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4e6a8560] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4e6a8560] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4e6a8560] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4e6a8560] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4e6a8560] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4e6a8560] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4e6a8560] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4e6a8560] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4e6a8560] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4e6a8560] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4e6a8560] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4e6a8560] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4e6a8560] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4e6a8560] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4e6a8560] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4e6a8560] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4e6a8560] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4e6a8560] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4e6a8560] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4e6a8560] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4e6a8560] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4e6a8560] {
    grid-column: span 15;
  }
}
.service-region-wrapper[data-v-4e6a8560] {
  display: flex;
  align-items: center;
  width: 60.625rem;
  margin: auto;
}
@media (max-width: 991.98px) {
  .service-region-wrapper[data-v-4e6a8560] {
    width: 100%;
    margin: 0.5rem 0;
  }
}
.service-region-wrapper .category-select-box[data-v-4e6a8560] {
  display: flex;
  align-items: center;
  width: 11.5rem;
  padding: 1.25rem 0;
  border: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .service-region-wrapper .category-select-box[data-v-4e6a8560]:first-child {
    margin-right: 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .service-region-wrapper .category-select-box[data-v-4e6a8560] {
    width: 50%;
    padding: 0.75rem 0;
    margin: 0;
  }
  .service-region-wrapper .category-select-box[data-v-4e6a8560]:first-child {
    border-right: 0.0625rem solid #f4f4f4;
    padding-right: 1rem;
  }
  .service-region-wrapper .category-select-box[data-v-4e6a8560]:last-child {
    padding-left: 1rem;
  }
}
.service-region-wrapper .category-select-box .text[data-v-4e6a8560] {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: -0.01875rem;
  color: #888;
  font-weight: 500;
}
.service-region-wrapper .category-select-box .text.selected[data-v-4e6a8560] {
  color: #2d2d2d;
}
.service-region-wrapper .category-select-box[data-v-4e6a8560]:after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxNmgxNlYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjODg4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEyLjgzIDYuMDAxbC00LjggNC44LTQuOC00LjgiLz48L2c+PC9zdmc+);
  background-position: 50%;
  background-repeat: no-repeat;
}
.grid[data-v-3437dfdd] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-3437dfdd] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-3437dfdd] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-3437dfdd] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-3437dfdd] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-3437dfdd] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-3437dfdd] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-3437dfdd] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-3437dfdd] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-3437dfdd] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-3437dfdd] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-3437dfdd] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-3437dfdd] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-3437dfdd] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-3437dfdd] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-3437dfdd] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-3437dfdd] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-3437dfdd] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-3437dfdd] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-3437dfdd] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-3437dfdd] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-3437dfdd] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-3437dfdd] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-3437dfdd] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-3437dfdd] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-3437dfdd] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-3437dfdd] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-3437dfdd] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-3437dfdd] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-3437dfdd] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-3437dfdd] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-3437dfdd] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-3437dfdd] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-3437dfdd] {
    grid-column: span 15;
  }
}
.divider-wrapper[data-v-3437dfdd] {
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .divider-wrapper[data-v-3437dfdd] {
    width: 60.625rem;
  }
}
.divider-wrapper .hr-divider[data-v-3437dfdd] {
  width: 100%;
  height: 0.0625rem;
  border: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.editor-body-container[data-v-3437dfdd] {
  display: flex;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .editor-body-container[data-v-3437dfdd] {
    height: calc(100vh - 7.125rem);
  }
}
.editor-body-container.is-bottom-margin[data-v-3437dfdd] {
  margin-bottom: 6.1875rem;
}
@media (max-width: 991.98px) {
  .editor-body-container.is-bottom-margin[data-v-3437dfdd] {
    margin-bottom: 0;
  }
}
.editor-body-container .editor-body-wrapper[data-v-3437dfdd] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.grid[data-v-88fa91b4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-88fa91b4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-88fa91b4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-88fa91b4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-88fa91b4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-88fa91b4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-88fa91b4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-88fa91b4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-88fa91b4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-88fa91b4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-88fa91b4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-88fa91b4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-88fa91b4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-88fa91b4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-88fa91b4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-88fa91b4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-88fa91b4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-88fa91b4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-88fa91b4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-88fa91b4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-88fa91b4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-88fa91b4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-88fa91b4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-88fa91b4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-88fa91b4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-88fa91b4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-88fa91b4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-88fa91b4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-88fa91b4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-88fa91b4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-88fa91b4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-88fa91b4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-88fa91b4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-88fa91b4] {
    grid-column: span 15;
  }
}
.attach-file-wrapper[data-v-88fa91b4] {
  display: flex;
  justify-content: center;
  height: 3.5rem;
  padding: 1rem 1.25rem;
  background-color: #fafafa;
  margin: 0 -1rem;
  border-top: 0.0625rem solid #f4f4f4;
  border-bottom: 0.0625rem solid #f4f4f4;
}
@media (max-width: 991.98px) {
  .attach-file-wrapper[data-v-88fa91b4] {
    justify-content: unset;
  }
}
.attach-file-wrapper .attach-file-area[data-v-88fa91b4] {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .attach-file-wrapper .attach-file-area[data-v-88fa91b4] {
    width: 60.625rem;
  }
}
.attach-file-wrapper .attach-file-area .file-input[data-v-88fa91b4] {
  display: none;
}
.attach-file-wrapper .attach-file-area .add-image-icon[data-v-88fa91b4] {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.4375rem;
  -o-object-fit: contain;
  object-fit: contain;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjc1IDIuNWwxLjY3OCAxLjc2aDIuOTA1YzEuMDA5IDAgMS44MzQuNzkgMS44MzQgMS43NTl2MTAuNTU1YzAgLjk2OC0uODI1IDEuNzYtMS44MzQgMS43NkgyLjY2N2MtMS4wMDkgMC0xLjgzNC0uNzkyLTEuODM0LTEuNzZWNi4wMmMwLS45NjguODI1LTEuNzYgMS44MzQtMS43NmgyLjkwNUw3LjI1IDIuNWg1LjV6TTEwIDguMTU1Yy0xLjg5OCAwLTMuNDM4IDEuNTItMy40MzggMy4zOTMgMCAxLjg3MiAxLjU0IDMuMzkyIDMuNDM4IDMuMzkyIDEuODk4IDAgMy40MzgtMS41MiAzLjQzOC0zLjM5MiAwLTEuODczLTEuNTQtMy4zOTMtMy40MzgtMy4zOTN6IiBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
    no-repeat 50%;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .attach-file-wrapper .attach-file-area .add-image-icon[data-v-88fa91b4] {
    margin-right: 0.3125rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjc1IDIuNWwxLjY3OCAxLjc2aDIuOTA1YzEuMDA5IDAgMS44MzQuNzkgMS44MzQgMS43NTl2MTAuNTU1YzAgLjk2OC0uODI1IDEuNzYtMS44MzQgMS43NkgyLjY2N2MtMS4wMDkgMC0xLjgzNC0uNzkyLTEuODM0LTEuNzZWNi4wMmMwLS45NjguODI1LTEuNzYgMS44MzQtMS43NmgyLjkwNUw3LjI1IDIuNWg1LjV6TTEwIDguMTU1Yy0xLjg5OCAwLTMuNDM4IDEuNTItMy40MzggMy4zOTMgMCAxLjg3MiAxLjU0IDMuMzkyIDMuNDM4IDMuMzkyIDEuODk4IDAgMy40MzgtMS41MiAzLjQzOC0zLjM5MiAwLTEuODczLTEuNTQtMy4zOTMtMy40MzgtMy4zOTN6IiBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
      no-repeat 50%;
  }
}
.attach-file-wrapper
  .attach-file-area
  .add-image-icon.disabled[data-v-88fa91b4] {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjc1IDIuNWwxLjY3OCAxLjc2aDIuOTA1YzEuMDA5IDAgMS44MzQuNzkgMS44MzQgMS43NTl2MTAuNTU1YzAgLjk2OC0uODI1IDEuNzYtMS44MzQgMS43NkgyLjY2N2MtMS4wMDkgMC0xLjgzNC0uNzkyLTEuODM0LTEuNzZWNi4wMmMwLS45NjguODI1LTEuNzYgMS44MzQtMS43NmgyLjkwNUw3LjI1IDIuNWg1LjV6TTEwIDguMTU1Yy0xLjg5OCAwLTMuNDM4IDEuNTItMy40MzggMy4zOTMgMCAxLjg3MiAxLjU0IDMuMzkyIDMuNDM4IDMuMzkyIDEuODk4IDAgMy40MzgtMS41MiAzLjQzOC0zLjM5MiAwLTEuODczLTEuNTQtMy4zOTMtMy40MzgtMy4zOTN6IiBmaWxsPSIjQzVDNUM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
    no-repeat 50%;
}
.attach-file-wrapper .attach-file-area .image-count[data-v-88fa91b4] {
  font-weight: 500;
  color: #888;
}
