.grid[data-v-cbc4fb12] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-cbc4fb12] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-cbc4fb12] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-cbc4fb12] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-cbc4fb12] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-cbc4fb12] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-cbc4fb12] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-cbc4fb12] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-cbc4fb12] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-cbc4fb12] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-cbc4fb12] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-cbc4fb12] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-cbc4fb12] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-cbc4fb12] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-cbc4fb12] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-cbc4fb12] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-cbc4fb12] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-cbc4fb12] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-cbc4fb12] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-cbc4fb12] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-cbc4fb12] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-cbc4fb12] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-cbc4fb12] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-cbc4fb12] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-cbc4fb12] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-cbc4fb12] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-cbc4fb12] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-cbc4fb12] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-cbc4fb12] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-cbc4fb12] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-cbc4fb12] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-cbc4fb12] {
    grid-column: span 15;
  }
}
.sg-button[data-v-cbc4fb12] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.375;
  border-radius: 8px;
  font-weight: 500;
}
.sg-button.focus[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: transparent;
  border-color: transparent;
}
.sg-button.hover[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:hover {
  color: #00ab96;
  background-color: transparent;
  border-color: transparent;
}
.sg-button.disabled[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.sg-button:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.sg-button[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .sg-button.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: transparent;
  border-color: transparent;
}
.sg-button:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.sg-button[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .sg-button.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.sg-button.rounded-pill[data-v-cbc4fb12] {
  border-radius: 24px !important;
}
.sg-button.is-loading[data-v-cbc4fb12] {
  cursor: wait;
  pointer-events: none;
}
.btn-xs[data-v-cbc4fb12] {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.286;
  border-radius: 6px;
  font-weight: 500;
}
.btn-xs.rounded-pill[data-v-cbc4fb12] {
  border-radius: 14px !important;
}
.btn-sm[data-v-cbc4fb12] {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.286;
  border-radius: 8px;
  font-weight: 500;
}
.btn-sm.rounded-pill[data-v-cbc4fb12] {
  border-radius: 18px !important;
}
.btn-lg[data-v-cbc4fb12] {
  padding: 0.9375rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  font-weight: 500;
}
.btn-lg.rounded-pill[data-v-cbc4fb12] {
  border-radius: 28px !important;
}
.btn-block[data-v-cbc4fb12] {
  display: flex;
}
.btn-primary.focus[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:focus {
  color: #fff;
  background-color: #00c7ae;
  border-color: #00c7ae;
}
.btn-primary.hover[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:hover {
  color: #fff;
  background-color: #00ab96;
  border-color: #00ab96;
}
.btn-primary.disabled[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle[data-v-cbc4fb12] {
  color: #fff;
  background-color: #007b74;
  border-color: #007b74;
}
.btn-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-gray.focus[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:focus {
  color: #626262;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.btn-gray.hover[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:hover {
  color: #626262;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-gray.disabled[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #626262;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
}
.btn-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-primary.focus[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: #fff;
  border-color: #00c7ae;
}
.btn-outline-primary.hover[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #00ab96;
  background-color: #fff;
  border-color: #00ab96;
  box-shadow: none;
}
.btn-outline-primary.disabled[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-primary[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: #fff;
  border-color: #007b74;
}
.btn-outline-primary:not(:disabled):not(
    .disabled
  ).active[data-v-cbc4fb12]:focus,
.btn-outline-primary[data-v-cbc4fb12]:not(:disabled):not(
    .disabled
  ):active:focus,
.show > .btn-outline-primary.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-primary-gray.focus[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:focus {
  color: #00c7ae;
  background-color: #fff;
  border-color: #e2e2e2;
}
.btn-outline-primary-gray.hover[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #00ab96;
  background-color: #fff;
  border-color: #a9a9a9;
  box-shadow: none;
}
.btn-outline-primary-gray.disabled[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-primary-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-primary-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #007b74;
  background-color: #fff;
  border-color: #787878;
}
.btn-outline-primary-gray:not(:disabled):not(
    .disabled
  ).active[data-v-cbc4fb12]:focus,
.btn-outline-primary-gray[data-v-cbc4fb12]:not(:disabled):not(
    .disabled
  ):active:focus,
.show > .btn-outline-primary-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.btn-outline-gray.focus[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:focus {
  color: #626262;
  background-color: #fff;
  border-color: #c5c5c5;
}
.btn-outline-gray.hover[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:hover {
  opacity: 1;
  color: #626262;
  background-color: #fff;
  border-color: #888;
  box-shadow: none;
}
.btn-outline-gray.disabled[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:disabled {
  color: #a9a9a9;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.btn-outline-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12],
.btn-outline-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active,
.show > .btn-outline-gray.dropdown-toggle[data-v-cbc4fb12] {
  color: #626262;
  background-color: #fff;
  border-color: #626262;
}
.btn-outline-gray:not(:disabled):not(.disabled).active[data-v-cbc4fb12]:focus,
.btn-outline-gray[data-v-cbc4fb12]:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-gray.dropdown-toggle[data-v-cbc4fb12]:focus {
  box-shadow: none;
}
.grid[data-v-334d34a3] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-334d34a3] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-334d34a3] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-334d34a3] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-334d34a3] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-334d34a3] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-334d34a3] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-334d34a3] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-334d34a3] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-334d34a3] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-334d34a3] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-334d34a3] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-334d34a3] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-334d34a3] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-334d34a3] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-334d34a3] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-334d34a3] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-334d34a3] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-334d34a3] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-334d34a3] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-334d34a3] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-334d34a3] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-334d34a3] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-334d34a3] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-334d34a3] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-334d34a3] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-334d34a3] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-334d34a3] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-334d34a3] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-334d34a3] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-334d34a3] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-334d34a3] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-334d34a3] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-334d34a3] {
    grid-column: span 15;
  }
}
.sign-container[data-v-334d34a3] {
  background: transparent;
  border: 0;
  border-radius: 8px;
  padding: 1.25rem 1rem;
}
.sign-container.has-button[data-v-334d34a3] {
  padding: 0.75rem 1rem 1rem;
}
@media (min-width: 768px) {
  .sign-container.has-button[data-v-334d34a3] {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.75rem 0.75rem 0.75rem;
  }
}
.header[data-v-334d34a3] {
  flex: 1;
}
.title[data-v-334d34a3] {
  display: flex;
  align-items: flex-start;
  font-size: 0.875rem;
}
.title .content[data-v-334d34a3] {
  padding-left: 0.5rem;
  white-space: pre-line;
}
.title + .title[data-v-334d34a3] {
  margin-top: 0.5rem;
}
.desc[data-v-334d34a3] {
  font-size: 0.75rem;
  color: #323232;
  padding-left: 1.75rem;
  margin-bottom: 0;
}
.btn-action[data-v-334d34a3] {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
  .btn-action[data-v-334d34a3] {
    width: auto;
    padding: 0.5rem 1.25rem;
    margin-top: 0;
  }
}
.sign-container.secondary[data-v-334d34a3] {
  background-color: #f2f2f2;
}
.sign-container.secondary .title[data-v-334d34a3] {
  color: #323232;
}
.sign-container.secondary .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #323232;
  border-color: #323232;
}
.sign-container.secondary .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #191919;
}
.sign-container.secondary .btn-action.focus[data-v-334d34a3],
.sign-container.secondary .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #191919;
  box-shadow: 0 0 0 0.2rem rgba(81, 81, 81, 0.5);
}
.sign-container.secondary .btn-action.disabled[data-v-334d34a3],
.sign-container.secondary .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #323232;
  border-color: #323232;
}
.show > .sign-container.secondary .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.secondary
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.secondary
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #191919;
  border-color: #121212;
}
.show
  > .sign-container.secondary
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.secondary
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.secondary
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 81, 81, 0.5);
}
.sign-container.danger[data-v-334d34a3] {
  background-color: #fff2f3;
}
.sign-container.danger .title[data-v-334d34a3] {
  color: #fa5963;
}
.sign-container.danger .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #fa5963;
  border-color: #fa5963;
}
.sign-container.danger .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #f93440;
  border-color: #f92734;
}
.sign-container.danger .btn-action.focus[data-v-334d34a3],
.sign-container.danger .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #f93440;
  border-color: #f92734;
  box-shadow: 0 0 0 0.2rem rgba(251, 114, 122, 0.5);
}
.sign-container.danger .btn-action.disabled[data-v-334d34a3],
.sign-container.danger .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #fa5963;
  border-color: #fa5963;
}
.show > .sign-container.danger .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.danger
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.danger
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #f92734;
  border-color: #f81b29;
}
.show
  > .sign-container.danger
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.danger
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.danger
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(251, 114, 122, 0.5);
}
.sign-container.info[data-v-334d34a3] {
  background-color: #eaf9fd;
}
.sign-container.info .title[data-v-334d34a3] {
  color: #005ddb;
}
.sign-container.info .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #005ddb;
  border-color: #005ddb;
}
.sign-container.info .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #004db5;
  border-color: #0047a8;
}
.sign-container.info .btn-action.focus[data-v-334d34a3],
.sign-container.info .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #004db5;
  border-color: #0047a8;
  box-shadow: 0 0 0 0.2rem rgba(38, 117, 224, 0.5);
}
.sign-container.info .btn-action.disabled[data-v-334d34a3],
.sign-container.info .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #005ddb;
  border-color: #005ddb;
}
.show > .sign-container.info .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.info
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.info
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0047a8;
  border-color: #00429b;
}
.show > .sign-container.info .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.info
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.info
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 117, 224, 0.5);
}
.sign-container.blue[data-v-334d34a3] {
  background-color: #eff4ff;
}
.sign-container.blue .title[data-v-334d34a3] {
  color: #5080fa;
}
.sign-container.blue .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.sign-container.blue .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
}
.sign-container.blue .btn-action.focus[data-v-334d34a3],
.sign-container.blue .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.blue .btn-action.disabled[data-v-334d34a3],
.sign-container.blue .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.show > .sign-container.blue .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.blue
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.blue
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2331a6;
  border-color: #212e9b;
}
.show > .sign-container.blue .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.blue
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.blue
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma[data-v-334d34a3] {
  background-color: #eff4ff;
  padding: 1rem;
}
.sign-container.prisma .title[data-v-334d34a3] {
  color: #323232;
}
.sign-container.prisma .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.sign-container.prisma .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
}
.sign-container.prisma .btn-action.focus[data-v-334d34a3],
.sign-container.prisma .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma .btn-action.disabled[data-v-334d34a3],
.sign-container.prisma .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.show > .sign-container.prisma .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.prisma
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.prisma
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2331a6;
  border-color: #212e9b;
}
.show
  > .sign-container.prisma
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.prisma
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.prisma
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma .content[data-v-334d34a3] {
  display: inline-block;
  width: calc(100% - 1.25rem);
  white-space: inherit;
}
.sign-container.prisma.has-desc[data-v-334d34a3] {
  background-color: #eff4ff;
}
.sign-container.prisma.has-desc .title[data-v-334d34a3] {
  color: #5080fa;
}
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3] {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3]:hover {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
}
.sign-container.prisma.has-desc .btn-action.focus[data-v-334d34a3],
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3]:focus {
  color: #fff;
  background-color: #2535b0;
  border-color: #2331a6;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma.has-desc .btn-action.disabled[data-v-334d34a3],
.sign-container.prisma.has-desc .btn-action[data-v-334d34a3]:disabled {
  color: #fff;
  background-color: #2c3ed0;
  border-color: #2c3ed0;
}
.show
  > .sign-container.prisma.has-desc
  .btn-action.dropdown-toggle[data-v-334d34a3],
.sign-container.prisma.has-desc
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3],
.sign-container.prisma.has-desc
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2331a6;
  border-color: #212e9b;
}
.show
  > .sign-container.prisma.has-desc
  .btn-action.dropdown-toggle[data-v-334d34a3]:focus,
.sign-container.prisma.has-desc
  .btn-action:not(:disabled):not(.disabled).active[data-v-334d34a3]:focus,
.sign-container.prisma.has-desc
  .btn-action[data-v-334d34a3]:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 215, 0.5);
}
.sign-container.prisma.has-desc .content[data-v-334d34a3] {
  font-weight: 500;
}
.sign-container.prisma.has-desc .desc[data-v-334d34a3] {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
.sign-container.sm[data-v-334d34a3] {
  padding: 0.4375rem 0.75rem;
  border-radius: 4px;
}
.sign-container.lg[data-v-334d34a3] {
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
.sign-container.lg .title span[data-v-334d34a3] {
  padding-left: 0.5rem;
}
