.grid[data-v-41fd77e2] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-41fd77e2] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-41fd77e2] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-41fd77e2] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-41fd77e2] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-41fd77e2] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-41fd77e2] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-41fd77e2] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-41fd77e2] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-41fd77e2] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-41fd77e2] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-41fd77e2] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-41fd77e2] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-41fd77e2] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-41fd77e2] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-41fd77e2] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-41fd77e2] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-41fd77e2] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-41fd77e2] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-41fd77e2] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-41fd77e2] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-41fd77e2] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-41fd77e2] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-41fd77e2] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-41fd77e2] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-41fd77e2] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-41fd77e2] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-41fd77e2] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-41fd77e2] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-41fd77e2] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-41fd77e2] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-41fd77e2] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-41fd77e2] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-41fd77e2] {
    grid-column: span 15;
  }
}
.input-checkbox[data-v-41fd77e2] {
  display: none;
}
.answer[data-v-41fd77e2] {
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
.answer[data-v-41fd77e2]:last-child {
  margin-bottom: 0;
}
.input-checkbox + label[data-v-41fd77e2] {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  cursor: pointer;
}
.input-checkbox + label.disabled[data-v-41fd77e2] {
  cursor: auto;
}
.checkbox-icon[data-v-41fd77e2] {
  margin: auto 0.5rem auto 0;
}
.text-area[data-v-41fd77e2] {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.text[data-v-41fd77e2] {
  font-size: 1rem;
  font-weight: 500;
  color: #323232;
}
.disabled .text[data-v-41fd77e2] {
  color: #b5b5b5;
}
.text-desc[data-v-41fd77e2] {
  margin-top: 0.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #323232;
}
.disabled .text-desc[data-v-41fd77e2] {
  color: #b5b5b5;
}
.extra-wrapper[data-v-41fd77e2] {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}
.extra-wrapper .form-control[data-v-41fd77e2] {
  flex: 1;
  padding: 0.75rem;
  resize: none;
  border: 0.0625rem solid #e1e1e1;
}
.extra-wrapper .form-control[data-v-41fd77e2]::-moz-placeholder {
  color: #b5b5b5;
}
.extra-wrapper .form-control[data-v-41fd77e2]::placeholder {
  color: #b5b5b5;
}
.extra-wrapper .form-control[data-v-41fd77e2]:focus {
  border-color: #00c7ae;
  outline: none;
}
.extra-wrapper .text-submit[data-v-41fd77e2] {
  width: 3.875rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
}
@media (min-width: 768px) {
  .extra-wrapper .text-submit[data-v-41fd77e2] {
    display: none;
  }
}
.extra-wrapper .text-counter[data-v-41fd77e2] {
  margin: 0.5rem 0 0 auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  color: #b5b5b5;
}
.extra-wrapper .text-counter .teal[data-v-41fd77e2] {
  margin-right: 0.25rem;
  color: #00c7ae;
}
.grid[data-v-2ca1225c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2ca1225c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2ca1225c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2ca1225c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2ca1225c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2ca1225c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2ca1225c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2ca1225c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2ca1225c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2ca1225c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2ca1225c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2ca1225c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2ca1225c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2ca1225c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2ca1225c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2ca1225c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2ca1225c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2ca1225c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2ca1225c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2ca1225c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2ca1225c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2ca1225c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2ca1225c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2ca1225c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2ca1225c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2ca1225c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2ca1225c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2ca1225c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2ca1225c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2ca1225c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2ca1225c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2ca1225c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2ca1225c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2ca1225c] {
    grid-column: span 15;
  }
}
.date-modal[data-v-2ca1225c] {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .date-modal[data-v-2ca1225c] {
    padding: 1.75rem 1.75rem 2.5rem;
  }
}
.header-wrapper[data-v-2ca1225c] {
  padding: 0;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (min-width: 768px) {
  .header-wrapper[data-v-2ca1225c] {
    border-bottom: none;
  }
}
.header-wrapper .question-text[data-v-2ca1225c] {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  padding: 0.25rem 0 1.25rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header-wrapper .question-text[data-v-2ca1225c] {
    padding: 1rem 0 1.5rem;
  }
}
.header-wrapper .button[data-v-2ca1225c] {
  display: none;
}
@media (min-width: 768px) {
  .header-wrapper .button[data-v-2ca1225c] {
    padding: 0;
    display: flex;
    margin-left: auto;
  }
}
.auth-wrapper[data-v-2ca1225c] {
  flex: 1;
  margin: 3.625rem 0 3.125rem;
  padding: 3rem 1rem;
}
@media (min-width: 768px) {
  .auth-wrapper[data-v-2ca1225c] {
    margin: 1.5rem 0 0;
    padding: 0;
    overflow-y: unset;
  }
}
.button-wrapper[data-v-2ca1225c] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  z-index: 999;
}
@media (min-width: 768px) {
  .button-wrapper[data-v-2ca1225c] {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    position: unset;
    z-index: unset;
  }
}
.button-wrapper .next-step[data-v-2ca1225c] {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
@media (min-width: 768px) {
  .button-wrapper .next-step[data-v-2ca1225c] {
    width: 7.5rem;
    height: 3rem;
    border-radius: 4px;
  }
}
.body-wrapper[data-v-2ca1225c] {
  padding: 1rem;
}
@media (min-width: 768px) {
  .body-wrapper[data-v-2ca1225c] {
    padding: 0;
  }
}
[data-v-2ca1225c] .terms-container {
  min-height: unset;
}
[data-v-2ca1225c] header.font-weight-bold {
  font-size: 1.25rem;
  font-weight: 700 !important;
}
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-header
  button[aria-label="Next month"],
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-header
  button[aria-label="Previous month"],
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-nav
  button[aria-label="Next month"],
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-nav
  button[aria-label="Previous month"] {
  padding: 0.3125rem;
}
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-header
  button[aria-label="Next month"]
  svg,
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-header
  button[aria-label="Previous month"]
  svg,
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-nav
  button[aria-label="Next month"]
  svg,
[data-v-2ca1225c]
  .datepicker-wrapper
  .b-calendar
  .b-calendar-nav
  button[aria-label="Previous month"]
  svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #323232;
}
.grid[data-v-810b6af4] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-810b6af4] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-810b6af4] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-810b6af4] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-810b6af4] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-810b6af4] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-810b6af4] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-810b6af4] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-810b6af4] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-810b6af4] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-810b6af4] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-810b6af4] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-810b6af4] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-810b6af4] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-810b6af4] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-810b6af4] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-810b6af4] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-810b6af4] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-810b6af4] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-810b6af4] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-810b6af4] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-810b6af4] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-810b6af4] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-810b6af4] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-810b6af4] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-810b6af4] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-810b6af4] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-810b6af4] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-810b6af4] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-810b6af4] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-810b6af4] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-810b6af4] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-810b6af4] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-810b6af4] {
    grid-column: span 15;
  }
}
.select-button[data-v-810b6af4] {
  width: 100%;
  border-radius: 6px;
}
.grid[data-v-c5afc7dc] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-c5afc7dc] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-c5afc7dc] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-c5afc7dc] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-c5afc7dc] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-c5afc7dc] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-c5afc7dc] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-c5afc7dc] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-c5afc7dc] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-c5afc7dc] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-c5afc7dc] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-c5afc7dc] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-c5afc7dc] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-c5afc7dc] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-c5afc7dc] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-c5afc7dc] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-c5afc7dc] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-c5afc7dc] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-c5afc7dc] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-c5afc7dc] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-c5afc7dc] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-c5afc7dc] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-c5afc7dc] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-c5afc7dc] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-c5afc7dc] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-c5afc7dc] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-c5afc7dc] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-c5afc7dc] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-c5afc7dc] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-c5afc7dc] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-c5afc7dc] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-c5afc7dc] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-c5afc7dc] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-c5afc7dc] {
    grid-column: span 15;
  }
}
.address-wrapper[data-v-c5afc7dc] {
  width: 100%;
}
.button[data-v-c5afc7dc] {
  width: 100%;
  border-radius: 6px;
}
.grid[data-v-de83d790] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-de83d790] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-de83d790] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-de83d790] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-de83d790] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-de83d790] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-de83d790] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-de83d790] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-de83d790] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-de83d790] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-de83d790] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-de83d790] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-de83d790] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-de83d790] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-de83d790] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-de83d790] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-de83d790] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-de83d790] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-de83d790] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-de83d790] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-de83d790] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-de83d790] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-de83d790] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-de83d790] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-de83d790] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-de83d790] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-de83d790] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-de83d790] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-de83d790] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-de83d790] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-de83d790] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-de83d790] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-de83d790] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-de83d790] {
    grid-column: span 15;
  }
}
.header-wrapper[data-v-de83d790] {
  margin-bottom: 3rem;
}
.title[data-v-de83d790] {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}
.subtitle[data-v-de83d790] {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #737373;
}
.form-group[data-v-de83d790]:not(:first-of-type) {
  margin-top: 1.5rem;
}
.input-label[data-v-de83d790] {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.input-group[data-v-de83d790] {
  align-items: center;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 4px;
}
.input-group.error[data-v-de83d790] {
  border-color: #fa5963;
}
.input-group.complete-phone-auth[data-v-de83d790] {
  border: none;
}
.answer-input[data-v-de83d790] {
  padding: 0.6875rem 0.75rem;
  border: none;
}
.complete-phone-auth .answer-input[data-v-de83d790] {
  color: #b5b5b5;
  pointer-events: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.button-wrapper[data-v-de83d790] {
  margin-right: 0.75rem;
}
.complete-phone-auth .button-wrapper[data-v-de83d790] {
  display: none;
}
.send-button[data-v-de83d790] {
  z-index: 3;
  width: 4.5rem;
  height: 1.75rem;
  padding: 0.1875rem 0.625rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: #00c7ae;
  border: none;
  border-radius: 4px;
  outline: none;
}
.send-button.disabled[data-v-de83d790] {
  pointer-events: none;
  background-color: #e1e1e1;
}
.validation-msg-wrapper[data-v-de83d790] {
  font-size: 0.875rem;
  font-weight: 400;
}
.authentication[data-v-de83d790] {
  padding-top: 0.25rem;
  margin: 0;
  color: #00c7ae;
}
.validation[data-v-de83d790] {
  padding-top: 0.25rem;
  margin: 0;
  color: #fa5963;
}
.terms-wrapper[data-v-de83d790] {
  display: none;
}
@media (min-width: 768px) {
  .terms-wrapper[data-v-de83d790] {
    display: inherit;
  }
  .terms-wrapper .form-group[data-v-de83d790] {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .terms-wrapper[data-v-de83d790] .terms-container {
    padding-bottom: 0;
  }
}
.grid[data-v-75259125] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-75259125] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-75259125] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-75259125] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-75259125] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-75259125] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-75259125] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-75259125] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-75259125] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-75259125] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-75259125] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-75259125] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-75259125] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-75259125] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-75259125] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-75259125] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-75259125] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-75259125] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-75259125] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-75259125] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-75259125] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-75259125] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-75259125] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-75259125] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-75259125] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-75259125] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-75259125] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-75259125] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-75259125] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-75259125] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-75259125] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-75259125] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-75259125] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-75259125] {
    grid-column: span 15;
  }
}
.auth-modal-enter-active[data-v-75259125],
.auth-modal-leave-active[data-v-75259125] {
  transition: transform 0.4s cubic-bezier(0.43, 0.94, 0.65, 1);
}
@media (min-width: 768px) {
  .auth-modal-enter-active[data-v-75259125],
  .auth-modal-leave-active[data-v-75259125] {
    transition: opacity 0.15s linear;
  }
}
.auth-modal-enter[data-v-75259125],
.auth-modal-leave-to[data-v-75259125] {
  transform: translateY(100%);
}
@media (min-width: 768px) {
  .auth-modal-enter[data-v-75259125],
  .auth-modal-leave-to[data-v-75259125] {
    opacity: 1;
    transform: unset;
  }
}
.modal-wrapper[data-v-75259125] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .modal-wrapper[data-v-75259125] {
    padding: 5rem 0;
  }
}
.auth-modal[data-v-75259125] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}
@media (min-width: 768px) {
  .auth-modal[data-v-75259125] {
    width: 26.25rem;
    height: -moz-max-content;
    height: max-content;
    max-height: 100%;
    padding: 1.75rem;
    margin: auto 0;
    overflow-y: auto;
    transition: transform 0.3s ease-out;
  }
  .auth-modal-enter .auth-modal[data-v-75259125] {
    transform: translateY(-2.5rem);
  }
}
.header-wrapper[data-v-75259125] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.625rem;
  padding: 0 1rem;
  text-align: center;
  background-color: #fff;
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (min-width: 768px) {
  .header-wrapper[data-v-75259125] {
    position: unset;
    justify-content: space-between;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    border-bottom: none;
  }
}
.header-wrapper .modal-title[data-v-75259125] {
  flex: 1;
  margin: auto 0;
  font-size: 1.125rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .header-wrapper .modal-title[data-v-75259125] {
    display: none;
  }
}
.header-wrapper .button[data-v-75259125] {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: auto 0;
}
.auth-wrapper[data-v-75259125] {
  flex: 1;
  padding: 2rem 1rem;
  margin: 3.625rem 0 3.125rem;
}
@media (min-width: 768px) {
  .auth-wrapper[data-v-75259125] {
    padding: 0;
    margin: 1rem 0 0;
    overflow-y: unset;
  }
}
.button-wrapper[data-v-75259125] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 3.125rem;
}
@media (min-width: 768px) {
  .button-wrapper[data-v-75259125] {
    position: unset;
    z-index: unset;
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
  }
}
.button-wrapper .next-step[data-v-75259125] {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
@media (min-width: 768px) {
  .button-wrapper .next-step[data-v-75259125] {
    height: 3rem;
    border-radius: 4px;
  }
}
.terms-list[data-v-75259125] {
  padding: 1.5rem 1rem 0;
}
[data-v-75259125] .bottom-sheet {
  z-index: 1050;
}
[data-v-75259125] .terms-container {
  min-height: unset;
}
.grid[data-v-76771582] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-76771582] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-76771582] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-76771582] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-76771582] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-76771582] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-76771582] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-76771582] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-76771582] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-76771582] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-76771582] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-76771582] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-76771582] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-76771582] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-76771582] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-76771582] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-76771582] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-76771582] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-76771582] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-76771582] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-76771582] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-76771582] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-76771582] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-76771582] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-76771582] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-76771582] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-76771582] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-76771582] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-76771582] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-76771582] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-76771582] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-76771582] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-76771582] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-76771582] {
    grid-column: span 15;
  }
}
.answer-sheet[data-v-76771582] {
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: -moz-max-content;
  height: max-content;
  max-height: 24.125rem;
  margin-bottom: 0.25rem;
  background-color: #fff;
}
.answer-sheet.address .answer-wrapper[data-v-76771582],
.answer-sheet.submit-step .answer-wrapper[data-v-76771582] {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .answer-sheet[data-v-76771582] {
    width: 22.5rem;
  }
  .answer-sheet.image[data-v-76771582] {
    padding: 1.25rem;
  }
  .answer-sheet.text-field .answer-wrapper[data-v-76771582] {
    height: 8.875rem;
    padding-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .answer-sheet.text-field .answer-wrapper[data-v-76771582] {
    height: 9.3125rem;
  }
}
.answer-wrapper[data-v-76771582] {
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 1;
  width: 100%;
  padding-bottom: 0.75rem;
  overflow-y: scroll;
}
.answer-wrapper[data-v-76771582]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
  display: none;
}
.answers[data-v-76771582] {
  margin-bottom: 0;
}
.answer[data-v-76771582] {
  width: 100%;
  height: auto;
  padding: 1rem 1.25rem 1rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
.answer[data-v-76771582]:last-child {
  margin-bottom: 0;
}
.button-wrapper[data-v-76771582] {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
  height: 4rem;
  padding-top: 1rem;
}
.button-wrapper.hide-button[data-v-76771582] {
  display: none;
}
.button-wrapper[data-v-76771582]:before {
  position: absolute;
  top: -0.6875rem;
  left: 0;
  width: 100%;
  height: 0.75rem;
  content: "";
  background-image: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
}
.text-field .button-wrapper[data-v-76771582]:before {
  display: none;
}
.button-wrapper .btn[data-v-76771582] {
  flex: 1;
  border-radius: 6px;
}
.button-wrapper .skip[data-v-76771582] {
  border: 0.0625rem solid #e1e1e1;
}
.submit[data-v-76771582] {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
}
