.grid[data-v-6ce2f9ee] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6ce2f9ee] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6ce2f9ee] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6ce2f9ee] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6ce2f9ee] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6ce2f9ee] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6ce2f9ee] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6ce2f9ee] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6ce2f9ee] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6ce2f9ee] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6ce2f9ee] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6ce2f9ee] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6ce2f9ee] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6ce2f9ee] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6ce2f9ee] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6ce2f9ee] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6ce2f9ee] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6ce2f9ee] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6ce2f9ee] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6ce2f9ee] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6ce2f9ee] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6ce2f9ee] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6ce2f9ee] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6ce2f9ee] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6ce2f9ee] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6ce2f9ee] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6ce2f9ee] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6ce2f9ee] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6ce2f9ee] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6ce2f9ee] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6ce2f9ee] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6ce2f9ee] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6ce2f9ee] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6ce2f9ee] {
    grid-column: span 15;
  }
}
.bottom-sheet-enter-active[data-v-6ce2f9ee],
.bottom-sheet-leave-active[data-v-6ce2f9ee] {
  transition: opacity 0.15s linear;
}
.bottom-sheet-enter[data-v-6ce2f9ee],
.bottom-sheet-leave-to[data-v-6ce2f9ee] {
  opacity: 1;
}
.responsive-modal .modal-body {
  width: 26.25rem;
  height: -moz-max-content;
  height: max-content;
  padding: 0;
}
.grid[data-v-0a89f3b9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0a89f3b9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0a89f3b9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0a89f3b9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0a89f3b9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0a89f3b9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0a89f3b9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0a89f3b9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0a89f3b9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0a89f3b9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0a89f3b9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0a89f3b9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0a89f3b9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0a89f3b9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0a89f3b9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0a89f3b9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0a89f3b9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0a89f3b9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0a89f3b9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0a89f3b9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0a89f3b9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0a89f3b9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0a89f3b9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0a89f3b9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0a89f3b9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0a89f3b9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0a89f3b9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0a89f3b9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0a89f3b9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0a89f3b9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0a89f3b9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0a89f3b9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0a89f3b9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0a89f3b9] {
    grid-column: span 15;
  }
}
.text-field-wrapper[data-v-0a89f3b9] {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.text-field[data-v-0a89f3b9] {
  width: 100%;
  height: 6rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: #323232;
  border-radius: 4px;
  border: 0.0625rem solid #e1e1e1;
  padding: 0.75rem;
  resize: none;
}
.text-field[data-v-0a89f3b9]:focus {
  outline: none;
  border: 0.0625rem solid #00c7ae;
}
.text-field[data-v-0a89f3b9]::-moz-placeholder {
  color: #b5b5b5;
}
.text-field[data-v-0a89f3b9]::placeholder {
  color: #b5b5b5;
}
.validation[data-v-0a89f3b9] {
  text-align: right;
  color: #b5b5b5;
  font-size: 0.75rem;
  margin: 0;
}
.input-length[data-v-0a89f3b9] {
  color: #00c7ae;
}
.grid[data-v-2e0196da] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2e0196da] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2e0196da] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2e0196da] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2e0196da] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2e0196da] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2e0196da] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2e0196da] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2e0196da] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2e0196da] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2e0196da] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2e0196da] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2e0196da] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2e0196da] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2e0196da] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2e0196da] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2e0196da] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2e0196da] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2e0196da] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2e0196da] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2e0196da] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2e0196da] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2e0196da] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2e0196da] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2e0196da] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2e0196da] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2e0196da] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2e0196da] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2e0196da] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2e0196da] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2e0196da] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2e0196da] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2e0196da] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2e0196da] {
    grid-column: span 15;
  }
}
.auth-wrapper[data-v-2e0196da] {
  width: 100%;
}
.auth-button[data-v-2e0196da] {
  width: 100%;
  border-radius: 6px;
}
.button-wrapper[data-v-2e0196da] {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.grid[data-v-74a72f8d] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-74a72f8d] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-74a72f8d] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-74a72f8d] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-74a72f8d] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-74a72f8d] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-74a72f8d] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-74a72f8d] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-74a72f8d] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-74a72f8d] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-74a72f8d] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-74a72f8d] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-74a72f8d] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-74a72f8d] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-74a72f8d] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-74a72f8d] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-74a72f8d] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-74a72f8d] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-74a72f8d] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-74a72f8d] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-74a72f8d] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-74a72f8d] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-74a72f8d] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-74a72f8d] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-74a72f8d] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-74a72f8d] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-74a72f8d] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-74a72f8d] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-74a72f8d] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-74a72f8d] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-74a72f8d] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-74a72f8d] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-74a72f8d] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-74a72f8d] {
    grid-column: span 15;
  }
}
.answer-area[data-v-74a72f8d],
.answer[data-v-74a72f8d] {
  display: flex;
  flex-direction: row;
}
.answer[data-v-74a72f8d] {
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
}
.answer[data-v-74a72f8d]:last-child {
  margin-bottom: 0;
}
.spinner-area[data-v-74a72f8d] {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
}
.spinner-area .spinner-input[data-v-74a72f8d] {
  width: 2.25rem;
  height: 2rem;
  padding: 0;
  font-size: 1rem;
  color: #323232;
  text-align: center;
  border: none;
  border-radius: 0;
}
.spinner-area .spinner-input[data-v-74a72f8d]:focus {
  outline: none;
}
.spinner-area .spinner-button[data-v-74a72f8d] {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.spinner-area .spinner-button[data-v-74a72f8d]:focus {
  outline: none;
}
.text-area[data-v-74a72f8d] {
  align-self: center;
}
.text-area .text[data-v-74a72f8d] {
  font-size: 1rem;
  font-weight: 500;
  color: #323232;
}
.text-area .text-desc[data-v-74a72f8d] {
  margin-top: 0.125rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #323232;
}
.text-area .selected[data-v-74a72f8d] {
  color: #00c7ae;
}
.grid[data-v-a9b95f68] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a9b95f68] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a9b95f68] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a9b95f68] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a9b95f68] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a9b95f68] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a9b95f68] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a9b95f68] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a9b95f68] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a9b95f68] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a9b95f68] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a9b95f68] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a9b95f68] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a9b95f68] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a9b95f68] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a9b95f68] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a9b95f68] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a9b95f68] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a9b95f68] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a9b95f68] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a9b95f68] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a9b95f68] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a9b95f68] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a9b95f68] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a9b95f68] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a9b95f68] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a9b95f68] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a9b95f68] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a9b95f68] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a9b95f68] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a9b95f68] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a9b95f68] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a9b95f68] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a9b95f68] {
    grid-column: span 15;
  }
}
.bridge-content[data-v-a9b95f68] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 16rem;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .bridge-content[data-v-a9b95f68] {
    width: 22.5rem;
  }
}
.content-wrapper[data-v-a9b95f68] {
  display: flex;
  align-items: center;
}
.icon[data-v-a9b95f68] {
  margin-right: 0.75rem;
}
.title[data-v-a9b95f68] {
  width: 4.5rem;
  margin-right: 1rem;
}
.value[data-v-a9b95f68] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.grid[data-v-30521bed] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-30521bed] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-30521bed] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-30521bed] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-30521bed] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-30521bed] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-30521bed] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-30521bed] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-30521bed] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-30521bed] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-30521bed] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-30521bed] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-30521bed] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-30521bed] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-30521bed] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-30521bed] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-30521bed] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-30521bed] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-30521bed] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-30521bed] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-30521bed] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-30521bed] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-30521bed] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-30521bed] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-30521bed] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-30521bed] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-30521bed] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-30521bed] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-30521bed] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-30521bed] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-30521bed] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-30521bed] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-30521bed] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-30521bed] {
    grid-column: span 15;
  }
}
.progress-wrapper[data-v-30521bed] {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .progress-wrapper[data-v-30521bed] {
    margin-bottom: 1rem;
  }
  .is-modal .progress-wrapper[data-v-30521bed] {
    margin-bottom: 0.5rem;
  }
}
.progress[data-v-30521bed] {
  flex: 1;
  height: 0.25rem;
}
.progress[data-v-30521bed]::-webkit-progress-bar {
  background-color: #f2f2f2;
  border-radius: 3px;
}
.progress[data-v-30521bed]::-webkit-progress-value {
  background-color: #00c7ae;
  border-radius: 3px;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  animation-timing-function: 1s linear infinite;
}
.progress-percent[data-v-30521bed] {
  width: 2.9375rem;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #00c7ae;
  text-align: right;
}
@media (min-width: 768px) {
  .progress-percent[data-v-30521bed] {
    width: 3.4375rem;
  }
}
.grid[data-v-225b4020] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-225b4020] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-225b4020] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-225b4020] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-225b4020] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-225b4020] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-225b4020] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-225b4020] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-225b4020] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-225b4020] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-225b4020] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-225b4020] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-225b4020] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-225b4020] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-225b4020] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-225b4020] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-225b4020] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-225b4020] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-225b4020] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-225b4020] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-225b4020] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-225b4020] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-225b4020] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-225b4020] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-225b4020] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-225b4020] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-225b4020] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-225b4020] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-225b4020] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-225b4020] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-225b4020] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-225b4020] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-225b4020] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-225b4020] {
    grid-column: span 15;
  }
}
.answer-sheet-enter-active[data-v-225b4020],
.answer-sheet-leave-active[data-v-225b4020] {
  transition: all 0.2s;
}
.answer-sheet-enter[data-v-225b4020],
.answer-sheet-leave-to[data-v-225b4020] {
  opacity: 1;
}
.request-chat-form[data-v-225b4020] {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header-container[data-v-225b4020] {
  border-bottom: 0.0625rem solid #f2f2f2;
}
@media (min-width: 768px) {
  .header-container[data-v-225b4020] {
    padding: 1.5rem 0 0;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.06);
  }
  .is-modal .header-container[data-v-225b4020] {
    padding-top: 1rem;
  }
  .header-container .progress-wrapper[data-v-225b4020],
  .header-container .title-wrapper[data-v-225b4020] {
    width: 37.5rem;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .is-modal .header-container .progress-wrapper[data-v-225b4020],
  .is-modal .header-container .title-wrapper[data-v-225b4020] {
    width: 100%;
    padding: 0 1rem;
  }
}
.form-wrapper[data-v-225b4020] {
  flex: 1;
  height: 100%;
  overflow: auto;
  background-color: #f2f2f2;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.form-wrapper[data-v-225b4020]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
  display: none;
}
.grid {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > * {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1 {
  grid-column: span 1;
}
.grid > .span-md-2 {
  grid-column: span 2;
}
.grid > .span-md-3 {
  grid-column: span 3;
}
.grid > .span-md-4 {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid {
    padding: 0 7.5rem;
  }
  .grid.max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > * {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > * {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1 {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2 {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3 {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4 {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5 {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6 {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7 {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8 {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9 {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10 {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11 {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12 {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13 {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14 {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15 {
    grid-column: span 15;
  }
}
body.request-chat-form #app {
  height: 100%;
}
body.request-chat-form #app-footer,
body.request-chat-form #app-header,
body.request-chat-form #app-sticky-nav {
  display: none;
}
@media (min-width: 768px) {
  body.request-chat-form #app-header,
  body.request-chat-form #app-sticky-nav {
    display: unset;
  }
  body.request-chat-form #app-body {
    height: calc(100% - 4.5rem) !important;
  }
}
