.grid[data-v-4857c454] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4857c454] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4857c454] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4857c454] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4857c454] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4857c454] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4857c454] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4857c454] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4857c454] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4857c454] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4857c454] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4857c454] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4857c454] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4857c454] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4857c454] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4857c454] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4857c454] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4857c454] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4857c454] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4857c454] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4857c454] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4857c454] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4857c454] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4857c454] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4857c454] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4857c454] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4857c454] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4857c454] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4857c454] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4857c454] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4857c454] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4857c454] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4857c454] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4857c454] {
    grid-column: span 15;
  }
}
.ambassador-badge[data-v-4857c454] {
  position: relative;
  display: flex;
  align-items: center;
}
.ambassador-badge .ambassador-badge-icon-wrapper[data-v-4857c454] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.ambassador-badge
  .ambassador-badge-icon-wrapper
  .ambassador-badge-text[data-v-4857c454] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #00c7ae;
}
.ambassador-badge[data-v-4857c454]
  .ambassador-tooltip.tooltip-container
  .tooltip-info {
  max-width: 13.875rem;
}
.grid[data-v-e3250470] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-e3250470] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-e3250470] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-e3250470] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-e3250470] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-e3250470] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-e3250470] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-e3250470] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-e3250470] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-e3250470] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-e3250470] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-e3250470] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-e3250470] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-e3250470] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-e3250470] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-e3250470] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-e3250470] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-e3250470] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-e3250470] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-e3250470] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-e3250470] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-e3250470] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-e3250470] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-e3250470] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-e3250470] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-e3250470] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-e3250470] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-e3250470] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-e3250470] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-e3250470] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-e3250470] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-e3250470] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-e3250470] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-e3250470] {
    grid-column: span 15;
  }
}
.bottom-sheet-enter-active[data-v-e3250470] {
  transition: all var(--enter-duration) cubic-bezier(0.43, 0.94, 0.65, 1);
}
.bottom-sheet-leave-active[data-v-e3250470] {
  transition: all var(--leave-duration) cubic-bezier(0.43, 0.94, 0.65, 1);
}
.bottom-sheet-enter[data-v-e3250470],
.bottom-sheet-leave-to[data-v-e3250470] {
  transform: translateY(100%);
  opacity: 1;
}
.bottom-sheet[data-v-e3250470] {
  position: fixed;
  z-index: 1020;
}
.backdrop[data-v-e3250470] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-wrapper[data-v-e3250470] {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 90%;
  background-color: #fff;
  margin: 0;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.modal-wrapper .header[data-v-e3250470] {
  padding: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.modal-wrapper .header .title[data-v-e3250470] {
  font-size: 1.125rem;
  font-weight: 500;
  flex-grow: 1;
  text-align: center;
  text-indent: 1.125rem;
}
.modal-wrapper .header img[data-v-e3250470] {
  cursor: pointer;
}
.grid[data-v-5084b5b0] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-5084b5b0] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-5084b5b0] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-5084b5b0] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-5084b5b0] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-5084b5b0] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-5084b5b0] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-5084b5b0] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-5084b5b0] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-5084b5b0] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-5084b5b0] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-5084b5b0] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-5084b5b0] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-5084b5b0] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-5084b5b0] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-5084b5b0] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-5084b5b0] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-5084b5b0] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-5084b5b0] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-5084b5b0] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-5084b5b0] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-5084b5b0] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-5084b5b0] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-5084b5b0] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-5084b5b0] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-5084b5b0] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-5084b5b0] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-5084b5b0] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-5084b5b0] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-5084b5b0] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-5084b5b0] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-5084b5b0] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-5084b5b0] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-5084b5b0] {
    grid-column: span 15;
  }
}
.bottom-sheet[data-v-5084b5b0] {
  position: fixed;
  z-index: 1020;
}
.backdrop[data-v-5084b5b0] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-wrapper[data-v-5084b5b0] {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 90%;
  background-color: #fff;
  margin: 0;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.modal-wrapper .header[data-v-5084b5b0] {
  padding: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.modal-wrapper .header .title[data-v-5084b5b0] {
  font-size: 1.125rem;
  font-weight: 500;
  flex-grow: 1;
  text-align: center;
  text-indent: 1.125rem;
}
.modal-wrapper .header img[data-v-5084b5b0] {
  cursor: pointer;
}
.grid[data-v-6256e94d] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-6256e94d] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-6256e94d] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-6256e94d] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-6256e94d] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-6256e94d] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-6256e94d] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-6256e94d] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-6256e94d] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-6256e94d] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-6256e94d] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-6256e94d] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-6256e94d] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-6256e94d] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-6256e94d] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-6256e94d] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-6256e94d] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-6256e94d] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-6256e94d] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-6256e94d] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-6256e94d] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-6256e94d] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-6256e94d] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-6256e94d] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-6256e94d] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-6256e94d] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-6256e94d] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-6256e94d] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-6256e94d] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-6256e94d] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-6256e94d] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-6256e94d] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-6256e94d] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-6256e94d] {
    grid-column: span 15;
  }
}
.cash-store-icon-section[data-v-6256e94d] {
  display: flex;
  position: relative;
}
.cash-store-icon-section .cash-store-nudge[data-v-6256e94d] {
  position: absolute;
  bottom: -2.75rem;
  right: -4.9375rem;
}
.grid[data-v-7654bb0c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7654bb0c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7654bb0c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7654bb0c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7654bb0c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7654bb0c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7654bb0c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7654bb0c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7654bb0c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7654bb0c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7654bb0c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7654bb0c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7654bb0c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7654bb0c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7654bb0c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7654bb0c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7654bb0c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7654bb0c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7654bb0c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7654bb0c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7654bb0c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7654bb0c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7654bb0c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7654bb0c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7654bb0c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7654bb0c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7654bb0c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7654bb0c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7654bb0c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7654bb0c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7654bb0c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7654bb0c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7654bb0c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7654bb0c] {
    grid-column: span 15;
  }
}
.sg-chip[data-v-7654bb0c] {
  font-weight: 400;
  color: #323232;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.sg-chip[data-v-7654bb0c]:hover {
  background-color: #e1e1e1;
}
.sg-chip.has-icon[data-v-7654bb0c] {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.sg-chip.has-icon.icon-right[data-v-7654bb0c] {
  flex-direction: flex-end;
}
.sg-chip.active[data-v-7654bb0c] {
  color: #fff;
  background-color: #323232;
}
@media (min-width: 768px) {
  .sg-chip.active[data-v-7654bb0c]:hover {
    color: #737373;
  }
}
.sg-chip.primary[data-v-7654bb0c] {
  background-color: #fff;
  border: 0.0625rem solid #f4f4f4;
  color: #888;
}
.sg-chip.primary.active[data-v-7654bb0c] {
  background-color: #fff;
  border-color: #009a8b;
  color: #009a8b;
}
.sg-chip.primary[data-v-7654bb0c]:hover {
  background-color: #fff;
}
.sg-chip.outlined-primary[data-v-7654bb0c] {
  background-color: #fff;
  border: 0.0625rem solid #e1e1e1;
  font-size: 1rem;
  border-radius: 21px;
  padding: 0.5rem 0.875rem;
  font-weight: 400;
}
.sg-chip.outlined-primary[data-v-7654bb0c]:hover {
  background-color: #fafafa;
}
.sg-chip.outlined-primary[data-v-7654bb0c]:disabled {
  background-color: #f2f2f2 !important;
  color: #b5b5b5 !important;
  border: 0;
  padding: 0.5625rem 0.9375rem;
}
.sg-chip.outlined-primary.active[data-v-7654bb0c] {
  background-color: #00c7ae;
  color: #fff;
  border: 0;
  padding: 0.5625rem 0.9375rem;
}
.sg-chip.outlined-primary.active[data-v-7654bb0c]:hover {
  background-color: #00bba5;
}
.sg-chip.secondary[data-v-7654bb0c] {
  background-color: #fff;
  border: 0.0625rem solid #e1e1e1;
  color: #737373;
  font-size: 0.875rem;
  border-radius: 28px;
  padding: 0.25rem 0.75rem 0.3125rem;
  font-weight: 400;
}
.sg-chip.secondary.active[data-v-7654bb0c] {
  background-color: #323232;
  color: #fff;
  border: 0.0625rem solid #323232;
}
.grid[data-v-2d5698f6] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2d5698f6] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2d5698f6] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2d5698f6] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2d5698f6] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2d5698f6] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2d5698f6] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2d5698f6] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2d5698f6] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2d5698f6] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2d5698f6] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2d5698f6] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2d5698f6] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2d5698f6] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2d5698f6] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2d5698f6] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2d5698f6] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2d5698f6] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2d5698f6] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2d5698f6] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2d5698f6] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2d5698f6] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2d5698f6] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2d5698f6] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2d5698f6] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2d5698f6] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2d5698f6] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2d5698f6] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2d5698f6] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2d5698f6] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2d5698f6] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2d5698f6] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2d5698f6] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2d5698f6] {
    grid-column: span 15;
  }
}
.circle-progress-wrap[data-v-2d5698f6] {
  margin: auto;
  display: inline-flex;
  position: relative;
}
.circle-progress[data-v-2d5698f6] {
  transform: rotate(-90deg);
}
.bar[data-v-2d5698f6],
.frame[data-v-2d5698f6] {
  fill: none;
}
.bar[data-v-2d5698f6] {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.2s ease-in-out;
}
.value[data-v-2d5698f6] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.grid[data-v-53fa26d9] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-53fa26d9] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-53fa26d9] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-53fa26d9] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-53fa26d9] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-53fa26d9] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-53fa26d9] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-53fa26d9] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-53fa26d9] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-53fa26d9] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-53fa26d9] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-53fa26d9] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-53fa26d9] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-53fa26d9] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-53fa26d9] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-53fa26d9] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-53fa26d9] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-53fa26d9] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-53fa26d9] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-53fa26d9] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-53fa26d9] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-53fa26d9] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-53fa26d9] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-53fa26d9] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-53fa26d9] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-53fa26d9] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-53fa26d9] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-53fa26d9] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-53fa26d9] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-53fa26d9] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-53fa26d9] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-53fa26d9] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-53fa26d9] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-53fa26d9] {
    grid-column: span 15;
  }
}
.item-control-box[data-v-53fa26d9] {
  position: relative;
}
.btn-more[data-v-53fa26d9] {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
}
.controller[data-v-53fa26d9] {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  width: 10rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 4px;
  background: #fff;
  padding: 1.125rem 0;
  z-index: 1030;
  transform: translateY(100%);
}
.controller .btn + .btn[data-v-53fa26d9],
.controller .btn + li[data-v-53fa26d9],
.controller li + .btn[data-v-53fa26d9],
.controller li + li[data-v-53fa26d9] {
  margin-top: 0.25rem;
}
.controller .btn[data-v-53fa26d9] {
  width: 100%;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
}
.controller .btn[data-v-53fa26d9]:hover {
  color: #fff;
  background: #00c7ae;
}
.grid[data-v-dc7bb7bc] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-dc7bb7bc] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-dc7bb7bc] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-dc7bb7bc] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-dc7bb7bc] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-dc7bb7bc] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-dc7bb7bc] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-dc7bb7bc] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-dc7bb7bc] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-dc7bb7bc] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-dc7bb7bc] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-dc7bb7bc] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-dc7bb7bc] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-dc7bb7bc] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-dc7bb7bc] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-dc7bb7bc] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-dc7bb7bc] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-dc7bb7bc] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-dc7bb7bc] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-dc7bb7bc] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-dc7bb7bc] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-dc7bb7bc] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-dc7bb7bc] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-dc7bb7bc] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-dc7bb7bc] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-dc7bb7bc] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-dc7bb7bc] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-dc7bb7bc] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-dc7bb7bc] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-dc7bb7bc] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-dc7bb7bc] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-dc7bb7bc] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-dc7bb7bc] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-dc7bb7bc] {
    grid-column: span 15;
  }
}
.coupon-badge[data-v-dc7bb7bc] {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  height: 1.375rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fa5963;
  background: #fff2f3;
  border-radius: 4px;
}
.coupon-badge.gray[data-v-dc7bb7bc] {
  padding: 0.125rem 0.375rem;
  color: #737373;
  background: #f2f2f2;
}
.grid[data-v-4887bde5] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-4887bde5] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-4887bde5] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-4887bde5] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-4887bde5] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-4887bde5] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-4887bde5] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-4887bde5] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-4887bde5] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-4887bde5] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-4887bde5] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-4887bde5] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-4887bde5] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-4887bde5] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-4887bde5] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-4887bde5] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-4887bde5] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-4887bde5] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-4887bde5] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-4887bde5] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-4887bde5] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-4887bde5] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-4887bde5] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-4887bde5] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-4887bde5] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-4887bde5] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-4887bde5] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-4887bde5] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-4887bde5] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-4887bde5] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-4887bde5] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-4887bde5] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-4887bde5] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-4887bde5] {
    grid-column: span 15;
  }
}
.chat-graphic[data-v-4887bde5] {
  margin: 1rem 0 1.5rem;
}
.description[data-v-4887bde5] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #525252;
  margin-bottom: 0.25rem;
}
