.grid[data-v-418dda3a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-418dda3a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-418dda3a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-418dda3a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-418dda3a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-418dda3a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-418dda3a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-418dda3a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-418dda3a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-418dda3a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-418dda3a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-418dda3a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-418dda3a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-418dda3a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-418dda3a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-418dda3a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-418dda3a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-418dda3a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-418dda3a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-418dda3a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-418dda3a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-418dda3a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-418dda3a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-418dda3a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-418dda3a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-418dda3a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-418dda3a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-418dda3a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-418dda3a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-418dda3a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-418dda3a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-418dda3a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-418dda3a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-418dda3a] {
    grid-column: span 15;
  }
}
.tooltip-container[data-v-418dda3a] {
  margin-left: 0.25rem;
  position: relative;
}
.tooltip-container .btn-tooltip[data-v-418dda3a] {
  padding: 0;
  outline: none;
  border: none;
  display: flex;
  margin-top: 0.0625rem;
}
.tooltip-container .tooltip-info[data-v-418dda3a] {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
  max-width: 15.25rem;
  width: -moz-max-content;
  width: max-content;
  background-color: #323232;
  opacity: 0.9;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  color: #fff;
  font-size: 0.875rem;
}
.tooltip-container .tooltip-info[data-v-418dda3a]:before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border-color: transparent transparent #323232;
  border-style: solid;
  border-width: 0.625rem 0.5rem;
}
p[data-v-fc3fcce8] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
}
.grid[data-v-fc3fcce8] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-fc3fcce8] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-fc3fcce8] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-fc3fcce8] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-fc3fcce8] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-fc3fcce8] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-fc3fcce8] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-fc3fcce8] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-fc3fcce8] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-fc3fcce8] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-fc3fcce8] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-fc3fcce8] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-fc3fcce8] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-fc3fcce8] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-fc3fcce8] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-fc3fcce8] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-fc3fcce8] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-fc3fcce8] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-fc3fcce8] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-fc3fcce8] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-fc3fcce8] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-fc3fcce8] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-fc3fcce8] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-fc3fcce8] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-fc3fcce8] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-fc3fcce8] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-fc3fcce8] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-fc3fcce8] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-fc3fcce8] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-fc3fcce8] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-fc3fcce8] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-fc3fcce8] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-fc3fcce8] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-fc3fcce8] {
    grid-column: span 15;
  }
}
@keyframes spin-data-v-fc3fcce8 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.indicator-body[data-v-fc3fcce8] {
  border-radius: 50%;
  animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
}
.indicator-body.center[data-v-fc3fcce8] {
  margin: 0 auto;
}
.indicator-body.has-text[data-v-fc3fcce8] {
  margin-bottom: 1rem;
}
.grid[data-v-7f6dc5fc] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7f6dc5fc] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7f6dc5fc] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7f6dc5fc] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7f6dc5fc] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7f6dc5fc] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7f6dc5fc] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7f6dc5fc] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7f6dc5fc] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7f6dc5fc] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7f6dc5fc] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7f6dc5fc] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7f6dc5fc] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7f6dc5fc] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7f6dc5fc] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7f6dc5fc] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7f6dc5fc] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7f6dc5fc] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7f6dc5fc] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7f6dc5fc] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7f6dc5fc] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7f6dc5fc] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7f6dc5fc] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7f6dc5fc] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7f6dc5fc] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7f6dc5fc] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7f6dc5fc] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7f6dc5fc] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7f6dc5fc] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7f6dc5fc] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7f6dc5fc] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7f6dc5fc] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7f6dc5fc] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7f6dc5fc] {
    grid-column: span 15;
  }
}
.file-uploader[data-v-7f6dc5fc] {
  margin: 0;
  position: relative;
  border-radius: 8px;
  border: 0.0625rem solid #f2f2f2;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0iI0I1QjVCNSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOSAwaDJ2MjBIOXoiLz48cGF0aCBkPSJNMCAxMVY5aDIwdjJ6Ii8+PC9nPjwvc3ZnPg==)
      no-repeat 50%,
    #f2f2f2;
  cursor: pointer;
}
.file-uploader > .file-uploader-input[data-v-7f6dc5fc] {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  cursor: pointer;
}
.file-uploader > .delete[data-v-7f6dc5fc] {
  display: none;
  content: "";
  position: absolute;
  z-index: 4;
  top: -0.3125rem;
  right: -0.3125rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSIxMCIgZmlsbD0iI0ZBNTk2MyIvPjxwYXRoIGQ9Ik03IDdsNiA2bS02IDBsNi02IiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9nPjwvc3ZnPg==)
    no-repeat 50%;
  cursor: pointer;
}
.file-uploader > .thumbnail[data-v-7f6dc5fc] {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
}
.file-uploader > .file-name > [data-v-7f6dc5fc] {
  position: relative;
  z-index: 3;
}
.file-uploader > .file-name > span[data-v-7f6dc5fc] {
  display: flex;
}
.file-uploader > .file-name > span > span[data-v-7f6dc5fc]:first-child {
  margin-bottom: 0.125rem;
  display: inline-block;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-uploader > .file-name > span > span:first-child + span[data-v-7f6dc5fc] {
  display: inline-block;
  font-size: 0.875rem;
}
.file-uploader > .file-name > small[data-v-7f6dc5fc] {
  display: block;
  color: #737373;
  font-size: 0.75rem;
}
.file-uploader > .slot-content[data-v-7f6dc5fc] {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
}
.file-uploader.read-only .slot-content[data-v-7f6dc5fc] {
  z-index: -1;
}
.file-uploader.in-progress[data-v-7f6dc5fc] {
  cursor: wait;
}
.file-uploader.is-loading[data-v-7f6dc5fc] {
  cursor: wait;
  pointer-events: none;
  background-image: none;
}
.file-uploader.is-loading > .loading[data-v-7f6dc5fc] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.file-uploader.has-file[data-v-7f6dc5fc] {
  position: relative;
  background: #fff;
  border-color: #e1e1e1;
}
.file-uploader.has-file > .delete[data-v-7f6dc5fc] {
  display: inline-block;
}
.file-uploader.has-file.is-image
  > .slot-content
  > .file-progress[data-v-7f6dc5fc] {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.file-uploader.has-file.is-image
  > .slot-content
  > .file-progress[data-v-7f6dc5fc]
  > .value {
  font-size: 0.75rem;
}
.file-uploader.has-file.is-image.in-progress > .thumbnail[data-v-7f6dc5fc] {
  opacity: 0.5;
}
.file-uploader.has-file.is-image.in-progress > .slot-content[data-v-7f6dc5fc] {
  background: hsla(0, 0%, 100%, 0.5);
}
.file-uploader.has-file.is-image.in-progress
  > .slot-content
  > .file-progress[data-v-7f6dc5fc] {
  opacity: 0.75;
}
.file-uploader.has-file[data-v-7f6dc5fc]:not(.is-image) {
  width: 18.75rem !important;
  height: auto !important;
  padding: 0.625rem 0.75rem;
}
.file-uploader.has-file:not(.is-image)
  > .slot-content
  > .file-progress[data-v-7f6dc5fc] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 199, 174, 0.2);
  opacity: 1;
  transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
}
.file-uploader.has-file:not(.is-image).in-progress
  > .file-name
  > [data-v-7f6dc5fc] {
  opacity: 0.75;
}
.file-uploader.has-file:not(.is-image).in-progress
  > .slot-content
  > .file-progress[data-v-7f6dc5fc] {
  opacity: 1;
}
.grid[data-v-7f16af64] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-7f16af64] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-7f16af64] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-7f16af64] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-7f16af64] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-7f16af64] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-7f16af64] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-7f16af64] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-7f16af64] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-7f16af64] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-7f16af64] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-7f16af64] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-7f16af64] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-7f16af64] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-7f16af64] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-7f16af64] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-7f16af64] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-7f16af64] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-7f16af64] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-7f16af64] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-7f16af64] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-7f16af64] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-7f16af64] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-7f16af64] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-7f16af64] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-7f16af64] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-7f16af64] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-7f16af64] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-7f16af64] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-7f16af64] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-7f16af64] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-7f16af64] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-7f16af64] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-7f16af64] {
    grid-column: span 15;
  }
}
.FormatNumber.colored.minus[data-v-7f16af64] {
  color: #fa5963;
}
.FormatNumber.colored.plus[data-v-7f16af64] {
  color: #00c7ae;
}
.grid[data-v-215f2a28] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-215f2a28] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-215f2a28] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-215f2a28] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-215f2a28] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-215f2a28] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-215f2a28] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-215f2a28] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-215f2a28] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-215f2a28] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-215f2a28] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-215f2a28] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-215f2a28] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-215f2a28] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-215f2a28] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-215f2a28] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-215f2a28] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-215f2a28] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-215f2a28] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-215f2a28] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-215f2a28] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-215f2a28] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-215f2a28] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-215f2a28] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-215f2a28] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-215f2a28] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-215f2a28] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-215f2a28] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-215f2a28] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-215f2a28] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-215f2a28] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-215f2a28] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-215f2a28] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-215f2a28] {
    grid-column: span 15;
  }
}
.global-search-bar[data-v-215f2a28] {
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  .global-search-bar[data-v-215f2a28] {
    height: unset;
  }
}
.input-group[data-v-215f2a28] {
  height: 100%;
  padding: 0 0.75rem;
  margin: 0;
  background: #f2f2f2;
  border-radius: 6px;
}
@media (max-width: 991.98px) {
  .input-group[data-v-215f2a28] {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    margin: 0;
    background: #fff;
    border: none;
    border-bottom: 0.0625rem solid #00c7ae;
    border-radius: 0;
  }
}
.input-group.suggestion-opened[data-v-215f2a28] {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0;
  border: none;
  border-bottom: 0.0625rem solid #00c7ae;
  border-radius: 0;
}
@media (min-width: 768px) {
  .input-group.suggestion-opened[data-v-215f2a28] {
    position: relative;
    padding: 0 0.6875rem;
    background: #fff;
    border: 0.0625rem solid #00c7ae;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  }
  .input-group.suggestion-opened input.form-control[data-v-215f2a28] {
    background-color: #fff;
  }
}
input.form-control[data-v-215f2a28] {
  height: auto;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #323232;
  caret-color: #00c7ae;
  background: #f2f2f2;
  border: none;
}
@media (max-width: 991.98px) {
  input.form-control[data-v-215f2a28] {
    font-size: 1rem;
    background: #fff;
  }
}
input.form-control[data-v-215f2a28]::-moz-placeholder {
  color: #737373;
}
input.form-control[data-v-215f2a28]::placeholder {
  color: #737373;
}
input.form-control[data-v-215f2a28]::-ms-clear {
  display: none;
}
input.form-control[data-v-215f2a28]:focus {
  box-shadow: none;
}
.has-lnb input.form-control[data-v-215f2a28] {
  background-color: #f4f4f4;
}
.input-group-append[data-v-215f2a28],
.input-group-prepend[data-v-215f2a28] {
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.input-group-append img[data-v-215f2a28],
.input-group-prepend img[data-v-215f2a28] {
  max-width: 100%;
  margin: auto;
}
.input-group-prepend[data-v-215f2a28] {
  padding-right: 0.5rem;
}
@media (max-width: 991.98px) {
  .input-group-prepend[data-v-215f2a28] {
    padding-right: 0.75rem;
  }
}
.input-group-append[data-v-215f2a28] {
  position: relative;
  z-index: 1;
}
.grid[data-v-72aa6128] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-72aa6128] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-72aa6128] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-72aa6128] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-72aa6128] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-72aa6128] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-72aa6128] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-72aa6128] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-72aa6128] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-72aa6128] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-72aa6128] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-72aa6128] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-72aa6128] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-72aa6128] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-72aa6128] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-72aa6128] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-72aa6128] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-72aa6128] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-72aa6128] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-72aa6128] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-72aa6128] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-72aa6128] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-72aa6128] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-72aa6128] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-72aa6128] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-72aa6128] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-72aa6128] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-72aa6128] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-72aa6128] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-72aa6128] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-72aa6128] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-72aa6128] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-72aa6128] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-72aa6128] {
    grid-column: span 15;
  }
}
.placeholder-text-container[data-v-72aa6128] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem 0;
  animation: roll-up 4s linear infinite;
}
.placeholder-text-container p[data-v-72aa6128] {
  pointer-events: none;
}
.grid[data-v-412a663f] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-412a663f] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-412a663f] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-412a663f] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-412a663f] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-412a663f] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-412a663f] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-412a663f] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-412a663f] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-412a663f] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-412a663f] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-412a663f] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-412a663f] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-412a663f] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-412a663f] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-412a663f] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-412a663f] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-412a663f] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-412a663f] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-412a663f] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-412a663f] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-412a663f] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-412a663f] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-412a663f] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-412a663f] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-412a663f] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-412a663f] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-412a663f] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-412a663f] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-412a663f] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-412a663f] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-412a663f] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-412a663f] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-412a663f] {
    grid-column: span 15;
  }
}
.global-search-bar[data-v-412a663f] {
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  .global-search-bar[data-v-412a663f] {
    height: unset;
  }
}
.input-group[data-v-412a663f] {
  display: flex;
  gap: 0.5rem;
  height: 100%;
  padding: 0 0.875rem;
  margin: 0;
  background: #f6f7f9;
  border-radius: 8px;
}
@media (max-width: 991.98px) {
  .input-group[data-v-412a663f] {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    margin: 0;
    background: #fff;
    border: none;
    border-bottom: 0.0625rem solid #00c7ae;
    border-radius: 0;
  }
}
.input-group.suggestion-opened[data-v-412a663f] {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0;
  border: none;
  border-bottom: 0.0625rem solid #00c7ae;
  border-radius: 0;
}
@media (min-width: 768px) {
  .input-group.suggestion-opened[data-v-412a663f] {
    position: relative;
    padding: 0 0.6875rem;
    background: #fff;
    border: 0.0625rem solid #00c7ae;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  }
  .input-group.suggestion-opened input.form-control[data-v-412a663f] {
    background-color: #fff;
  }
}
.input-group .input-group-append[data-v-412a663f],
.input-group .input-group-prepend[data-v-412a663f] {
  padding: 0.75rem 0;
}
.input-group .btn-action[data-v-412a663f] {
  display: flex;
  padding: 0;
  border: none;
}
.input-group .input-container[data-v-412a663f] {
  position: relative;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.input-group .input-container input.form-control[data-v-412a663f] {
  height: 100%;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #323232;
  caret-color: #00c7ae;
  background-color: inherit;
  border: none;
}
@media (max-width: 991.98px) {
  .input-group .input-container input.form-control[data-v-412a663f] {
    font-size: 1rem;
    background-color: #fff;
  }
}
.input-group
  .input-container
  input.form-control[data-v-412a663f]::-moz-placeholder {
  color: #737373;
  opacity: 1;
}
.input-group .input-container input.form-control[data-v-412a663f]::placeholder {
  color: #737373;
  opacity: 1;
}
.input-group .input-container input.form-control[data-v-412a663f]:focus {
  box-shadow: none;
}
.input-group
  .input-container
  input.form-control[data-v-412a663f]:focus::-moz-placeholder {
  opacity: 1;
}
.input-group
  .input-container
  input.form-control[data-v-412a663f]:focus::placeholder {
  opacity: 1;
}
.grid[data-v-d07a6578] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-d07a6578] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-d07a6578] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-d07a6578] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-d07a6578] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-d07a6578] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-d07a6578] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-d07a6578] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-d07a6578] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-d07a6578] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-d07a6578] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-d07a6578] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-d07a6578] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-d07a6578] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-d07a6578] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-d07a6578] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-d07a6578] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-d07a6578] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-d07a6578] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-d07a6578] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-d07a6578] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-d07a6578] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-d07a6578] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-d07a6578] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-d07a6578] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-d07a6578] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-d07a6578] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-d07a6578] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-d07a6578] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-d07a6578] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-d07a6578] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-d07a6578] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-d07a6578] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-d07a6578] {
    grid-column: span 15;
  }
}
.height-clamp[data-v-d07a6578] {
  position: relative;
}
.height-clamp > .collapse-toggle[data-v-d07a6578] {
  display: none;
  padding-top: 1rem;
}
.height-clamp.is-clamped > .collapse-toggle[data-v-d07a6578] {
  display: block;
}
.height-clamp.is-collapsed[data-v-d07a6578] {
  overflow: hidden;
  max-height: var(--hc-height);
}
.height-clamp.is-collapsed > .collapse-toggle[data-v-d07a6578] {
  z-index: 2;
  position: absolute;
  top: var(--hc-height);
  width: 100%;
  background: #fff;
  transform: translateY(-100%);
}
.height-clamp.is-collapsed > .collapse-toggle[data-v-d07a6578]:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  display: block;
  height: var(--hc-gradient-height);
  background-image: linear-gradient(
    transparent,
    hsla(0, 0%, 100%, 0.004) 5.118%,
    hsla(0, 0%, 100%, 0.02) 9.988%,
    hsla(0, 0%, 100%, 0.043) 14.633%,
    hsla(0, 0%, 100%, 0.075) 19.074%,
    hsla(0, 0%, 100%, 0.114) 23.335%,
    hsla(0, 0%, 100%, 0.157) 27.438%,
    hsla(0, 0%, 100%, 0.204) 31.405%,
    hsla(0, 0%, 100%, 0.259) 35.259%,
    hsla(0, 0%, 100%, 0.318) 39.023%,
    hsla(0, 0%, 100%, 0.376) 42.72%,
    hsla(0, 0%, 100%, 0.439) 46.371%,
    hsla(0, 0%, 100%, 0.502) 50%,
    hsla(0, 0%, 100%, 0.561) 53.629%,
    hsla(0, 0%, 100%, 0.624) 57.28%,
    hsla(0, 0%, 100%, 0.682) 60.977%,
    hsla(0, 0%, 100%, 0.741) 64.741%,
    hsla(0, 0%, 100%, 0.796) 68.595%,
    hsla(0, 0%, 100%, 0.843) 72.563%,
    hsla(0, 0%, 100%, 0.886) 76.665%,
    hsla(0, 0%, 100%, 0.925) 80.926%,
    hsla(0, 0%, 100%, 0.957) 85.367%,
    hsla(0, 0%, 100%, 0.98) 90.012%,
    hsla(0, 0%, 100%, 0.996) 94.882%,
    #fff
  );
}
.height-clamp.hide-less:not(.is-collapsed) > .collapse-toggle[data-v-d07a6578] {
  display: none;
}
.grid[data-v-fd667332] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-fd667332] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-fd667332] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-fd667332] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-fd667332] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-fd667332] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-fd667332] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-fd667332] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-fd667332] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-fd667332] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-fd667332] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-fd667332] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-fd667332] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-fd667332] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-fd667332] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-fd667332] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-fd667332] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-fd667332] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-fd667332] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-fd667332] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-fd667332] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-fd667332] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-fd667332] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-fd667332] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-fd667332] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-fd667332] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-fd667332] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-fd667332] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-fd667332] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-fd667332] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-fd667332] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-fd667332] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-fd667332] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-fd667332] {
    grid-column: span 15;
  }
}
.slide[data-v-fd667332] {
  position: relative;
}
@media (max-width: 991.98px) {
  .slide[data-v-fd667332] {
    margin: 0 -1rem;
  }
}
.slide .slide-button[data-v-fd667332] {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: inline-flex;
}
@media (max-width: 991.98px) {
  .slide .slide-button[data-v-fd667332] {
    display: none;
  }
}
.slide .prev[data-v-fd667332] {
  left: -1.5rem;
}
.slide .prev.dim[data-v-fd667332]:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
}
.slide .next[data-v-fd667332] {
  right: -1.5rem;
}
.slide .next.dim[data-v-fd667332]:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 50%;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(
    270deg,
    #fff,
    hsla(0, 0%, 100%, 0) 100%,
    hsla(0, 0%, 100%, 0) 0
  );
}
.scroll-wrapper[data-v-fd667332] {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
}
.scroll-wrapper[data-v-fd667332]::-webkit-scrollbar {
  display: none;
}
.items-container[data-v-fd667332] {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  width: 100%;
}
@media (max-width: 991.98px) {
  .items-container[data-v-fd667332] {
    width: auto;
    min-width: 100%;
  }
  .items-container > [data-v-fd667332]:first-child {
    margin-left: 1rem;
  }
  .items-container > [data-v-fd667332]:last-child {
    margin-right: 1rem;
  }
}
.more[data-v-fd667332] {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  height: 9.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #737373;
  cursor: pointer;
}
.more .chevron[data-v-fd667332] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: #fafafa;
  border-radius: 50%;
}
.grid[data-v-016bb63a] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-016bb63a] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-016bb63a] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-016bb63a] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-016bb63a] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-016bb63a] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-016bb63a] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-016bb63a] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-016bb63a] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-016bb63a] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-016bb63a] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-016bb63a] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-016bb63a] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-016bb63a] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-016bb63a] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-016bb63a] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-016bb63a] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-016bb63a] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-016bb63a] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-016bb63a] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-016bb63a] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-016bb63a] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-016bb63a] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-016bb63a] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-016bb63a] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-016bb63a] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-016bb63a] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-016bb63a] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-016bb63a] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-016bb63a] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-016bb63a] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-016bb63a] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-016bb63a] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-016bb63a] {
    grid-column: span 15;
  }
}
ul[data-v-016bb63a] {
  padding: 0;
  font-size: 0;
  margin: 0 -0.3125rem;
}
ul[max-width~="767.98px"][data-v-016bb63a] {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
ul[max-width~="767.98px"][data-v-016bb63a]::-webkit-scrollbar {
  display: none;
}
ul[max-width~="767.98px"] li[data-v-016bb63a] {
  flex: 0 0 36%;
  max-width: 36%;
}
ul li[data-v-016bb63a] {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
}
ul li[data-v-016bb63a]:hover {
  opacity: 0.6;
}
ul li img[data-v-016bb63a] {
  display: none;
}
ul li div[data-name="thumbnail"][data-v-016bb63a] {
  background-size: cover;
  background-position: 50% 50%;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
  width: 100%;
  padding-bottom: 100%;
  background-color: #fafafa;
  position: relative;
}
.load-more[data-v-016bb63a] {
  text-align: center;
  margin-top: 1.5625rem;
}
.load-more .text[data-v-016bb63a] {
  border-radius: 21px;
  border: 0.0625rem solid #e1e1e1;
  padding: 0.5625rem 2.375rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01875rem;
  color: #00c7ae;
  display: inline-block;
  cursor: pointer;
}
.load-more .text[data-v-016bb63a]:hover {
  opacity: 0.6;
}
.grid[data-v-a3afae98] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-a3afae98] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-a3afae98] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-a3afae98] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-a3afae98] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-a3afae98] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-a3afae98] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-a3afae98] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-a3afae98] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-a3afae98] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-a3afae98] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-a3afae98] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-a3afae98] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-a3afae98] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-a3afae98] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-a3afae98] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-a3afae98] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-a3afae98] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-a3afae98] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-a3afae98] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-a3afae98] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-a3afae98] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-a3afae98] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-a3afae98] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-a3afae98] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-a3afae98] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-a3afae98] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-a3afae98] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-a3afae98] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-a3afae98] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-a3afae98] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-a3afae98] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-a3afae98] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-a3afae98] {
    grid-column: span 15;
  }
}
.line-clamp[data-v-a3afae98] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
