.grid[data-v-02ab2840] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-02ab2840] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-02ab2840] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-02ab2840] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-02ab2840] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-02ab2840] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-02ab2840] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-02ab2840] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-02ab2840] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-02ab2840] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-02ab2840] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-02ab2840] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-02ab2840] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-02ab2840] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-02ab2840] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-02ab2840] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-02ab2840] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-02ab2840] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-02ab2840] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-02ab2840] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-02ab2840] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-02ab2840] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-02ab2840] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-02ab2840] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-02ab2840] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-02ab2840] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-02ab2840] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-02ab2840] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-02ab2840] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-02ab2840] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-02ab2840] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-02ab2840] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-02ab2840] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-02ab2840] {
    grid-column: span 15;
  }
}
.filter-container[data-v-02ab2840] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .filter-container[data-v-02ab2840] {
    padding: 1rem 0;
    margin-top: 2rem;
  }
}
.grid[data-v-aee1a40e] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-aee1a40e] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-aee1a40e] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-aee1a40e] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-aee1a40e] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-aee1a40e] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-aee1a40e] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-aee1a40e] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-aee1a40e] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-aee1a40e] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-aee1a40e] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-aee1a40e] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-aee1a40e] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-aee1a40e] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-aee1a40e] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-aee1a40e] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-aee1a40e] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-aee1a40e] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-aee1a40e] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-aee1a40e] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-aee1a40e] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-aee1a40e] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-aee1a40e] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-aee1a40e] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-aee1a40e] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-aee1a40e] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-aee1a40e] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-aee1a40e] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-aee1a40e] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-aee1a40e] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-aee1a40e] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-aee1a40e] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-aee1a40e] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-aee1a40e] {
    grid-column: span 15;
  }
}
.result-message[data-v-aee1a40e] {
  padding: 5rem 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #323232;
  text-align: center;
}
.result-message p[data-v-aee1a40e] {
  margin: 0;
}
.result-message .empty[data-v-aee1a40e] {
  color: #b5b5b5;
}
.result-message .empty .keyword[data-v-aee1a40e] {
  color: #00c7ae;
}
.grid[data-v-ff343a5c] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-ff343a5c] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-ff343a5c] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-ff343a5c] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-ff343a5c] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-ff343a5c] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-ff343a5c] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-ff343a5c] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-ff343a5c] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-ff343a5c] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-ff343a5c] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-ff343a5c] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-ff343a5c] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-ff343a5c] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-ff343a5c] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-ff343a5c] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-ff343a5c] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-ff343a5c] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-ff343a5c] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-ff343a5c] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-ff343a5c] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-ff343a5c] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-ff343a5c] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-ff343a5c] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-ff343a5c] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-ff343a5c] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-ff343a5c] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-ff343a5c] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-ff343a5c] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-ff343a5c] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-ff343a5c] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-ff343a5c] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-ff343a5c] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-ff343a5c] {
    grid-column: span 15;
  }
}
.result-message-empty[data-v-ff343a5c] {
  margin: 0;
  padding: 4rem 0;
  font-size: 0.875rem;
  color: #b5b5b5;
  text-align: center;
}
.result-message-empty .keyword[data-v-ff343a5c] {
  font-weight: 500;
  color: #00c7ae;
}
.grid[data-v-2656e0bc] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-2656e0bc] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-2656e0bc] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-2656e0bc] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-2656e0bc] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-2656e0bc] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-2656e0bc] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-2656e0bc] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-2656e0bc] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-2656e0bc] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-2656e0bc] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-2656e0bc] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-2656e0bc] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-2656e0bc] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-2656e0bc] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-2656e0bc] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-2656e0bc] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-2656e0bc] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-2656e0bc] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-2656e0bc] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-2656e0bc] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-2656e0bc] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-2656e0bc] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-2656e0bc] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-2656e0bc] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-2656e0bc] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-2656e0bc] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-2656e0bc] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-2656e0bc] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-2656e0bc] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-2656e0bc] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-2656e0bc] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-2656e0bc] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-2656e0bc] {
    grid-column: span 15;
  }
}
.integral-search-list-title.on-top[data-v-2656e0bc]:has(.total-count) {
  padding: 1.5rem 1.25rem 1rem;
}
@media (min-width: 768px) {
  .integral-search-list-title.on-top[data-v-2656e0bc]:has(.total-count) {
    padding: 2.5rem 0 1.25rem;
  }
}
.integral-search-list-title[data-v-2656e0bc]:has(.total-count) {
  padding: 0.75rem 1.25rem;
}
@media (min-width: 768px) {
  .integral-search-list-title[data-v-2656e0bc]:has(.total-count) {
    padding: 2.5rem 0 1.25rem;
  }
}
.integral-search-list-title[data-v-2656e0bc]:has(.list-title) {
  padding: 0.75rem 1.25rem;
}
@media (min-width: 768px) {
  .integral-search-list-title[data-v-2656e0bc]:has(.list-title) {
    padding: 5rem 0 1.5rem;
  }
}
.integral-search-list-title p[data-v-2656e0bc] {
  margin: 0;
}
.integral-search-list-title .total-count[data-v-2656e0bc] {
  font-size: 0.875rem;
  color: #323232;
}
.integral-search-list-title .total-count strong[data-v-2656e0bc] {
  font-weight: 700;
}
.integral-search-list-title .list-title[data-v-2656e0bc] {
  font-size: 1.125rem;
  font-weight: 700;
  color: #323232;
}
@media (min-width: 768px) {
  .integral-search-list-title .list-title[data-v-2656e0bc] {
    font-size: 1.5rem;
  }
}
.grid[data-v-0750b21b] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-0750b21b] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-0750b21b] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-0750b21b] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-0750b21b] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-0750b21b] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-0750b21b] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-0750b21b] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-0750b21b] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-0750b21b] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-0750b21b] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-0750b21b] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-0750b21b] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-0750b21b] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-0750b21b] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-0750b21b] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-0750b21b] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-0750b21b] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-0750b21b] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-0750b21b] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-0750b21b] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-0750b21b] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-0750b21b] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-0750b21b] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-0750b21b] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-0750b21b] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-0750b21b] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-0750b21b] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-0750b21b] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-0750b21b] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-0750b21b] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-0750b21b] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-0750b21b] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-0750b21b] {
    grid-column: span 15;
  }
}
.search-community-list .community-feed-list[data-v-0750b21b] {
  padding: 0 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .search-community-list .community-feed-list[data-v-0750b21b] {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 0;
  }
}
.search-community-list .community-feed-list[data-v-0750b21b] .feed-item {
  padding: 1.25rem 0;
}
.community-search-filter[data-v-0750b21b] {
  padding: 1rem;
}
@media (min-width: 768px) {
  .community-search-filter[data-v-0750b21b] {
    padding: 1rem 0;
    margin-top: 2rem;
  }
}
.grid[data-v-ecf60190] {
  display: grid;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
.grid > [data-v-ecf60190] {
  grid-column: span 4;
  width: 100% !important;
  max-width: 100% !important;
}
.grid > .span-md-1[data-v-ecf60190] {
  grid-column: span 1;
}
.grid > .span-md-2[data-v-ecf60190] {
  grid-column: span 2;
}
.grid > .span-md-3[data-v-ecf60190] {
  grid-column: span 3;
}
.grid > .span-md-4[data-v-ecf60190] {
  grid-column: span 4;
}
@media (min-width: 992px) {
  .grid[data-v-ecf60190] {
    padding: 0 7.5rem;
  }
  .grid.max-col-8[data-v-ecf60190] {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.max-col-8 > [data-v-ecf60190] {
    grid-column: span 8;
  }
  .grid.max-col-8 > .span-lg-1[data-v-ecf60190] {
    grid-column: span 1;
  }
  .grid.max-col-8 > .span-lg-2[data-v-ecf60190] {
    grid-column: span 2;
  }
  .grid.max-col-8 > .span-lg-3[data-v-ecf60190] {
    grid-column: span 3;
  }
  .grid.max-col-8 > .span-lg-4[data-v-ecf60190] {
    grid-column: span 4;
  }
  .grid.max-col-8 > .span-lg-5[data-v-ecf60190] {
    grid-column: span 5;
  }
  .grid.max-col-8 > .span-lg-6[data-v-ecf60190] {
    grid-column: span 6;
  }
  .grid.max-col-8 > .span-lg-7[data-v-ecf60190] {
    grid-column: span 7;
  }
  .grid.max-col-8 > .span-lg-8[data-v-ecf60190] {
    grid-column: span 8;
  }
  .grid.max-col-15[data-v-ecf60190] {
    grid-template-columns: repeat(15, 1fr);
  }
  .grid.max-col-15 > [data-v-ecf60190] {
    grid-column: span 15;
  }
  .grid.max-col-15 > .span-lg-1[data-v-ecf60190] {
    grid-column: span 1;
  }
  .grid.max-col-15 > .span-lg-2[data-v-ecf60190] {
    grid-column: span 2;
  }
  .grid.max-col-15 > .span-lg-3[data-v-ecf60190] {
    grid-column: span 3;
  }
  .grid.max-col-15 > .span-lg-4[data-v-ecf60190] {
    grid-column: span 4;
  }
  .grid.max-col-15 > .span-lg-5[data-v-ecf60190] {
    grid-column: span 5;
  }
  .grid.max-col-15 > .span-lg-6[data-v-ecf60190] {
    grid-column: span 6;
  }
  .grid.max-col-15 > .span-lg-7[data-v-ecf60190] {
    grid-column: span 7;
  }
  .grid.max-col-15 > .span-lg-8[data-v-ecf60190] {
    grid-column: span 8;
  }
  .grid.max-col-15 > .span-lg-9[data-v-ecf60190] {
    grid-column: span 9;
  }
  .grid.max-col-15 > .span-lg-10[data-v-ecf60190] {
    grid-column: span 10;
  }
  .grid.max-col-15 > .span-lg-11[data-v-ecf60190] {
    grid-column: span 11;
  }
  .grid.max-col-15 > .span-lg-12[data-v-ecf60190] {
    grid-column: span 12;
  }
  .grid.max-col-15 > .span-lg-13[data-v-ecf60190] {
    grid-column: span 13;
  }
  .grid.max-col-15 > .span-lg-14[data-v-ecf60190] {
    grid-column: span 14;
  }
  .grid.max-col-15 > .span-lg-15[data-v-ecf60190] {
    grid-column: span 15;
  }
}
@media (max-width: 991.98px) {
  .search-body[data-v-ecf60190] {
    height: calc(100dvh - 3.5rem);
    overflow-y: scroll;
  }
}
.network-error[data-v-ecf60190] {
  padding: 10rem 0 0;
}
@media (max-width: 991.98px) {
  .network-error[data-v-ecf60190] {
    padding: 10rem 0;
  }
}
.network-error .refresh-button[data-v-ecf60190] {
  width: 100%;
  margin-top: 2.5rem;
}
